<span class="close" style="margin-top:-5px;font-size: 35px;position: absolute;margin-left: -25px;" (click)="closeDialog()">&times;</span>
<div class="col-sm-12">
  <h2>Import Custom Fields</h2>
  <form [formGroup]="importCustomFieldsForm" (ngSubmit)="importCustomFieldsFormSubmit(importCustomFieldsForm.value)" >
    <div class="form-group">
      <input type="hidden" name="current_queue_id" formControlName="current_queue_id">
      <label for="">Doctor*</label>
      <select name="" id="" formControlName = "provider_id" class="form-control" (change)="getProviderQueue($event.target.value);" >
        <option value="">--Select Doctor--</option>
        <option  *ngFor="let providers of provider_list" [value]="providers.provider_user_master_id" >{{providers.provider_name}}</option>
      </select>
      <div *ngIf="importCustomFiledFormSubmitted && importCustomFieldsForm.controls.provider_id.errors">
        <div *ngIf="importCustomFieldsForm.controls.provider_id.errors.required" class="text-danger">Please Select Doctor.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="">Queue*</label>
      <select name="queue_id" id="queue_id" class="form-control" formControlName="queue_id">
        <option value="" >--Select Queue--</option>
        <option *ngFor="let queues of queue_list"  [value]="queues.queue_id" >{{queues.queue_name}}</option>
      </select>
      <div *ngIf="importCustomFiledFormSubmitted && importCustomFieldsForm.controls.queue_id.errors">
        <div *ngIf="importCustomFieldsForm.controls.queue_id.errors.required" class="text-danger">Please Select Queue.</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Copy</button>
      <button type="button" (click)="closeDialog();" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</div>
