<div class="page-wrapper chiller-theme ">
  <div class="page-content">
    <!-- Breadcrumb-->
    <div class="page-breadcrumb">
      <div class="container">
        <a routerLink="/">Home</a> <span class="arrow">></span> <span>Doctor's Availability</span>
      </div>
    </div>
    <!-- Breadcrumb-->
    <div class="main-content-wrapper">
      <div class="container">
        <div class="qtraq-subtitle-wrapper">
          <h1>Doctor's Availability</h1>
          <!-- <span class="da_clinic_info">
            <img src="{{ orgimage }}" title="" class="da_logo" />
            {{ orgname }}
          </span> -->
        </div>
        <!-- <h1 _ngcontent-c5="" class="page-title-primary mb0">
        Doctor's Availability<span class="da_clinic_info"
          ><img src="{{ orgimage }}" title="" class="da_logo" />
          {{ orgname }}</span
        >
      </h1> -->


        <div *ngIf="showdoctorlist">
          <form [formGroup]="doctoravunailability" (ngSubmit)="OnSubmit(doctoravunailability.value)" ngNativeValidate>
            <div class="col-sm-12">
              <div class="col-sm-3">
                <label class="text_green">Select Month</label>
                <select name="month" formControlName="month" class="form-control border-green">
                  <option value="">Select Month</option>
                  <option *ngFor="let month of months" [value]="month.id">
                    {{ month.value }}
                  </option>
                </select>
              </div>
              <div class="col-sm-3">
                <label class="text_green">Select Year</label>
                <select name="year" formControlName="year" class="form-control border-green">
                  <option value="">Select Year</option>
                  <option *ngFor="let year of years" [value]="year">
                    {{ year }}
                  </option>
                </select>
              </div>
              <div class="col-sm-3 mt22">                
                <input type="submit" class="btn btn-sm btn-success" name="Search" value="Search" />
                <input type="button" (click)="adddoctoraunavailability()" class="btn btn-sm btn-success"
                  value=" Add Doctor Unavailability" />
                <!--
            <button (click)="providerlist()" class="btn btn-sm btn-success">
              Add Doctor Unavailability
            </button>
          -->
              </div>
            </div>
          </form>
          
          <div class="wrapper-70">
            <!-- Doctors List Single Widget-->
            <!--
          <div class="doctoravb_list_wrapper">
            <div class="doctoravb_list_img">
                <img src="assets/searchtoken-avatar.jpg" class="img-responsive">
                <p class="green-text"><strong>Dr. Danish Shaikh</strong></p> 
            </div>
            <div class="doctoravb_list_info">
              <p class="pink-text"><strong>Monday, 21 Jan 2019 to Sunday, 10 Feb 2019</strong></p>
              <p><strong>Not available for full day</strong></p>
              <p>Personal reasons</p>
            </div>
            <div class="clearfix">&nbsp;</div>
          </div>
        -->

            <!-- Doctors List Single Widget-->
          </div>
          <div *ngIf="doctoraunavailability">
            <div *ngFor="
                  let doctoraunavailabilitys of (doctoraunavailability
                    | paginate
                      : {
                          itemsPerPage: this.size,
                          currentPage: this.page,
                          totalItems: this.totalRecords
                        })
                ">
              <!--
                        profile_pic_url

                        {{doctoraunavailabilitys.provider_fullname}}
                        {{doctoraunavailabilitys.gender}}
                        {{doctoraunavailabilitys.unavailability_day_type}}
                        {{doctoraunavailabilitys.unavailability_type}}
                -->              
              <div class="doctoravb_list_wrapper">
                <div class="doctoravb_list_img">
                  <img src="{{ doctoraunavailabilitys.profile_pic_url }}" class="img-responsive"
                    onerror="this.src='assets/user-avatar.jpg'" />
                  <p class="green-text">
                    <strong>
                      {{ doctoraunavailabilitys.provider_fullname }}
                    </strong>
                  </p>
                </div>
                <div class="doctoravb_list_info">
                  <p class="pink-text">
                    <strong>
                      {{ doctoraunavailabilitys.from_date }}
                      to

                      {{ doctoraunavailabilitys.to_date }}
                    </strong>
                  </p>
                  <p>
                    <strong>
                      {{ doctoraunavailabilitys.line2_msg }}
                    </strong>
                  </p>
                  <p>{{ doctoraunavailabilitys.unavailability_reason }}</p>
                </div>
                <div class="clearfix">&nbsp;</div>
              </div>
            </div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
          <div *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </div>
        <div *ngIf="addunavailabilitydata">
          <div class="col-sm-12">
            <form [formGroup]="addunavailability" (ngSubmit)="OnunavailabilitySubmit(addunavailability.value)"
              ngNativeValidate>
              <div class="full">
                <div class="col-sm-6 mt10">
                  <label class="green-text">Dates Unavailable</label>
                  <select name="unavailabilitydaytype" required formControlName="unavailabilitydaytype"
                    (change)="unavailabilitydaytypechange($event.target.value)" class="form-control border-green">
                    <option value="Single">Single </option>
                    <option value="Range">Range </option>
                  </select>
                </div>
              </div>
              <div class="full">
                <div class="col-sm-6 mt10">
                  <label class="green-text">Date From</label>
                  <input class="form-control border-green" required placeholder="Select Date" name="fromdata"
                    formControlName="fromdata" ngx-mydatepicker [options]="myOptions" #fromdata="ngx-mydatepicker"
                    (click)="fromdata.toggleCalendar()" />
                </div>
                <div *ngIf="showendtodate" class="col-sm-6 mt10">
                  <label class="green-text">Date To</label>
                  <input class="form-control border-green" required placeholder="Select To date" name="todate"
                    formControlName="todate" ngx-mydatepicker [options]="myOptions" #todate="ngx-mydatepicker"
                    (click)="todate.toggleCalendar()" />
                </div>
              </div>
              <div class="full">
                <div class="col-sm-6 mt10">
                  <label class="green-text">Full Day?</label>
                  <select name="unavailabilitydaytype" required formControlName="fullday"
                    (change)="fulldaychange($event.target.value)" class="form-control border-green">
                    <option value="Yes">Yes </option>
                    <option value="No">No </option>
                  </select>
                </div>
              </div>
              <div class="full">
                <div *ngIf="leavetimetype">
                  <div class="col-sm-6 mt10">
                    <label class="green-text">Specific Time </label>
                    <select name="leavetimetype" formControlName="leavetimetype" class="form-control border-green"
                      required>
                      <option value="until">Until </option>
                      <option value="after">After </option>
                    </select>
                  </div>
                  <div class="col-sm-6 mt10">
                    <label class="green-text">Select Time</label>
                    <input type="time" name="leavetime" class="form-control border-green" required
                      formControlName="leavetime" />
                  </div>
                </div>
              </div>
              <div class="full">
                <div class="col-sm-6 mt10">
                  <input (click)="viewimpactclick(addunavailability.value)" type="button" class="btn btn-sm btn-success"
                    name="View Impact" value="View Impact" />
                  {{viewimpact}}
                </div>
              </div>
              <div class="full">
                <div class="col-sm-6 mt10">
                  <label class="green-text">This absence is</label>
                  <select name="unavailabilitydaytype" required formControlName="unavailabilitydaytype"
                    class="form-control border-green">
                    <option value="Confirmed">Confirmed </option>
                    <option value="Tentative">Tentative </option>
                  </select>
                </div>
                <div class="col-sm-6 mt10">
                  <label class="green-text">Reason for unavailability</label>
                  <textarea name="unavailabilityreason" required formControlName="unavailabilityreason"
                    class="form-control border-green">
                      </textarea>
                </div>
              </div>
              <div class="full">
                <div class="col-sm-6 mt10">
                  <label class="green-text">Cancel Tokens</label>
                  <select name="canceltokens" required formControlName="canceltokens" class="form-control border-green">
                    <option value="Yes">Yes </option>
                    <option value="No">No </option>
                  </select>
                </div>
                <div class="col-sm-6 mt10">
                  <label class="green-text">Broadcast to all queues</label>
                  <select name="broadcasttoallqueue" (change)="broadcasttoall($event.target.value)" required
                    formControlName="broadcasttoallqueue" class="form-control border-green">
                    <option value="Yes">Yes </option>
                    <option value="No">No </option>
                  </select>
                </div>
              </div>
              <div class="full">
                <div class="col-sm-6 mt10" *ngIf="broadcasttoalldata">
                  <label class="green-text">Broadcasted Message</label>
                  <textarea name="broadcastedmessage" required formControlName="broadcastedmessage"
                    class="form-control border-green">
                    </textarea>
                </div>
                <div class="col-sm-6 mt10">
                  <label class="green-text">Apply To All</label>
                  <select name="applytoall" required formControlName="applytoall" class="form-control border-green">
                    <option value="Yes">Yes </option>
                    <option value="No">No </option>
                  </select>
                </div>
              </div>
              <!--
                    <select
                      name="broadcastedmessage"
                      required
                      formControlName="broadcastedmessage"
                      class="form-control border-green"
                    >
                      <option value="Yes">Yes </option>
                      <option value="No">No </option>
                    </select>
                  -->
              <div class="col-sm-12 mt10">
                <button type="submit" class="btn btn-sm btn-success">
                  Submit
                </button>
                <button type="button" (click)="canceldoctorunavailability()" class="btn btn-sm btn-success">
                  Back
                </button>
              </div>
            </form>



          </div>
        </div>
        <div *ngIf="providerlistshow">
          <div class="col-md-12">
            <div *ngIf="providerlistdata">
              <div *ngFor="
                      let quesetupdatas of (providerlistdata
                        | paginate
                          : {
                              itemsPerPage: this.size,
                              currentPage: this.page,
                              totalItems: this.totalRecords
                            })
                    ">
                <div>
                  <div (click)="
                      adddoctoraunavailability(
                        quesetupdatas.user_master_id
                          )" class="fp_queue_content">
                    <div class="fp_queue_wrapper">
                      <div class="fp_queue_img">
                        <img src="assets/searchtoken-avatar.jpg" class="img-responsive" />
                      </div>
                      <div class="fp_queue_info">
                        <p class="fp_queue_name green-text">
                          {{ quesetupdatas.first_name }}
                        </p>
                        <p>Orthopedic Treatment</p>
                      </div>
                      <div class="fp_queue_check_queue">
                        <span class="label-icn material-icon">
                          <i class="material-icons">people</i>
                        </span>
                        Check Queue
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="suberror != null">
                {{ suberror }}
              </div>
            </div>
          </div>
          <div class="clearfix">&nbsp;</div>
          <div class="mt25">
            <pagination-controls (pageChange)="getproviderlist($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>