.sidebar-menu .treeview-menu {
  padding-left: 20px;
}

.link-pointer {
  cursor: pointer;
}

.noHover{
  pointer-events: none !important;
}
.fadeinmessage{
  position: absolute;
  padding: 30px 0px;
  background: #000000c7;
  color: #fff;
  z-index: 99;
  margin-top: 40PX;
  margin-left: 10px;
  padding: 10px 25px;
  word-break: break-all;
  width: 160px;
}
