

<!--<div class="admin-panel-content full" [ngStyle]="{background: 'url(assets/admin-panel-bg.jpg)'}">-->
  <div class="admin-panel-content full">
  <div class="container">
    <div class="qtraq-dash-main-hd full">
      <!-- <div class="qtraq-dash-main-hd-img">
          <img src="{{orgimg}}" onerror="this.src='assets/org_placeholder.png'">
      </div> -->
      <div class="qtraq-dash-main-title ">
        <!--<span>{{orgname}}</span>-->
       <img src="{{orgimg}}" onerror="this.src='assets/org_placeholder.png'">

        <h3>{{activelabel}} Panel</h3>



        <img *ngIf="adminactive" src="assets/admin_with_cogwheels_grey.png">

        <img *ngIf="provideractive" src="assets/frontdesk_dashboard.png">

        <img *ngIf="frontdesk" src="assets/doctor_dashboard.png">

        <!--doctor_dashboard
        <img *ngIf="frontdesk" src="assets/frontdesk_dashboard.png">
        -->
        <!-- <mat-icon>assignment_return</mat-icon> -->
      </div>
      <!-- <div class="qtraq-dash-main-hd-img right">
          <img src="assets/admin_with_cogwheels_grey.png">
      </div> -->

    </div>


    <!--admin start-->
    <div class="qtraq-dash-main full">
      <div *ngIf="adminactive">
    <!--  <h3 class="dash-section-title">Admin</h3>
    -->
      <div class="qtraq-dash-main-col">
        <a routerLink="/addeditorganisation/{{organisationid}}">
          <div class="qtraq-dash-main-inner">
            <img src="assets/organisation.png" alt="qtraq-img">
            <span>Organisation Profile
            </span>
          </div>
        </a>
      </div>

      <div class="qtraq-dash-main-col">
          <a routerLink="/systemroles">
            <div class="qtraq-dash-main-inner">
              <img src="assets/system.png" alt="qtraq-img">
              <span> System Roles
              </span>
            </div>
          </a>
        </div>

      <div class="qtraq-dash-main-col">
          <a routerLink="/providersList">
            <div class="qtraq-dash-main-inner">
              <img src="assets/doctor.png" alt="qtraq-img">
              <span>Doctors List
              </span>
            </div>
          </a>
        </div>




      <div class="qtraq-dash-main-col">
        <a routerLink="/quesetup">
          <div class="qtraq-dash-main-inner">
            <img src="assets/queue-setup.png" alt="qtraq-img">
            <span> Queue Setup
            </span>
          </div>
        </a>
      </div>



      <div class="qtraq-dash-main-col">
        <a routerLink="/queueaccessprolist">
          <div class="qtraq-dash-main-inner">
            <img src="assets/queue-access.png" alt="qtraq-img">
            <span> Queue Access
            </span>
          </div>
        </a>
      </div>

      <!--
      <div class="qtraq-dash-main-col">
        <a routerLink="/">
          <div class="qtraq-dash-main-inner">
            <img src="assets/notification.png" alt="qtraq-img">
            <span> App Notifications
            </span>
          </div>
        </a>
      </div>
    -->

      <div class="qtraq-dash-main-col">
        <a routerLink="/changepassword">
          <div class="qtraq-dash-main-inner">
            <img src="assets/admincred.png" alt="qtraq-img">
            <span>Admin Credentials
            </span>
          </div>
        </a>
      </div>

      <!--
      <div class="qtraq-dash-main-col">
        <a routerLink="/queuerenewal">
          <div class="qtraq-dash-main-inner">
            <img src="assets/qtrack-renewal.png" alt="qtraq-img">
            <span> QTRAQ Renewals
            </span>
          </div>
        </a>
      </div>
    -->
      </div>
      <!--admin end-->
      <!--from desk start-->
      <div *ngIf="provideractive || frontdesk">
     <!--   <h3 class="dash-section-title">Front Desk</h3> -->
        <div class="qtraq-dash-main full">
          <div class="qtraq-dash-main-col">
            <a routerLink="/requestsreceived">
              <div class="qtraq-dash-main-inner">
                <img src="assets/token_requests_received.png" alt="qtraq-img">
                <span>Requests Received <span *ngIf="totalcount!='0'" class="req_count">{{totalcount}}</span> </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/assignnewtoken">
              <div class="qtraq-dash-main-inner">
                <img src="assets/assign_new_token.png" alt="qtraq-img">
                <span>Assign New Token </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/ongoingqueues">
              <div class="qtraq-dash-main-inner">
                <img src="assets/ongoing_queues.png" alt="qtraq-img">
                <span>Ongoing Queues <span *ngIf="ongoing_count!='0'"
                  class="req_count">{{ongoing_count}}</span> </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/todaysqueue">
              <div class="qtraq-dash-main-inner">
                  <img src="assets/todays_queues.png" alt="qtraq-img">
                  <span> Today's Queue <span *ngIf="today_count!='0'" class="req_count">
                    {{today_count}}</span>
                  </span>
                </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/futurepastqueues">
              <div class="qtraq-dash-main-inner">
                <img src="assets/past_future_queues.png" alt="qtraq-img">
                <span>Past / Future Queues </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col" *ngIf="isDoctor">
            <a routerLink="/diagnosisandprescription">
              <div class="qtraq-dash-main-inner">
                <img src="assets/ic_user_medical_history.png" alt="qtraq-img">
                <span> Patient History </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/searchtokens">
              <div class="qtraq-dash-main-inner">
                <img src="assets/search_issued_token.png" alt="qtraq-img">
                <span>Search Tokens </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/doctoravailability">
            <!-- <div class="fadeinmessage">
              This feature will be LIVE soon
            </div>
            <a href="javascript:void(0)"> -->
              <div class="qtraq-dash-main-inner noHover">
                <img src="assets/set_availability_1.png" alt="qtraq-img">
                <span>Doctor's Availability
                  <span *ngIf="provider_unavl_count!='0'" class="req_count">
                    {{provider_unavl_count}}</span>
                </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/overridemasterqueues">
              <div class="qtraq-dash-main-inner">
                <img src="assets/overide_queue_timings.png" alt="qtraq-img">
                <span>Override Queue Timings </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col" *ngIf="isDoctor">
            <a routerLink="/weeklydashboard">
              <div class="qtraq-dash-main-inner">
                <img src="assets/ic_weekly_calendar.png" alt="qtraq-img">
                <span> Work Calendar </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!--front desk end-->
      <!--overridemasterqueues-->
      <!--doctor start-->
     <!--  <div *ngIf="frontdesk">
        <div class="qtraq-dash-main full">
          <div class="qtraq-dash-main-col">
            <a routerLink="/weeklydashboard">
              <div class="qtraq-dash-main-inner">
                <img src="assets/ic_weekly_calendar.png" alt="qtraq-img">
                <span> Work Calendar </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/providerongoing">
              <div class="qtraq-dash-main-inner">
                  <img src="assets/ongoing_queues_doctor.png" alt="qtraq-img">
                  <span>Ongoing Queues </span>
                </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/patienthistory">
              <div class="qtraq-dash-main-inner">
                <img src="assets/ic_user_medical_history.png" alt="qtraq-img">
                <span> Patient History </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/doctoravailability">
              <div class="qtraq-dash-main-inner">
                <img src="assets/set_availability_1.png" alt="qtraq-img">
                <span>Set Unavailability </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/overridemasterqueues">
              <div class="qtraq-dash-main-inner">
                <img src="assets/set_arrival_time.png" alt="qtraq-img">
                <span>Set Arrival Time </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
              <a routerLink="/quesetup">
              <div class="qtraq-dash-main-inner">
                <img src="assets/queue-setup.png" alt="qtraq-img">
                <span> Queue Master Setup
                </span>
              </div>
            </a>
          </div>
          <div class="qtraq-dash-main-col">
            <a routerLink="/providersList">
              <div class="qtraq-dash-main-inner">
                <img src="assets/setup_working_days.png" alt="qtraq-img">
                <span>Setup Org. Working Days
                </span>
              </div>
            </a>
          </div>
        </div>
      </div> -->
      <!--doctor end-->
    </div>
  </div>
</div>
<div class="modal fade orgmodal-popup" id="orgmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content full">
      <div class="modal-header full">
        <h3 class="modal-title" id="exampleModalLabel">Change Organisation</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body full">
      </div>

      <div class="modal-footer full">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>