<div class="page-wrapper chiller-theme ">
  <div class="page-content">
    <!-- <div class="page-content-all-hd">
        <h2>{{publicorgname}}</h2>
      </div> -->
    <!-- Breadcrumb-->
    <div class="page-breadcrumb">
      <div class="container">
        <a routerLink="/">Home</a> <span class="arrow">></span> <span>Availability</span>
      </div>
    </div>
    <!-- Breadcrumb-->
    <div class="main-content-wrapper">
      <div class="container">
        <div class="qtraq-subtitle-wrapper pb0">
          <h1>Availability</h1>
        </div>
        <section class="content">
          <!-- <div class="provider-detail-main-add full">
          </div> -->
          <div id="main-form-content" class="full availability-content-wrapper">
            <mat-tab-group #tabGroup disableRipple (selectedTabChange)="onproviderclick($event)"
              [selectedIndex]="selectedindex">
              <!--first tab start-->
              <mat-tab disabled="{{ AvalabillityDisabled }}">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">access_time</i>
                  </span>
                  <span class="label-text">Avalabillity</span>
                </ng-template>
                <!--<form
                class="location-form-main provider-personal-form"
                [formGroup]="availability"
                (ngSubmit)="OnavailabilitySubmit(availability.value)"
                #uploadDocumentsForm="ngForm"
                ngNativeValidate
                >-->
                <form [formGroup]="availability" (ngSubmit)="OnavailabilitySubmit(availability.value)"
                  #uploadDocumentsForm="ngForm" ngNativeValidate>
                  <div class="table-responsive">
                    <table class="table table-bordered tbl-provider">
                      <tr>
                        <th>General Availability </th>
                        <th>Morning</th>
                        <th>Afternoon</th>
                        <th>Evening</th>
                      </tr>
                      <!-- Monday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="mondaywor" (change)="oncheckboxchange($event,'monday')" />
                            <label> Monday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="mondaymorningstart" ngModel #mondaymorningstart
                              formControlName="mondaymorningstart">
                            <input type="time" name="mondaymorningend" ngModel #mondaymorningend
                              formControlName="mondaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.mondaymorningstart.value,
                  availability.controls.mondaymorningend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('mondaymorningstart','mondaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="mondayafterstart" ngModel #mondayafterstart
                              formControlName="mondayafterstart">
                            <input type="time" name="mondayafterend" ngModel #mondayafterend
                              formControlName="mondayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.mondayafterstart.value,
                availability.controls.mondayafterend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('mondayafterstart','mondayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="mondayevestart" ngModel #mondayevestart
                              formControlName="mondayevestart">
                            <input type="time" name="mondayeveend" ngModel #mondayeveend formControlName="mondayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.mondayevestart.value,
          availability.controls.mondayeveend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('mondayevestart','mondayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Monday -->
                      <!-- Tuesday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="tuedaywor"
                              (change)="oncheckboxchange($event,'tuesday')" />
                            <label> Tuesday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="tuedaymorningstart" ngModel #tuedaymorningstart
                              formControlName="tuedaymorningstart">
                            <input type="time" name="tuedaymorningend" ngModel #tuedaymorningend
                              formControlName="tuedaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.tuedaymorningstart.value,
                availability.controls.tuedaymorningend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('tuedaymorningstart','tuedaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="tuedayafterstart" formControlName="tuedayafterstart">
                            <input type="time" name="tuedayafterend" formControlName="tuedayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.tuedayafterstart.value,
                availability.controls.tuedayafterend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('tuedayafterstart','tuedayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="tuedayevestart" formControlName="tuedayevestart">
                            <input type="time" name="tuedayeveend" formControlName="tuedayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.tuedayevestart.value,
                  availability.controls.tuedayeveend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('tuedayevestart','tuedayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Tuesday -->
                      <!-- Wednesday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="weddaywor"
                              (change)="oncheckboxchange($event,'wednesday')" />
                            <label> Wednesday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="weddaymorningstart" formControlName="weddaymorningstart">
                            <input type="time" name="weddaymorningend" formControlName="weddaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.weddaymorningstart.value,
                availability.controls.weddaymorningend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('weddaymorningstart','weddaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="weddayafterstart" formControlName="weddayafterstart">
                            <input type="time" name="weddayafterend" formControlName="weddayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.weddayafterstart.value,
                availability.controls.weddayafterend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('weddayafterstart','weddayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="weddayevestart" formControlName="weddayevestart">
                            <input type="time" name="weddayeveend" formControlName="weddayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.weddayevestart.value,
                availability.controls.weddayeveend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('weddayevestart','weddayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Wednesday -->
                      <!-- Thursday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="thudaywor"
                              (change)="oncheckboxchange($event,'thursday')" />
                            <label> Thursday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="thudaymorningstart" formControlName="thudaymorningstart">
                            <input type="time" name="thudaymorningend" formControlName="thudaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.thudaymorningstart.value,
                availability.controls.thudaymorningend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('thudaymorningstart','thudaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="thudayafterstart" formControlName="thudayafterstart">
                            <input type="time" name="thudayafterend" formControlName="thudayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.thudayafterstart.value,
                  availability.controls.thudayafterend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('thudayafterstart','thudayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="thudayevestart" formControlName="thudayevestart">
                            <input type="time" name="thudayeveend" formControlName="thudayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.thudayevestart.value,
                  availability.controls.thudayeveend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('thudayevestart','thudayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Thursday -->
                      <!-- Friday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="fridaywor" (change)="oncheckboxchange($event,'friday')" />
                            <label> Friday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="fridaymorningstart" formControlName="fridaymorningstart">
                            <input type="time" name="fridaymorningend" formControlName="fridaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.fridaymorningstart.value,
                availability.controls.fridaymorningend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('fridaymorningstart','fridaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="fridayafterstart" formControlName="fridayafterstart">
                            <input type="time" name="fridayafterend" formControlName="fridayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.fridayafterstart.value,
                availability.controls.fridayafterend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('fridayafterstart','fridayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="fridayevestart" formControlName="fridayevestart">
                            <input type="time" name="fridayeveend" formControlName="fridayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.thudayevestart.value,
                availability.controls.thudayeveend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('thudayevestart','thudayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Friday -->
                      <!-- Saturday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="satdaywor"
                              (change)="oncheckboxchange($event,'saturday')" />
                            <label> Saturday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="satdaymorningstart" formControlName="satdaymorningstart">
                            <input type="time" name="satdaymorningend" formControlName="satdaymorningend">

                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.satdaymorningstart.value,
                  availability.controls.satdaymorningend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('satdaymorningstart','satdaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="satdayafterstart" formControlName="satdayafterstart">
                            <input type="time" name="satdayafterend" formControlName="satdayafterend">

                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.satdayafterstart.value,
                  availability.controls.satdayafterend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('satdayafterstart','satdayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="satdayevestart" formControlName="satdayevestart">
                            <input type="time" name="satdayeveend" formControlName="satdayeveend">

                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.satdayevestart.value,
                  availability.controls.satdayeveend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('satdayevestart','satdayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Saturday -->
                      <!-- Sunday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="sundaywor" (change)="oncheckboxchange($event,'sunday')" />
                            <label> Sunday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="sundaymorningstart" formControlName="sundaymorningstart">
                            <input type="time" name="sundaymorningend" formControlName="sundaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.sundaymorningstart.value,
                  availability.controls.sundaymorningend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('sundaymorningstart','sundaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="sundayafterstart" formControlName="sundayafterstart">
                            <input type="time" name="sundayafterend" formControlName="sundayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.sundayafterstart.value,
                  availability.controls.sundayafterend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('sundayafterstart','sundayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10">
                            <input type="time" name="sundayevestart" formControlName="sundayevestart">
                            <input type="time" name="sundayeveend" formControlName="sundayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.sundayevestart.value,
                  availability.controls.sundayeveend.value)" value="Apply to All" class="btn-table" />
                            <input type="button" (click)="clear('sundayevestart','sundayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Sunday -->
                    </table>
                  </div>
                  <input type="submit" name="submit" class="btn btn-sm btn-success mt10">
                </form>
              </mat-tab>
            </mat-tab-group>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>