<!--
<h6>
<div (click)="onNoClick('admin')">
test module
</div>
<div (click)="onNoClick('admin')">
test module
</div>
<div (click)="onNoClick('admin')">
test module
</div>
<div (click)="onNoClick('admin')">
test module
</div>
</h6>
-->
<div *ngIf="queuelist else other_content">

<div *ngFor="let  queuelists of queuelist| paginate: { itemsPerPage: this.size, 
    currentPage: this.page, totalItems: this.totalcount}">
    <div class="msg_list_container">
      <p class="msg_list_content">{{queuelists.message_text}}</p>
      <p class="msg_list_name">{{queuelists.provider_name}} posted on {{queuelists.created_on}}</p>     
    </div>  
 </div>
 <pagination-controls  (pageChange)="dialogchange($event)"></pagination-controls>
  

</div>
<ng-template #other_content>
data not found

</ng-template>







