<div class="page-wrapper chiller-theme" [class.toggled]="toggleVal">
  <!--<app-sidebar></app-sidebar>-->
  <main class="page-content">
    <!--<div class="page-content-all-hd">
      <h2>{{publicorgname}}</h2>
    </div>-->
    <!-- Breadcrumb-->

    <div class="page-breadcrumb">
      <div class="container">
        <a (click)="backtohome()">Home (Doctors List) </a> > <span>Select Doctor</span>
      </div>
    </div>

    <!-- Breadcrumb-->
    <div class="main-content-wrapper">
      <div class="container">
        <div class="clearfix"></div>
        <h1 class="page-title-primary">Select Doctor</h1>
        <div class="col-md-12 provider-detail-main">
          <!--<h2>Provider Details</h2>-->
          <!-- <div class="com-breadcrum full">
            <ul class="com-breadcrum-list">
              <li>Home</li>
              <li>List Of Providers</li>
            </ul>
          </div>-->
          <!--<div *ngFor="
              let prolists of (prolist
                | paginate
                  : {
                      itemsPerPage: this.size,
                      currentPage: this.page,
                      totalItems: this.totalRecords
                    })
            " class="queuesetup-col">-->
          <div *ngFor="
              let prolists of (prolist
                | paginate
                  : {
                      itemsPerPage: this.size,
                      currentPage: this.page,
                      totalItems: this.totalRecords
                    })
            " class="col-xs-12 col-sm-6 col-md-3">
            <div (click)="divclick(prolists.user_master_id,prolists.last_name,
            prolists.first_name)" class="queuesetup-main">
            <!--<div routerLink="addeditprovider/{{ prolists.user_master_id }}" class="queuesetup-main">-->
              <div class="queuesetup-single">
                <div class="queuesetup-single-img">
                  <img src="{{prolists.profileimage_path}}" class="img-responsive"
                    onerror="this.src='assets/doctor-placeholder.jpg'" />
                </div>
                <div class="queuesetup-single-info">
                  <!-- <h4>{{ prolists.user_name }}</h4>
                  <span class="name-doc">{{ prolists.first_name }}</span>
                  <span>{{prolists.provider_specialities}}</span> -->
                  <h4>Dr. {{ prolists.first_name }} {{ prolists.last_name }}</h4>                  
                  <span>{{prolists.provider_specialities}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix">&nbsp;</div>
          <!--<table class="table table-striped provider-detail-table">
                      <thead>
                      <tr>
                        <th class="hidden">Id</th>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                     
                        <tr *ngFor="let prolists of prolist| paginate: { itemsPerPage: this.size, 
                        currentPage: this.page, totalItems: this.totalRecords }">
                        
                        <td class="hidden"></td>
                        
                        <td>{{prolists.user_name}}</td>
                        
                        <td>{{prolists.first_name}}</td>
                                  
                        <td>
                   <button class="btn btn-danger" routerLink="addeditprovider/{{prolists.user_master_id}}" 
                   style="margin-left: 20px;"> Edit</button></td>
                      </tr>
                      </tbody>
                    </table>-->
          <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->