<div class="page-wrapper chiller-theme " [class.toggled]="toggleVal">
  <!--<app-sidebar></app-sidebar>-->
  <div class="page-content">
    <!--<div class="page-content-all-hd">
        <h2>BHUMKAR'S CLINIC</h2>
      </div>-->
    <!-- Breadcrumb-->

    <div class="page-breadcrumb" *ngIf="queueaccesslists">
      <div class="container">
       <a (click)="backtohome()"> Home (Queue Access) </a> > Select a Doctor
      </div>
    </div>



    <div class="page-breadcrumb" *ngIf="queueaccesslistscheckbox">
        <div class="container">
         <a (click)="backtohome()"> 
           Home (Queue Access) </a> 
         <a (click)="backqueueaccessprolist()"> > Select a Doctor > </a>
         <a> Set Queue Access </a>
        </div>
      </div>
  
    <!-- Breadcrumb-->
    <div class="main-content-wrapper">
      <div class="container">
        <div class="qtraq-subtitle-wrapper">
          <h1>Queue Access</h1> 
        </div>                  
        <div class="col-md-12">

          <div *ngIf="queueaccesslists">

            <div *ngFor="let queueaccesslists of queueaccesslist| paginate: { itemsPerPage: this.size, 
              currentPage: this.page, totalItems: this.totalRecords }" class="col-xs-12 com-sm-6 col-md-3 mb25">



              <div (click)="onNoClick(queueaccesslists.last_name,queueaccesslists.first_name,
            queueaccesslists.user_master_id,queueaccesslists.profileimage_path)">
                <div class="queuesetup-single">
                  <div class="queuesetup-single-img">
                    <img src="{{queueaccesslists.profileimage_path}}" alt="" title="" class="img-responsive" onerror="this.src='assets/user-avatar.jpg'">
                  </div>
                  <div class="queuesetup-single-info">
                    <h4>{{queueaccesslists.first_name}} {{queueaccesslists.middle_name}} {{queueaccesslists.last_name}} </h4>
                    <span>{{queueaccesslists.provider_specialities}}</span>
                  </div>
                </div>
                <!--<p>
                  {{queueaccesslists.user_name}}               
                </p>-->
              </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="full" align="center">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>


        <div class="full" *ngIf="queueaccesslistscheckbox">

          <!--
          <div class="com-breadcrum full">
                    <ul class="com-breadcrum-list">
                     <a  (click)="backtohome()">Home</a>
                      <a (click)="backqueueaccessprolist()">Access Doctors List111</a>
                      <li>Access Doctors List Queue</li>
                    </ul>
                  </div>
                -->

                  
                  <!-- <div class="provider-detail-main-add full">
                      <button class="btn btn-danger" routerLink="addeditprovider">
                        Add Provider
                      </button>
                    </div> -->
          <div  class="queue-acsses-body full">
            <div class="token_details_top">
              <div  class="td_doctor_name">   
                  <!-- <span class="label-icn material-icon">	 
                    <i  class="material-icons">person</i>	  
                  </span> -->
                  <img src="assets/doctor_icon_green_thumb.png" alt="Dr. {{firstname}}  {{lastname}}" title="" style="vertical-align:sub"/>
                  <div style="vertical-align:bottom">
                    <p  class="drname_orange">Dr. {{firstname}}  {{lastname}}</p>
                    <p  class="clinicname_green">{{publicorgname}}</p>
                  </div>
              </div>
              <div class="clearfix">&nbsp;</div>
            </div>            
            <div id="table-scroll" class="table-scroll">
              <div class="table-wrap table-responsive">
                <!-- <table class="table table-striped quepro-list-table"> -->
                <div class="tbl-header">
                <table class="table table-striped queueacess-table"> 
                  <thead>
                    <tr class="que-mor-single-row">
                      <!--<td class="fixed-side">&nbsp;
                      </td>-->
                      <td>&nbsp;</td>
                      <td *ngFor="let queue_detailss of queue_details">
                        <span class="que-img-hd">
                          <img src="{{queue_detailss.queueimage_path}}" title="" class="img-responsive" onerror="this.src='assets/user-avatar.jpg'">
                        </span>
                        <span class="que-name-hd">{{queue_detailss.queue_name}}</span>
                      </td>
                    </tr>
                  </thead>
                </table>
                </div>
                <div class="tbl-content">
                  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped queueacess-table">
                    <tbody>                      
                    <tr *ngFor="let user_queue_datas of user_queue_data" class="que-mor-all-row">
                        <!--<td class="fixed-side">-->
                        <td>
                          <span class="que-mor-all-row-info-main">
                            <span class="que-mor-all-row-img">
                              <img src="{{user_queue_datas.profileimage_path}}"
                                title="" class="img-responsive" onerror="this.src='assets/user-avatar.jpg'">
                              </span>
                            <span class="que-mor-all-row-info">
                              <span class="que-mor-all-row-name">{{user_queue_datas.first_name}} {{user_queue_datas.middle_name}}  {{user_queue_datas.last_name}}</span>
                              <span class="que-mor-all-row-num">{{user_queue_datas.user_name}} </span>
                            </span>
                          </span>
                        </td>
                        <td *ngFor="let user_queue_datasaccess of user_queue_datas.user_queue_access">
                          <p class="checkbox-text">
                            <!-- {{user_queue_datasaccess.queue_id}}
                            {{user_queue_datasaccess.is_queue_assigned}}
                            {{user_queue_datasaccess.user_id}}
                            -->
                          </p>
                          <p class="checkbox-input com-checkbox">
                            <input type="checkbox" [checked]="user_queue_datasaccess.is_queue_assigned"
                              (change)="checkboxcheckfunc($event,user_queue_datasaccess.queue_id,user_queue_datasaccess.user_id)" />
                          </p>
                        </td>
                      </tr> 
                      </tbody>                   
                    </table>
                </div>
                  
              </div>
            </div>
            <div class="queue-acsses-body-submit-btn full">
              <button (click)="checkboxformsubmit()" class="btn">Save</button>
              <button (click)="backtohome()" class="btn mr15">Cancel</button>
            </div>
          </div>
        </div>

        <div> {{errorMessage}} </div>

        <!--
            <td *ngFor="let user_queue_datasaccess of user_queue_data.user_queue_access">
              {{user_queue_datasaccess.user_id}}
            </td>
            -->
        <!--<td></td>
            -->
        <!--
            <button  routerLink="addsystemroles">Add SystemRole</button>
              <form [formGroup]="documentGrp" (ngSubmit)="onsystemrolesubmit(documentGrp.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>
                  <div class="box box-solid box-primary">
                  <div class="box-body" formArrayName="items">
                <div class="row">
                          <div class="col-sm-12">
                <div *ngFor="let item of items.controls; let i = index;">
                              <div [formGroupName]="i">
                                <table id="tbl-upload" class="table table-bordered">
                                  <tbody>
                                    <tr *ngIf="i==0" class="active">
                                    -->
        <!--<th>User Id</th>-->
        <!--
                                       <th>First name</th>
                                       <th>Username</th>
                                       <th>profile image</th>
                                       <th>is_frontdesk</th>
                                       <th>is_doctordesk</th>
                                       <th>is queue assigned</th>
              
              
                                     </tr>
                                     <tr *ngIf="(item.controls.editcall.value !='editcall')">
                                      <td>{{item.controls.first_name.value}}</td>
                                      <td>{{item.controls.user_name.value}}</td>
              
              <input type="hidden" formControlName="user_id" />
              
                   <td>      <img src="{{item.controls.profileimage_path.value}}" alt="" title=""></td>
              
                                     <td *ngIf="(item.controls.is_frontdesk.value =='Yes') else elseBlock">  
                                     <input type="checkbox" formControlName="is_frontdesk" [checked]="true" *ngIf="item.controls.is_frontdesk.value=='Yes'"  />
                                    </td>
                                        <ng-template #elseBlock>
                                          <td>
                            <input type="checkbox" [checked]="false" formControlName="is_frontdesk" />
                                           </td>
                                          </ng-template>
                                     
                                     
                                          
                                          <td *ngIf="(item.controls.is_doctordesk.value =='Yes') else elseBlock1">  
                                              <input type="checkbox" formControlName="is_doctordesk" [checked]="true" *ngIf="item.controls.is_doctordesk.value=='Yes'"  />
                                             </td>
                                        <ng-template #elseBlock1>
                                        <td>
                                     <input type="checkbox" [checked]="false" formControlName="is_doctordesk" />
                                        </td>
                                        </ng-template>
                                          
                                    <td *ngIf="(item.controls.is_admindesk.value =='Yes') else elseBlock2">  
                                    <input type="checkbox" formControlName="is_admindesk" [checked]="true" *ngIf="item.controls.is_admindesk.value=='Yes'"  />
                                     </td>
                                     <ng-template #elseBlock2>
                                     <td>
                                    <input type="checkbox" [checked]="false" formControlName="is_admindesk" />
                                     </td>
                                    </ng-template>
                                                      
                                        </tr>
                                   </tbody>
                                 </table>
                               </div>
                             </div>
                             <div class="pull-right">
                             </div>
                           </div>
                         </div>
                         <div  *ngIf="queue_assigned != null">
                            {{ queue_assigned }}
                          </div>
                       </div>
                       <div class="box-footer" style="align-content: center">
                         <button type="submit" class="btn btn-primary pull-right">Save</button>
                       </div>
                     </div>
                   </form>
              
                  -->
      </div>
    </div>
  </div>
</div>