<mat-dialog-content class="mat-typography">
  <span class="label-icn material-icon pull-right" (click)="close()">
    <i class="material-icons">close</i>
  </span>
  <div class="text-center">
    <h2 style="color: #E9237F;margin-bottom:0px;padding:0px;padding-left: 35px;" ><strong>{{queuename}}</strong></h2>
    <h3 style="margin-bottom:-10px;" *ngIf="dateRangeStart == dateRangeEnd">
      <strong class="green-text">{{dateRangeStart}}</strong>
    </h3>
    <h3 style="margin-bottom:-10px;" *ngIf="dateRangeStart != dateRangeEnd">
      <strong class="green-text">{{dateRangeStart}} to {{dateRangeEnd}}</strong>
    </h3>
  </div>
  <br/>
  <div>
    <table class="table borderless">
      <tr>
        <td colspan="2" class="green-text"><h2 style="padding-bottom:0px;margin-bottom:5px;"><strong>AMOUNT SUMMARY:</strong></h2></td>
      </tr>
      <tr *ngFor="let ongoingqueuelists of transactionqueuesummary?.custom_fields">
        <td width="30%" class="green-text">
            {{ongoingqueuelists.custom_field_label}} :
        </td>
        <td width="30%">
          <strong style="color: #E9237F" *ngIf="ongoingqueuelists.custom_field_total != undefined && ongoingqueuelists.custom_field_total>0"> {{ongoingqueuelists.custom_field_total}}</strong>
        </td>
      </tr>
      <tr>
        <td  valign="middle">
          <h3 style="padding-bottom:0px;margin:0px;" class="green-text"><strong>TOTAL AMOUNT:</strong></h3>
        </td>
        <td>
          <strong class="green-text" valign="middle" style="font-size:16px;">{{transactionqueuesummary.custom_field_total}}</strong>
        </td>
      </tr>
      <tr *ngFor="let  transactionqueuesummaryin of transactionsummarykey;index as i">
        <td class="green-text">{{transactionqueuesummaryin}}</td>
        <td><strong style="color: #E9237F">{{transactionsummaryvalue[i]}} </strong></td>
      </tr>
      <tr>
        <td colspan="2"  class="green-text"><h2 style="padding-bottom:0px;margin-bottom:5px;margin-top:20px;"><strong>TOKEN SUMMARY:</strong></h2></td>
      </tr>
      <tr>
        <td width="30%" class="green-text">Issued:</td>
        <td><strong style="color: #E9237F">{{transactionqueuesummary.issued_tokens}}
        </strong></td>
      </tr>
      <tr>
        <td width="30%"  class="green-text">Cancelled/Rescheduled:</td>
        <td><strong style="color: #E9237F">{{transactionqueuesummary.cancelled_tokens}}</strong></td>
      </tr>
      <tr>
        <td width="30%"   class="green-text">
          <h3 style="padding-bottom:0px;margin:0px;" class="green-text" ><strong>NET ISSUED:</strong></h3>
        </td>
        <td><strong class="green-text" style="font-size:16px;">{{transactionqueuesummary.issued_tokens-transactionqueuesummary.cancelled_tokens}}</strong></td>
      </tr>
      <tr>
        <td width="30%"  class="green-text">Completed:</td>
        <td><strong style="color: #E9237F">{{transactionqueuesummary.completed_tokens}}</strong></td>
      </tr>
      <tr>
        <td width="30%"  class="green-text">No Show:</td>
        <td><strong style="color: #E9237F">{{transactionqueuesummary.no_show_tokens}}</strong></td>
      </tr>
      <tr>
        <td width="30%"  class="green-text">Consultation Pending:</td>
        <td><strong style="color: #E9237F">{{transactionqueuesummary.consultation_pending}}</strong></td>
      </tr>
      <tr>
        <td width="30%" class="green-text">Allocation Pending:</td>
        <td><strong style="color: #E9237F">{{transactionqueuesummary.pending_tokens}}</strong></td>
      </tr>
    </table>
  </div>
</mat-dialog-content>


