<div class="page-wrapper chiller-theme">
  <div class="page-content" *ngIf="showalldata">
    <div class="main-content-wrapper">

      <div class="page-breadcrumb">
        <div class="container">
          <a (click)="backtohome()">Home (Assign New Token)</a>
          <span class="arrow">></span>
          <a *ngIf="providerlist;else emptycell">
          </a>
          <ng-template #emptycell>
            <a (click)="doclist()">Doctors List</a>
            <span class="arrow">></span>
          </ng-template>
          <span>Select Doctor & Patient</span>
        </div>
      </div>

      
      <div class="container">
        <div class="qtraq-subtitle-wrapper">
          <h1>Select Doctor</h1>
        </div>        
          <section class="content">
            

            <!-- Assign New Token Detail -->
            <div *ngIf="providerlist">
              <div
                *ngFor="let  assigntokenproviders of assigntokenprovider| paginate: { itemsPerPage: this.size, currentPage: this.page, totalItems: this.totalRecords }">
                <div class="fp_queue_content" (click)="getproviderlist(assigntokenproviders.user_master_id,
            assigntokenproviders.first_name,assigntokenproviders.middle_name,assigntokenproviders.last_name)">
                  <div class="col-xs-12 col-sm-6 col-md-3 mb15">
                    <div class="fp_queue_wrapper">
                      <div class="fp_queue_img">
                        <img src="{{assigntokenproviders.profileimage_path}}" class="img-responsive"
                          onerror="this.src='assets/doctors-default.jpg'">
                      </div>
                      <div class="fp_queue_info">
                        <p class="fp_queue_name green-text">Dr.
                          {{assigntokenproviders.first_name}}
                          {{assigntokenproviders.middle_name}}
                          {{assigntokenproviders.last_name}}
                        </p>
                        <p style="padding:0 10px;">{{assigntokenproviders.provider_specialities}}</p>
                      </div>
                      <div class="fp_queue_check_queue">
                        <!-- <span class="label-icn material-icon">
                          <i class="material-icons">navigate_next</i>
                        </span> -->
                        Assign Token
                      </div>
                    </div>
                  </div>                  
                </div>
                </div>
              <div class="clearfix">&nbsp;</div>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              <div *ngIf="errorMessage">
                {{errorMessage}}
              </div>
            </div>
            
            <!--form data-->
            <form #userlogin="ngForm" (ngSubmit)="onSubmit(userlogin.value)" ngNativeValidate>
              <div *ngIf="searchfield">
              </div>
            </form>
          </section>
        </div>
    </div>
  </div>
  <!--transaction que start-->
  
  <!--transaction que end-->
</div>
<!--new dielog start-->
<!--new dielog start-->


<div class="overlay" *ngIf="cancelmodel">
  <div class="main-div modal-qtraq">
    <form (ngSubmit)="cancelsubmit(mobilenumber.value)" ngNativeValidate>
      <div class="form-group">
        <label class="text_green">Search User</label>
        <input type="text" class="form-control border-green"  name="mobilenumber" #mobilenumber required>
      </div>
      <div *ngIf="bookingfordropdownvis">
        <label class="text_green">Booking for</label>
        <select class="form-control border-green mb10" name="bookingtype" #bookingtype
          (change)="onbookingchange($event.target.value)">
          <option value="Self" [selected]='bookingtypeselected'>Self</option>
          <option value="Family">Family Members</option>
        </select>
      </div>
      <div *ngIf="familymemberselfshow">
        <div class="col-sm-4">
          <div *ngIf="selfimage">
            <div class="fp_queue_img">
              <img src="{{selfimage}}" class="img-responsive" onerror="this.src='assets/doctors-default.jpg'">
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <p class="green_text m0 font-18"><strong>{{selfname}}</strong></p>
          <p class="green_text m0 font-16">{{selfnumber}}</p>
        </div>
        <div class="clearfix mb10">&nbsp;</div>
      </div>
      <input type="submit" class="btn btn-primary" value="Search" name="Search" />
      <input type="button" name="close" value="Close" class="btn btn-primary" (click)="cancelmodelToggle('close')" />
      <div *ngIf="assignbuttonshow" class="display-ib">
        <input type="button" class="btn btn-primary" (click)="assignnow(mobilenumber.value)" name="Assign Now"
          value="Assign Now" />
      </div>
    </form>
    <div *ngIf="familymembershow">
      <div *ngFor="let  familymemberdata of familymember" class="provider-familymember">
        <div class="clearfix mb10">&nbsp;</div>
        <div class="fp_queue_content">
          <div class="col-sm-2">
            <div class="com-checkbox">
              <input type="checkbox" name="familymember"
                (change)="familymemberchackboxcheck(familymemberdata.family_member_id)" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="fp_queue_img">
              <img src="{{familymemberdata.member_pic_path}}" class="img-responsive"
                onerror="this.src='assets/doctors-default.jpg'">
            </div>
          </div>
          <div class="clearfix mb10">&nbsp;</div>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>




<!--new dielog end--> 
<!--new dielog end--> 