<div class="change-org-main">
  <h4 class="text_green">Select from std. Queue Name / Image</h4>
  <div *ngFor="let responsedatalist of responsedata" class="change-org-col">
    <div (click)="onNoClick(responsedatalist.queue_name,responsedatalist.queue_image,responsedatalist.image_path,responsedatalist.queue_template_id)"
      class="change-org-block">
      <div *ngIf="responsedatalist.queue_image">
        <img src="{{responsedatalist.image_path}}" alt="" title="" class="modal-orglogo" onerror="this.src='assets/org_placeholder.png'">
      </div>
      <p class="change-org-text mt10">
        {{responsedatalist.queue_name}}
      </p>
    </div>
  </div>
  <button (click)="closebox()" class="close-orgmodal"> Skip </button>
</div>