<div class="col-sm-12">
    <div (click)="close()" class='close-btn'>
      <span _ngcontent-c5="" class="label-icn material-icon" style="margin-right: -5px;">
        <i _ngcontent-c5="" class="material-icons">clear</i>
      </span>
    </div>
    <div style="background: #e7f14d75;">
      <h4 class="heading1">Share Patient History of</h4>
      <div class="col-sm-6 heading2">
        <div class="row text-center">{{passedDetails.booking_for_name}}</div>
      </div>
      <div class="col-sm-6 heading2">
        <div class="row text-center">Dr. {{passedDetails.provider_name}}</div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-sm-12" style="padding: 0px;border-top: 1px solid #186c2c;padding-top: 15px;">
      <div class="col-sm-5 p0">
        <label >With Doctor: </label><br>
        <input type="text" class="form-control" style="width: 200px;float: left;" name="searchKey" [(ngModel)]="searchKey" />
        <span class="material-icons share-search-btn" (click)="getQTRAQUserDetails()">search</span>
        <div class="clearfix"></div><br>
        <label >Share Type: </label><br>
        <select name="sharetype" id="sharetype" [(ngModel)]="sharetype" class="form-control">
          <option value="single">Current Token</option>
          <option value="multiple">Multiple Tokens</option>
        </select>
      </div>
      <div class="col-sm-7" *ngIf="searchedProviderDetails" style="padding:0px">
          <div class="fp_queue_img text-center" >
            <img src="{{searchedProviderDetails[0]?.profile_pic_path}}" class="img-responsive" onerror="this.src='assets/user-default.jpg'" style="width: 70px;height: 70px;min-width: 70px;min-height: 70px;margin-top: 0px;" onerror="this.src='assets/user-default.jpg'">
            <label for="" style="font-size: 16px;font-weight: 600;color: #186c2c;width:100%;text-align: center;">{{searchedProviderDetails[0]?.user_full_name}} </label>
            <span style="width:100%;text-align: center;font-size:12px;"> {{searchedProviderDetails[0]?.provider_specialities}}</span>
          </div>
      </div>
      <div class="col-sm-12 p0" *ngIf="sharetype == 'single'">
        <br><label for="">Token Date:</label> <label for="" style="color: #e9237f;">{{passedDetails.token_date}}</label>
      </div>
      <div class="col-sm-12 p0" *ngIf="sharetype == 'multiple'">
        <div class="col-sm-6" style="padding-left:0px;"><br>
          <label for="">Share From Date:</label>
          <input class="form-control border-green bg-white" placeholder="Select a Date" name="fromdate" ngx-mydatepicker [options]="fromDefaultDate"  #fromdate="ngx-mydatepicker" (click)="fromdate.toggleCalendar()" (dateChanged)="searchDateChanged('from',$event)" readonly />
        </div>
        <div class="col-sm-6" style="padding-right:0px;"><br>
          <label for="">Share To Date:</label>
          <input class="form-control border-green bg-white" placeholder="Select a Date" name="todate" ngx-mydatepicker [options]="toDefaultDate"  #todate="ngx-mydatepicker" (click)="todate.toggleCalendar()" (dateChanged)="searchDateChanged('to',$event)" readonly />
        </div>
      </div>
      <div class="col-sm-12 p0 com-checkbox"><br>
        <label >Items to share: </label><br>
        <label for="diagnosischeckbox" class="col-sm-4 p0">
          <input type="checkbox" name="" id="diagnosischeckbox" [(ngModel)]="shareDiagnosis" value="D"> Diagnosis
        </label>
        <label for="prescriptionscheckbox" class="col-sm-4 p0">
          <input type="checkbox" name="" id="prescriptionscheckbox" [(ngModel)]="sharePrescription" value="P"> Prescriptions
        </label>
        <label for="reportscheckbox" class="col-sm-4 p0">
          <input type="checkbox" name="" id="reportscheckbox" [(ngModel)]="shareReport" value="R"> Reports
        </label>
      </div>

      <div class="col-sm-12 text-center"><br>
        <button type="button" class="btn btn-primary" (click)="shareHistory()"> Share Now</button>
      </div>
    </div>
    <div class="share-footer"></div>
</div>
