.share-header{
    background:red;
    padding:10px;
    float:left;
    width: 100%;
}
.close-btn{
    float: right;
    cursor: pointer;
    margin-right: -25px;
    margin-top: -5px;
}
.heading1{
    text-align: center;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0px;
    margin-top: -10px;
    color:#186c2c;
}
.heading2{
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    color:#186c2c;
}
.share-search-btn{
    cursor: pointer;
    border: 3px solid #e92480;
    border-radius: 20px;
    padding: 3px;
    background: #186c2c;
    color: #fff;
    float:left;
    margin-top: -3px;
    margin-left: 10px;
}