<div class="page-wrapper chiller-theme ">
  <div class="page-content"> 
    <!-- Breadcrumb-->
    <div class="page-breadcrumb">
        <div class="container">
          <a routerLink="/">Home</a> <span class="arrow">></span> <span>Patient History</span>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="main-content-wrapper">
      <div class="container">
        <div class="qtraq-subtitle-wrapper">
            <h1>Patient History</h1>
            <button (click)="unsharehistory()" class="btn btn-danger" > Unshare History </button>
        </div>
        <!-- <div class="qtraq-subtitle-wrapper">
            <h1 class="page-title-primary pl0">Patient History</h1>  
            <button (click)="unsharehistory()"> unshare history </button>
        </div> -->
        <div *ngIf="showformfield">
        <div *ngIf="showpatienthistory">
            <div class="col-sm-12">
                <div *ngIf="patienthistoryself">
                  <div class="col-sm-3 col-md-2">
                    <div class="form-group">
                        <label for="dob" class="text_green">From Date</label>
                        <input
                        class="form-control"
                        placeholder="Select a Date"
                        name="fromdate"
                        (dateChanged)="patientfromdate($event)"  
                        ngx-mydatepicker
                        [options]="myOptions"
                        #dp="ngx-mydatepicker"
                        (click)="dp.toggleCalendar()"                
                        />
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-2">
                    <div class="form-group">
                      <label for="dob" class="text_green">To Date</label>
                      <input
                      class="form-control"
                      placeholder="Select a Date"
                      (dateChanged)="patienttodate($event)"
                      name="todate"  
                      ngx-mydatepicker
                      [options]="myOptions"
                      #dp1="ngx-mydatepicker"
                      (click)="dp1.toggleCalendar()"                
                      />
                    </div>
                  </div>
                

                </div>                
                <div class="col-sm-3 col-md-2">
                  <label for="dob" class="text_green">Select Provider</label>  
                  <select
                  (change)="onProviderchange($event.target.value)"
                  name="state_id"
                  class="form-control">
                  <option> Select Provider</option>
                  <option
                  [value]="patienthistoryProvider.provider_id"
                  *ngFor="let patienthistoryProvider of patienthistoryProviders">
                  {{ patienthistoryProvider.provider_name }}</option>
                  </select>
                </div>
                <div class="col-sm-3 col-md-2">
                  <label for="dob" class="text_green">Select Consumers</label> 
                  <select
                  (change)="patienthistory($event.target.value)"
                  name="state_id"
                  class="form-control">
                  <option> Select Consumers</option>
                  <option
                  [value]="sharehistorynew.consumer_id"
                  *ngFor="let sharehistorynew of sharehistory">
                  {{ sharehistorynew.consumer_name }}
                  </option>
                  </select>
                </div> 
            </div>
            <div *ngIf="sharehistorydata">
              <button (click)="shartokencall()" class="btn btn-sm btn-success"> Share History </button> 
            </div>

            <div *ngFor="let patienthistorydatas of patienthistorydata">
            <div class="ph-top-info"> 
              <!--<div class="col-sm-3">                
                <span class="ph-title-small">Token ID</span>
                {{patienthistorydatas.token_id}}                
              </div>-->
              <div class="col-sm-4" align="center">
                <!--<span class="ph-title-small">Booked On</span>-->
                <p class="purple-text font-18"><strong>{{patienthistorydatas.booked_on}}</strong></p>
              </div>
              <div class="col-sm-4" align="center">
                <!--<span class="ph-title-small">Provider Name</span>-->
                <p class="grey-text font-18"><strong>{{patienthistorydatas.org_name}}</strong></p>
                <p class="grey-text font-16"><strong>Dr.{{patienthistorydatas.provider_full_name}}</strong></p>
              </div> 
              <div class="col-sm-4" align="center">
                <button (click)="tokendataget(patienthistorydatas.token_id)" class="img-button">  <img src="assets/diagnosis.png" alt="Diagnosis" title="Diagnosis">  </button>
              </div> 
              <!-- <div class="ph_tokenid">
                <span class="ph-title-small">Token ID</span>
                {{patienthistorydatas.token_id}}
              </div>
              <div class="ph_bookedon">
                <span class="ph-title-small">Booked On</span>
                {{patienthistorydatas.booked_on}}
              </div>
              <div class="ph_providername">
                <span class="ph-title-small">Provider Name</span>
                {{patienthistorydatas.provider_full_name}}
              </div>
              <button (click)="tokendataget(patienthistorydatas.token_id)" class="btn btn-sm btn-success token_upload_btn">  Token Upload Image  </button> -->                
            </div> 
            <div class="clearfix">&nbsp;</div>
            <div id="main-form-content" class="tab-style-2"> 
            <mat-tab-group disableRipple >
            <div *ngIf="patienthistorydatas.diagnosis_details">
            <mat-tab label="Diagnosis">
              <div *ngFor="let diagnosisdata of patienthistorydatas.diagnosis_details">
              <p class="grey_text"><strong>Diagnosis Remark</strong></p>
              <p class="pink_text">{{diagnosisdata.d_p_remarks}}</p>
              <p class="grey_text"><strong>Diagnosis Note</strong></p>
              <p class="pink_text">{{diagnosisdata.d_p_remarks}}</p>
              </div>
            </mat-tab>
            </div>
            <div *ngIf="patienthistorydatas.prescription_details">
            <mat-tab label="Prescriptions">
            <div *ngFor="let prescriptiondata of patienthistorydatas.prescription_details">
              <div class="fullwidth-wrapper">
                <div class="col-sm-4">
                  <p class="grey_text"><strong>Medicine</strong></p>
                  <p class="pink_text">{{prescriptiondata.medicine_name}}</p>
                </div>
                <div class="col-sm-2" align="center">
                  <p class="grey_text"><strong>Qty</strong></p>
                  <p class="pink_text">{{prescriptiondata.medicine_qty}}</p>
                </div>
                <div class="col-sm-2" align="center">
                  <p class="grey_text"><strong>Duration</strong></p>
                  <p class="pink_text">{{prescriptiondata.medicine_duration}}</p>
                </div>
                <div class="col-sm-2" align="center">
                  <p class="grey_text"><strong>Frequency</strong></p>
                  <p class="pink_text"></p>
                </div>
              </div>
              <div class="clearfix">&nbsp;</div>             
              <!-- <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <th>Medicine Name</th>
                    <th>Medicine Qty</th>
                    <th>Duration</th>
                  </tr>
                  <tr>
                    <td>{{prescriptiondata.medicine_name}}</td>
                    <td>{{prescriptiondata.medicine_qty}}</td>
                    <td>{{prescriptiondata.medicine_duration}}</td>
                  </tr>
                </table>
              </div> -->
            </div>  
            <div *ngIf="patienthistorydatas.test_details">
              <div *ngFor="let test_details of patienthistorydatas.test_details">
                <div class="col-sm-12">
                  <p class="grey_text"><strong>Tests Prescribed</strong></p>                  
                </div>
                <div class="col-sm-4">
                  <p class="pink_text">{{test_details.test_name}}</p>
                </div>
                <div class="col-sm-6">
                  <p class="pink_text">{{test_details.test_type_name}}</p>
                </div>
                <!-- <p><strong>Test Name</strong></p>
                <p>{{test_details.test_name}}</p>
                <p><strong>Test Type</strong></p>
                <p>{{test_details.test_type_name}}</p> -->
              </div>
            </div>
            <div *ngIf="patienthistorydatas.prescription_images">
            <div *ngFor="let prescription_images of patienthistorydatas.prescription_images">
            <div *ngIf="prescription_images.precription_report_image">
            <img src="{{prescription_images.precription_report_image}}" 
            alt="" title="">
            </div>
            </div>
            </div>
            </mat-tab>  
            </div>
            <div *ngIf="patienthistorydatas.report_images">
            <mat-tab label="Report Images">
            {{patienthistorydatas.report_images.test_names}}
            <div *ngFor="let report_images of patienthistorydatas.report_images">             
                <p><strong>Test Name</strong>: {{report_images.test_names}}</p>              
                <div *ngFor="let report_images_data of report_images.report_images_data">
                  <p><strong>Image Name</strong>: {{report_images_data.image_title}}</p>             
                  <div *ngIf="report_images_data.precription_report_image">
                  <img src="{{report_images_data.precription_report_image_path}}" 
                  alt="" title="" class="img-responsive">
                  </div>
                </div>              
            </div>
            </mat-tab>
            </div>
            </mat-tab-group>
            </div>
            </div>
            </div>
            <div *ngIf="showpatienthistoryone">
            <div id="main-form-content"> 
            <div class="fullwidth-wrapper background-light-green p20"> 
              <div class="col-sm-6">
                <p class="font-18 orange_text"><strong>Dr. Danish Shaikh (Static Data)</strong></p>
                <p class="font-12 grey_text">Atto Clinic (Static Data)</p>
              </div>
              <div class="col-sm-6" align="right">
                <p class="font-18 green_text">Arul Selvam (Static Data)</p>
                <p class="font-12 grey_text">Male ~ Age 25 years (Static Data)</p>
              </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <mat-tab-group disableRipple >
            <div *ngIf="token_details">
            <div>
            Token_id
            <h6>{{token_details[0].token_id}}</h6> 
            </div>
            <mat-tab label="Diagnosis">
            <div *ngFor="let diagnosis of diagnosis_details">
              <div class="diagnosis-single">
                <!-- <p>{{diagnosis.token_date}}, {{diagnosis.token_time}}</p> -->
                <div class="col-sm-12">
                  <p class="grey_text"><strong>Diagnosis</strong></p>
                  <p class="pink_text">{{diagnosis.complaint_text}}</p>
                  <p class="grey_text"><strong>Diagnosis Notes</strong></p>
                  <p class="pink_text">{{diagnosis.d_p_remarks}}</p>
                </div>
                <!-- <p><strong>Diagnosis Remark</strong></p>           
                <p class="pink_text">{{diagnosis.d_p_remarks}}</p>
                <p><strong>Diagnosis Note</strong></p>  
                <p class="pink_text">{{diagnosis.complaint_text}}</p> -->
              </div> 
            </div>
            </mat-tab>
            </div>
            <div *ngIf="prescription_details">
            <mat-tab label="Prescription">
            <div *ngFor="let prescription of prescription_details">
              <div class="fullwidth-wrapper">
                <div class="col-sm-4" align="center">
                  <img src="assets/prescription_green_thumb.png" alt="" title=""/>
                </div>
                <div class="col-sm-4" align="center">
                  <p class="grey_text m0">Treatment Advised</p>
                  <p class="grey_text m0">Mon, 22 April 2019 (static data)</p>
                </div>
                <div class="col-sm-4" align="center">
                  <img src="assets/prescription_green_medicine-icon_thumb.png" alt="" title=""/>
                </div>
              </div>
              <div class="clearfix mb20">&nbsp;</div>
              <div class="fullwidth-wrapper">
                <div class="col-sm-4">
                  <p class="grey_text"><strong>Medicine</strong></p>
                  <p class="pink_text">{{prescription.medicine_name}}</p>
                </div>
                <div class="col-sm-2" align="center">
                  <p class="grey_text"><strong>Qty</strong></p>
                  <p class="pink_text"></p>
                </div>
                <div class="col-sm-2" align="center">
                  <p class="grey_text"><strong>Duration</strong></p>
                  <p class="pink_text">{{prescription.medicine_duration}}</p>
                </div>
                <div class="col-sm-2" align="center">
                  <p class="grey_text"><strong>Frequency</strong></p>
                  <p class="pink_text">{{prescription.medicine_frequency}}</p>
                </div>
                <div class="col-sm-12">
                  <p  class="grey_text"><strong>Remarks</strong></p>
                  <p class="pink_text">{{prescription.d_p_remarks}}</p>  
                </div>
              </div>  
              <div class="clearfix">&nbsp;</div>            
              <!-- <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <th>Medicine Name</th>
                    <th>Duration</th>
                    <th>Frequency</th>
                    <th>Remarks</th>
                  </tr>
                  <tr>                    
                    <td>{{prescription.medicine_name}}</td>
                    <td>{{prescription.medicine_duration}}</td>
                    <td>{{prescription.medicine_frequency}}</td>
                    <td>{{prescription.d_p_remarks}}</td>
                  </tr>
                </table>
              </div> -->  
            </div>
            <div *ngFor="let test of test_details">
              <div class="col-sm-12">
                <p  class="grey_text"><strong>Tests Prescribed</strong></p>                
              </div> 
              <div class="col-sm-6">
                <p class="pink_text">{{test.test_name}}</p>
              </div> 
              <div class="col-sm-6">
                <p class="pink_text">{{test.test_type_name}}</p>                
              </div>
              <div class="clearfix mb20">&nbsp;</div>            
              <!-- <div class="table-responsive" >
                <table class="table table-bordered">
                  <tr>
                    <th>Test Name</th>
                    <th>Test Type</th>
                    <th>Medicine Name</th>
                    <th>Quantity</th>
                  </tr>
                  <tr>
                    <td>{{test.test_name}}</td>
                    <td>{{test.test_type_name}}</td>
                    <td>{{test.medicine_name}}</td>
                    <td>{{test.medicine_qty}}</td>
                  </tr>
                </table>
              </div> -->
            </div>
            <div *ngFor="let prescription_imagesdata of prescription_images">
              <div *ngIf="prescription_imagesdata.precription_report_image">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tr>
                      <th>Prescription Image</th>
                      <th>Action</th>                      
                    </tr>
                    <tr>
                      <td>
                        <img src="{{prescription_imagesdata.precription_report_image_path}}">
                      </td>
                      <td class="remove blank-td">
                        <!-- <button (click)="deleteImageprescription(prescription_imagesdata.uploaded_precription_report_id,
                        prescription_imagesdata.precription_report_image)" class="btn btn-sm btn-success"> Delete Image</button> -->
                        <a title="Remove" (click)="deleteImageprescription(prescription_imagesdata.uploaded_precription_report_id,
                        prescription_imagesdata.precription_report_image)"> 
                          <span class="label-icn material-icon">	 
                            <i class="material-icons">delete</i>	  
                          </span>
                        </a> 
                      </td>                      
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="clearfix mb20">&nbsp;</div>
            <button (click)="showprescriptionform(token_details[0].token_id)" class="btn btn-sm btn-success">
              Upload Prescription
            </button>
            </mat-tab>
            </div>
            <div *ngIf="report_images">
            <mat-tab label="Report">
            <div *ngFor="let report_img of report_images">

                <!--test_master_id->{{report_img.test_master_id}}-->
                <p><strong>Test Name</strong>: {{report_img.test_names}}</p>                
                <div *ngFor="let report_images_data of report_img.report_images_data">
                {{report_images_data.image_title}}
                <div *ngIf="report_images_data.precription_report_image">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tr>
                        <td>
                          <img src="{{report_images_data.precription_report_image_path}}" class="img-responsive">
                        </td>
                        <td>
                          <button (click)="deleteImageprescription(report_images_data.uploaded_precription_report_id,
                          report_images_data.precription_report_image)" class="btn btn-sm btn-success"> Delete Image </button>
                        </td>                        
                      </tr>
                    </table>
                  </div>
                </div>
                </div>
            </div>
            <button (click)="showreportform(token_details[0].token_id)">
                Upload Report
            </button>
            </mat-tab>
            </div>
            </mat-tab-group>
            </div>
            </div>
        </div>
        <div>
        <div *ngIf="patienthistoryaddmore">          
          <form [formGroup]="documentGrp" (ngSubmit)="uploadprescription(documentGrp.value,token_details[0].token_id)" 
          #uploadDocumentsForm="ngForm" ngNativeValidate>
            <div class="organization-form">
          <div class="qtraq-subtitle-wrapper">
            <h3>Upload Prescription</h3>                  
            <button type="button" class="btn btn-sm btn-success" title="Add More"  
            (click)="addPrescription()">Add More</button>
          </div>
          <div class="box-body" formArrayName="items">              
          <div class="row">
          <div class="col-sm-12">
          <div *ngFor="let item of items.controls; let i = index;">
          <div [formGroupName]="i">        
          <table id="tbl-upload" class="table table-bordered">
          <tbody>
            <tr *ngIf="i==0" class="active">
              <th> Image Title </th>
              <th> Upload Image </th>
              <th> Remove</th>
              <!-- <th> <button type="button" class="btn btn-sm btn-success" title="Add More"  
                (click)="addPrescription()">Add More</button>
              </th> -->
            </tr>
            <tr>
              <td>
                <div class="form-group required">
                  <input type="text" name="preascription_title"
                  formControlName="preascription_title" class="form-control w150">
                </div>
              </td>
              <td>
                <div class="form-group  required upload-btn-wrapper"> 
                  <button class="btn-upload">Upload Image</button>
                  <input type="file" name="image_name"  
                  (change)="fileSelectionEvent($event,i)"
                  formControlName="image_name" >
                  <div class="help-block"></div>
                </div>
              </td>
              <td class="remove blank-td">
                <!-- <a title="Remove" (click)="removeItem(i)" 
                class="fa fa-minus-square fa-lg text-red"></a> -->
                <a title="Remove" (click)="removeItem(i)"> 
                  <span class="label-icn material-icon">	 
                    <i class="material-icons">delete</i>	  
                  </span>
                </a> 
              </td>
            </tr>
          </tbody>
          </table>
          </div>
          </div>
          </div>
          </div>
          <input type="submit" name="submit" value="Submit" class="btn btn-primary"/> 
          </div>
            </div>
          </form>
        </div>


        <div *ngIf="patientreportaddmore">
        <form [formGroup]="uploadReport" (ngSubmit)="uploadreport(uploadReport.value,token_details[0].token_id,testname)" 
        #uploadDocumentsForm="ngForm" ngNativeValidate>
        <div>
        <label> Select Test Type</label>
        <select
        name="TokenTestListdata"
        class="form-control">
        (change)="ontestchange($event.target.value)"
        <option
        [value]="getTokenTestList.test_master_id"
        *ngFor="let getTokenTestList of tokentestlist">
        {{ getTokenTestList.test_name }}</option>
        </select>
        </div>
        <div>
        <label> Testnames </label>
        <input type="text" name="testname" #testname/>
        </div>
        <div class="organization-form">
          <div class="box box-solid box-primary">
            <div class="box-body" formArrayName="reports">
            <h2 class="page-header  text-blue ">
              <i class="fa fa-files-o"></i>Upload Reports
              </h2>
          <div class="row">
          <div class="col-sm-12">
          <div *ngFor="let report of reports.controls; let k = index;">
          <div [formGroupName]="k">
          <table id="tbl-upload" class="table table-bordered">
          <tbody>
        <tr *ngIf="k==0" class="active">
        <th> Image Title </th>
        <th> Browes Image </th>
        <th> <button type="button" class="btn btn-sm btn-success" title="Add More"  
          (click)="addreports()">Add More</button>
        </th>
        </tr>
        <tr>
        <td>
        <div class="form-group required">
        <input type="text" name="reportimg_title"
        formControlName="reportimg_title" >
        </div>
        </td>
        <td>
        <div>
          <input type="file" name="report_imgdata" (change)="fileselectreport($event,k)"
        formControlName="report_imgdata" >
        <div class="help-block"></div>
        </div>
        </td>
        <td>
        <div *ngIf="k!=0">  
        <a title="Remove" (click)="removereports(k)" 
        class="fa fa-minus-square fa-lg text-red"></a>
        </div>
        </td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>
        <input type="submit" name="submit" value="submit"/>
        </div>
          </div>
        </div>
        </form>
        </div>
        </div>
      </div> 
    </div>
<div *ngIf="unsharehistorydata">
<!--
<h1> sssdsdsdsd </h1>
-->
<div *ngFor="
let sharehistorylists of (sharehistorylist
  | paginate
    : {
        itemsPerPage: this.size,
        currentPage: this.page,
        totalItems: this.totalRecords
      })
">
<div> {{sharehistorylists.shared_from_date}} </div>

<div *ngIf="sharehistorylists.show_unshare"> 
<input type="button" name="unshare" value="unshare" 
(click)="unshareclick(sharehistorylists.share_token_history_id)">  
</div>
<div>
<p>History of</p><p>{{sharehistorylists.history_of}} </p>

<p>@</p><p>{{sharehistorylists.provider_name}} </p>

<p>Dated</p><p>{{sharehistorylists.shared_from_date}} to {{sharehistorylists.shared_to_date}} </p>

<p>Shared with</p><p>{{sharehistorylists.provider_specialities}}</p>

<p>Items shared </p><p>{{sharehistorylists.shared_items}}</p>



</div>
</div>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div><!-- page-content-->
</div><!-- page-content-->