<div class="page-wrapper chiller-theme">
  <div class="page-content">
    <div class="main-content-wrapper">
    <!-- Breadcrumb-->
    <div class="page-breadcrumb">
      <div class="container">
        <a (click)="backtohome()">Home (Override Queue Timings)</a>
        <a *ngIf="(overrideque==true)&&(activerole!='l2');else othertext" (click)="movedoclist()">


          <span *ngIf="bread"   class="arrow">></span>
          <a *ngIf="bread" >Select Doctor</a>

        </a>
        <ng-template #othertext>
<span *ngIf="activerole!='l2'">


            <span *ngIf="bread"  class="arrow">></span>
            <span *ngIf="bread">Select Doctor</span>


          <ng-template #othertext>


            <span *ngIf="bread" class="arrow">></span>
            <span *ngIf="bread">Select Doctor</span>



          </ng-template>
          </span>
        </ng-template>


          <a *ngIf="overrideque">
            <span class="arrow">></span>
            <span>Override Queue Timings</span>
          </a>
        </div>
      </div>
      <!-- Breadcrumb-->
      <div class="container">
        <div class="col-sm-12 mb20" *ngIf="overrideque==false">


          <h1 class="page-title-primary mb0 pl0 pr0">Override Queue Timings</h1>



  <!--
queue select
  <select (change)="onqueselect($event.target.value)"
                    class="form-control border-pink tdb_select_queue" style="width:240px;height:auto;">
                    <option value="" selected>Select Queue</option>
                    <option *ngFor="let quelistdatares of quelistdata" [value]="quelistdatares.queue_id"
                      [ngValue]="quelistdatares" [selected]="quelistdatares.queue_id === opt1_requested_queue">
                      {{quelistdatares.queue_name}}
                    </option>
                  </select>

                -->





        </div>
        <section class="content">
          <div *ngIf="overrideque">







            <form [formGroup]="overridequeue" (ngSubmit)="onoverridesubmit(overridequeue.value)"
              #uploadDocumentsForm="ngForm" ngNativeValidate class="override-queue-select-options">
              <div>
                <div formArrayName="items">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="token_details_top" style="margin-top:-13px;">
                        <div class="td_doctor_name">
                          <!--
                        <span class="label-icn material-icon">
                          <i class="material-icons">person</i>
                        </span>
                        -->
                          <img src="{{profileimage_path}}" class="img-responsive profile_thumbnail_img"
                            style="width:50px;min-width:50px;height:50px;min-height:50px;margin-right:10px;margin-top:-30px;" />
                          <div _ngcontent-c15="">
                            <p class="drname_orange">Dr. {{first_name}} {{middle_name}} {{last_name}} </p>
                            <!-- <p class="clinicname_green">{{orgname}}</p> -->
                            <p class="clinicname_green">Override Queue Timings</p>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <label class="text_green"> <strong>Select Date</strong> </label>
                      <span class="tdb_ntw_date pink-text pl0">
                        <input class="form-control border-pink datepicker" placeholder="Select a date"
                        readonly name="dob" ngx-mydatepicker (dateChanged)="onAssignDateChanged($event)" [options]="myOptions" #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()"  style="height:auto;" value="{{queue_selected_date}}" name="queue_selected_date"/>
                        <img src="assets/calendar-icon-pink.png" alt="Open Calendar" class="calendar_icon cursor-pointer" (click)="dp.toggleCalendar()"/>
                      </span>
                    </div>
                    <div class="col-sm-3">
                        <label class="text_green"> <strong>Select Queue </strong> </label>
                      <select (change)="newoverridemasterqueue($event.target.value)" class="form-control border-pink tdb_select_queue m0" style="width:240px;height:auto;">
                        <option value="" selected>Select Queue</option>
                        <option *ngFor="let quelistdatares of quelistdata" [value]="quelistdatares.queue_id"
                          [ngValue]="quelistdatares" [selected]="quelistdatares.queue_id === selected_queue_id">
                          {{quelistdatares.queue_name}}
                        </option>
                      </select>
                    </div>
                    <div class="col-sm-6" align="center">
                        <img src="assets/doc-departure.png" class="img-responsive" style="width:100px;margin:10px 0"/>
                    </div>
                    <!-- <div class="col-sm-3" align="center">
                        <img src="assets/doc-arrival.png" class="img-responsive" style="width:100px;margin:10px 0"/>
                    </div> -->
                    <div *ngFor="let item of items.controls; let i = index;">
                      <div [formGroupName]="i" *ngIf="i == 0">
                        <div *ngIf="item.controls.queue_name.value">
                          <div class="overrride_wrapper">
                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-3" align="center">
                              <div class="queueoverride_img">
                                <div *ngIf="item.controls.queue_pic_url.value">
                                  <img src="{{item.controls.queue_pic_url.value}}" alt="queue pic url" title=""
                                    class="img-responsive" onerror="this.src='assets/user-default.jpg'">
                                </div>
                                <input type="hidden" class="form-control" name="queue_transaction_id"
                                  formControlName="queue_transaction_id" placeholder="Queue Transaction Id">
                              </div>
                              <p class="green-text"><strong>{{item.controls.queue_name.value}}</strong></p>
                            </div>
                            <div class="col-sm-3" align="center">
                              <p class="green-text"><strong>Will START at</strong></p>
                              <input type="time" id="start_time" name="start_time"
                              (input)="onSearchChange($event.target.value,i,item.controls.start_time.value,item.controls.end_time.value)"
                              formControlName="start_time" placeholder="queue start time" class="form-control override-time" [readonly]="timeReadonly">
                            </div>
                            <div class="col-sm-3" align="center">
                              <p class="green-text"><strong>Will end at</strong></p>
                              <input type="time" name="end_time"
                              (input)="onSearchChangeenddate($event.target.value,i,item.controls.start_time.value,item.controls.end_time.value)"
                              id="end_time" #end_time
                              formControlName="end_time"
                                placeholder="queue end time" class="form-control override-time" [readonly]="true">
                            </div>
                            <div class="col-sm-3" align="center">
                              <br>
                              <p class="green-text"><strong>Max Tokens</strong></p>
                              <input type="number" name="max_token" id="max_token"                               formControlName="max_token" placeholder="Total Token" class="form-control" style="width:120px;" #max_token>
                            </div>
                            <div class="col-sm-3" align="center">
                              <br>
                              <p class="green-text"><strong>Buffer Tokens</strong></p>
                              <input type="number" name="buffer_tokens" id="buffer_tokens"
                              formControlName="buffer_tokens" placeholder="Buffer Token" style="width:120px;" class="form-control" #buffer_tokens>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="estimated_time_msg">
                <span class="label-icn material-icon"><i class="material-icons">
                    report_problem
                  </i>
                </span>
                <span style="margin-bottom: 10px">
                  Estimated time for all tokens will be set based on the doctor's arrival / queue start time.
                  if start time is not set than the default start time of the queue will be used.
                </span>
              </div>
                <div class="clearfix">&nbsp;</div>
                <div *ngIf="savebutton==true" align="center">
                  <input type="submit" class="btn btn-success" name="Submit" value="Save" style="margin-right:5px;font-size:15px;
                  font-weight:bold;">
                  <input type="button" class="btn btn-success" (click)="backtooverride()" name="back" value="Back" style="font-size:15px;font-weight:bold;"/>
                </div>

            </form>

          </div>
          <div *ngIf="errorMessage">
            {{errorMessage}}
          </div>
          <div *ngIf="providerlistshow">
            <div class="col-md-12">
              <div *ngIf="providerlistdata">
                <div *ngFor="
                  let quesetupdatas of (providerlistdata
                    | paginate
                      : {
                          itemsPerPage: this.size,
                          currentPage: this.page,
                          totalItems: this.totalRecords
                        })
                ">
                  <div class="col-sm-3 mt10 mb10">
                    <div (click)="
                    overridequeuedata(
                      quesetupdatas.user_master_id,
                      quesetupdatas.first_name,
                      quesetupdatas.middle_name,
                      quesetupdatas.last_name,
                      quesetupdatas.profileimage_path
                       )" class="fp_queue_content">
                      <div class="fp_queue_wrapper">
                        <div class="fp_queue_img">
                          <img src="{{quesetupdatas.profileimage_path}}" class="img-responsive" onerror="this.src='assets/doctor-placeholder.jpg'"/>
                        </div>
                        <div class="fp_queue_info">
                          <p class="fp_queue_name green-text">
                            Dr. {{ quesetupdatas.first_name }} {{ quesetupdatas.middle_name }}
                            {{ quesetupdatas.last_name }}
                          </p>

                          <!--provider_specialities-->
                          <p>{{ quesetupdatas.provider_specialities }}</p>
                        </div>
                        <!-- <div class="fp_queue_check_queue">
                          <span class="label-icn material-icon">
                            <i class="material-icons">people</i>
                          </span>
                          Check Queue
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="suberror != null">
                  {{ suberror }}
                </div>
              </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="mt25">
              <pagination-controls (pageChange)="getproviderlist($event)"></pagination-controls>
            </div>
          </div>
        </section>
      </div>


    </div>
  </div>
</div>