.prescription-action-buttons-ul{
    list-style: none;
}
.prescription-action-buttons-ul li{
    display: inline-block;
}
.prescription-action-buttons-ul li:not(:last-child){
    margin-right: 10px;
}
.prescription-action-buttons-ul li i{
    padding: 2px;
    border: 3px solid;
    border-radius: 50%;
    background: #186c2c;
    color: #fff;
    border-color: #e9237f;
}
.page-heading{
    font-size: 24px;
    color: #186c2c;
    margin-top: 5px !important;
}
.prescription-wrapper{
    min-height:200px;
    float: left;
    width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
}
.prescription-date-range-wrapper{
    float: left;
    width: 100%;
    height: 43px;
    margin-bottom: 25px;
    background: #eeeeee;
}
.prescription-date-range-wrapper .daterange-ul-wrapper{
    width: 91.55%;
    overflow:hidden;
    float:left;
    // height: 45px;
    white-space:nowrap;
}
.prescription-date-range-wrapper ul{
    width: 97%;
    list-style:none;
    padding:0px 0px 5px 0px !important;
    float: left;
    margin-left: 25px;
    white-space:nowrap;
    overflow:hidden;
    overflow-x:scroll;
}
.prescription-date-range-wrapper ul li{
    list-style:none;
    display: inline-block;
}
.prescription-date-range-wrapper ul li .btn{
    // padding: 10px 12px;
    padding: 10px 7px;
    font-size: 12px;
}
.prescription-date-range-wrapper ul li:not(:first-child){
    margin-left: 2px;
}
.prescription-date-range-left-arrow,.prescription-date-range-right-arrow{
    float:left;
}
.diagnosis-grid{
    border:1px solid #186c2c;
    float:left;
    width:100%;
    padding:10px;
    min-height: 300px;
}
.date-heading{
    top: 5px;
    right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #e9237f;
    text-align: right;
    margin-bottom: -40px;
}
.prescription-addmore-table{
    border: 1px solid #048a09;
    margin-bottom: 10px !important;
}
.prescription-addmore-table thead th{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.prescription-addmore-table thead th,.prescription-addmore-table td{
    border: 2px solid #048a09;
    padding:10px;
    vertical-align: middle;
}
.icon-with-text{
    padding-left: 27px;
    color:red;
}
.icon-with-text i{
    margin-top: -4px;
    position: absolute;
    margin-left: -30px;
}
.mt0{
    margin-top: 0px !important;
}
.addmore-cutom-btn{
    position: absolute;
    top: -6px;
    right: 15px;
}
.color-red{
    color:red;
}
.test-report-wrapper{
    padding:0px 0px;
}
.test-report-wrapper h4 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
 }

.test-report-wrapper h4 span {
    background: #fff;
    padding: 0 10px;
    float: left;
    margin-left: 40px;
}

.treatment-advise-wrapper{
    padding-top:0px;
    margin-bottom:10px;
}
.report-test-img-grid .report-img-grid{
    width:100px;
    height:100px;
    text-align: center;
    border: 2px solid #1b592a;
    margin-bottom: 20px;
}
.report-test-img-grid .report-img-grid img{
    width:100%;
    height:100%;
}
.report-test-img-grid .img-title{
    width:100px;
    text-align: center;
}
.border-right-green{
    border-right: 2px solid #1b592a;
}
.b0{
    border:0px !important;
}
.test-advise-wrapper{
    margin-bottom:30px;
}


.history-input-container,.complaints-input-container{
    border: 1px solid #048a09;
    padding: 5px;
    color: #fff;
    min-height:30px;
    float:left;
    width:100%;
    margin-bottom:20px;
    height: 75px;
    overflow: scroll;
}
.history-input-container .history-input-tags,.complaints-input-container .complaints-input-tags{
    border-radius: 10px;
    margin: 5px;
    padding: 2px;
    background: #e9237f;
    color: #ffffff;
    float:left;
}
.history-input-container .history-input-tags a,.complaints-input-container .complaints-input-tags a{
    color:#fff;
    padding: 5px 7px 5px 5px;
}
.history-input-container .history-input-tags .inline-icon,.complaints-input-container .complaints-input-tags .inline-icon{
    color: #fff !important;
}
.history-input-container .history-input-tags .icon-with-text .material-icons,.complaints-input-container .complaints-input-tags .icon-with-text .material-icons{
    font-size: 16px;
    margin-top: 0px;
    margin-left: -25px;
}

.fp_queue_img img,.fp_queue_img{
    width: 60px !important;
    height: 60px !important;
    min-width: 60px;
    min-height: 60px;
}
.inline-icon{
    vertical-align: bottom;
    font-size: 18px !important;
}

.stick-textarea200{
    min-width: 100%;
    min-height: 200px;
    max-width: 100%;
    max-height: 200px;
}
.input-custom-icon{
    font-size: 16px !important;
    position: absolute;
    top: 18px;
    right: 16px;
    font-weight: 600;
    color: #ed4c97;
    cursor: pointer;
}
app-select-suggestion-dialog{
    width:300px !important;
}
.input-custom-icon-complaints,.input-custom-icon-history{
    top: 40px;
    right: 26px;
    background: #cdcdcd;
    padding: 2px 5px;
}
.mat-form-field{
    width:100% !important
}
.mat-form-field-autofill-control{
    border: 1.2px solid #1b592a !important;
    padding: 10px !important;
}
::ng-deep .mat-input-infix.mat-form-field-infix{
    padding:0px !important;
}
.readonly-gray{
    background:#eeeeee;
}

input[type="checkbox"][readonly] {
    pointer-events: none;
}
.bg-thead-green{
    background:#b9efbb !important;
}
input{
    color: #ed4794 !important;
}
.font-bold{
    font-weight: 600;
}
.date-range-active{
    background: #E9237F !important;
    border: 1px solid #E9237F !important;
    color: #fff !important;
}
.border-gray{
    border-color: #cdcdcd !important;
}
.bg-white{
    background-color: #fff !important;
}

.remove-icon{
    position: absolute;
    top: -11px;
    right: 20px;
    background: #e9237f;
    border-radius: 25px;
    color: #fff;
    font-size: 23px;
    padding: 2px;
}
// .galleryDialogWrapper {
//     mat-dialog-container {
//         border:5px solid red;
//     }
// }
// ::ng-deep .galleryDialogWrapper {
//     mat-dialog-container {
//         border:5px solid red;
//     }
//   }
.prescription-upload-btn{
    float: right;
    margin-top: -40px;
}
.prescription-upload-btn .material-icons{
    display: inline-block;
    vertical-align: middle;
}
.reports-upload-btn .material-icons{
    display: inline-block;
    vertical-align: middle;
}
.reports-upload-btn{
    cursor: pointer;
    border: 3px solid #e92480;
    border-radius: 20px;
    padding: 3px;
    background: #186c2c;
    color: #fff;
}