<div class="page-wrapper chiller-theme ">
  <div class="ng-loading non-printable" align="center" *ngIf="loading" id="">
    <img src="assets/Logo-circle-ani-gif.gif" class="logo" alt="Qtraq" style="width:60px;">
  </div>
  <div class="page-breadcrumb">
    <div class="container" >
      <a routerLink="/">Home </a>
      <span class="arrow">></span>
      <span>Diagnosis and Prescription</span>
    </div>
  </div>
  <div class="page-content" style="margin-top:50px;">
    <div class="container" style="width: 70%;margin: 0px auto;">
      <div  style="border-bottom: 1px solid #048a09;">
        <div class="row">
          <div class="col-sm-6 col-lg-6 col-md-6">
            <h1 class="page-heading">Diagnosis and Prescription</h1>
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 text-right">
            <ul class="prescription-action-buttons-ul">
              <li><i class="material-icons" (click)="getSuggestions('sync')" title="Sync Predictive text" title="Sync Predictive text">swap_vert</i></li>
              <li><i class="material-icons" (click)="shareHistory()" title="Share Prescription">share</i></li>
              <li><i class="material-icons" (click)="printPrescription()" title=" Print Prescription">print</i></li>
              <li *ngIf="isEditable"><i class="material-icons" (click)="saveDPR()" title="Save Changes">save</i></li>
              <li><i class="material-icons" (click)="back()" title="Back">arrow_back</i></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="float:left;width:100%; background:#e7f14d75;height: 80px;" >
        <div class="col-sm-1 col-md-1 col-lg-1">
          <div class="fp_queue_img" style="margin-top: 10px;margin-left: 15px;">
            <img src="{{consumerImage}}" class="img-responsive" onerror="this.src='assets/user-default.jpg'">
          </div>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10 p20" style="margin-left: 30px;padding-top: 15px !important;">
          <form action="" [formGroup]="searchForm">
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3 p10">
                <select name="provider" id="" class="form-control border-green" formControlName="provider" (change)="providerChange($event.target.value)" >
                  <option *ngFor="let providers of providerList" [value]="providers.provider_id" [selected] ="providers.provider_id == selectedProvider" >
                    {{providers.provider_name}}
                  </option>
                </select>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3 p10">
                <input type="text" class="form-control bg-white" formControlName="patient" (click)="isSearchDisable === true ? false:true && patientSearch()" readonly>
                <i class="fa fa-angle-down input-custom-icon" style="font-size:24px" (click)="isSearchDisable === true ? false:true && patientSearch()"></i>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3 p10" *ngIf="dateHide">
                <input class="form-control border-green bg-white" placeholder="Select a Date" name="fromdata" formControlName="fromdate" ngx-mydatepicker [options]="fromDefaultDate" [(ngModel)]="fromDefaultDateSet" #fromdata="ngx-mydatepicker" (click)="fromdata.toggleCalendar()" name="fromdata" (dateChanged)="searchDateChanged('from',$event)" readonly />
                <i class="fa fa-angle-down input-custom-icon" style="font-size:24px" (click)="fromdata.toggleCalendar()"></i>
              </div>
              <div class="col-sm-3 col-md-3 col-lg-3 p10" *ngIf="dateHide">
                <input class="form-control border-green bg-white" placeholder="Select a Date" name="todate" formControlName="todate" ngx-mydatepicker [options]="toDefaultDate" [(ngModel)]="toDefaultDateSet"  name="todate" #todate="ngx-mydatepicker" (click)="todate.toggleCalendar()" (dateChanged)="searchDateChanged('to',$event)" readonly/>
                <i class="fa fa-angle-down input-custom-icon" style="font-size:24px" (click)="todate.toggleCalendar()" ></i>
              </div>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="prescription-wrapper" *ngIf="historyDateRange?.length>0 ">
        <div class="prescription-date-range-wrapper" >
          <div class="prescription-date-range-left-arrow" style="width:30px" >
            <button class="btn btn-default" (click)="scrollTabs('left')">
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
          </div>
          <div class="daterange-ul-wrapper">
            <ul #daterangetab style="text-align: center;">
              <li *ngFor="let dateRange of historyDateRange" (click)="loadPrescriptionDetails(dateRange['token_id'])"><button class="btn btn-default" [class.date-range-active]="dateRange.default">{{dateRange.booked_on.substring(4)}}</button></li>
            </ul>
          </div>
          <div class="prescription-date-range-right-arrow">
            <button class="btn btn-default"  (click)="scrollTabs('right')">
              <i class="material-icons">keyboard_arrow_right</i>
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12 " style="margin-bottom:20px;" *ngIf="selectedPrescriptionDetails" [class.mt20]="currentTokenId != ''">
          <!-- prescriptiongrid start -->
          <div class="prescription-tabs-wrapper ">
            <div class="date-heading">
              <p>{{selectedPrescriptionDetails.booking_for_name}},
              {{selectedPrescriptionDetails.user_age}} yrs,
              {{selectedPrescriptionDetails.user_gender}} -
              {{selectedPrescriptionDetails.token_date}}</p>
            </div>
            <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="matTabIndex" #tabGroup (selectedTabChange)="tabChanged($event)">
              <mat-tab label="Diagnosis" >
              <!-- <mat-tab label="Diagnosis" > -->
                <div class="col-sm-4 col-md-4 col-lg-4 border-right-green">
                  <h4 class=" mt0 green-text  text-center" style="padding-left: 10px;">History
                  </h4>
                  <div class="diagnosis-grid b0">
                    <i class="fa fa-angle-down input-custom-icon input-custom-icon-history" style="font-size:24px" (click)="selectHistory()" *ngIf="isEditable"></i>
                    <div class="history-input-container" [class.readonly-gray]="!isEditable">
                      <span class="history-input-tags" *ngFor="let history of selectedHistory">
                        <a href="javascript:void(0)" class="">
                          <i class="material-icons inline-icon" (click)="removeHistoryTags(history)" *ngIf="isEditable">close</i>
                            {{history}}
                        </a>
                      </span>
                      <div class="clearfix"></div>
                    </div>
                    <textarea name="" id="" cols="30" rows="11" class="form-control border-green stick-textarea200" placeholder="History Notes" style="margin-top:10px;" [(ngModel)] = "historyNotes"  [readonly]="!isEditable" (change)="changeDirty()">{{historyNotes}}</textarea>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 border-right-green">
                  <h4 class=" mt0 green-text text-center" style="padding-left: 10px;">Current Complaints
                  </h4>
                  <div class="diagnosis-grid b0">
                    <i class="fa fa-angle-down input-custom-icon input-custom-icon-complaints" style="font-size:24px" (click)="selectComplaint()" *ngIf="isEditable"></i>
                    <div class="complaints-input-container" [class.readonly-gray]="!isEditable">
                      <span class="complaints-input-tags" *ngFor="let complaint of selectedComplaint">
                        <a href="javascript:void(0)" class="">
                          <i class="material-icons inline-icon" (click)="removeComplaintTags(complaint)" *ngIf="isEditable">close</i> {{complaint}}
                        </a>
                      </span>
                    </div>
                    <textarea name="" id="" cols="30" rows="11" class="form-control border-green stick-textarea200" placeholder="Current Complaint Notes" style="margin-top:10px;" [(ngModel)] = "complaintNotes" [readonly]="!isEditable" (change)="changeDirty()">{{complaintNotes}}</textarea>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <h4 class="text-center mt0 green-text">Diagnosis</h4>
                  <div class="diagnosis-grid b0">
                    <textarea name="" id="" cols="30" rows="13" class="form-control border-green stick-textarea200" placeholder="Diagnosis" style=" min-height: 295px;max-height:295px;" [(ngModel)] = "diagnosisNotes"[readonly]="!isEditable" (change)="changeDirty()">{{diagnosisNotes}}</textarea>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Prescription">
              <!-- <mat-tab label="Prescription" > -->
                <div class="treatment-advise-wrapper col-sm-12">
                  <h4 class="text-center mt0 green-text">Treatment Advised</h4>
                  <table class="table prescription-addmore-table">
                    <thead class="bg-thead-green">
                      <th>Medicine</th>
                      <th>Dosage / Duration</th>
                      <th  width="120px">Action</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let fields of medicinfieldsArray; let i = index">
                        <td>
                          <label for="" class="mb0 green-text">Medicine</label>
                          <mat-form-field floatLabel="never" appearance="none">
                            <input type="text"   matInput [matAutocomplete]="medicinAuto" [(ngModel)]="fields.medicin" name="{{fields.medicin}}" class="form-control font-bold border-gray" [formControl]="fields.medicinControl" style="margin-top: -10px;" placeholder="" [readonly]="!isEditable" (change)="changeDirty()">
                            <mat-autocomplete autoActiveFirstOption #medicinAuto="matAutocomplete" (optionSelected)="changeDirty()">
                              <mat-option *ngFor="let option of fields.medicinFilteredOptions | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          <label for="" class="mb0 green-text">Medicine Note</label>
                          <mat-form-field floatLabel="never" appearance="none">
                            <input type="text"   matInput [matAutocomplete]="medicinNoteAuto" [(ngModel)]="fields.medicin_note" name="{{fields.medicin_note}}" class="form-control border-gray" [formControl]="fields.medicin_noteControl" style="margin-top: -10px;" [readonly]="!isEditable" (change)="changeDirty()">
                            <mat-autocomplete autoActiveFirstOption #medicinNoteAuto="matAutocomplete" (optionSelected)="changeDirty()">
                              <mat-option *ngFor="let option of fields.medicin_noteFilteredOptions | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </td>
                        <td>
                          <label for="" class="mb0 green-text">Dosage</label>
                          <mat-form-field floatLabel="never" appearance="none">
                            <input type="text"   matInput [matAutocomplete]="dosageAuto" [(ngModel)]="fields.dosage" name="{{fields.dosage}}" class="form-control border-gray" [formControl]="fields.dosageControl" style="margin-top: -10px;" [readonly]="!isEditable" (change)="changeDirty()">
                            <mat-autocomplete autoActiveFirstOption #dosageAuto="matAutocomplete" (optionSelected)="changeDirty()">
                              <mat-option *ngFor="let option of fields.dosageFilteredOptions | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                          <label for="" class="mb0 green-text">Duration</label>
                          <mat-form-field floatLabel="never" appearance="none">
                            <input type="text"   matInput [matAutocomplete]="durationAuto" [(ngModel)]="fields.duration" name="{{fields.duration}}" class="form-control border-gray" [formControl]="fields.durationControl" style="margin-top: -10px;" [readonly]="!isEditable" (change)="changeDirty()">
                            <mat-autocomplete autoActiveFirstOption #durationAuto="matAutocomplete" (optionSelected)="changeDirty()">
                              <mat-option *ngFor="let option of fields.durationFilteredOptions | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </td>
                        <td class="text-center">
                          <div class="com-checkbox green-text font-bold">
                            <input [(ngModel)]="fields.dispanse" name="{{fields.dispanse}}" type="checkbox" [readonly]="!isEditable" (change)="changeDirty()"/> Dispense
                          </div><br>
                          <a href="javascript:void(0)" class="icon-with-text" (click)="removeMedicin(i)" *ngIf="isEditable">
                            <i class="material-icons">close</i> Remove
                          </a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="isEditable">
                      <tr>
                        <td colspan="3">
                          <a href="javascript:void(0)" class="btn pull-right" style="" (click)="addmoreMedicin()">ADD</a>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="treatment-advise-wrapper col-sm-12">
                  <h4 class="text-left mt0 green-text pull-left">Advise / Remark / Followup :</h4>
                  <h4 class="text-left mt0 green-text pull-left" style="right: 75px;position: absolute;width: 260px;font-size: 16px;">Next Follow-up:</h4>
                  <div class="col-sm-12" style="width: 230px;float: right;margin:-8px auto;">
                    <input class="form-control border-pink datepicker text-center after-btn-1-input cursor-pointer" readonly placeholder="Select a date" value="{{followupdate}}" ngx-mydatepicker (dateChanged)="onchangeFollowupdate($event)" [options]="myOptionsassign"  #dp="ngx-mydatepicker" (click)="isEditable?dp.toggleCalendar():false" style="height:auto;" [(ngModel)] = "queueDate" style="font-weight: 600;height: 34px;font-size: 16px;border:0px !important;width: 150px;
                    margin: 0px auto;color: #ed237f !important;"/>
                    <span class="input-group-btn" style="position: relative;right: -165px;top: -25px;width: 10px;cursor: pointer;" *ngIf="isEditable">
                      <i class="glyphicon glyphicon-remove" style="font-size: 16px;color: #e9237f;" (click)="dp.clearDate()"></i>
                    </span>
                    <img src="assets/calendar-icon-pink.png" (click)="isEditable?dp.toggleCalendar():false" class="calendar_icon cursor-pointer" style="right: 0px;">
                  </div>
                  <!-- <div style="margin-top: -35px;padding: 0px;width: 200px;float: right;">
                    <input type="text" class="form-control pull-right"  placeholder="Select a Date" name="followupdate" formControlName="followupdate" ngx-mydatepicker [options]="fromDefaultDate" [(ngModel)]="followupdate" #fromdata="ngx-mydatepicker" (click)="fromdata.toggleCalendar()" name="fromdata" readonly >
                    <span class="input-group-btn" style="position: absolute;right: 15px;top: 24px;" *ngIf="isEditable">
                      <button type="button" class="btn btn-sm clearbtn-date" (click)="dp.clearDate()" >
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                    </span>
                    <div class="clearfix"></div>
                  </div> -->
                  <textarea name="" id="" cols="30" rows="3" class="form-control border-green" [readonly]="!isEditable" [(ngModel)]="prescriptionRemarks" (change)="changeDirty()">{{prescriptionRemarks}}</textarea>
                </div>
                <div class="treatment-advise-wrapper col-sm-12">
                  <h4 class="text-center  green-text">Tests prescribed</h4>
                  <table class="table prescription-addmore-table">
                    <thead class="bg-thead-green">
                      <th>Test Type</th>
                      <th>Test Name</th>
                      <th width="120px" *ngIf="isEditable">Action</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let testfields of testPrescriptionfieldsArray; let i = index">
                        <td >
                          <select [(ngModel)]="testfields.test_type" name="{{testfields.test_type}}" class="form-control border-gray" *ngIf="isEditable" (change)="changeDirty()">
                            <option value="" *ngFor="let testOption of testTypesDetails;" [value]="testOption.test_master_id">{{testOption.test_name}}</option>
                          </select>
                          <input [(ngModel)]="testfields.test_type" name="{{testfields.test_type}}" class="form-control border-green" [readonly]="!isEditable" *ngIf="!isEditable" (change)="changeDirty()">
                        </td>
                        <td>
                          <mat-form-field floatLabel="never" appearance="none" style="margin-bottom: -15px;">
                            <input type="text"   matInput [matAutocomplete]="testnameAuto" [(ngModel)]="testfields.test_name" name="{{testfields.test_name}}" class="form-control border-gray"  [formControl]="testfields.testnameControl" style="margin-top: -10px;" [readonly]="!isEditable" (change)="changeDirty()">
                            <mat-autocomplete autoActiveFirstOption #testnameAuto="matAutocomplete" (optionSelected)="changeDirty()">
                              <mat-option *ngFor="let option of testfields.testFilteredOptions | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </td>
                        <td class="text-center" *ngIf="isEditable">
                          <a href="javascript:void(0)" class="icon-with-text" (click)="removeTestPrescription(i)">
                            <i class="material-icons">close</i> Remove
                          </a>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="isEditable">
                      <tr>
                        <td colspan="3">
                          <a href="javascript:void(0)" class="btn pull-right" style="" (click)="addmoreTestPrescription()">ADD</a>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="treatment-advise-wrapper col-sm-12" >
                  <h4 class="text-center  green-text">Uploaded Prescriptions</h4>
                  <!-- <button class="btn prescription-upload-btn" (click)="openFileUpload('prescription')">
                    <span class="material-icons">cloud_upload</span>
                    Upload
                  </button> -->
                  <ul class="prescription-action-buttons-ul" style="float: right;margin-top: -40px;">
                    <li><i class="material-icons" (click)="openFileUpload('prescription')" title="Upload Prescription" >cloud_upload</i></li>
                  </ul>
                  <div class="report-test-img-grid" style="margin-top: 40px;">
                    <div class="row">
                      <div class="col-sm-2 col-md-2 col-lg-2" *ngFor="let prescription_image of prescription_images;">
                        <div class="report-img-grid" (click)="openFilesDialog(prescription_images,prescription_image.uploaded_precription_report_id)">
                          <img src="{{prescription_image.precription_report_image_path}}" alt="" style="float: left;height: 96px;" *ngIf="get_url_extension(prescription_image.precription_report_image_path) != 'pdf'">
                          <img src="assets/pdf.png" alt="" style="float: left;height: 96px;padding:5px;" *ngIf="get_url_extension(prescription_image.precription_report_image_path) == 'pdf'">
                        </div>
                        <span class="material-icons remove-icon" *ngIf="prescription_image.image_uploaded_by == 'P'" (click)="deletePrescriptionReportImage('prescription',prescription_image.uploaded_precription_report_id,prescription_image.precription_report_image)">clear</span>
                        <!-- <div class="img-title" style="word-break: break-all;">{{prescription_image.image_title}}</div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Reports" >
              <!-- <mat-tab label="Reports" > -->
                <div class="col-sm-12">
                  <!-- <button class="btn reports-upload-btn pull-right" (click)="openFileUpload('report')">
                    <span class="material-icons">cloud_upload</span>
                    Upload Reports
                  </button> -->
                  <ul class="prescription-action-buttons-ul" style="float: right;">
                    <i class="material-icons reports-upload-btn" (click)="openFileUpload('report')" title="Upload Reports" >cloud_upload</i>
                  </ul>
                </div>
                <div class="col-sm-12">
                  <div class="test-report-wrapper">
                    <div *ngFor="let reports of report_images">
                      <h4 *ngIf="reports.report_images_data.length > 0"><span class="green-text">{{reports.test_type_name}}</span></h4>
                      <div class="report-test-img-grid" style="margin-top: 30px;" *ngIf="reports.report_images_data.length > 0">
                        <div class="row">
                          <div class="col-sm-2 col-md-2 col-lg-2" *ngFor="let reportfiles of reports.report_images_data">
                            <div class="report-img-grid" (click)="openFilesDialog(reports.report_images_data,reportfiles.uploaded_precription_report_id)">
                              <img src="{{reportfiles.precription_report_image_path}}" alt=""  *ngIf="get_url_extension(reportfiles.precription_report_image_path) != 'pdf'">
                              <img src="assets/pdf.png" alt="" style="float: left;height: 96px;padding:5px;" *ngIf="get_url_extension(reportfiles.precription_report_image_path) == 'pdf'">
                            </div>
                            <div class="img-title">{{reportfiles.test_names}}</div>
                            <span class="material-icons remove-icon" *ngIf="reportfiles.image_uploaded_by == 'P'" (click)="deletePrescriptionReportImage('reports',reportfiles.uploaded_precription_report_id,reportfiles.precription_report_image)">clear</span>
                          </div>
                        </div>
                      </div>
                      <br><br>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
          <!-- prescriptiongrid end -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
