<!--
<h6>
<div (click)="onNoClick('admin')">
test module
</div>
<div (click)="onNoClick('admin')">
test module
</div>
<div (click)="onNoClick('admin')">
test module
</div>
<div (click)="onNoClick('admin')">
test module
</div>
</h6>
-->
<!--
<div *ngIf="queuelist">
-->
<div *ngFor="let  family_memberslists of family_memberslist">
<div (click)="onfamilyClick(family_memberslists.family_member_id)">
   {{family_memberslists.member_first_name}}
   {{family_memberslists.member_middle_name}}
   {{family_memberslists.member_last_name}}
  
<div *ngIf="family_memberslists.member_pic_path">
<img style="height: 100px;" src="{{family_memberslists.member_pic_path}}"/>
</div>




</div>
</div>

<!--
</div>
-->







