<div class="page-wrapper chiller-theme ">
  <div class="page-content">

    <div class="page-breadcrumb">
      <div class="container">
        <a (click)="backtohome()"> Home </a> > <a (click)="backtoprovider()">List of Doctors  </a> >
        <span>{{providername}}</span>
      </div>
    </div>

    <!-- Breadcrumb-->

    <div class="main-content-wrapper">

      <div class="container">
        <div class="clearfix">&nbsp;</div>
        
        
        <button type="button" class="btn btn-primary cancel-queue-btn-top" (click)="backtoprovider()">
          Cancel
        </button>



        <section class="content">
          <div id="main-form-content">
            <mat-tab-group #tabGroup disableRipple (selectedTabChange)="onproviderclick($event)"
              [selectedIndex]="selectedindex" class="provider-mat-tab">
              <!--first tab start-->
            
              <mat-tab  *ngIf="activerole!='l2'" disabled="{{ AvalabillityDisabled }}">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">person</i>
                  </span>
                  <span class="label-text">Personal </span>
                </ng-template>
                <!-- <form class="location-form-main provider-personal-form" [formGroup]="personalgroup"
                  (ngSubmit)="PersonalformSubmit(personalgroup.value)" #uploadDocumentsForm="ngForm" ngNativeValidate> -->
                <form [formGroup]="personalgroup" (ngSubmit)="PersonalformSubmit(personalgroup.value)"
                  #uploadDocumentsForm="ngForm" ngNativeValidate>
                  <div class="qtraq-subtitle-wrapper pl0 pr0">
                    <h1>
                      <!--Doctor Details--> Dr. {{firstnamedata}} , <span style="font-size:15px;">{{qualification}}</span> </h1>
                  </div>
                  <div class="location-form">
                    <div class="col-sm-12">
                      <div class="personal-info full">
                        <div class="form-group required pro-personal-form-group full">
                          <div class="uploaded-img">
                            <img src="{{provider_logo}}" alt="" title=""
                              onerror="this.src='assets/doctor-placeholder.jpg'" />
                          </div>
                         
                        </div>
                       
                      </div>
                    </div>

                  


                    <div class="form-group generate-otp-div">
                    

                      <div class="help-block"></div>
                      {{ otperrormsg }}
                    </div>


                    <div class="col-sm-4">
                      <div class="form-group">
                        <label class="text_green" for="dob">DOB</label>
                        <input class="form-control" placeholder="Select a date" name="dob" readonly
                          formControlName="dob" ngx-mydatepicker [attr.disabled]='true' [options]="myOptions" #dp="ngx-mydatepicker"
                          (click)="dp.toggleCalendar()" />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group ">
                        <label class="text_green"> Gender </label>

                        <select class="form-control" name="gender" formControlName="gender" disabled>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                        <div class="help-block"></div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group ">
                        <label class="text_green">Mobile Number </label>
                        <input type="text" class="form-control" readonly name="mobileno" formControlName="mobileno"
                          #mobileno placeholder="Enter mobile number" required="" />
                        <div class="help-block"></div>
                      </div>
                    </div>


                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="plancountryid" class="text_green">Select Country</label>
                        <select formControlName="countryid" disabled (change)="onconChange($event.target.value)"
                          name="countryid" #countryid class="form-control">
                          <option [value]="getCountrie.country_id" *ngFor="let getCountrie of getCountries">
                            {{ getCountrie.country_name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="state_id" class="text_green">Select State</label>
                        <select formControlName="state_id" disabled (change)="onstateChange($event.target.value)"
                          name="state_id" class="form-control">
                          <option [value]="statelists.state_id" *ngFor="let statelists of statelist">
                            {{ statelists.state_name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="city_id" class="text_green">Select City</label>
                        <select formControlName="city_id" disabled name="city_id" class="form-control">
                          <option [value]="citylists.city_id" *ngFor="let citylists of citylist">
                            {{ citylists.city_name }}</option>
                        </select>
                      </div>
                    </div>


                    <div class="col-sm-4">
                      <div class="form-group required">
                        <label for="dob" class="text_green">Practising Since</label>
                        <input required class="form-control" readonly placeholder="Select a date" [attr.disabled]='true'
                          name="practisingstarteddate" formControlName="practisingstarteddate" ngx-mydatepicker
                          (dateChanged)="onpractisingstarteChanged($event)" [options]="myOptions"
                          #practisingstarteddate="ngx-mydatepicker" />
                      </div>
                    </div>


                    <div class="col-sm-4">
                      <div class="form-group required">
                        <label class="text_green"> Specialities </label>
                        <ng-multiselect-dropdown class="multiselect-org multiselect-reverse" disabled
                          [placeholder]="'Select Specialities'" [data]="selectedItems" [settings]="dropdownSettings"
                          disabled="true" [(ngModel)]="selectedItems" formControlName="specialities">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group ">
                        <label class="text_green"> Other Speciality </label>
                        <input type="text" readonly class="form-control" name="otherspeciality"
                          formControlName="otherspeciality" placeholder="Enter otherspeciality" />
                        <div class="help-block"></div>
                      </div>
                    </div>

                    <label>
                      {{ responsedata }}
                    </label>
                  </div>
                  <div class="box-footer full" style="align-content: center">
                    <button type="button" (click)="tabGroup.selectedIndex = 1" class="btn pull-right">
                      Next
                    </button>
                    <!--
                            <button type="submit" class="btn btn-primary ">Save</button>
                            -->
                  </div>
                </form>
              </mat-tab>
              <mat-tab  *ngIf="activerole!='l2'" disabled="{{ ContactDisabled }}">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">local_phone</i>
                  </span>
                  <span class="label-text">Contact</span>
                </ng-template>
                <form class="location-form-main pro-contact-form-inner contact-form-detail" [formGroup]="contactgroup"
                  (ngSubmit)="ContactSubmit(contactgroup.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>
                  <h1>Contact Details</h1>
                  <div class="location-form">
                    <div class="form-group ">
                      <label> Mobile 1 </label>
                      <div class="two-input">
                        <div class="two-input-left">
                          <input type="text" readonly class="form-control" name="mobile1" formControlName="mobile1"
                            placeholder="Enter mobile number" required="" />
                        </div>
                        <div class="two-input-right com-checkbox ">
                          <label> Public </label>
                          <input type="checkbox" disabled formControlName="mobile1visibility"
                            name="mobile1visibility" />
                        </div>
                      </div>

                      <div class="help-block"></div>
                    </div>
                             <div class="form-group ">
                      <label> Mobile 2 </label>
                      <div class="two-input">
                        <div class="two-input-left">
                          <input readonly type="text" class="form-control" name="mobile2" formControlName="mobile2"
                            placeholder="Enter mobile2" />
                        </div>
                        <div class="two-input-right com-checkbox ">
                          <label> Public </label>
                          <input disabled type="checkbox" formControlName="mobile2visibility"
                            name="mobile2visibility" />
                        </div>
                      </div>

                      <div class="help-block"></div>
                    </div>

                    <div class="form-group ">
                      <label> Phone 1 </label>
                      <div class="two-input">
                        <div class="two-input-left">
                          <input readonly type="text" class="form-control" name="phone1" formControlName="phone1"
                            placeholder="Enter phone1" />
                        </div>
                        <div class="two-input-right com-checkbox ">
                          <label> Public </label>
                          <input type="checkbox" disabled formControlName="phone1visibility" name="phone1visibility" />
                        </div>
                      </div>

                      <div class="help-block"></div>
                    </div>

                    <div class="form-group ">
                      <label> Phone 2 </label>
                      <div class="two-input">
                        <div class="two-input-left">
                          <input type="text" readonly class="form-control" name="phone2" formControlName="phone2"
                            placeholder="Enter phone2" />
                        </div>
                        <div class="two-input-right com-checkbox ">
                          <label> Public </label>
                          <input type="checkbox" disabled formControlName="phone2visibility" name="phone2visibility" />
                        </div>
                      </div>
                      <div class="help-block"></div>
                    </div>

                    <div class="form-group ">
                      <label> Email ID 1 </label>
                      <div class="two-input">
                        <div class="two-input-left">
                          <input type="text" readonly class="form-control" name="emailid1" formControlName="emailid1"
                            placeholder="Enter emailid1" />
                        </div>
                        <div class="two-input-right com-checkbox ">
                          <label> Public </label>
                          <input type="checkbox" disabled formControlName="email1visibility" name="email1visibility" />
                        </div>
                      </div>
                      <div class="help-block"></div>
                    </div>

                    <div class="form-group ">
                      <label> Email ID 2 </label>
                      <div class="two-input">
                        <div class="two-input-left">
                          <input type="text" class="form-control" readonly name="emailid2" formControlName="emailid2"
                            placeholder="Enter emailid2" />
                        </div>
                        <div class="two-input-right com-checkbox ">
                          <label> Public </label>
                          <input type="checkbox" disabled formControlName="email2visibility" name="email2visibility" />
                        </div>
                      </div>

                      <div class="help-block"></div>
                    </div>

                    <div class="form-group ">
                      <label> Website </label>
                      <input type="text" class="form-control" readonly name="website" formControlName="website"
                        placeholder="Enter website" />
                      <div class="help-block"></div>
                    </div>
                    <div class="full">
                      <div class="form-group ">
                             <div class="help-block"></div>
                      </div>
                    </div>
                    <label>
                      {{ responsedata }}
                    </label>

                  </div>
                </form>

                <label>
                  {{ responsedatacontact }}
                </label>
              </mat-tab>
              <mat-tab disabled="{{ AvalabillityDisabled }}">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">access_time</i>
                  </span>
                  <span class="label-text">Avalabillity</span>
                </ng-template>

               
                <form [formGroup]="availability" (ngSubmit)="OnavailabilitySubmit(availability.value)"
                  #uploadDocumentsForm="ngForm" ngNativeValidate>
                  <div class="table-responsive">
                    <table class="table table-bordered tbl-provider table-availability">
                      <tr>
                        <th class="general-avb">General Availability</th>
                        <th>Morning</th>
                        <th>Afternoon</th>
                        <th>Evening</th>
                      </tr>
                      <!-- Monday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="mondaywor" (change)="oncheckboxchange($event,'monday')" />
                            <label> Monday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="mondaymorningstart" ngModel #mondaymorningstart
                              formControlName="mondaymorningstart">
                            <input type="time" name="mondaymorningend" ngModel #mondaymorningend
                              formControlName="mondaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.mondaymorningstart.value,
              availability.controls.mondaymorningend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('mondaymorningstart','mondaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="mondayafterstart" ngModel #mondayafterstart
                              formControlName="mondayafterstart">
                            <input type="time" name="mondayafterend" ngModel #mondayafterend
                              formControlName="mondayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.mondayafterstart.value,
            availability.controls.mondayafterend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('mondayafterstart','mondayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="mondayevestart" ngModel #mondayevestart
                              formControlName="mondayevestart">
                            <input type="time" name="mondayeveend" ngModel #mondayeveend formControlName="mondayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.mondayevestart.value,
      availability.controls.mondayeveend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('mondayevestart','mondayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Monday -->
                      <!-- Tuesday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="tuedaywor"
                              (change)="oncheckboxchange($event,'tuesday')" />
                            <label> Tuesday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="tuedaymorningstart" ngModel #tuedaymorningstart
                              formControlName="tuedaymorningstart">
                            <input type="time" name="tuedaymorningend" ngModel #tuedaymorningend
                              formControlName="tuedaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.tuedaymorningstart.value,
            availability.controls.tuedaymorningend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('tuedaymorningstart','tuedaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="tuedayafterstart" formControlName="tuedayafterstart">
                            <input type="time" name="tuedayafterend" formControlName="tuedayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.tuedayafterstart.value,
            availability.controls.tuedayafterend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('tuedayafterstart','tuedayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="tuedayevestart" formControlName="tuedayevestart">
                            <input type="time" name="tuedayeveend" formControlName="tuedayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.tuedayevestart.value,
              availability.controls.tuedayeveend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('tuedayevestart','tuedayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Tuesday -->
                      <!-- Wednesday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="weddaywor"
                              (change)="oncheckboxchange($event,'wednesday')" />
                            <label> Wednesday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="weddaymorningstart" formControlName="weddaymorningstart">
                            <input type="time" name="weddaymorningend" formControlName="weddaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.weddaymorningstart.value,
            availability.controls.weddaymorningend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('weddaymorningstart','weddaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="weddayafterstart" formControlName="weddayafterstart">
                            <input type="time" name="weddayafterend" formControlName="weddayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.weddayafterstart.value,
            availability.controls.weddayafterend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('weddayafterstart','weddayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="weddayevestart" formControlName="weddayevestart">
                            <input type="time" name="weddayeveend" formControlName="weddayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.weddayevestart.value,
            availability.controls.weddayeveend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('weddayevestart','weddayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Wednesday -->
                      <!-- Thursday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="thudaywor"
                              (change)="oncheckboxchange($event,'thursday')" />
                            <label> Thursday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="thudaymorningstart" formControlName="thudaymorningstart">
                            <input type="time" name="thudaymorningend" formControlName="thudaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.thudaymorningstart.value,
            availability.controls.thudaymorningend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('thudaymorningstart','thudaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="thudayafterstart" formControlName="thudayafterstart">
                            <input type="time" name="thudayafterend" formControlName="thudayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.thudayafterstart.value,
              availability.controls.thudayafterend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('thudayafterstart','thudayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="thudayevestart" formControlName="thudayevestart">
                            <input type="time" name="thudayeveend" formControlName="thudayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.thudayevestart.value,
              availability.controls.thudayeveend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('thudayevestart','thudayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Thursday -->
                      <!-- Friday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="fridaywor" (change)="oncheckboxchange($event,'friday')" />
                            <label> Friday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="fridaymorningstart" formControlName="fridaymorningstart">
                            <input type="time" name="fridaymorningend" formControlName="fridaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.fridaymorningstart.value,
            availability.controls.fridaymorningend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('fridaymorningstart','fridaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="fridayafterstart" formControlName="fridayafterstart">
                            <input type="time" name="fridayafterend" formControlName="fridayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.fridayafterstart.value,
            availability.controls.fridayafterend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('fridayafterstart','fridayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="fridayevestart" formControlName="fridayevestart">
                            <input type="time" name="fridayeveend" formControlName="fridayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.fridayafterstart.value,
            availability.controls.fridayafterend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('fridayevestart','fridayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Friday -->
                      <!-- Saturday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="satdaywor"
                              (change)="oncheckboxchange($event,'saturday')" />
                            <label> Saturday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="satdaymorningstart" formControlName="satdaymorningstart">
                            <input type="time" name="satdaymorningend" formControlName="satdaymorningend">

                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.satdaymorningstart.value,
              availability.controls.satdaymorningend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('satdaymorningstart','satdaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="satdayafterstart" formControlName="satdayafterstart">
                            <input type="time" name="satdayafterend" formControlName="satdayafterend">

                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.satdayafterstart.value,
              availability.controls.satdayafterend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('satdayafterstart','satdayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="satdayevestart" formControlName="satdayevestart">
                            <input type="time" name="satdayeveend" formControlName="satdayeveend">

                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.satdayevestart.value,
              availability.controls.satdayeveend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('satdayevestart','satdayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Saturday -->
                      <!-- Sunday -->
                      <tr>
                        <td>
                          <div class="com-checkbox">
                            <input type="checkbox" [checked]="sundaywor" (change)="oncheckboxchange($event,'sunday')" />
                            <label> Sunday </label>
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="sundaymorningstart" formControlName="sundaymorningstart">
                            <input type="time" name="sundaymorningend" formControlName="sundaymorningend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('1',availability.controls.sundaymorningstart.value,
              availability.controls.sundaymorningend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('sundaymorningstart','sundaymorningend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="sundayafterstart" formControlName="sundayafterstart">
                            <input type="time" name="sundayafterend" formControlName="sundayafterend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('2',availability.controls.sundayafterstart.value,
              availability.controls.sundayafterend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('sundayafterstart','sundayafterend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                        <td>
                          <div class="mb10 timeslot">
                            <input type="time" name="sundayevestart" formControlName="sundayevestart">
                            <input type="time" name="sundayeveend" formControlName="sundayeveend">
                          </div>
                          <div class="mb10">
                            <input type="button" (click)="applaytoall('3',availability.controls.sundayevestart.value,
              availability.controls.sundayeveend.value)" value="Apply to Selected" class="btn-table mb5" />
                            <input type="button" (click)="clear('sundayevestart','sundayeveend')" value="Clear"
                              class="btn-table" />
                          </div>
                        </td>
                      </tr>
                      <!-- Sunday -->
                    </table>
                  </div>
                  <input type="submit" name="submit" value="Save" class="btn btn-sm btn-success mt10">
                </form>


                <div class="overlay qtraq-overlay" *ngIf="modelcatlogo">
                  <div class="confirmation-popup applytosel-popup">
                    <div class="applytosel-options">
                      <div class="com-checkbox checkbox-theme">
                        <input type="checkbox" (change)="oncheckboxchangepopup($event,'monday')" id="appselmon"/>
                        <label class="text_grey" for="appselmon"> Monday </label>
                      </div>
                      <div class="com-checkbox checkbox-theme">
                        <input type="checkbox" (change)="oncheckboxchangepopup($event,'tuesday')" id="appseltue"/>
                        <label class="text_grey" for="appseltue"> Tuesday </label>
                      </div>
                      <div class="com-checkbox checkbox-theme">
                        <input type="checkbox" (change)="oncheckboxchangepopup($event,'wednesday')" id="appselwed"/>
                        <label class="text_grey" for="appselwed"> Wednesday </label>
                      </div>
                      <div class="com-checkbox checkbox-theme">
                        <input type="checkbox" (change)="oncheckboxchangepopup($event,'thursday')" id="appselthu"/>
                        <label class="text_grey" for="appselthu"> Thursday </label>
                      </div>
                      <div class="com-checkbox checkbox-theme">
                        <input type="checkbox" (change)="oncheckboxchangepopup($event,'friday')" id="appselfri"/>
                        <label class="text_grey" for="appselfri"> Friday </label>
                      </div>
                      <div class="com-checkbox checkbox-theme">
                        <input type="checkbox" (change)="oncheckboxchangepopup($event,'saturday')" id="appselsat"/>
                        <label class="text_grey" for="appselsat"> Saturday </label>
                      </div>
                      <div class="com-checkbox checkbox-theme">
                        <input type="checkbox" (change)="oncheckboxchangepopup($event,'sunday')" id="appselsun"/>
                        <label class="text_grey" for="appselsun"> Sunday </label>
                      </div>
                     
                    </div>
                    
                    <button class="btn btn-primary" (click)="applaytoselected()" type="button">Apply to Selected
                    </button>
                    <button class="btn btn-primary" (click)="logocancel()" type="button">Cancel</button>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </mat-tab>





            </mat-tab-group>
          </div>



        </section>
      </div>

    </div>

  </div>
</div>