<div class="qprovider-nav full">
  <div class="qprovider-nav-inner ">
    <div class="qprovider-nav-left">
      <a class="btn btn-sm home-bar-btn" (click)="toggleHideShow('show')">        
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
      <a routerLink="/">
        <img src="assets/QtraqLogo-white.png">
      </a>

    </div>
    <div class="qprovider-nav-middle">
      <h3>{{organisationname}}</h3>
    </div>
    <div class="qprovider-nav-right">
     
     <!-- <div class="qprovider-btn">
      <a class="btn btn-default btn-flat" *ngIf="changeorg" (click)="changeorganisation()">
        <span class="nav-info-icn"><img src="assets/organisation-menu.png"></span>
        <span class="nav-info-text">Change Org</span>
      </a>
    </div>
  -->
      <div class="qprovider-btn dropdown">
        <a class="btn  btn-flat" href="javascript:void(0)" routerLink = "/notifications" type="button" aria-haspopup="true" aria-expanded="false">
          <span class="nav-info-icn"><img src="assets/notification-new.png"></span>
          <span class="nav-info-text">Notifications
            <span class="req_count" style="right: 15px;top: 1px;" *ngIf="notification_count > 0" >
              {{notification_count}}
            </span>
          </span>
        </a>
      </div>
      <div *ngIf="doctorshow">
        <div class="qprovider-btn dropdown">
          <a class="btn  btn-flat" (click)="changeroledata('l2')" type="button" aria-haspopup="true"
            aria-expanded="false">
            <span class="nav-info-icn"><img src="assets/doctor_white.png"></span>
            <span class="nav-info-text">Doctor</span>
          </a>
        </div>
        </div>



   <div *ngIf="frontdesk">
      <div class="qprovider-btn dropdown">
       <a class="btn  btn-flat" (click)="changeroledata('l1')" type="button" aria-haspopup="true"
      aria-expanded="false">
      <span class="nav-info-icn"><img src="assets/nav-front.png"></span>
      <span class="nav-info-text">Front Desk</span>
      </a>
      </div>
    </div> 

    <div *ngIf="adminshow"> 
      <div class="qprovider-btn dropdown">
        <a class="btn  btn-flat" (click)="changeroledata('admin')" type="button" aria-haspopup="true"
          aria-expanded="false">
          <span class="nav-info-icn"><img src="assets/nav-admin.png"></span>
          <span class="nav-info-text">Admin</span>
        </a>
      </div>
      </div>
      <div class="qprovider-btn" >
        <a  class="btn btn-default btn-flat" *ngIf="changeorg" (click)="changeorganisation()">
          <span class="nav-info-icn"><img src="assets/organisation-menu.png"></span>
          <span class="nav-info-text">Change Org</span>
        </a>
      </div>
 
      
      
      <div class="qprovider-btn dropdown" >
        <a class="btn  btn-flat dropdown-toggle"  type="button" id="dropdownMenuButton" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
          <img src="{{orgimg}}" alt="Profile Photo" width="35" class="profile-img-menu" onerror="this.src='assets/user-avatar.jpg'">
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
          <a class="dropdown-item admin-name">{{firstname}} {{lastname}} </a>
          <a class="dropdown-item" routerLink="/editprofile">Edit Profile</a>
          <a class="dropdown-item" routerLink="/changepassword">Change Password</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div  [@slideInOut] *ngIf="toggleVal" class="page-wrapper chiller-theme page-wrapper-hd" [class.toggled]="toggleVal">
  <app-sidebar ></app-sidebar>
</div>