<!--
<h6>
<div (click)="onNoClick('admin')">
test module
</div>
<div (click)="onNoClick('admin')">
test module
</div>
<div (click)="onNoClick('admin')">
test module
</div>
<div (click)="onNoClick('admin')">
test module
</div>
</h6>
-->
<!--
<div *ngIf="queuelist">
<div *ngFor="let  queuelists of queuelist">
<div (click)="onNoClick(queuelists.token_no,queuelists.token_status,queuelists.token_conveted_time)">
   {{queuelists.token_no}}
   {{queuelists.token_status}}
   {{queuelists.token_conveted_time}}
</div>
</div>
</div>
-->
<div>

<label>
mobile number
</label>
<input type="text" name="mobile" #mobile/>
<button (click)="getmobiledata(mobile.value)">getmobileuserdata  </button>
</div>




<div *ngIf="user_master_id">  
    user_master_id:-{{user_master_id}}
</div>

<div *ngIf="user_name">  
    user_name:-{{user_name}}
</div>
<div *ngIf="first_name">  
    first_name:-{{first_name}}
</div>
<div *ngIf="last_name">  
    last_name:-{{last_name}}
</div>

<div *ngIf="middle_name">  
    middle_name:-{{middle_name}}
</div>

<div *ngIf="profile_pic">  
<img src="{{profile_pic_path}}" 
 alt="" title="">
</div>

<div *ngIf="user_master_id">
<label>Diagnosis </label>
<select name="diagnosis" (change)="ondiagnosischange($event.target.value)">
<option> Yes</option>
<option> No </option>
</select>
</div>

<div *ngIf="user_master_id">
<label>Prescription </label>
<select name="prescription" (change)="onprescriptionchange($event.target.value)">
<option> Yes</option>
<option> No </option>
</select>
</div>
        

<div *ngIf="user_master_id">
<label>Report </label>
<select name="report" (change)="onreportchange($event.target.value)">
<option> Yes</option>
<option> No </option>
</select>
</div>
               
<!--
<div *ngIf="user_master_id">
<div class="form-group">
        <label for="dob">From Date</label>
        <input
        class="form-control"
        placeholder="Select a date"
        name="fromdate"
        (dateChanged)="sharefromdate($event)"  
         ngx-mydatepicker
        [options]="myOptions"
        #dp="ngx-mydatepicker"
        (click)="dp.toggleCalendar()"                
        />
        </div>
        <div class="form-group">
        <label for="dob">To Date</label>
        <input
        class="form-control"
        placeholder="Select a date"
        (dateChanged)="sharetodate($event)"
        name="todate"  
        ngx-mydatepicker
        [options]="myOptions"
        #dp1="ngx-mydatepicker"
        (click)="dp1.toggleCalendar()"                
        />
        </div>
    </div>
-->


<div *ngIf="user_master_id">
<button name="Share" value="Share" (click)="onshareclick(report,prescription,diagnosis)">
Share
</button>
</div>






