<div>

  
<div *ngIf="admin" (click)="onNoClick('admin')">
 Admin 
<img src="assets/admin_with_cogwheels_grey@2x.png" style="width:200px;height:100px" alt="banner1" title="">
</div>

<div *ngIf="frontdesk" (click)="onNoClick('front desk')">
Frontdesk
<img src="assets/front_desk_simple_grey.png" style="width:200px;height:100px" alt="banner1" title="">
</div>

<div *ngIf="doctor" (click)="onNoClick('dr')">
    Doctor
<img src="assets/doctor_dark_green.png" style="width:200px;height:100px" alt="banner1" title="">
</div>
        


<!--
<div *ngFor="let organisationlists of organisationlist" >
  <div (click)="onNoClick(organisationlists.org_name,organisationlists.org_id,
  organisationlists.roles[0].isAssigned,organisationlists.roles[1].isAssigned,
  organisationlists.roles[2].isAssigned,organisationlists.org_logo)">
<p>
 {{organisationlists.org_name}} 
</p>
<img src="{{organisationlists.org_logo}}" alt="banner1" title="">
</div>
</div>
-->

</div>