<div class="login-box">
  <div class="login-box login-box-border" style="padding-top:20px">
    <div class="login-logo">
      <span class="logo-mini">
      <a  routerLink="/" href="javascript:void(0)" class="main-logo" >
      <img src="assets/QtraqLogo.png" class="site-logo" alt="Qtraq QRM">
      </a>
      </span>
    </div>
    <div class="login-box-body">
      <p class="login-box-msg text_green" style="font-size:16px;margin-bottom:20px;"><b>Forgot Password</b></p>
      <form [formGroup]="registrationFormGroup" (ngSubmit)="onClickRegister(registrationFormGroup.value)">
        <div [formGroup]="passwordFormGroup">
          <div class="form-group has-feedback mb20">
            <label for="password" class="text_green">Registered mobile number</label>
            <input type="number" class="form-control" name="mobilenumber"  placeholder="Enter Mobile Number" formControlName="mobilenumber">
            <p class="text-danger" *ngIf="passwordFormGroup.controls.mobilenumber.errors?.required && passwordFormGroup.controls.mobilenumber.touched">Please Enter Mobile Number</p>
          </div> 
          <div class="form-group">
            <label for="password" class="text_green">New password</label>
            <input class="form-control" type="password" name="password" formControlName="password">
            <p class="text-danger" *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">
            Password is required</p>
          </div>        
          <div class="form-group">
            <label for="repeatPassword" class="text_green">Reenter new password</label>
            <input class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword">
            <p class="bg-danger" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">
            Enter password again</p>
            <p class="bg-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match</p>
          </div>   
          <div class="form-group">
            <label for="OTP" class="text_green" style="width:100%;">OTP</label>
            <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6" style="padding:0px">
              <input class="form-control" type="text" name="otp" formControlName="otp">
            </div>
            <div class="col-sm-6 col-lg-6 col-xs-6 col-md-6" style="padding:0px">
              <input type="button" value="Get OTP" (click)="genotpclick()" class="btn btn-primary btn-block btn-flat" style="padding:4px;" *ngIf="!otpFlag">
              <button type="button" *ngIf="otpFlag" style="width: 100%;padding: 5px;">Retry after {{otpResendTime | timerFormat}}</button>
            </div>
          </div>       
        </div>
        <div class="col-sm-12 text-center" style="margin-top: 20px;">
          <button type="submit" class="btn btn-primary" [disabled]="!registrationFormGroup.valid">Update Password</button>
          <button class="btn btn-primary" routerLink="/login" type="button">Back to Login</button>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
</div>