<div class="page-wrapper chiller-theme ">
  <div class="page-content">
    <!-- Breadcrumb-->
    <div class="page-breadcrumb">



      <div class="container" *ngIf="providerlistshow==true;else othertext">

        <a (click)="backtoavailability()">Home</a>
        <span class="arrow">></span>
        <a (click)="selectdoctor()">Doctor's Availability</a>

        <span *ngIf="activerole!='l2'">
        <span *ngIf="bread" class="arrow">></span>
        <span *ngIf="bread">Select Doctor</span>
</span>
      </div>
      <ng-template #othertext>
<div *ngIf="addunavailabilitydata==true;else otherblock">

<div class="container">

  <div *ngIf="desabledata!=true;else otherdatanewbrd">
    <a (click)="backtoavailability()">Home</a>
    <span class="arrow">></span>
    <a (click)="selectdoctor()">Doctor's Availability</a>

    <span *ngIf="activerole!='l2'">

    <span *ngIf="bread" class="arrow">></span>
    <a *ngIf="bread" (click)="selectdoctorfromlist()">Select Doctor</a>
    </span>

    <span class="arrow">></span>
   <span >
      Add Doctor's Unavailablity
    </span>
</div>
<ng-template #otherdatanewbrd>

    <div >
        <a (click)="backtoavailability()">Home</a>
        <span class="arrow">></span>
        <a (click)="selectdoctor()">Doctor's Availability</a>

        <span class="arrow">></span>
       <span >
          Add Doctor's Unavailablity
        </span>
    </div>


</ng-template>


</div>

</div>
<ng-template #otherblock>
<div class="container">
<a (click)="backtoavailability()">Home</a>
<span class="arrow">></span>
<span>Doctor's Availability</span>
</div>
</ng-template>



</ng-template>


    </div>
    <!-- Breadcrumb-->
    <div class="main-content-wrapper">
      <div class="container">
        <div class="col-sm-12">

          <!-- <span *ngIf="addunavailabilitydata==true;">
          Dr. {{firstname}} {{middlename}} {{lastname}}
          <img src="{{ profileimage_path }}" title="" class="da_logo" />
          </span>
          <span class="da_clinic_info">
            {{ orgname }}
          </span> -->
          <!-- <h1 class="page-title-primary mb0 pl0 pr0 ">
              Set Doctor's Unavailability
          </h1> -->
          <span *ngIf="addunavailabilitydata==true;">
              <div class="token_details_top wrapper-70">
                <div class="td_doctor_name">
                <img  class="img-responsive profile_thumbnail_img" onerror="this.src='assets/user-default.jpg'" style="width:50px;min-width:50px;height:50px;min-height:50px;margin-right:10px;margin-top:5px;" src="{{ profileimage_path }}">
                <div>
                  <p class="drname_orange">Dr. {{firstname}} {{middlename}} {{lastname}} </p>
                 <!-- <p class="clinicname_green"><strong>{{ orgname }}</strong></p> -->
                </div>
                </div>
                <div class="clearfix">&nbsp;</div>
              </div>
              </span>
          <section class="content">
            <div *ngIf="showdoctorlist">
              <form [formGroup]="doctoravunailability" (ngSubmit)="OnSubmit(doctoravunailability)"
                ngNativeValidate>
                <div class="full">
                  <div class="col-sm-3">
                    <label class="text_green">Select Month</label>
                    <select name="month" formControlName="month" class="form-control border-green">
                      <option value="">Select Month</option>
                      <option *ngFor="let month of months" [value]="month.id">
                        {{ month.value }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <label class="text_green">Select Year</label>
                    <select name="year" formControlName="year" class="form-control border-green">
                      <option value="">Select Year</option>
                      <option *ngFor="let year of years" [value]="year">
                        {{ year }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-6 mt20">
                    <input type="submit" class="btn btn-sm btn-success" name="Search" value="Search" style="font-size:15px;margin-right:5px;font-weight:bold" />

                    <input type="button" (click)="providerlist()" class="btn btn-sm btn-success"
                      value=" Add Doctor Unavailability" style="font-size:15px;font-weight:bold" />
                    <!--
            <button (click)="providerlist()" class="btn btn-sm btn-success">
              Add Doctor Unavailability
            </button>
          -->
                  </div>

                </div>
              </form>
              <div class="wrapper-70">
                <!-- Doctors List Single Widget-->
                <!--
          <div class="doctoravb_list_wrapper">
            <div class="doctoravb_list_img">
                <img src="assets/searchtoken-avatar.jpg" class="img-responsive">
                <p class="green-text"><strong>Dr. Danish Shaikh</strong></p>
            </div>
            <div class="doctoravb_list_info">
              <p class="pink-text"><strong>Monday, 21 Jan 2019 to Sunday, 10 Feb 2019</strong></p>
              <p><strong>Not available for full day</strong></p>
              <p>Personal reasons</p>
            </div>
            <div class="clearfix">&nbsp;</div>
          </div>
        -->

                <!-- Doctors List Single Widget-->
              </div>
              <span *ngIf="doctoraunavailability">
                <span *ngFor="
                  let doctoraunavailabilitys of (doctoraunavailability
                    | paginate
                      : {
                          itemsPerPage: this.size,
                          currentPage: this.page,
                          totalItems: this.totalRecords
                        })
                ">
                  <!--
        profile_pic_url

        {{doctoraunavailabilitys.provider_fullname}}
        {{doctoraunavailabilitys.gender}}
        {{doctoraunavailabilitys.unavailability_day_type}}
        {{doctoraunavailabilitys.unavailability_type}}
  -->


    <div (click)="getUnavailabilityDetails(doctoraunavailabilitys.doctor_unavailability_id,doctoraunavailabilitys.provider_user_id,doctoraunavailabilitys.first_name,doctoraunavailabilitys.middle_name,doctoraunavailabilitys.last_name,doctoraunavailabilitys.profile_pic_url)" *ngIf="doctoraunavailabilitys.status=='Active';else othertokendata" class="doctoravb_list_wrapper">
                    <div class="doctoravb_list_img">
                      <img src="{{ doctoraunavailabilitys.profile_pic_url }}" class="img-responsive"
                        onerror="this.src='assets/user-default.jpg'" />
                      <p class="green-text mt5">
                        <strong>
                         Dr. {{ doctoraunavailabilitys.provider_fullname }}
                        </strong>
                      </p>
                    </div>
                    <div class="doctoravb_list_info">
                      <p class="pink-text" style="font-size:15px;">
                        <strong *ngIf="doctoraunavailabilitys.unavailability_day_type=='Range';else othertext">
                          {{ doctoraunavailabilitys.from_date }}

                         &nbsp;&nbsp;
                           to &nbsp;&nbsp;


                          {{ doctoraunavailabilitys.to_date }}
                        </strong>
                        <ng-template #othertext>

                          <strong>
                            {{ doctoraunavailabilitys.from_date }}
</strong>
                        </ng-template>


                      </p>
                      <p>
                        <strong>
                          {{ doctoraunavailabilitys.line2_msg }}
                        </strong>
                      </p>
                      <p>{{ doctoraunavailabilitys.unavailability_reason }}</p>
                    </div>

<br/>

                    <div *ngIf="doctoraunavailabilitys.status=='Active';else othertoken">
                        <button (click)="doctor_unavailability(doctoraunavailabilitys.doctor_unavailability_id)">
                           Cancel Unavailability
                        </button>

                          </div>
                        <ng-template #othertoken>
                          <span style="color: #f00;font-size: inherit;">  <strong>Cancelled</strong> </span>
                        </ng-template>

                    <div class="clearfix">&nbsp;</div>
                  </div>

<ng-template #othertokendata>
<div   style="background: #e6eae1 !important" class="doctoravb_list_wrapper">
    <div class="doctoravb_list_img" >
        <img src="{{ doctoraunavailabilitys.profile_pic_url }}" class="img-responsive"
          onerror="this.src='assets/user-default.jpg'" />
        <p class="green-text mt5">
          <strong>
           Dr. {{ doctoraunavailabilitys.provider_fullname }}
          </strong>
        </p>
      </div>
      <div class="doctoravb_list_info">
        <p class="pink-text" style="font-size:15px;">
          <strong *ngIf="doctoraunavailabilitys.unavailability_day_type=='Range';else othertext">
            {{ doctoraunavailabilitys.from_date }}

           &nbsp;&nbsp;
             to &nbsp;&nbsp;


            {{ doctoraunavailabilitys.to_date }}
          </strong>
          <ng-template #othertext>

            <strong>
              {{ doctoraunavailabilitys.from_date }}
</strong>
          </ng-template>


        </p>
        <p>
          <strong>
            {{ doctoraunavailabilitys.line2_msg }}
          </strong>
        </p>
        <p>{{ doctoraunavailabilitys.unavailability_reason }}</p>
      </div>

<br/>

      <div *ngIf="doctoraunavailabilitys.status=='Active';else othertoken">
          <button (click)="doctor_unavailability(doctoraunavailabilitys.doctor_unavailability_id)">
             Cancel Unavailability
          </button>

            </div>
          <ng-template #othertoken>
            <span style="color: #f00;font-size: inherit;">  <strong>Cancelled</strong> </span>
          </ng-template>

      <div class="clearfix">&nbsp;</div>
      </div>
  </ng-template>



                </span>
                <div class="clearfix">&nbsp;</div>
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              </span>
              <div *ngIf="errorMessage">
                {{ errorMessage }}
              </div>
            </div>
            <div *ngIf="addunavailabilitydata">
              <div class="wrapper-70 doc-unavailability-wrapper">
                <form [formGroup]="addunavailability" (ngSubmit)="OnunavailabilitySubmit(addunavailability.value)"
                  ngNativeValidate>

                  <div class="mb5">
                    <label class="green-text" style="display:inline-block;width:165px;position:relative;top:-3px;">Dates Unavailable :</label>
                    <mat-radio-group name="unavailabilitydaytype"
                    required formControlName="unavailabilitydaytype"
                    [disabled]='desabledata'
                    aria-label="Select an option" (change)="unavailabilitydaytypechange($event.value)">
                      <div class="inline-block mr10" >
                        <mat-radio-button value="Single">Single</mat-radio-button>
                      </div>
                      <div class="inline-block">
                        <mat-radio-button value="Range">Range</mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                  <div class="row">


<div *ngIf="desabledata!=true;else otherdatanewdate">

                    <div class="col-sm-6">
                      <label class="green-text">Date From</label>
                      <input class="form-control border-green" required placeholder="Select Date" name="fromdata"
                        (dateChanged)="onAssignresDateChanged($event,addunavailability.value)"
                        formControlName="fromdata"
                                ngx-mydatepicker [options]="myOptions" #fromdata="ngx-mydatepicker"
                        (click)="fromdata.toggleCalendar()" />
                    </div>
                    <div class="col-sm-6">
                      <span *ngIf="showendtodate">
                        <label class="green-text">Date To</label>
                        <input class="form-control border-green" required
                        (dateChanged)="onAssigntoDateChanged($event,addunavailability.value)"
                        placeholder="Select To date" name="todate"
                                    formControlName="todate" ngx-mydatepicker [options]="myOptions" #todate="ngx-mydatepicker"
                          (click)="todate.toggleCalendar()" />
                      </span>
                    </div>
</div>
<ng-template #otherdatanewdate>
    <div class="col-sm-6">
        <label class="green-text">Date From</label>
        <input class="form-control border-green" required placeholder="Select Date" name="fromdata"
          (dateChanged)="onAssignresDateChanged($event,addunavailability.value)"
          formControlName="fromdata"
          [attr.disabled]='false'
          ngx-mydatepicker [options]="myOptions" #fromdata="ngx-mydatepicker"
          (click)="fromdata.toggleCalendar()" />
      </div>
      <div class="col-sm-6">
        <span *ngIf="showendtodate">
          <label class="green-text">Date To</label>
          <input class="form-control border-green" required
          (dateChanged)="onAssigntoDateChanged($event,addunavailability.value)"
          placeholder="Select To date" name="todate"
          [attr.disabled]='desabledata'
            formControlName="todate" ngx-mydatepicker [options]="myOptions" #todate="ngx-mydatepicker"
            (click)="todate.toggleCalendar()" />
        </span>
      </div>

</ng-template>


                  </div>
                  <div class="mt30">
                    <label class="green-text" style="display:inline-block;width:165px;position:relative;top:-3px;">Time of day unavailable : </label>
                    <mat-radio-group name="fullday"   [disabled]='desabledata' formControlName="fullday" required aria-label="Select an option"
                      (change)="fulldaychange($event.value)">
                      <div class="inline-block mr10">
                        <mat-radio-button value="Yes">Full Day</mat-radio-button>
                      </div>
                      <div class="inline-block mr10">
                        <mat-radio-button value="No">Specific Queue</mat-radio-button>
                      </div>
                      <div class="inline-block mr10">
                        <span *ngIf="leavetimetype">
                          <div  *ngIf="desabledata!=true;else otherdatanew">
                            <!-- <label class="green-text">Queues</label> -->
                            <select name="queue_id" formControlName="queue_id" class="form-control border-green" required>
                                <option value="" selected>Select Queue</option>
                                <option *ngFor="let queues of queueList" value="{{queues.queue_id}}">{{queues.queue_name}}</option>
                            </select>
                          <!-- <div class="col-sm-6 mt10">
                            <label class="green-text">Select Time</label>
                            <input type="time" name="leavetime"    class="form-control border-green" required
                              formControlName="leavetime" />
                          </div> -->
                        </div>
                        <ng-template #otherdatanew>
                              <!-- <label class="green-text">Queues</label> -->
                              <select name="queue_id" disabled  formControlName="queue_id" class="form-control border-green" required >
                                <option value="" selected>Select Queue</option>
                                <option *ngFor="let queues of queueList" value="{{queues.queue_id}}">{{queues.queue_name}}</option>
                              </select>
                          <!-- <div class="col-sm-6 mt10">
                            <label class="green-text">Select Time</label>
                            <input type="time" name="leavetime"  disabled   class="form-control border-green" required
                              formControlName="leavetime" />
                          </div> -->
                        </ng-template>
                        </span>
                      </div>
                    </mat-radio-group>

                  </div>
                  <!-- <div class="row">
                    <span *ngIf="leavetimetype">
                      <div  *ngIf="desabledata!=true;else otherdatanew">
                      <div class="col-sm-6 mt10">
                        <label class="green-text">Queues</label>
                        <select name="queue_id" formControlName="queue_id" class="form-control border-green" required>
                            <option *ngFor="let queues of queueList" value="{{queues.queue_id}}">{{queues.queue_name}}</option>
                        </select>
                      </div>
                      <div class="col-sm-6 mt10">
                        <label class="green-text">Select Time</label>
                        <input type="time" name="leavetime"    class="form-control border-green" required
                          formControlName="leavetime" />
                      </div>
                    </div>
                    <ng-template #otherdatanew>
                      <div class="col-sm-6 mt10">
                          <label class="green-text">Queues</label>
                          <select name="queue_id" disabled  formControlName="queue_id" class="form-control border-green" required >
                            <option *ngFor="let queues of queueList" value="{{queues.queue_id}}">{{queues.queue_name}}</option>
                          </select>
                      </div>
                      <div class="col-sm-6 mt10">
                        <label class="green-text">Select Time</label>
                        <input type="time" name="leavetime"  disabled   class="form-control border-green" required
                          formControlName="leavetime" />
                      </div>
                    </ng-template>
                    </span>
                  </div> -->
                  <!-- <div class="mt30">
                    <label class="green-text" style="display:inline-block;width:165px;position:relative;top:-3px;">
                      This absence is :
                    </label>
                    <mat-radio-group name="unavailabilitytype" formControlName="unavailabilitytype" required
                      aria-label="Select an option">
                      <div class="inline-block mr10">
                          <mat-radio-button value="Tentative">Tentative</mat-radio-button>
                        </div>
                      <div class="inline-block mr10">
                        <mat-radio-button value="Confirmed">Confirmed</mat-radio-button>
                      </div>
                      </mat-radio-group>


                  </div> -->



                  <!-- <div class="mt10">
                    <div *ngIf="activerole=='l2'" class="mt10 com-checkbox checkbox-theme">
                      <input type="checkbox" value="Yes" formControlName="applytoall" name="applytoall" id="applytoall" />
                      <label  for="applytoall" class="text_grey">
                          Apply this absence to all clinics visited by you
                      </label>
                    </div>
                  </div> -->
                <div class="mt10 com-checkbox checkbox-theme">
                  <input type="checkbox"   (change)="block_further_appointments($event)" value="Yes" formControlName="block_further_appointments" name="block_further_appointments" id="block_further_appointments" />
                  <label for="block_further_appointments" class="text_grey">Block Further Appointments</label>
                </div>
                <div *ngIf="desabledata!=true">
                  <div class="mt10 com-checkbox checkbox-theme">
                    <input type="checkbox" value="Yes" formControlName="canceltokens" [disabled]='desabledata' name="canceltokens" id="canceltokens" (change)="cancelTokenChecked($event.target.checked)" />
                    <label class="text_grey" for="canceltokens">Cancel impacted tokens</label>
                    <span class="text_pink" style="display:inline-block;font-size:15px;margin-left:10px;">
                      <strong>{{viewimpact}}</strong>
                    </span>
                    <input (click)="viewimpactclick(addunavailability.value)" type="button" class="btn btn-sm btn-success" name="View Impact" value="View Impact" class="mt5 btn btn-sm btn-success" style="margin-top:-2px !important;"/>
                  </div>
                </div>
                <div *ngIf="!cancelchecked">
                  <div *ngIf="desabledata!=true;else otherstatus ">
                    <div class="mt10 com-checkbox checkbox-theme">
                      <input type="checkbox"  (change)="broadcasttoall($event)" value="Yes" formControlName="broadcasttoallqueue"    name="broadcasttoallqueue" id="broadcasttoallqueue" />
                      <label for="broadcasttoallqueue" class="text_grey">Broadcast message to all impacted tokens  </label>
                    </div>
                  </div>
                  <ng-template #otherstatus>
                    <div class="mt10 com-checkbox checkbox-theme">
                      <input type="checkbox"  (change)="broadcasttoall($event)" value="Yes" formControlName="broadcasttoallqueue"  disabled  name="broadcasttoallqueue" id="broadcasttoallqueue" />
                      <label for="broadcasttoallqueue" class="text_grey">Broadcast message to all impacted tokens </label>
                    </div>
                  </ng-template>
                  <div class="mt10" *ngIf="broadcasttoalldata">
                    <label class="green-text">Message to Broadcast</label>
                    <textarea autofocus name="broadcastedmessage"  [readonly]='desabledata' required formControlName="broadcastedmessage" class="form-control border-green" placeholder="Enter broadcast message"></textarea>
                  </div>
                </div>
                <div class="mt20">
                  <label class="green-text">Reason for unavailability</label>
                  <textarea name="unavailabilityreason" required formControlName="unavailabilityreason"
                    class="form-control border-green" placeholder="Enter reason for unavailability">
                  </textarea>
                </div>
                <br>
                <div *ngIf="status=='Active';else otherdata" class="mt10" align="center">
                  <div>
                    <button type="submit"   class="btn btn-success btn-bold">SAVE</button>
                  </div>
                </div>
                <ng-template #otherdata>
                  <button type="submit"   class="btn btn-success btn-bold">SAVE</button>
                </ng-template>
              </form>
            </div>
          </div>
          <div *ngIf="providerlistshow">
            <div>
              <div *ngIf="providerlistdata">
                <div *ngFor="
                    let quesetupdatas of (providerlistdata
                      | paginate
                        : {
                            itemsPerPage: this.size,
                            currentPage: this.page,
                            totalItems: this.totalRecords
                          })
                  ">
                  <div>
                    <div class="col-sm-6 col-md-3 mt10">
                    <div (click)="adddoctoraunavailabilitysame(quesetupdatas.user_master_id,quesetupdatas.first_name,quesetupdatas.middle_name,quesetupdatas.last_name,quesetupdatas.profileimage_path)" class="fp_queue_content">
                      <div class="fp_queue_wrapper">
                        <div class="fp_queue_img">
                          <img src="{{ quesetupdatas.profileimage_path }}" class="img-responsive"
                            onerror="this.src='assets/doctors-default.jpg'" />
                        </div>
                        <div class="fp_queue_info">
                          <p class="fp_queue_name green-text">
                            Dr. {{ quesetupdatas.first_name }} {{quesetupdatas.middle_name}}  {{quesetupdatas.last_name}}
                          </p>
                          <p>{{quesetupdatas.provider_specialities}}</p>
                        </div>

                          </div>
                    </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="suberror != null">
                  {{ suberror }}
                </div>
              </div>
            </div>
            <div class="clearfix">&nbsp;</div>
              <div class="mt25">
                <pagination-controls (pageChange)="getproviderlist($event)"></pagination-controls>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>