<!--
<div class="main-content-wrapper">
  <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="form-inline"> 
      <div class="col-sm-4 col-lg-3">
        <div class="form-group">
          <input [(ngModel)]="testfilter.testname" placeholder="test name" name="testname"   
          #planname="ngModel" class="form-control w100">
        </div>
      </div>
      <div class="col-sm-4 col-lg-3">
      <div class="form-group">
        <select [(ngModel)]="testfilter.teststatus" name="teststatus"   #teststatus="ngModel"
        [(ngModel)]="status"    
        class="form-control w100">
            <option value="Active">Active
          </option>
          <option value="In-active">In-active
          </option>
        </select>
      </div>
    </div>
      <div class="col-sm-12 col-lg-3">
        <button class="btn btn-info">Search</button>
        <button (click)="clearfilter()" class="btn btn-info">Clear</button>
      </div>
  </form>
  <div class="clearfix"></div>
  <div class="col-md-12">
        <h2> Test Details</h2> 
        <button class="btn btn-danger" routerLink="testaddedit"> Add Test</button>
          <table class="table table-striped">
          <thead>
          <tr>
            <th class="hidden">Id</th>
            <th>Test Name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
         
          <tr *ngFor="let testlists of testlist| paginate: { itemsPerPage: this.size, 
            currentPage: this.page, totalItems: this.totalRecords }">
            <td class="hidden"></td>
            <td>{{testlists.test_name}}</td>
            <td>
            <select  *ngIf="testlists.status=='Active'"
            name="planstatus"  (change)="statuschange(testlists.test_master_id,$event.target.value)"
            class="form-control">
           <option selected   value="Active" selected >Active </option>
            <option value="In-active">In-active </option>
          </select>
      <select  *ngIf="testlists.status=='In-active'"
      (change)="statuschange(testlists.test_master_id,$event.target.value)"
      name="planstatus"
       class="form-control">
           <option    value="Active"  >Active </option>
            <option  value="In-active" selected>In-active </option>
          </select>
          </td>
            <td>
       <button class="btn btn-danger" routerLink="testaddedit/{{testlists.test_master_id}}" 
       style="margin-left: 20px;"> Edit</button></td>
          </tr>
          </tbody>
        </table>
        <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
      </div>
    -->


<!--
<div class="main-content-wrapper">
<form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="form-inline"> 

    <div class="form-group ">
        <label> Address Line 1 </label>
        <input type="text" class="form-control" name="address1" formControlName="address1" placeholder="Enter address1" required="">
        <div class="help-block"></div>
      </div>
      <div class="form-group ">
        <label> Address Line 2 </label>
        <input type="text" class="form-control" name="address2" formControlName="address2" placeholder="Enter address2" required="">
        <div class="help-block"></div>
      </div>
      <div class="form-group ">
        <label> Street </label>
        <input type="text" class="form-control" name="street" formControlName="street" placeholder="Enter street">
        <div class="help-block"></div>
      </div>
      <div class="form-group ">
        <label> Landmark </label>
        <input type="text" class="form-control" name="landmark" formControlName="landmark" placeholder="Enter landmark">
        <div class="help-block"></div>
      </div>
      <div class="form-group ">
        <label> Area / Locality </label>
        <input type="text" class="form-control" name="area" formControlName="area" placeholder="Enter area">
        <div class="help-block"></div>
      </div>
      <div class="form-group ">
          <label> Pincode </label>
          <input type="text" class="form-control" name="pincode" formControlName="pincode" placeholder="Enter pincode">
          <div class="help-block"></div>
        </div>
      
      
      <div class="form-group">
        <label for="plancountryid">Select Country</label>
        <select formControlName="countryid" (change)="onconChange($event.target.value)" name="countryid" class="form-control">
          <option [value]="getCountrie.country_id" *ngFor="let getCountrie of getCountries">
            {{ getCountrie.country_name }}</option>
        </select>
      </div>
      <div class="form-group">
          <label for="state_id">Select State</label>
          <select formControlName="state_id" (change)="onstateChange($event.target.value)" name="state_id" class="form-control">
            <option [value]="statelists.state_id" *ngFor="let statelists of statelist">
              {{ statelists.state_name }}</option>
          </select>
        </div>
        <div class="form-group">
            <label for="city_id">Select City</label>
            <select formControlName="city_id" name="city_id" class="form-control">
              <option [value]="citylists.city_id" *ngFor="let citylists of citylist">
                {{ citylists.city_name }}</option>
            </select>
          </div>
</form>
</div>

-->


































