.selectorarrowleft:before {
    right: 24px !important;
}
.selectorarrowleft{
    right:0px !important;
    left:unset !important;
}
.tokenlist-item{
    padding:10px;
    border-bottom:1px solid green;
}
h3{
    margin-top:0px;
}
.followup-action-wrapper{
    margin-top:15px;
}
.followup-action-wrapper .material-icons{
    color: #fff;
    background: green;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid #E9237F;
    margin-left:20px;
}