<div style="width:100% !important;float:left;text-align: right;border-bottom: 2px solid green;padding-bottom: 15px;">
  <span class="material-icons" mat-button  (click)="dialogClose()">clear</span>
  <h3 class="text-green text-center" style="margin-top: -30px;padding-left: 20px;">Follow ups on</h3>
  <div class="col-sm-12" style="width: 230px;float:unset;margin:0px auto;">
    <input class="form-control border-pink datepicker text-center after-btn-1-input cursor-pointer" readonly placeholder="Select a date" value="{{followupdate}}" ngx-mydatepicker (dateChanged)="onchangeFollowupdate($event)" [options]="myOptionsassign"  #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" style="height:auto;" [(ngModel)] = "queueDate" style="font-weight: 600;height: 34px;font-size: 25px;border:0px !important;width: 225px;
    margin: 0px auto;"/>
    <img src="assets/calendar-icon-pink.png" (click)="dp.toggleCalendar()" class="calendar_icon cursor-pointer" style="right: -30px;">
  </div>
</div>
<div mat-dialog-content style="height: 375px;overflow: scroll;">
  <div *ngIf="followupTokens?.length > 0">
    <div class="tokenlist-item" *ngFor = "let tokenDetails of followupTokens;let i = index" style="float:left;width:100%;padding-bottom:10px;">
      <div class="col-sm-8 col-md-8 col-lg-8">
        <h3 class="text-green" style="font-size:16px;">{{tokenDetails.booking_for_name}}</h3>
        <span>{{tokenDetails.queue_date}} ~ {{tokenDetails.queue_name}}</span><br>
        <span>Ph ~ {{tokenDetails.token_requestor_no}}</span>
        <div class="clearfix"></div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 followup-action-wrapper">
        <a  title="View Token" (click)="onNoClick(i,'view')">
          <i  class="material-icons">remove_red_eye</i>
        </a>
        <a  title="Assign New Token" (click)="onNoClick(i,'add')">
          <i  class="material-icons">add</i>
        </a>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-sm-12" *ngIf="followupTokens?.length <= 0" >
    <div class="text-center text-green" style="margin-top: 20%;padding: 20px;font-size: 20px;">
      No Followup Found on selected date.
    </div>
  </div>
</div>
