<div class="page-wrapper chiller-theme" >
  <div class="page-content">
    <!-- Breadcrumb-->
    <div class="page-breadcrumb">
        <div class="container">
          <a routerLink="/">Home</a> <span class="arrow">></span> <span>Override Queue Timings</span>
        </div>
    </div>
    <!-- Breadcrumb-->
    <div class="container">
    <div class="qtraq-subtitle-wrapper pb0"> 
      <h1>Override Queue Timings</h1>
    </div>  
    <section class="content">
      <div *ngIf="overrideque">
      <form [formGroup]="overridequeue" (ngSubmit)="onoverridesubmit(overridequeue.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>
        <div >
          <div class="box-body" formArrayName="items">
            <div class="row">
              <div class="col-sm-12">              
                <div  class="token_details_top">
                  <div  class="td_doctor_name">   
                      <span  class="label-icn material-icon">	 
                        <i  class="material-icons">person</i>	  
                      </span>
                      <div _ngcontent-c15="">
                        <p  class="drname_orange">Dr. Danish  Shaikh (static data)</p>
                        <p  class="clinicname_green">Atto Clinic (static data)</p>
                      </div>
                  </div>
                  <div  class="clearfix">&nbsp;</div>
                </div>
                <div class="col-sm-12" align="center">
                  <img src="assets/doctor-departure-arrival.png" class="img-responsive"/>
                </div> 
                <div *ngFor="let item of items.controls; let i = index;">
                  <div [formGroupName]="i"> 
                    <div *ngIf="item.controls.queue_name.value">
                      <div class="overrride_wrapper">
                        <div class="col-sm-1">&nbsp;</div>
                        <div class="col-sm-3" align="center">                          
                          <div class="queueoverride_img">
                              <div *ngIf="item.controls.queue_pic_url.value">
                                <img src="{{item.controls.queue_pic_url.value}}" alt="queue pic url" title="" class="img-responsive" onerror="this.src='assets/user-avatar.jpg'">
                              </div>
                              <input type="hidden" class="form-control" name="queue_transaction_id"
                              formControlName="queue_transaction_id" placeholder="Queue Transaction Id"
                              >
                          </div>
                          <p class="green-text"><strong>{{item.controls.queue_name.value}}</strong></p>                          
                        </div>
                        <div class="col-sm-3" align="center">
                          <p class="green-text"><strong>Tomorrow will start at</strong></p>
                          <input type="time" class="form-control" name="start_time"
                          formControlName="start_time" placeholder="queue start time" class="border-green">
                        </div>
                        <div class="col-sm-3" align="center">
                          <p class="green-text"><strong>will end at</strong></p>
                          <input type="time" class="form-control" name="end_time"
                          formControlName="end_time" placeholder="queue end time" class="border-green">
                        </div>                        
                      </div>
                    </div>
                  </div>
                </div>               
                <!-- <div *ngFor="let item of items.controls; let i = index;">
                  <div [formGroupName]="i"> 
                    <table id="tbl-upload" class="table table-bordered">
                      <tbody>
                        <tr *ngIf="i==0" class="active">                          
                          <th>Queue Name</th>                          
                          <th>Start Time</th>
                          <th>End Time</th>  
                        </tr>
                        <tr *ngIf="item.controls.queue_name.value">
                          <td>
                            <div class="queueoverride_img">
                                <div *ngIf="item.controls.queue_pic_url.value">
                                  <img src="{{item.controls.queue_pic_url.value}}" alt="queue pic url" title="" class="img-responsive" onerror="this.src='assets/user-avatar.jpg'">
                                </div>
                                <input type="hidden" class="form-control" name="queue_transaction_id"
                                formControlName="queue_transaction_id" placeholder="Queue Transaction Id"
                                >
                            </div>
                            {{item.controls.queue_name.value}}
                          </td>                                          
                          <td>
                            <input type="time" class="form-control" name="start_time"
                            formControlName="start_time" placeholder="queue start time">
                          </td>
                          <td>
                            <input type="time" class="form-control" name="end_time"
                            formControlName="end_time" placeholder="queue end time">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div align="center">
          <input type="submit" class="btn btn-success" name="Submit" value="Submit">
          <input type="button" class="btn btn-success"(click)="backtooverride()" name="back" value="Back"/>
        </div>
      </form>
      
      </div>
      <div *ngIf="errorMessage">
      {{errorMessage}}
      </div>
      <div *ngIf="providerlistshow">
          <div class="col-md-12">
            <div *ngIf="providerlistdata">
              <div
                *ngFor="
                  let quesetupdatas of (providerlistdata
                    | paginate
                      : {
                          itemsPerPage: this.size,
                          currentPage: this.page,
                          totalItems: this.totalRecords
                        })
                "
              >
                <div>
                  <div
                    (click)="
                    overridequeuedata(
                      quesetupdatas.user_master_id
                       )"
                    class="fp_queue_content"
                  >
                    <div class="fp_queue_wrapper">
                      <div class="fp_queue_img">
                        <img
                          src="assets/searchtoken-avatar.jpg"
                          class="img-responsive"
                        />
                      </div>
                      <div class="fp_queue_info">
                        <p class="fp_queue_name green-text">
                          {{ quesetupdatas.first_name }}
                        </p>
                        <p>Orthopedic Treatment</p>
                      </div>
                      <div class="fp_queue_check_queue">
                        <span class="label-icn material-icon">
                          <i class="material-icons">people</i>
                        </span>
                        Check Queue
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="suberror != null">
                {{ suberror }}
              </div>
            </div>
          </div>
          <div class="clearfix">&nbsp;</div>
          <div class="mt25">
            <pagination-controls
              (pageChange)="getproviderlist($event)"
            ></pagination-controls>
          </div>
      </div>
    </section>
    </div>
  </div>
</div>

  
