.first
{
height: 10px;
width: 100%;
background: #ddd
}


.second
{
height: 10px;
background: #009200
}

.main-div{
    width:500px;
    height:auto;
    margin:50px auto;
    background:#000;
    padding:20px;
    z-index:999999;
  }
  .overlay {
    background: #e9e9e9;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:#c1c1c1;
    width:100%;
    height:100%;
    z-index:99999;
  }