<div class="page-wrapper chiller-theme ">
  <div class="page-content">
    <div class="main-content-wrapper">
      <div class="page-breadcrumb">
        
      
        <div class="container" *ngIf="providerdetail!=true;else othertrue">
          <a (click)="backtohome()">Home (Past/Future Queues)</a> 
          <span class="arrow">></span> <span> Select
            Doctor</span>

        </div>
<ng-template #othertrue>
<div  class="container" *ngIf="requestsreceivedreshadule==true;else othertrue">

<div *ngIf="screenname=='Ongoing Queues';else otherfuturepast">
    <a (click)="home()">Home</a> 
    <span class="arrow">></span> 
    <a (click)="ongoingback()">Ongoing Queues</a> 
    <span class="arrow">> </span>
     <a (click)="callfromprovider()">Dr. {{newprovider_name}} , {{queue_namereqexisting}}</a>  
     <span class="arrow">></span> 
     <a (click)="backfromreshadule()">Token Detail</a>
     <span class="arrow">></span>
     <a (click)="reschedulelistsclicktransaction('ongoing')">Reschedule Token Request </a>
     <span class="arrow">></span>
     <span >Future Past</span>


</div>
<ng-template #otherfuturepast>
<div *ngIf="screenname=='Future Past Token';else othertodays">

    <a (click)="backtohome()">Home (Past / Future Tokens)</a> 
    <span class="arrow">></span> 
    <a (click)="searchbacktodoctor()">Select Doctor</a> 
    <span class="arrow">> </span>
     <a (click)="backbuttontabbedforfuturepast()">Search/Select Queue</a>  
     <span class="arrow">> </span>
<a (click)="callfromprovider()">Dr. {{newprovider_name}} , {{queue_namereqexisting}}</a>  

     <span class="arrow">></span> 
     <a (click)="futurepastback()">Token Detail</a>
     <span class="arrow">></span>
     <a (click)="reschedulelistsclicktransaction('futurepast')">Reschedule Token Request</a>
     <span class="arrow">></span>
     <span>Future Past</span>
     


</div>
<ng-template #othertodays>
<div  *ngIf="screenname=='Todays Queues';else othersearch">


    <a (click)="home()">Home</a> 
    <span class="arrow">></span> 
    <a (click)="backtopage()">Today's Queues</a> 
    <span class="arrow">> </span>
     <a (click)="callfromprovider()">Dr. {{newprovider_name}} , {{queue_namereqexisting}}</a>  
     <span class="arrow">></span> 
     <a (click)="backfromreshadule()" >Token Detail</a>
     <span class="arrow">></span>
     <a (click)="reschedulelistsclicktransaction('today')">Reschedule Token Request </a>
     <span class="arrow">></span>
     <span >Future Past</span>

</div>
<ng-template #othersearch>
<div *ngIf="screenname=='Search Tokens';else otherreq">
    <a (click)="backtohome()">Home</a> <span class="arrow">></span>
                  <a (click)="backtosearchmain()">
                    <span class="hover-breadcrumb" style="color:#1b592a;font-weight:normal;">
                        Search Tokens </span> </a> 

                        <span class="arrow">></span> 
                        <a (click)="backfromreshadulefuture()">Token Detail</a>
                        <span class="arrow">></span>
                        <a (click)="searchresadule()">Reschedule Token Request </a>
                        <span class="arrow">></span>
                       <span> Future Past </span> 

</div>

<ng-template #otherreq>


    <div *ngIf="newreqtype=='newreq';else othertype">
        <a (click)="backtohome()">Home (Requests Received)
          </a> <span class="arrow">></span>
          <a (click)="newrequeuest()"> New Token Request</a>
          <span class="arrow">></span> 
           <a (click)="tokendetaildata()">Confirm / Return request</a> 
           <span class="arrow">></span>
           <span>
              Search/Select Queue
          </span>
    </div>
    <ng-template #othertype>
      <a (click)="backtohome()">Home (Requests Received)
      </a> <span class="arrow">></span>
      <a (click)="newrequeuest()"> Reschedule Token Request</a>
      <span class="arrow">></span> 
       <a (click)="tokendetaildatareshadule()">Confirm / Return request</a> 
       <span class="arrow">></span>
       <span>
          Search/Select Queue
      </span>
    
    </ng-template>
    



</ng-template>
</ng-template>

</ng-template>

</ng-template>




</div>
     <ng-template #othertrue>
     <div class="container">
        <a (click)="backtohome()">Home (Past/Future Queues)</a> 
        <span *ngIf="showbrd" class="arrow">></span> 
        
        <a *ngIf="showbrd" (click)="backtohomeseleactdoctor()"> Select
          Doctor</a><span class="arrow">></span>
        
        
          <span>
              Search/Select Queue
          </span>


     </div>
      </ng-template>

    </ng-template>
      </div>
      <div class="container">

        <section class="content">

          <!--future past start-->
          <div class="overlay" *ngIf="productLoading">
            <div id="loading-img">loading</div>
          </div>

          <div *ngIf="providerlistdata">            
              <div *ngIf="quesetupdata">
                <div *ngFor="let quesetupdatas of quesetupdata| paginate: { itemsPerPage: this.size, 
  currentPage: this.page, totalItems: this.totalRecords }">
                  <div>
                    <div class="col-sm-3 mb10">
                      <div (click)="divclick(quesetupdatas.user_master_id,quesetupdatas.last_name,
                      quesetupdatas.first_name,quesetupdatas.middle_name,quesetupdatas.profileimage_path,quesetupdatas.org_location)"
                      class="fp_queue_content">

                      <div class="fp_queue_wrapper">
                        <div class="fp_queue_img">
                          <img src="{{quesetupdatas.profileimage_path}}" class="img-responsive"
                            onerror="this.src='assets/doctors-default.jpg'">
                        </div>
                        <div class="fp_queue_info">
                          <p class="fp_queue_name green-text">Dr. {{quesetupdatas.first_name}}
                            {{quesetupdatas.middle_name}} {{quesetupdatas.last_name}}</p>
                          <p>{{quesetupdatas.provider_specialities}}</p>
                        </div>
                        <div class="fp_queue_check_queue">
                          <span class="label-icn material-icon">
                            <i class="material-icons">people</i>
                          </span>
                          Check Queue
                        </div>
                      </div>

                      
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div *ngIf="suberror != null">
                  {{ suberror }}
                </div>
              </div>            
            <div class="clearfix">&nbsp;</div>
            <div class="mt25">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
          <div *ngIf="hiddenall">
            <div class="">
              <div *ngIf="providerdetail">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="token_details_top">
                      <div class="td_doctor_name">

<div  *ngIf="requestsreceivedreshadule==true;else otherimg">
      <img 
     
      src="{{newfuturepastprofileimage_path}}" class="img-responsive profile_thumbnail_img"
        onerror="this.src='assets/user-default.jpg'" style="width:50px;min-width:50px;height:50px;min-height:50px;margin-right:10px;margin-top:-20px;">
</div>                  
<ng-template #otherimg>
  
    <img  src="{{profileimage_path}}" class="img-responsive profile_thumbnail_img"
        onerror="this.src='assets/user-default.jpg'" style="width:50px;min-width:50px;height:50px;min-height:50px;margin-right:10px;margin-top:-20px;">

  </ng-template>
                       
                          <div>

<p *ngIf="requestsreceivedreshadule==true;else other" class="drname_orange">
                  
    Dr. {{newprovider_name}}
                           
                          </p>
                 <ng-template #other>
                   
<p  class="drname_orange">
    Dr. {{first_name}} {{middle_name}} {{queuser_name}} 
  </p>

                  </ng-template>
                          
                          <!-- <p class="clinicname_green">{{org_location}} </p> -->                          
                          <p class="text-green" style="font-size:15px;"><strong>Search / Select Queues</strong></p>                       
                        </div>
                      </div>
                      <div class="clearfix">&nbsp;</div>
                    </div>
                  </div>
                </div>

             <!--   <div *ngIf="providerdetail!=true;else othertruetitle">

                 
                    </div>
                  -->
                <form [formGroup]="futurepastorder" (ngSubmit)="onSubmitfuturepast(futurepastorder.value)">
                  <div class="row mt10">
                    <div class="col-xs-12 col-sm-3">
                      <label class="green-text">Queues from</label>
                      <input class="form-control border-green" placeholder="Select a Date" name="fromdata"
                        formControlName="fromdata" ngx-mydatepicker [options]="myOptions" #fromdata="ngx-mydatepicker"
                        (click)="fromdata.toggleCalendar()" />
                    </div>
                    <div class="col-xs-12 col-sm-3">
                      <label class="green-text">Queues to</label>
                      <input class="form-control border-green" placeholder="Select a Date" name="todate"
                        formControlName="todate" ngx-mydatepicker [options]="myOptions" #todate="ngx-mydatepicker"
                        (click)="todate.toggleCalendar()" />
                    </div>
                    <div class="col-xs-12 col-sm-3 mt20">
                      <input type="submit" name="submit" value="Search" class="btn btn-sm btn-success" style="font-size:15px;font-weight:bold;"/>
                      <button type="button" class="btn btn-primary" style="padding: 0px;height: 35px;" (click) = "transactionQueueSummaryByDateRange()">
                          <i class="material-icons" style="font-size: 26px;color: #fff;padding: 4px;">list</i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div *ngIf="futurepastlist">
              <div *ngFor="let getfuturepastlists of getfuturepastlist">
                <div *ngIf="getfuturepastlists.queue_data">
                  <div class="col-sm-12">
                    <div class="row">
                      <h4 class="text_green mt20 mb10" style="width: 170px;float:left;"> 
                        {{getfuturepastlists.date}} 
                      </h4>
                      <span style="width:200px;float:left;font-size: 30px;margin-top: 12px;">
                        <a title="Queues Summary of {{getfuturepastlists.date}}" (click)="transactionQueueSummaryByDate(getfuturepastlists.queue_data[0].provider_id,getfuturepastlists.queue_data[0].queue_date,getfuturepastlists.queue_data[0].queue_date,getfuturepastlists.date)">
                          <i class="material-icons" style="font-size: 30px;">list</i>
                        </a>
                      </span>
                    </div>
                  </div>
                  <div class="row mt10">
                    <div *ngFor="let getfuture of getfuturepastlists.queue_data">
                      <div  >
                        <div class="col-sm-4">
                          <span style="position: absolute;right: 20px;top: 6px;z-index:9" (click)="singleQueueSummary(getfuture.queue_transaction_id,getfuture.queue_name,getfuturepastlists.date)"><i class="material-icons" style="font-size: 30px;">list</i></span>
                          <div class="fp_queue_wrapper fullwidth cursor-pointer past_queues" *ngIf="getfuture.queue_type=='Past';else othertext" style="padding:15px;">
                            <div style="display:flex;align-items: center;margin:0 0 10px 0;" (click)="differensequeue(getfuture.queue_type,getfuture.queue_transaction_id)">
                              <div class="col-sm-3 pl0">
                                <div class="fp_queue_img">
                                  <img class="img-responsive" onerror="this.src='assets/doctors-default.jpg'"
                                    src="{{getfuture.queue_pic_url}}">
                                </div>
                                
                              </div>
                              <div class="col-sm-9">
                                <div class="fp_queue_info" style="text-align:left">
                                  <p class="fp_queue_name green-text" style="font-size:15px;">{{getfuture.queue_name}}</p>
                                  <p>{{getfuture.queue_start_time}} to {{getfuture.queue_end_time}}</p>
                                  <p class="fp_queue_name green-text" style="font-size:14px;">
                                    Completed: {{getfuture.completed_tokens}}
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>                        
                          </div>
                        <ng-template #othertext>
                          <div class="fp_queue_wrapper fullwidth cursor-pointer" style="padding:15px" (click)="differensequeue(getfuture.queue_type,getfuture.queue_transaction_id)">
                            <div style="display:flex;align-items: center;margin:0 0 10px 0;">
                                <div class="col-sm-3 pl0">
                                  <div class="fp_queue_img">
                                    <img class="img-responsive" onerror="this.src='assets/doctors-default.jpg'"
                                      src="{{getfuture.queue_pic_url}}">
                                  </div>
                                </div>
                                <div class="col-sm-9">
                                  <div class="fp_queue_info" style="text-align:left">
                                    <p class="fp_queue_name green-text" style="font-size:15px;">{{getfuture.queue_name}}</p>
                                    <p>{{getfuture.queue_start_time}} to {{getfuture.queue_end_time}}</p>
                                    <p class="fp_queue_name green-text" style="font-size:14px;">
                                        Confirmed: {{getfuture.net_issued_tokens}}
                                    </p>
                                    <!-- <div *ngIf="((getfuture.remaining_tokens < getfuture.buffer_tokens)||(getfuture.remaining_tokens == getfuture.buffer_tokens));else other">
                                      <p class="fp_queue_name red-text" style="font-size:14px;">Remaining :: {{getfuture.remaining_tokens}}</p>
                                    </div> -->
                                    <!-- <ng-template #other>
                                      <p class="fp_queue_name green-text" style="font-size:14px;">
                                        Remaining :: {{getfuture.remaining_tokens}}
                                      </p>
                                    </ng-template> -->
                                  </div>
                                </div>
                              </div>
                              <div class="clearfix">&nbsp;</div>
                              <!-- <div class="first">
                                <div [ngStyle]="{'width.%':((getfuture.queue_total_token-getfuture.remaining_tokens)/getfuture.queue_total_token)*100}"
                                  class="second">
                                </div>
                              </div>     -->
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="queuelist">
              <div class="main-content-wrapper pt0">
                <section class="content">
                  <div class="clearfix"></div>
                  <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.0001" [maximum]="progressbar" [speed]="200"
                    [showSpinner]="false" [direction]="'leftToRightIncreased'" [color]="'red'" [trickleSpeed]="250"
                    [thick]="false" [ease]="'linear'">
                  </ng-progress>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="token_details_top fut-past-queue">
                        <div class="td_doctor_name">
                          <img src="{{queue_detailstoday[0].queue_pic_url}}" class="img-responsive circle-img-thumb"
                            onerror="this.src='assets/user-default.jpg'">
                          <div>
                            <p class="grey-text font-16"><strong>{{queue_detailstoday[0].provider_name}}</strong></p>
                            <p class="clinicname_green">{{queue_detailstoday[0].queue_name}}</p>
                            <p class="pink-text font-16"><strong>{{queue_detailstoday[0].queue_date}}</strong></p>
                          </div>
                          <img src="{{queue_detailstoday[0].profileimage_path}}"
                            class="img-responsive profile_thumbnail_img" onerror="this.src='assets/user-default.jpg'">
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt10">
                    <div class="col-sm-11">
                      <p class="green-text font-20"><strong>Tokens Issued: {{total_tokens}}</strong></p>
                    </div>
                    <div (click)="broadcastmessegtodays()">
                      <div class="col-sm-1" align="center">
                        <img src="assets/broadcast_message_thumb.png" alt="Broadcast Message" title="Broadcast Message">
                      </div>
                    </div>
                  </div>
                  <div style="max-height:400px;overflow-y: auto;">
                    <div *ngFor="let transactionQueueToken of transactionQueueTokens" >
                      <div (click)="tokendetail(transactionQueueToken.token_id)">
                        <div class="row mt10 mb10" >
                          <div class="col-sm-8">
                            <div class="fullwidth-wrapper background-light-green dark-border cursor-pointer">
                              <div class="col-sm-3" align="center">
                                <div class="circle-green">{{transactionQueueToken.token_no}}</div>
                                <p class="grey-text font-12"> {{transactionQueueToken.token_status}}</p>
                              </div>
                              <div class="col-sm-6">
                                <div class="pt10 pb10">
                                  <p class="grey-text"><strong>{{transactionQueueToken.booking_for_name}}</strong></p>
                                  <p class="grey-text font-12"> {{transactionQueueToken.user_age}} ~ Age
                                    {{transactionQueueToken.user_age}} years</p>
                                  <p class="grey-text font-12">App.at {{transactionQueueToken.token_time | TimeFormat }}
                                  </p>
                                </div>
                              </div>
                              <div class="col-sm-3" align="center">
                                <img src="{{transactionQueueToken.profileimage_path}}"
                                  class="img-responsive profile_thumbnail_img mt10"
                                  onerror="this.src='assets/user-default.jpg'">
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!--new code start 4-17-2019-->
          </div>
        </section>
      </div>
    </div>
  </div>
</div>