<div class="change-org-main text-center">
  <div class="col-sm-12">
    <i class="material-icons close-orgmodal"  (click)="closebox()" >clear</i>
    <div class="clearfix"></div>
  </div>
  <div *ngFor="let organisationlists of organisationlist" class="change-org-col" >
    <div (click)="onNoClick(organisationlists.org_name,organisationlists.org_id,
    organisationlists.roles[0].isAssigned,organisationlists.roles[1].isAssigned,
    organisationlists.roles[2].isAssigned,organisationlists.org_logo,organisationlists.org_type)" class="change-org-block">    
      <img src="{{organisationlists.org_logo}}" alt="Organisation Image" title="" class="modal-orglogo" onerror="this.src='assets/org_placeholder.png'">
      <p class="change-org-text" >
          {{organisationlists.org_name}} 
      </p>
    </div>
  </div>
</div>




