<div class="page-wrapper chiller-theme ">
  <div class="page-content">
    <!--<div class="page-content-all-hd">
      <h2>{{publicorgname}}</h2>
    </div>-->
    <div class="main-content-wrapper">
      <div class="clearfix"></div>
      <div *ngIf="providerlist">
        <div class="quesetup-nav-hd">
          <h3>Select doctor for queue list</h3>

        </div>
        <!--<div class="quesetup-hd">
            <h3>BHUMKAR'S CLICNIC</h3>
      
          </div>-->
        <div class="provider-detail-main">
          <!-- Breadcrumb-->
          <!--
          <div class="page-breadcrumb">
            <div class="container">
              <a routerLink="/">Home (Queue Setup)</a> >  <span>Select a Doctor</span>
            </div>
          </div>
        -->
          <!-- Breadcrumb-->
          <div class="provider-detail-main-add full"></div>
          <div class="container">
            <div class="row">
              <div *ngIf="quesetupdata">
                <div *ngFor="let quesetupdatas of quesetupdata| paginate: { itemsPerPage: this.size, 
                    currentPage: this.page, totalItems: this.totalRecords }" class="col-sm-3">
                  <div (click)="divclick(quesetupdatas.user_master_id,quesetupdatas.user_name,
                    quesetupdatas.first_name,
                    quesetupdatas.last_name,
                    quesetupdatas.profileimage_path,
                    quesetupdatas.org_location,
                    quesetupdatas.provider_specialities)" class="queuesetup-main">
                    <div class="queuesetup-single">
                      <div class="queuesetup-single-img">
                        <img src="assets/default-user.png" class="img-responsive"
                          onerror="this.src='assets/doctor-placeholder.jpg'">
                      </div>
                      <div class="queuesetup-single-info">
                        <h4>{{quesetupdatas.first_name}}</h4>
                        <span>{{quesetupdatas.provider_specialities}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="suberror != null">
                  {{ suberror }}
                </div>
              </div>
              <div class="clearfix">&nbsp;</div>
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="providerdetail">
        <!-- Breadcrumb-->
        <div class="page-breadcrumb">
          <div class="container">
            <a routerLink="/">Home (Queue Setup)</a> >  <a routerLink="/">Select a Doctor</a> > <span>Add / Select Queue</span>
          </div>
        </div>
        <!-- Breadcrumb-->       
        <div class="main-content-wrapper pt10">
          <div class="container">          
            <div class="qtraq-subtitle-wrapper">
              <h1 _ngcontent-c5="">Select / Add Queue</h1>
            </div>
            <div class="col-sm-12">
              <div class="providerdetail-outer">
                <div class="col-sm-12">
                  <div class="providerdetail-inner-full full">
                    <div class="profileinfo">
                      <div class="profileinfo-col">
                        <div *ngIf="profileimage_path">
                          <img src="{{profileimage_path}}" alt="" title="" class="qsetup_profileimg" onerror="this.src='assets/doctor-placeholder.jpg'">
                        </div>
                      </div>
                      <div class="profileinfo-col">
                        <div *ngIf="first_name">
                          <!---<span class="label">First Name </span>-->
                          <span class="label"><img src="assets/doctor_dark_green.png"> </span>
                          <span class="info-text info-text1"> {{queuser_name}} </span>
                        </div>
                        <div *ngIf="queuser_name">
                          <!--<span class="label">Username </span>-->
                          <span class="label"><img src="assets/degree.png"> </span>
                          <span class="info-text info-text2">
                            <!--:{{queuser_name}}--> {{provider_specialities}} </span>
                        </div>
                        <div *ngIf="queuser_name">
                          <span class="label"><img src="assets/location-icon.png"></span>
                          <span class="info-text info-text2 text_green">{{org_location}} </span>
                          <div class="addqueue-btn-container">
                            <button class="btn btn-danger" routerLink="addqueue/{{user_master_id}}">
                              Add Queue
                            </button>
                          </div>
                        </div>
                      </div>
      
      
      
                    </div>
      
                    <!--<h1>Que List</h1>-->
                    <div class="que-list-main full">
                      <div *ngFor="let quelists of quelist" class="">
      
                        <div>
                          <a routerLink="addeditque/{{user_master_id}}/{{quelists.queue_id}}" class="que-list-blockanchor">
                            <!--
                  <div (click)="divclick(quesetupdatas.user_master_id,quesetupdatas.user_name,
                  quesetupdatas.first_name,quesetupdatas.profileimage_path)">
                -->
                            <!--{{quelists.queue_name}}-->
                            <!--
                    </div>  
                  -->
                            <div class="que-list-block que-list-block-half">
                              <div class="que-list-block-col que-list-block-col-left">
                                <img src="{{quelists.queueimage_path}}" class="img-responsive"
                                  onerror="this.src='assets/placeholder.png'" style="margin-top:40px;">
                              </div>
                              <div class="que-list-block-col que-list-block-col-right">
                                <div class="que-list-block-col que-list-block-col-2">
                                  <h4>{{quelists.queue_name}}</h4>
                                  <span class="time">{{quelists.start_time}} to {{quelists.end_time}}</span>
                                  <span class="days">{{available_days}}</span>
                                  <div *ngIf="quelists.is_public;else elseBlock">
                                      <span class="status">Public</span>
                                  </div>
                                  <ng-template #elseBlock>
                                      <span class="status">Private</span>
                                  </ng-template>
                                </div>
                              </div>
                              <div class="que-list-block-col que-list-block-col-3">
                                <!-- <h4>&nbsp;</h4> -->
                                <span class="time">Token Assignment Mode : </span>      
                                <p *ngIf="quelists.booking_mode==1"> Online Not Allowed</p>
                                <p *ngIf="quelists.booking_mode==2"> Auto Token For all queue</p>
                                <p *ngIf="quelists.booking_mode==3">Front Desk Based For All Queue</p>
                                <p *ngIf="quelists.booking_mode==4"> App Auto Token For Ongoing And Also Front Desk</p>      
                              </div>
      
                            </div>
      
      
                          </a>
                        </div>
      
                      </div>
                    </div>
                    <!--
          <button>
          Add quesetup
            </button>
          -->
                    <div class="action-btns-div full">
      
      
                      <!--<button   class="btn btn-danger"  (click)="backclick()">
              Back To Provider
              </button>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>