<div class="page-wrapper chiller-theme ">
    <div class="page-content">
        <!-- Breadcrumb-->
        <div class="page-breadcrumb">
            <div class="col-sm-12">
                <a routerLink="/">Home</a> <span class="arrow">></span> <span>Work Calendar</span>
            </div>
        </div>
        <!-- Breadcrumb-->
        <div class="main-content-wrapper">
            <!-- <div class="container"> -->
            <div >
                <div class="qtraq-subtitle-wrapper"></div>
                <div class="org-form org-form-group-up org-form-group-up-wd">
                    <div class="col-sm-12">
                        <div class="col-sm-2 pt10">
                            <div class="row">
                                <div class="qtraq-subtitle-wrapper" style="padding: 0px;">
                                    <h1 style="border:0px !important">Work Calendar</h1>
                                </div>
                            </div>
                        </div>
                        <!-- filters start -->
                        <div class="col-sm-2 pt10">
                            <div class="form-group">
                                <select  class="form-control" (change)="selectProvider($event.target.value)" >
                                    <!-- <option value="">-- Select Doctor --</option> -->
                                    <option [value]="providers.user_master_id" *ngFor="let providers of providersDetails" [ngValue]="providersDetails" [selected]="providers.user_master_id === provider_id" >
                                        {{ providers.first_name }} {{ providers.last_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 pt10" *ngIf="showmonthselect">
                            <div class="form-group">
                                <div >
                                    <select (change)="getselectmonth($event.target.value)" class="form-control org-form-group-up" style="font-weight:600;"  >
                                        <!-- <option value=''>-- Select Month --</option> -->
                                        <option *ngFor="let arraydatas of arraydata"
                                        [selected]="seleactedbydefault === arraydatas.key"
                                          value="{{arraydatas.key}}">
                                                {{arraydatas.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 pt10">
                            <div class="form-group">
                                <select (change)="getselectyear($event.target.value)" class="form-control org-form-group-up" style="font-weight:600;" >
                                    <!-- <option>-- Select Year --</option> -->
                                    <option *ngFor="let arraydatayears of arraydatayear" [selected]="selectedyear === arraydatayears.value" value="{{arraydatayears.value}}"> {{arraydatayears.value}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 pt10">
                            <div class="form-group">
                                <select (change)="getdashboardtype($event.target.value)" class="form-control org-form-group-up"  >
                                    <!-- <option value=''>-- Select Dashboard Type --</option> -->
                                    <option value='Monthly' [selected]=true>Monthly </option>
                                    <option value="Yearly">Yearly </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2 pt10">
                            <div class="form-group">
                                <select (change)="selectOrganisation($event.target.value)" class="form-control" >
                                    <!-- <option value="">-- Select Organisation --</option> -->
                                    <option [value]="getProviderOrgsdata.org_id"
                                        *ngFor="let getProviderOrgsdata of getProviderOrgs" [ngValue]="getProviderOrgs"
                                        [selected]="getProviderOrgsdata.org_id === organisationid">
                                        {{ getProviderOrgsdata.org_name }}</option>
                                </select>
                            </div>
                        </div>
                        <!-- filters end -->
                        <div class="clearfix"></div>
                        <div class="col-sm-12 p0">
                            <div *ngIf="monthlycalandershow ">
                                <!-- <pre>
                                    {{weeaklydashboarddata | json}}
                                </pre> -->
                                <div class="scrollable-div">
                                    <table class="table-txt-color weeklycalender-table">
                                      <thead>
                                        <tr>
                                            <th class="heading-green-border">Date</th>
                                            <th *ngFor="let initialdate of initialdates"  class="heading-green-border"   [class.popup_req_dashboardtext]="currentdate==initialdate" [class.td-head-bg]="currentdate==initialdate" [class.past-date-heading]="setPastHeadingStyle(currentdate,initialdate) == true"
                                            >
                                                <label style="width:70px;" [innerHtml]="changeDateFormat(initialdate)" ></label>
                                            </th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let weeaklydashboarddatas of weeaklydashboarddata">
                                            <th style="text-align:center;" >
                                                <img src="{{weeaklydashboarddatas.queue_pic_url}}" class="img-responsive" onerror="this.src='assets/queue-default.jpg'" style="width:35px;height:35px;margin:0 auto;">
                                                {{weeaklydashboarddatas.queue_name}}
                                            </th>
                                            <td (click)="getTransactionQueueDatas(weeaklydashboarddatas.queue_id,weeaklydashboard.date)" *ngFor="let weeaklydashboard of weeaklydashboarddatas.date_data" [class.popup_req_dashboardtext]="currentdatecount == weeaklydashboard.date" [class.bgpurple]="weeaklydashboard.is_ongoing == true && weeaklydashboard.checkcurrent == true" [class.weekly_dashboard_gray_bg] = "weeaklydashboard.checkcurrent == false" >
                                                <div >
                                                    <label >{{weeaklydashboard.count}} </label>
                                                    <div *ngIf="weeaklydashboard.count!=0 && weeaklydashboard.checkcurrent == true" >
                                                        <div class="first">
                                                            <div
                                                                *ngIf="((weeaklydashboard.count/weeaklydashboarddatas.queue_total_tokens)*100)>=2 ; else elseBlock">
                                                                <div [ngStyle]="{'width.%':(weeaklydashboard.count/weeaklydashboarddatas.queue_total_tokens)*100}"
                                                                    class="second">
                                                                </div>
                                                            </div>
                                                            <ng-template #elseBlock>
                                                                <div [ngStyle]="{'width.%':2}"
                                                                    class="second percentage-completed">
                                                                </div>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr >
                                            <th class="dashboardtextbackground " style="height:70px;" (click)="transactionQueueSummaryByDateRange(weeaklydashboarddatastotle.date,'fullmonth')">Total</th>
                                            <td *ngFor="let weeaklydashboarddatastotle of weeaklydashboarddatatotle" class="dashboardtextbackground " (click)="transactionQueueSummaryByDateRange(weeaklydashboarddatastotle.date,'single')">
                                                {{weeaklydashboarddatastotle.count}}
                                            </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                            <div *ngIf="yearlycalandershow">
                                <div class="scrollable-div">
                                    <table class="table-txt-color weeklycalender-table">
                                        <thead>
                                            <tr>
                                                <th class="heading-green-border">Date</th>
                                                <th *ngFor="let totalmonthnames of totalmonthname"   [class.popup_req_dashboardtext]="currentselectedmonth==totalmonthnames && selectedyear == currentselectedyearcount"
                                                [class.td-head-bg] = "currentselectedmonth==totalmonthnames && selectedyear == currentselectedyearcount"
                                                class="heading-green-border">
                                                    <label style="width:70px;">{{totalmonthnames}}</label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let yearlydashboarddatas of yearlydashboarddata">
                                                <th>
                                                    <img src="{{yearlydashboarddatas.queue_pic_url}}" class="img-responsive" onerror="this.src='assets/queue-default.jpg'" style="width:35px;height:35px;margin:0 auto;">
                                                    {{yearlydashboarddatas.queue_name}}
                                                </th>
                                                <td *ngFor="let yearlyquedata of yearlydashboarddatas.date_data" [class.popup_req_dashboardtext]="currentselectedmonthcount==yearlyquedata.date && selectedyear == currentselectedyearcount" >
                                                    <label >
                                                        {{yearlyquedata.count}}
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr class="dashboardtextbackground">
                                                <th class="dashboardtextbackground ">Total</th>
                                                <td *ngFor="let yearlydashboarddatatotledata of yearlydashboarddatatotle" class="dashboardtextbackground" (click)="transactionQueueSummaryByDateRange(yearlydashboarddatatotledata.date,'fullmonth')">{{yearlydashboarddatatotledata.count}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
