.first{
    height: 10px;
    width: 100%;
    background: #ddd
}
.second{
    height: 10px;
    background: #009200
}

 .heading-green-border{
    border-top: 2px solid green !important;
    border-bottom: 2px solid green !important;
}
 .popup_req_dashboardtext{
    background: #fdecf4 !important;
    color: #E9237F !important;
}
 .bgpurple{
    background: #F078b0 !important;
    color: #fff !important;
}
 .pt10{
    padding-top:10px;
}
.p0{
    padding:0px !important;
}
.org-form-group-up select {
    min-width: 100% !important;
}

 .scrollable-div{
    max-width: 100%;
    max-height: 500px;
    overflow: scroll;
    position: relative;
 }
 .scrollable-div table {
    position: relative;
    border-collapse: collapse;
    width:100%;
  }

  .scrollable-div table td,th {
    padding: 0.25em;
    vertical-align: middle;
    text-align: center;
    width:50px !important;
    border:1px solid #cdcdcd;
  }

  .scrollable-div table thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #1b592a;
    color: #FFF;
    vertical-align: middle;
  }

  .scrollable-div table thead th:first-child {
    left: 0;
    z-index: 1;
  }

  .scrollable-div table tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
  }
.scrollable-div::-webkit-scrollbar {
    width: 1em;
    height: 2em
}
.scrollable-div::-webkit-scrollbar-button {
    background: #ccc
}
.scrollable-div::-webkit-scrollbar-track-piece {
    background: #bacdbe;
    border-radius: 50px;
}
.scrollable-div::-webkit-scrollbar-thumb {
    background: #034a14;
    border-radius: 50px;
    cursor: pointer;
}
.weekly_dashboard_gray_bg{
  background:#DADADA !important;
  color:#999999 !important;
}

.td-head-bg{
  background: #e9237f !important;
  color: #fff !important;
}

.table-txt-color{
  color: #034a14;
  font-size: 14px;
}

.past-date-heading{
  background:#cdcdcd !important;
  color: #544e4e !important;
}

.weeklycalender-table tbody td,.weeklycalender-table tfoot td{
  font-size:18px;
}