<div class="modal-header">
  <h4 class="modal-title" [innerHTML]="title">{{ title }}</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <p style="color:#f00;font-size:14px;" [innerHTML]="message">{{ message }}</p>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
    <button type="button" class="btn btn-danger" (click)="acceptRac()" *ngIf="btnRAC != ''">{{ btnRAC }}</button>
    <button type="button" class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
  </div>
  <style>
    .red{
      color:#f00;
    }
  </style>