
.main-div{
    width:500px;
    height:auto;
    margin:50px auto;
    background:#000;
    padding:20px;
    z-index:999999;
  }
  .overlay {
    background: #e9e9e9;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:#c1c1c1;
    width:100%;
    height:100%;
    z-index:99999;
  }



  .first
  {
  height: 5px;
  width: 100%;
  background: #ddd
  }

  .floating-edit-btn{
    position: absolute;
    top: 48px;
    right: 4px;
    border-radius: 0px 0px 0px 50px !important;
    height: 40px;
    width: 40px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom:5px;
  }



  .second
  {
  height: 5px;
  background: #009200
  }



  .thr
  {
  height: 5px;
  background: #ff0000
  }

  .width80{
    width:80% !important;
  }
  .width30{
    width:30% !important;
  }
  .star-icon{
    font-size:20px;
  }
  .queue_list_sr_no{
    padding-top:0px !important;
  }
  .queue_list_profile_img img{
    background: #fff !important;
  }

  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 140px !important;
  }
  input{
    cursor: pointer;
  }
  .red-text{
    color:red !important;
  }
  .fs14{
    font-size: 14px !important;
  }
  input:read-only {
    background-color: #fff;
  }

  ::ng-deep.mat-tab-link,  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 97px!important;
    font-size:16px;
  }

  ::ng-deep.mat-ink-bar{
    border:0px !important;
  }