.display-block-ul li{
        display: inline;
        list-style: none;
        width: 33.3% !important;
        float: left;
        text-align: center;
}

.display-block-ul{
    width: 100%;
    padding: 20px 20px 35px 20px;
    border-bottom: 4px solid #0080003d;
}
.com-checkbox input[type=checkbox]:before {
    border: 1px solid #009200 !important;
}
.custom-checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #009200;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
.custom-checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #009200;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

.custom-checkbox label {
    position: relative;
    cursor: pointer;
}

.custom-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.custom-checkbox{
    display: block;
    margin-bottom: 15px;
}
.input-group-buttons{
    width:100% !important;
}
.btn-1,.btn-2{
    width:10% !important;
    float:left;
    height: 34px;
}
.after-btn-1-input{
    width:78% !important;
    float:left;
}