<div style="width:540px;float:left;">
   <div (click)="closeDialog()" style="float:right;cursor:pointer"> 
      <span _ngcontent-c5="" class="label-icn material-icon">	 
         <i _ngcontent-c5="" class="material-icons">clear</i>	  
      </span>
   </div>
   <p class="text-center" style="color:#ffa500;font-size:18px;"> 
      <b>Dr. {{queueinfo?.provider_name}}</b>
   </p>
   <!-- <p class="text-center pink-text"> 
      <b>{{queueinfo?.queue_date}}</b> 
   </p> -->
   <!-- {{queueinfo?.queue_date | json}} -->
   <span _ngcontent-c6="" class="tdb_ntw_date pink-text" style="width: 50%;float:left;">
      <button class="btn btn-default btn-1" type="button" (click)="queueDateNavigateChange('left')" [disabled] = "dateBack"><i class="fa fa-angle-left"></i></button>  
      <input class="form-control border-pink datepicker text-center after-btn-1-input" readonly placeholder="Select a date" [(ngModel)]="queue_date" value="{{queueinfo?.queue_date}}" ngx-mydatepicker (dateChanged)="onAssignDateChanged($event)" [options]="myOptionsassign"          #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" style="height:auto;" style="font-size: 16px;font-weight: 600;height: 34px;"/>
      <button class="btn btn-default btn-2" type="button" (click)="queueDateNavigateChange('right')" ><i class="fa fa-angle-right"></i></button> 
   </span>
   <span _ngcontent-c6="" class="tdb_ntw_date pink-text" style="width: 50%;float:left;">
      <button class="btn btn-default btn-1" type="button" [disabled]="queueBack" (click)="queueNavigateChange('left',quelistdata)"><i class="fa fa-angle-left"></i></button>  
      <select (change)="onqueselect($event.target.value)" class="form-control border-pink after-btn-1-input" name="queueselected" [(ngModel)]="queue_id"  style="height: 34px;text-align-last: center;font-size: 16px;
      font-weight: 600;">
         <option *ngFor="let quelistdatas of quelistdata" [value]="quelistdatas.queue_id" [ngValue]="quelistdatas" [selected]="quelistdatas.queue_id === queue_id">{{quelistdatas.queue_name}}</option>
      </select>
      <button class="btn btn-default btn-2" [disabled]="queueNext" (click)="queueNavigateChange('right',quelistdata)" type="button"><i class="fa fa-angle-right"></i></button>
   </span>
   <br>
   <ul class="display-block-ul" style="width: 100%;padding: 26px 20px 30px 20px;border-bottom: 2px solid #0080003d;" >
      <li style="text-align: left;"><b>Net Issued: {{queueinfo?.net_issued}} </b></li>
      <li><b>Available: {{queueinfo?.net_available}} </b></li>
      <li style="text-align: right;" >
         <div class="custom-checkbox">
            <input type="checkbox" id="Showall" (change)="ondatacheckboxcheck($event)">
            <label for="Showall">Show All</label>
         </div>
      </li>
   </ul>
   <div class="popup_token_main">
      <div style="overflow-y: auto;max-height: 420px;">
         <div *ngIf="queuelist" style="padding-bottom: 25px;">
            <div *ngFor="let  queuelists of queuelist">
               <div *ngIf="showfilterdata;else otherfilter">
                  <div *ngIf="queuelists.token_status=='Available'||queuelists.token_status=='BUFFER'||queuelists.token_status=='BUFFER'||queuelists.token_status=='PROPOSED'||queuelists.token_status=='SELECTED'">
                     <div *ngIf="token_no==queuelists.token_no;else elseBlock">
                        <div class="popup_token_no_wrapper">
                           <div  *ngIf="queuelists.token_status=='Allocated'||queuelists.token_status=='Completed'||queuelists.token_status=='No Show'" class="allocated_req_token_no">{{queuelists.token_no}}</div>
                           <div  *ngIf="queuelists.token_status=='Cancelled'||queuelists.token_status=='Rescheduled' ||queuelists.token_status=='Adjusted'" class="cancelled_req_token_no">{{queuelists.token_no}}</div>
                           <div  (click)="onNoClick(queuelists.token_no,queuelists.token_status,queuelists.token_conveted_time,queuelists.token_time)" class="popup_req_token_no_proposed_assign" *ngIf="queuelists.token_status=='Available' || queuelists.token_status=='BUFFER'">{{queuelists.token_no}}</div>
                           <div class="popup_req_token_no_text">
                              <span >Proposed</span>
                              <span [class.pink-text]="queuelists.token_status=='Available' || queuelists.token_status=='BUFFER'"><b>{{queuelists.token_conveted_time}}</b></span> 
                           </div>
                        </div>
                     </div>
                     <ng-template #elseBlock>
                        <div *ngIf="tokennumberexist == queuelists.token_no && queueexist == queue_id && dateexist == queueinfo?.queue_date_nonformated;else Block">
                           <div class="popup_token_no_wrapper">
                              <div  *ngIf="queuelists.token_status=='Allocated'||queuelists.token_status=='Completed'||queuelists.token_status=='No Show'" class="allocated_req_token_no">{{queuelists.token_no}}</div>
                              <div  *ngIf="queuelists.token_status=='Cancelled'||queuelists.token_status=='Rescheduled' ||queuelists.token_status=='Adjusted'  || queuelists.token_status=='BUFFER'" class="cancelled_req_token_no">{{queuelists.token_no}}</div>
                              <div  (click)="onNoClick(queuelists.token_no,queuelists.token_status,queuelists.token_conveted_time,queuelists.token_time)" class="popup_req_token_no_proposed_assign" *ngIf="queuelists.token_status=='Available'">{{queuelists.token_no}}</div>
                              <div class="popup_req_token_no_text">
                                 <span *ngIf="queuelists.token_status=='Allocated'; else othertext  " >
                                    <span>Allocated</span>
                                 </span>
                                 <ng-template #othertext>
                                    <span>Selected</span>
                                 </ng-template>
                                 <span [class.pink-text]="queuelists.token_status=='Available' || queuelists.token_status=='BUFFER'"><b>{{queuelists.token_conveted_time}}</b></span> 
                              </div>
                           </div>
                        </div>
                        <ng-template #Block>
                           <div class="popup_token_no_wrapper">
                              <div  *ngIf="queuelists.token_status=='Allocated'||queuelists.token_status=='Completed'||queuelists.token_status=='No Show'" class="allocated_req_token_no">{{queuelists.token_no}}</div>
                              <div  *ngIf="queuelists.token_status=='Cancelled'||queuelists.token_status=='Rescheduled' || queuelists.token_status=='Adjusted'" class="cancelled_req_token_no">{{queuelists.token_no}}</div>
                              <div (click)="onNoClick(queuelists.token_no,queuelists.token_status,queuelists.token_conveted_time,queuelists.token_time)" *ngIf="queuelists.token_status=='Available'||queuelists.token_status=='BUFFER';else otherdata" class="popup_req_token_no">{{queuelists.token_no}}</div>
                              <ng-template #otherdata></ng-template>
                              <div class="popup_req_token_no_text">
                                 <span style="color: #f00" *ngIf="queuelists.token_status=='BUFFER';else otherbuffer">
                                    {{queuelists.token_status}}
                                 </span>
                                 <ng-template #otherbuffer>
                                    <span>{{queuelists.token_status}}</span>
                                 </ng-template>
                                 <span [class.pink-text]="queuelists.token_status=='BUFFER' || queuelists.token_status=='Available'"><b>{{queuelists.token_conveted_time}}</b></span> 
                              </div>
                           </div>
                        </ng-template>
                     </ng-template>
                  </div>
               </div>
               <ng-template #otherfilter>
               <div>
                  <div *ngIf="token_no==queuelists.token_no;else elseBlock">
                     <div class="popup_token_no_wrapper">
                        <div  *ngIf="queuelists.token_status=='Allocated'||queuelists.token_status=='Completed'||queuelists.token_status=='No Show'" class="allocated_req_token_no">{{queuelists.token_no}}</div>
                        <div  *ngIf="queuelists.token_status=='Cancelled'||queuelists.token_status=='Rescheduled'||queuelists.token_status=='Adjusted'" class="cancelled_req_token_no">{{queuelists.token_no}}</div>
                        <div  (click)="onNoClick(queuelists.token_no,queuelists.token_status,queuelists.token_conveted_time,queuelists.token_time)" class="popup_req_token_no_proposed_assign" *ngIf="queuelists.token_status=='Available' || queuelists.token_status=='BUFFER'">{{queuelists.token_no}}</div>
                        <div class="popup_req_token_no_text">
                           <span >Proposed</span>
                           <span [class.pink-text]="queuelists.token_status=='Available' || queuelists.token_status=='BUFFER'"><b>{{queuelists.token_conveted_time}}</b></span> 
                        </div>
                     </div>
                  </div>
                  <ng-template #elseBlock>
                     <div *ngIf="tokennumberexist == queuelists.token_no && queueexist == queue_id && dateexist == queueinfo?.queue_date_nonformated;else Block">
                        <div class="popup_token_no_wrapper">
                           <div  *ngIf="queuelists.token_status=='Allocated'||queuelists.token_status=='Completed'||queuelists.token_status=='No Show'" class="allocated_req_token_no">{{queuelists.token_no}}</div>
                           <div  *ngIf="queuelists.token_status=='Cancelled'||queuelists.token_status=='Rescheduled'||queuelists.token_status=='Adjusted'" class="cancelled_req_token_no">{{queuelists.token_no}}</div>
                           <div  (click)="onNoClick(queuelists.token_no,queuelists.token_status,queuelists.token_conveted_time,queuelists.token_time)" class="popup_req_token_no_proposed_assign" *ngIf="queuelists.token_status=='Available'">{{queuelists.token_no}}</div>
                           <div class="popup_req_token_no_text">
                              <span *ngIf="queuelists.token_status=='Allocated'; else othertext">
                                 <span>Allocated</span>
                              </span>
                              <ng-template #othertext>
                                    <span>Selected</span>
                              </ng-template>
                              <span ><b>{{queuelists.token_conveted_time}}</b></span> 
                           </div>
                        </div>
                     </div>
                     <ng-template #Block>
                        <div class="popup_token_no_wrapper">
                           <div  *ngIf="queuelists.token_status=='Allocated'||queuelists.token_status=='Completed'||queuelists.token_status=='No Show'" class="allocated_req_token_no">{{queuelists.token_no}}</div>
                           <div  *ngIf="queuelists.token_status=='Cancelled'||queuelists.token_status=='Rescheduled'||queuelists.token_status=='Adjusted'" class="cancelled_req_token_no">{{queuelists.token_no}}</div>
                           <div (click)="onNoClick(queuelists.token_no,queuelists.token_status,queuelists.token_conveted_time,queuelists.token_time)" *ngIf="queuelists.token_status=='Available'||queuelists.token_status=='BUFFER';else otherdata" class="popup_req_token_no">{{queuelists.token_no}}</div>
                           <ng-template #otherdata></ng-template>
                           <div class="popup_req_token_no_text">
                              <span style="color: #f00" *ngIf="queuelists.token_status=='BUFFER';else otherbuffer">{{queuelists.token_status}}</span>
                              <ng-template #otherbuffer>
                                 <span>{{queuelists.token_status}}</span>
                              </ng-template>
                              <span  [class.pink-text]="queuelists.token_status=='Available' || queuelists.token_status=='BUFFER'"><b>{{queuelists.token_conveted_time}}</b></span> 
                           </div>
                        </div>
                     </ng-template>
                  </ng-template>
               </div>
               </ng-template>
            </div>
         </div>
      </div>
   </div>
</div>







