<div>
<div *ngFor="let organisationlists of organisationlist" >
  <div (click)="onNoClick(organisationlists.org_id)">
<p>
 {{organisationlists.org_name}} 
</p>
<img src="{{organisationlists.org_logo}}" alt="banner1" title="">
</div>
</div>
</div>