<div class="page-wrapper chiller-theme " *ngIf="hiddenall">
	<div class="page-content">
		<!-- Breadcrumb-->
		<div *ngIf="addeditsystemrole;else breadcrumb">
			<div class="page-breadcrumb">
				<div class="container">
					<a (click)="backtohome()"> Home  </a>
					<span class="arrow"> > </span>
					<a (click)="systemrole()"> System Roles and Access  </a>
					<span class="arrow"> > </span>
					<span>
					Edit Profile
					</span>
				</div>
			</div>
		</div>
		<ng-template #breadcrumb>
			<div class="page-breadcrumb">
				<div class="container">
					<a (click)="backtohome()"> Home  </a>
					<span class="arrow"> > </span>
					<span>
					Edit Profile
					</span>
				</div>
			</div>
		</ng-template>
		<!-- Breadcrumb-->
		<div class="main-content-wrapper">
			<div class="container">
				<section class="content">
					<div id="main-form-content" class="full below-breadcrum">
						<mat-tab-group #tabGroup disableRipple (selectedTabChange)="onproviderclick($event)"
						[selectedIndex]="selectedindex">
						<!--first tab start-->
						<mat-tab disabled="{{ AvalabillityDisabled }}">
							<ng-template mat-tab-label>
								<span class="label-icn material-icon">
									<!-- <i class="fa fa-user" aria-hidden="true"></i> -->
									<i class="material-icons">person</i>
								</span>
								<span class="label-text">Personal</span>
							</ng-template>
							<form class="provider-personal-form" [formGroup]="personalgroup"
							(ngSubmit)="PersonalformSubmit(personalgroup.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>
							<div class="qtraq-subtitle-wrapper pl0 pr0 pt0">
								<h1>Personal Details</h1>
							</div>
							<div class="location-form">
								<div class="personal-info full">
									<div class="col-sm-3">
										<div class="form-group ">
											<label class="text_green">Mobile Number </label>
											<input type="text" class="form-control" readonly name="mobileno" formControlName="mobileno"
												#mobileno placeholder="Enter mobile number" required="" />
											<div *ngIf="addeditsystemrole;else changemobilenumber">
											</div>
											<ng-template #changemobilenumber>
												<button type="button" value="Change Mobile Number" name="Change Mobile Number" (click)="changemobile(countryid.value, mobileno.value)" class="btn btn-upload mt10">
												Change Mobile Number
												</button>
											</ng-template>
											<div class="help-block"></div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group " style="position:relative">
											<label class="text_green"> Email ID </label>
											<span *ngIf="verified_email_id ; else othervarification ">
											<img src="assets/verified-icon.jpg" alt="Verified User" style="width:15px;" alt="Verified" title="Verified"/>
											</span>
											<input type="text" class="form-control"
											[readonly]="isReadOnly"
											name="emailid" #emailid formControlName="emailid"
											placeholder="Enter emailid" />
											<ng-template #othervarification>
												<div *ngIf="addeditsystemrole;else changemobileverifayemail">
												</div>
												<ng-template #changemobileverifayemail>
													<input type="button" value="Verify Email" name="Verify Email"
														(click)="verifyemail(emailid.value)" class="btn btn-upload mt10" style="position:absolute;bottom:-38px;left:0;"/>
												</ng-template>
											</ng-template>
											<div class="help-block"></div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group required pro-personal-form-group full">
											<div class="uploaded-img">
												<img src="{{provider_logo}}" alt="User Image" title="" onerror="this.src='assets/user-avatar.jpg'" />
											</div>
										</div>
										<div class="upload-btn-wrapper ml10">
											<button _ngcontent-c5="" class="btn-upload">Choose Photo</button>
											<input type="file" (change)="onFileChanged($event)" class="form-control" name="org_logo" formControlName="org_logo" />
											<span class="image-name org-img-name"></span>
										</div>
									</div>
								</div>
								<div class="full">
								</div>
								<div class="full">
									<div class="col-sm-3">
										<div class="form-group form-group-three">
											<label class="text_green"> First name </label>
											<input type="text" class="form-control" name="firstname"
												formControlName="firstname"
												[readonly]="isReadOnly"
												placeholder="Enter first name" required="" />
											<div class="help-block"></div>
										</div>
									</div>
									<!--mid name start-->
									<div class="col-sm-3">
										<div class="form-group form-group-three">
											<label class="text_green"> Middle Name </label>
											<input type="text" class="form-control"
												[readonly]="isReadOnly"
												name="middlename" formControlName="middlename"
												placeholder="Enter Middle Name" />
											<div class="help-block"></div>
										</div>
									</div>
									<!--mid name end -->
									<div class="col-sm-3">
										<div class="form-group form-group-three">
											<label class="text_green"> Last Name </label>
											<input type="text" class="form-control" name="lastname"
												[readonly]="isReadOnly"
												formControlName="lastname"
												placeholder="Enter Last name" />
											<div class="help-block"></div>
										</div>
									</div>
								</div>
								<div class="full">
									<div class="col-sm-3">
										<div class="form-group">
											<label  [class.text_green]="personalgroup.controls.autodob.value != true" [class.text-red] = "personalgroup.controls.autodob.value == true">Date Of Birth </label>
											<!-- <label for="dob" class="text_green">DOB</label> -->
											<input class="form-control" placeholder="Select a date" name="dob"
											formControlName="dob"
											[disabled]="isReadOnly"
											(dateChanged)="ondobChanged($event)"
											ngx-mydatepicker [options]="myOptions" #dp="ngx-mydatepicker"
											(click)="dp.toggleCalendar()" />
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group required w33pc">
											<label>Age</label>
											<input class="form-control" placeholder="Age" name="age"
											formControlName="age" (keyup)="converAgeToDate($event)" readonly/>
											<input type="hidden" name="autodob" formControlName="autodob">
									  	</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group ">
											<label class="text_green"> Gender </label>
											<select class="form-control" name="gender"
												formControlName="gender">
												<option value="Male" [disabled]="isReadOnly">Male</option>
												<option value="Female" [disabled]="isReadOnly">Female</option>
											</select>
											<div class="help-block"></div>
										</div>
									</div>
								</div>
								<div class="full">
									<div class="col-sm-3">
										<div class="form-group">
											<label for="plancountryid" class="text_green">Select Country</label>
											<select formControlName="countryid"
											(change)="onconChange($event.target.value)"
											name="countryid" #countryid class="form-control">
											<option [value]="getCountrie.country_id"
											[disabled]="isReadOnly"
											*ngFor="let getCountrie of getCountries">
											{{ getCountrie.country_name }}</option>
											</select>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<label for="state_id" class="text_green">Select State</label>
											<select formControlName="state_id"
											(change)="onstateChange($event.target.value)"
											[disabled]="isReadOnly"
											name="state_id" class="form-control">
											<option
											[disabled]="isReadOnly"
											[value]="statelists.state_id" *ngFor="let statelists of statelist">
											{{ statelists.state_name }}</option>
											</select>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<label for="city_id" class="text_green">Select City</label>
											<select formControlName="city_id"
												[disabled]="isReadOnly"
												name="city_id" class="form-control">
											<option
											[disabled]="isReadOnly"
											[value]="citylists.city_id" *ngFor="let citylists of citylist">
											{{ citylists.city_name }}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="full">
									<div class="col-sm-3"></div>
									<div class="col-sm-3"></div>
									<div class="col-sm-3"></div>
									<div class="col-sm-3"></div>
								</div>
								<div class="form-group generate-otp-div">
									<div class="help-block"></div>
									{{ otperrormsg }}
								</div>
								<div *ngIf="contactenable">
									<div class="full">
										<div class="col-sm-3">
											<div class="form-group required">
												<label class="text_green"> Qualification </label>
												<input type="text"  required
													[readonly]="isReadOnly" class="form-control" name="qualification"
													formControlName="qualification" placeholder="Enter qualification" />
												<div class="help-block"></div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="form-group required">
												<label for="dob" class="text_green">Practising Since</label>
												<input required class="form-control"  placeholder="Select a date"
												name="practisingstarteddate" formControlName="practisingstarteddate"
												ngx-mydatepicker
												[attr.disabled]="isReadOnly"
												(dateChanged)="onpractisingstarteChanged($event)" [options]="myOptions"
												#practisingstarteddate="ngx-mydatepicker" #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()"/>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="form-group required mb0">
												<label class="text_green"> Specialities </label>
												<ng-multiselect-dropdown class="multiselect-org multiselect-reverse" disabled
												[disabled]="isReadOnly"
												[placeholder]="'Select specialities'" [data]="specialities" [settings]="dropdownSettings"
												[(ngModel)]="selectedItems" formControlName="specialities" style="padding:4px 12px;">
												</ng-multiselect-dropdown>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="form-group ">
												<label class="text_green"> Other Speciality </label>
												<input type="text"  class="form-control"
													[readonly]="isReadOnly"
													name="otherspeciality"
													formControlName="otherspeciality" placeholder="Enter other speciality" />
												<div class="help-block"></div>
											</div>
										</div>
									</div>
								</div>
								<label>
								{{ responsedata }}
								</label>
							</div>
							<div class="box-footer full" style="align-content: center">
								<div *ngIf="addeditsystemrole;else othertemp">
								</div>
								<ng-template #othertemp>
									<button type="submit" class="btn btn-primary ">Save</button>
									<button type="submit" class="btn btn-primary" (click)="backtohome()">Cancel</button>
								</ng-template>
							</div>
							</form>
						</mat-tab>
						<mat-tab disabled="{{ ContactDisabled }}" *ngIf="contactenable">
							<ng-template mat-tab-label>
								<span class="label-icn material-icon">
								<i class="material-icons">local_phone</i>
								</span>
								<span class="label-text">Contact</span>
							</ng-template>
							<form class="pro-contact-form-inner contact-form-detail" [formGroup]="contactgroup"
							(ngSubmit)="ContactSubmit(contactgroup.value)" #uploadDocumentsForm="ngForm">
							<div class="qtraq-subtitle-wrapper pl0 pr0 pt0">
								<h1>Contact Details</h1>
							</div>
							<div class="location-form">
								<div class="full">
									<div class="col-sm-6">
										<div class="form-group ">
											<label class="text_green"> Mobile 1 </label>
											<div class="two-input">
												<div class="two-input-left">
													<input type="text" numbersOnly class="form-control"
													[required] ='mobile1validate'
													[readonly]="isReadOnly"
													formControlName="mobile1"
													placeholder="Enter Mobile Number">
													<div class="clearfix"></div>
													<div class="text-danger" *ngIf="contactsubmitdata &&
														contactgroup.controls.mobile1.errors">
														<span *ngIf="contactgroup.controls.mobile1.errors.required">
														Enter mobile number</span>
														<div *ngIf="contactgroup.controls.mobile1.errors.pattern">
															mobile number not valid.
														</div>
													</div>
												</div>
												<div class="two-input-right com-checkbox">
													<label *ngIf="contactgroup.controls.mobile1public.value==true ; else otherpub"
														class="text_pink"> Public </label>
													<ng-template #otherpub>
														<label class="text_grey">Public </label>
													</ng-template>
													<input type="checkbox" formControlName="mobile1public"
													(change)="mobile1change($event)"
													[disabled]="isReadOnly"
													name="mobile1public" />
												</div>
											</div>
											<div class="help-block"></div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group ">
											<label class="text_green"> Mobile 2 </label>
											<div class="two-input">
												<div class="two-input-left">
													<input type="text" numbersOnly class="form-control"
													[required] ='mobile2validate' formControlName="mobile2"
													[readonly]="isReadOnly"
													placeholder="Enter Mobile Number">
													<div class="clearfix"></div>
													<div class="text-danger" *ngIf="contactsubmitdata &&
														contactgroup.controls.mobile2.errors">
														<span *ngIf="contactgroup.controls.mobile2.errors.required">
														Enter mobile number</span>
														<div *ngIf="contactgroup.controls.mobile2.errors.pattern">
															mobile number not valid.
														</div>
													</div>
												</div>
												<div class="two-input-right com-checkbox">
													<label *ngIf="contactgroup.controls.mobile2public.value==true ; else otherpub"
														class="text_pink"> Public </label>
													<ng-template #otherpub>
														<label class="text_grey">Public </label>
													</ng-template>
													<input type="checkbox"
													[disabled]="isReadOnly"
													(change)="mobile2change($event)"
													formControlName="mobile2public" name="mobile2public" />
												</div>
											</div>
											<div class="help-block"></div>
										</div>
									</div>
								</div>
								<div class="full">
									<div class="col-sm-6">
										<div class="form-group ">
											<label class="text_green"> Phone 1 </label>
											<div class="two-input">
												<div class="two-input-left">
													<input type="text" numbersOnly class="form-control"
													formControlName="phone1"
													[required] ='phone1validate'
													[readonly]="isReadOnly"
													placeholder="Enter Landline number">
													<div class="clearfix"></div>
													<div class="text-danger" *ngIf="contactsubmitdata &&
														contactgroup.controls.phone1.errors">
														<span *ngIf="contactgroup.controls.phone1.errors.required">
														Enter Landline number</span>
														<div *ngIf="contactgroup.controls.phone1.errors.pattern">
															Landline number not valid.
														</div>
													</div>
												</div>
												<div class="two-input-right com-checkbox">
													<label *ngIf="contactgroup.controls.phone1public.value==true ;
														else otherpub"
														class="text_pink"> Public </label>
													<ng-template #otherpub>
														<label class="text_grey">Public </label>
													</ng-template>
													<input type="checkbox"
													(change)="phone1change($event)"
													[disabled]="isReadOnly"
													formControlName="phone1public"
													name="phone1public" phone1change />
												</div>
											</div>
											<div class="help-block"></div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group ">
											<label class="text_green"> Phone 2 </label>
											<div class="two-input">
												<div class="two-input-left">
													<input type="text" numbersOnly class="form-control"
													[required] ='phone2validate'
													[readonly]="isReadOnly"
													formControlName="phone2"
													placeholder="Enter Landline number">
													<div class="clearfix"></div>
													<div class="text-danger" *ngIf="contactsubmitdata &&
														contactgroup.controls.phone2.errors">
														<span *ngIf="contactgroup.controls.phone2.errors.required">
														Enter Landline number</span>
														<div *ngIf="contactgroup.controls.phone2.errors.pattern">
															Landline number not valid.
														</div>
													</div>
												</div>
												<div class="two-input-right com-checkbox">
													<label *ngIf="contactgroup.controls.phone2public.value==true ; else otherpub"
														class="text_pink"> Public </label>
													<ng-template #otherpub>
														<label class="text_grey">Public </label>
													</ng-template>
													<input type="checkbox" formControlName="phone2public"
													[disabled]="isReadOnly"
													(change)="phone2change($event)" name="phone2public" />
												</div>
											</div>
											<div class="help-block"></div>
										</div>
									</div>
								</div>
								<div class="full">
									<div class="col-sm-6">
										<div class="form-group ">
											<label class="text_green"> Email ID 1 </label>
											<div class="two-input">
												<div class="two-input-left">
													<input type="text"  class="form-control"  [required] ='emailid1validate'
													[readonly]="isReadOnly"
													name="emailid1"
													formControlName="emailid1" placeholder="Enter emailid1" />
												</div>
												<div class="two-input-right com-checkbox">
													<label *ngIf="contactgroup.controls.emailid1public.value==true ; else otherpub"
														class="text_pink"> Public </label>
													<ng-template #otherpub>
														<label class="text_grey">Public </label>
													</ng-template>
													<input type="checkbox" formControlName="emailid1public"
													(change)="emailid1change($event)"
													[disabled]="isReadOnly"
													name="emailid1public" />
												</div>
												<div class="clearfix"></div>
												<div class="text-danger" *ngIf="contactsubmitdata &&
													contactgroup.controls.emailid1.errors">
													<span *ngIf="contactgroup.controls.emailid1.errors.required">
													Please Enter Email1</span>
												</div>
											</div>
											<div class="help-block"></div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group ">
											<label class="text_green"> Email ID 2 </label>
											<div class="two-input">
												<div class="two-input-left">
													<input type="text" class="form-control"  [required] ='emailid2validate'
													name="emailid2"
													[readonly]="isReadOnly"
													formControlName="emailid2" placeholder="Enter emailid2" />
												</div>
												<div class="two-input-right com-checkbox">
													<label *ngIf="contactgroup.controls.emailid2public.value==true ;
														else otherpub"
														class="text_pink"> Public </label>
													<ng-template #otherpub>
														<label class="text_grey">Public </label>
													</ng-template>
													<input type="checkbox"
													[disabled]="isReadOnly"
													formControlName="emailid2public"
													(change)="emailid2check($event)" name="emailid2public"
													/>
												</div>
												<div class="clearfix"></div>
												<div class="text-danger" *ngIf="contactsubmitdata &&
													contactgroup.controls.emailid2.errors">
													<span *ngIf="contactgroup.controls.emailid2.errors.required">
													Please Enter Email2</span>
												</div>
											</div>
											<div class="help-block"></div>
										</div>
									</div>
								</div>
								<div class="full">
									<div class="col-sm-6">
										<div class="form-group ">
											<label class="text_green"> Website </label>
											<input type="text" class="form-control" name="website"
												[readonly]="isReadOnly"
												formControlName="website"
												placeholder="Enter website" />
											<div class="help-block"></div>
										</div>
									</div>
								</div>
								<div class="full">
									<div class="col-sm-12">
										<div class="form-group ">
											<div *ngIf="addeditsystemrole;else othertemp">
											</div>
											<ng-template #othertemp>
												<button type="submit" class="btn btn-primary">
												Save
												</button>
												<button type="button" class="btn btn-primary" (click)="backtohome()">
												Cancel
												</button>
											</ng-template>
											<div class="help-block"></div>
										</div>
									</div>
								</div>
								<label>
								{{ responsedata }}
								</label>
							</div>
							</form>
							<label>
							{{ responsedatacontact }}
							</label>
						</mat-tab>
						</mat-tab-group>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<!--new code 5-2-2019 start-->
<div class="overlay" *ngIf="cancelmodel">
	<div class="main-div modal-qtraq" id="loading-img" style="height:auto;width:285px;padding:0;overflow:auto !important;
    margin: 100px auto !important;float: none;">
		<div style="background:#034a14;color:#fff;text-align:center;padding:10px 0;">
			<p style="margin:0;font-size:18px;font-weight:bold;">Change Mobile Number </p>
		</div>
		<div style="padding:20px;" class="text-left">
			<form [formGroup]="changemobilegroup" (ngSubmit)="cancelsubmit(changemobilegroup.value)" ngNativeValidate>
				<div class="form-group">
					<label class="text_green"> Select Country</label>
					<select (change)="onconChangegetotp($event.target.value)" name="countarycode" formControlName="countarycode" #countarycode class="form-control" style="width:230px;" readonly>
					<option [value]="getCountrie.country_id" *ngFor="let getCountrie of getCountries" [ngValue]="getCountries"
					[selected]="getCountrie.country_id === countryiddata" [disabled]="getCountrie.country_id != countryiddata">
					{{ getCountrie.country_name }}</option>
					</select>
				</div>
				<div class="form-group">
					<label class="text_green"> New Mobile Number</label>
					<input type="text" class="form-control" #mobilenumber formControlName="mobilenumber" numbersOnly maxlength="10" name="mobilenumber"
						required style="width:230px">
				</div>
				<span class="text_red" *ngIf="mobilealreadyexist">
				The Given Mobile Number Already Exist.
				</span>
				<div *ngIf="mobilegot">
					<div class="form-group ep-toggle">
						<label class="text_green">Current Password</label>
						<input type="password" class="form-control" formControlName="password"
							name="password"  passwordToggle
							placeholder="Enter your current password"
							required style="width:230px;">
					</div>
					<div class="form-group" style="width:155px;float:left;">
						<label class="text_green"> OTP</label>
						<input type="text" class="form-control" name="otp" formControlName="otp" required style="width:150px">
					</div>
					<div style="width:65px;float:left;">
						<input type="button" (click)="genetarotpdata(countarycode.value,mobilenumber.value)" name="getotp"
							value="Get OTP" class="btn btn-danger mt22">
					</div>
					<div class="clearfix">&nbsp;</div>
				</div>
				<input type="submit" class="btn btn-primary" name="submit" />
				<input type="button" name="close" value="Close" class="btn btn-primary" (click)="cancelmodelToggle('close')" />
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--new code end 5-2-2019 end-->