<div class="page-wrapper chiller-theme ">
  <div class="page-breadcrumb">
    <div class="container" >
      <a routerLink="/">Home </a> 
      <span class="arrow">></span> 
      <span>Notifications</span>
    </div>
  </div>
  <div class="page-content" style="margin-top:50px;">
    <div class="container" style="width: 60%;margin: 0px auto;">
      <div style="border-bottom: 1px solid #048a09;">
        <div class="row">
          <div class="col-sm-6 col-lg-6 col-md-6">
            <h1 class="page-heading">Notifications</h1>
          </div>
          <div class="col-sm-6 col-lg-6 col-md-6 text-right">
            <ul class="prescription-action-buttons-ul">
              <li><i class="material-icons" routerLink="/" title="Back">arrow_back</i></li>
            </ul>
          </div> 
        </div>
      </div>
      <div style="height:480px;overflow-y: auto;">
        <div class="notification-row-wrapper col-sm-12" *ngFor="let notification of notificationDetails">
          <div class="col-sm-1" style="padding: 0px !important;width: 20px;">
            <span class="material-icons text-green">sms</span>
          </div>
          <div class="col-sm-8">
            <span class="text-green" *ngIf="notification.org_name != null">
              <strong>{{notification.org_name}}</strong><br>
            </span>
            <span style="padding-bottom:10px;float:left;">
              <strong>{{notification.notification_date_time}}</strong>
              &nbsp; Message from {{notification.send_from_username}}
            </span>
          </div>
          <div class="col-sm-12 pink-text message-text-wrapper">
            {{notification.message_text}}
          </div>
        </div>
      </div>
    </div>
  <div>
    <br>
  <div class="col-sm-12 text-center" *ngIf="moreFlag">
    <button class="btn btn-primary btn-sm" (click)="getTokenNotifications()">More..</button>
  </div>
</div>