<div class="hold-transition login-page">
  <div class="login-box login-box-border">
    <div class="login-logo">
      <span class="logo-mini">
      <a  routerLink="/" href="javascript:void(0)" class="main-logo" >
      <img src="assets/QtraqLogo.png" class="site-logo" alt="Qtraq QRM">
      </a>
      </span>
      <p class="login-tagline"><span>Q</span>ueue <span>R</span>esource <span>M</span>anagement</p>
    </div>
    <p class="login-box-msg" style="font-size:14px;"><b>Sign in to start your session</b></p>
     <div class="login-box-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group has-feedback mb20">
            <input type="text" formControlName="username" class="form-control" placeholder="Registered Phone Number" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required" class="text-danger">Username is required</div>
            </div>
            <div class="text-right">
              <a href="javascript:void(0)" (click)="opendielog()" class="text_green "><b> NEW to QRM ?</b></a>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group has-feedback mb20">
            <input type="password" formControlName="password" class="form-control" passwordToggle  placeholder="******" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" class="text-danger">Password is required</div>
            </div>
        </div>
        <div class="form-group">
          <div class="text-center error_msg_login">              
            <p *ngIf="error" class="login-box-msg text_red m0 text-center"><i>{{error}}</i></p>
            <p *ngIf="massage" class="login-box-msg text_red m0 text-center"><i>{{massage}}</i></p>
          </div>
        </div>
        <div class="text-right forgot-password">
          <a routerLink="/forgot" class="text_green"><b>Forgot Password</b></a>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
        </div>
      </form>
    </div>
    <p class="text_green mt10" align="center">&copy; iBeej Technology Solutions and Services 2019</p>
  </div>
</div>
<div class="overlay qtraq-overlay" *ngIf="modelcatlogo">
<div class="confirmation-popup">
  <p class="text_green"><strong>Terms and Conditions</strong></p>
  <p>Please read QTRAQ <br/><a href="https://qtraq.in/privacy.html" target="_blank"> Privacy policies</a> and <a href="https://www.qtraq.in/terms-and-conditions.html" target="_blank">T&C</a> here.</p>
  <div style="margin:5px 0;">
      <div class="com-checkbox checkbox-theme" style="display: inline-block;margin-bottom:10px;">       
        <input type="checkbox" (change)="oncheckboxchange($event)" id="tnc-check" style="display:inline"/>      
        <label class="text_grey" style="display:inline" for="tnc-check">I accept QTRAQ privacy policies and T&C of the QTRAQ services.</label>
      </div>
    </div>
  <div>
    <input type="button" name="Submit" (click)="loginconditionsubmit()"  value="Proceed" class="btn btn-success" id="proceedbtn" disabled/>
    <input type="button" (click)="logincancel()" name="cancel" value="Cancel" class="btn btn-success"/>
  </div> 
</div>
</div>








