<div class="ng-loading non-printable" align="center" *ngIf="loading" id=""> 
  <img src="assets/Logo-circle-ani-gif.gif" class="logo" alt="Qtraq" style="width:60px;">
</div>
<!-- <div [@routeAnimations]="prepareRoute(outlet)" > -->
   <router-outlet #outlet="outlet" [@fadeInOut] class="non-printable">
      <toaster-container></toaster-container>
   </router-outlet>
<!-- </div> -->
<!--<app-header></app-header>-->
