<div >
  <div class="label-text text-center green-text" style="top: -25px;">
    <h3> Hold Queue </h3>
  </div>
  <div class="text-left" *ngIf="showdata">
    <p style="color: red;font-size: 14px;font-weight:600;margin-bottom:20px;">
      {{msgdata}} <b>Reason</b>: {{resondata}}
    </p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 col-md-3 col-xs-3 col-lg-3 green-text" style="padding-left:0px">Hold Queue for next</label>
    <div class="col-sm-9 col-md-9 col-xs-9 col-lg-9 text_pink" style="padding-left:0px">
      <input  type="number" max="120" min="1" name="nextmin"(input)="onSearchChange($event.target.value)" class="text_pink text-center" style="width: 70px;"  #nextmin  numbersOnly/>&nbsp; mins 
    </div>
  </div>
  <div class="form-group" *ngIf="calculatedtime">
    <label class="col-sm-3 col-md-3 col-xs-3 col-lg-3 green-text" style="padding-left:0px">&nbsp;&nbsp;</label>
    <div class="col-sm-3 col-md-3 col-xs-3 col-lg-3" style="padding-left:0px;padding-top:10px;">
      <p class="text_pink">
        till: {{calculatedtime|TimeFormatonhold}}
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="form-group" style="margin-top:20px;">
    <label class="col-sm-3 col-md-3 col-xs-3 col-lg-3 green-text" style="padding-left:0px">Reason for hold</label>
    <div class="col-sm-9 col-md-9 col-xs-9 col-lg-9" style="padding-left:0px">
      <textarea cols="50" rows="3" name="reson"  #reson class="text_pink" style="max-width: 300px;max-height: 40px;">{{resondata?resondata:""}}</textarea>
    </div>
  </div>
  <div class="col-sm-12 text-center" style="margin-top:20px;">
    <input type="button" class="btn btn-primary" name="RESTART QUEUE" (click)="restartqueue(nextmin.value,reson.value)" value="RESTART QUEUE"  *ngIf="showdata" style="margin-right:5px;"/>
    <input type="button" class="btn btn-primary" name="PUT ON HOLD" (click)="putonhold(nextmin.value,reson.value)" value="PUT ON HOLD" />&nbsp;&nbsp;
    <button class="btn btn-primary"  type="button" (click)="closeDialog()">Cancel</button>
  </div>
</div>