::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 1 !important;     /*click effect color change*/
    background-color: rgba(255, 255, 255, 0) !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #FFFFFF!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#E9237F!important; /*outer ring color change*/
   background: #E9237F
}
.mat-radio-button.mat-accent{
    color:#a5a5a5;
}

.mat-radio-button.mat-accent.mat-radio-checked {  
    color:#E9237F;  
 }

 .mat-radio-checked .mat-radio-inner-circle {
     
    transform: scale(.8)!important;
 }
