<div class="col-sm-12">
  <div (click)="selectPatient('','')" style="float: right;cursor: pointer;margin-right: -25px;margin-top: 2px;"> 
    <span _ngcontent-c5="" class="label-icn material-icon">	 
       <i _ngcontent-c5="" class="material-icons">clear</i>	  
    </span>
 </div>
  <h3 style="width: 200px;margin-top: 0px;">Search Patient</h3>
  <div class="row">
    <div class="col-sm-6">
      <input type="text" name="searchKey" id="searchKey" class="form-control" [(ngModel)] = "searchKey">
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary" type="button" (click)="searchPatient('search')">Search</button>
    </div>
  </div>
  <!-- <div class="col-sm-12 search-patient-wrapper"  #patientWrapper (scroll)="searchPatient('scroll')"> -->
  <div class="col-sm-12 search-patient-wrapper"  #patientWrapper >
    <div class="row">
      <div class="search-patient-grid" *ngFor="let patients of patientList" (click)="selectPatient(patients.consumer_id,patients.relation_type)">
        <b>{{patients.consumer_name}}</b> (<span *ngIf="patients.relation_type == 'non_member'">N</span><span *ngIf="patients.relation_type == 'family_member_without_qtraqid'">F</span><span *ngIf="patients.relation_type == 'self' || patients.relation_type == 'family_member_with_qtraqid'">M</span>{{patients.member_id}})<br>
        {{patients.consumer_gender}}, {{patients.consumer_age}}. Ph {{patients.consumer_phone_number}}
      </div>
    </div>
  </div>
  <div class="col-sm-12 text-center" *ngIf="!fullDataLoaded">
    <input type="button" value="More.." class="btn btn-primary btn-sm" (click)="searchPatient('scroll')">
  </div>
</div>
