.organisation-form .form-control{
    width: 50%;
    }
    .org-home-icn img{
        width: 30px;
    }
    .org-select .form-control{
        width: 50%;
    }
    .org-checkbox input{
        margin-right: 5px;
    }
    .org-select-dropdown .multiselect-dropdown{
        width: 50%;
    }
    .org-working-day input{
        margin-left: 10px;
        margin-right: 3px;
    }
    .ord-upload-doc-img {
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .org-upload-doc-form .form-control  {
        width: 100%;
    }
    .org-upload-doc-form input{
        width: 100%;
    }
    .mat-tab-body.mat-tab-body-active {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .mat-tab-body.mat-tab-body-active .mat-tab-body-content {
        overflow: hidden !important;
    }
    .subscription-plan-list{
        border: 1px solid #048a09;
        margin-bottom: 10px;
        border-radius: 4px;
        padding: 20px;
        display: table;
        float: left;
        width: 100%;
        cursor:pointer;
    }
    .subscription-plan-list:first-child{
        margin-top: 30px;
    }
    .subscription-plan-list .sub-plan{
        display: table-cell;
        vertical-align: middle;
    
    }
    .subscription-plan-list .sub-plan span{
        color: #048a09;
        font-size: 20px;
        font-weight: 800;
    }
    .subscription-plan-list .sub-price{
        display: table-cell;
        /* width: 100px; */
        width: 200px;
        vertical-align: middle;
        
    }
    .subscription-plan-list .sub-price span{
        color: #048a09;
        font-size: 20px;
        font-weight: 800;
    }
    .subscription-plan-list .sub-price span span{
        font-weight: 100; font-size: 25px;
    }
    .site-logo{
        width:150px;
    }
    .mat-tab-body-content {
        overflow: hidden !important;
    }
    .cursor-pointer{
        cursor: pointer;
    }
    .selector.selectorarrow.selectorarrowleft{
        right:0 !important;
    }