<div class="page-wrapper chiller-theme " [class.toggled]="toggleVal">
  <app-sidebar></app-sidebar>
  <div class="page-content">

    <div class="overlay" *ngIf="productLoading">
      <div id="loading-img"></div>
    </div>

    <!--<div class="page-content-all-hd">
      <h2>{{publicorgname}}</h2>
    </div>-->
    <!-- Breadcrumb-->

    <div class="page-breadcrumb">
      <div class="container">
       <a (click)="backtohome()"> Home </a> > <span>Organisation Profile</span> 
      </div>
    </div>

    <!-- Breadcrumb-->
    <div class="main-content-wrapper">
      <div class="container">
        <section class="content">

          <div id="main-form-content">
            <mat-tab-group disableRipple #tabGroup (selectedTabChange)="onoganisationclick($event)"
              [selectedIndex]="selectedindex">
              <!-- First tab-->
              <mat-tab onclick="onoganisationclick(organisation)">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">business</i>
                  </span>
                  <span class="label-text">General</span>
                </ng-template>
                <form [formGroup]="documentGrp" (ngSubmit)="OnSubmit(documentGrp.value)" #uploadDocumentsForm="ngForm"
                  ngNativeValidate class="org-form all-com-form">
                  <div class="qtraq-subtitle-wrapper p0">
                    <h1 class="pl0 pr0">Organisations Details</h1>
                  </div>
                  <div class="organization-form">
                    <div class="full">
                      <div class="col-sm-4 mt10">
                          <div class="form-group required org-form-group-up">
                            <label class="text_green"> Organisation Name* </label>
                            <input type="text" class="form-control" name="org_name" formControlName="org_name"
                              placeholder="Enter Organisation Name" required="">
                            <div class="help-block"></div>
                          </div>
                        </div>
                        <!--
                      <div class="form-group required org-form-group-up">
                        <label> Organisation Type 1111</label>
                        <select class="form-control" name="orgtype" disabled=true formControlName="orgtype">
                          <option value="Medical">Medical</option>
                          <option value="Hotel">Hotel</option>
                        </select>
                        <div class="help-block"></div>
                      </div>
                    -->
                      <div class="col-sm-4 mt10">
                        <div class="form-group required  org-form-group-up">
                          <label class="text_green"> Service Types*</label>
                          <select class="form-control" name="orgtype" disabled=true formControlName="orgtype" required=""
                            (change)="getSpecialities()" [(ngModel)]="orgtypepost">
                            <option value="">Select Organisation type</option>
                            <option [selected]=" orgtypepost == orgtype.service_type_id" [value]="orgtype.service_type_id"
                              *ngFor="let orgtype of organizationType">{{orgtype.service_type}}</option>
                          </select>
                          <div class="help-block"></div>
                        </div>
                      </div>
                    </div>
                    <div class="full">
                      <div class="col-sm-4 mt10">
                        <div class="form-group  org-form-group-up org-logo-form-group" >
                          <label for="plancountryid" class="text_green"> Parent Organisation </label>
                          <input  type="text" readonly class="form-control" value="{{parentorgname}} {{parentorgcity}}" />
                        </div>
                      </div>        
                      <div class="col-sm-4 mt10">
                        <div class="form-group required org-form-group-up">
                          <label class="text_green"> Specialities </label>
                          <ng-multiselect-dropdown class="org-select-dropdown multiselect-org"
                            [placeholder]="'Select Specialities'" [data]="specialities" [settings]="dropdownSettings"
                            [(ngModel)]="selectedItems" formControlName="skills">
                          </ng-multiselect-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 mt10">
                      <div class="form-group required org-form-group-up org-logo-form-group mb0">
                        <label class="text_green org-logo-label"> Organisation Logo* </label>

                        <div class="upload-btn-wrapper">
                          <button class="btn-upload">Upload Image</button>
                          <input type="file" (change)="onFileChanged($event)" class="form-control" name="org_logo"
                            formControlName="org_logo">
                          <span class="image-name org-img-name"></span>
                        </div>
                        <a title="Remove" class="remove-logo" *ngIf="orglog">
                          <span class="label-icn material-icon" (click)="deleteorg()">
                            <i class="material-icons">delete</i>
                          </span>
                        </a>
                      </div>
                      <div class="full">
                        <div *ngIf="custom.org_logo" class="uploaded-logo">
                          <img src="{{custom.org_logo}}" alt="banner1" title="">
                        </div>
                      </div>
                    </div>
                    <!--ravi new code 2-26-2019-->
                    <div class="clearfix"></div>
                    <div class="full">

                      <div class="organization-form">
                        <div class="box box-solid box-primary org-upload-document">
                          <div class="upload-left-table">
                            <div class="qtraq-subtitle-wrapper pl0 pr0">
                              <h3>Upload Organisation Images</h3>
                              <button type="button" class="btn btn-sm btn-success" title="Add More" (click)="addItem()">
                                Add More
                              </button>
                            </div>
                            <div class="box-body" formArrayName="items">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div *ngFor="let item of items.controls; let i = index;">
                                    <div [formGroupName]="i">

                                      <table id="tbl-upload" class="table table-bordered">
                                        <tbody>
                                          <tr *ngIf="i==0" class="active">
                                            <th class="img-org-th">Organisation image</th>
                                            <th class="img-blank-th">Remove </th>
                                          </tr>
                                          <tr
                                            *ngIf="(item.controls.editcheck.value !='editcall')&&(org_id!=0);else elseBlock">
                                            <td class="img-org-td">
                                              <div class="form-group  required upload-btn-wrapper">
                                                <input type="hidden" name="org_image_id" formControlName="org_image_id">
                                                <input type="hidden" name="image_name" formControlName="image_name">


                                                <button _ngcontent-c2="" class="btn-upload">Upload Image</button>
                                                <input type="file" title="Browse Document"
                                                  (change)="fileSelectionEvent($event,i)">
                                                <span class="image-name org-img-name" style="display:block;margin:3px 0;"></span>   
                                                <div class="help-block"></div>                                                
                                              </div>
                                              <div *ngIf="item.controls.documentFile.value" class="org-uploaded-img">
                                                <img src="{{item.controls.documentFile.value}}"
                                                  alt="Can't Download Image" title="" class="img-responsive">
                                              </div>
                                            </td>
                                            <td class="remove blank-td" align="center">
                                              <!--<a title="Remove" (click)="removeItemexist(i,item.controls.org_image_id.value,item.controls.image_name.value)" class="fa fa-minus-square fa-lg text-red">
                                              </a>-->
                                              <a title="Remove"
                                                (click)="deleteimage(i,item.controls.org_image_id.value,item.controls.image_name.value)">
                                                <span class="label-icn material-icon">
                                                  <i class="material-icons">delete</i>
                                                </span>
                                              </a>
                                            </td>

                                          </tr>

                                          <ng-template #elseBlock>
                                            <tr *ngIf="org_id==0">

                                              <td class="img-org-td">
                                                <div class="form-group  required">
                                                  <input class="file" type="file" title="Browse Document"
                                                    (change)="fileSelectionEvent($event,i)" required="">
                                                  <div class="help-block"></div>
                                                </div>
                                              </td>
                                              <a title="Remove" (click)="deleteimage(j)"
                                                class="fa fa-minus-square fa-lg text-red">
                                              </a>
                                            </tr>
                                          </ng-template>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="upload-right-table">
                            <div class="qtraq-subtitle-wrapper pl0 pr0">
                              <h3>Upload Catalog Images</h3>
                              <button class="img-action-th" type="button" class="btn btn-sm btn-success"
                                title="Add More" (click)="addorgcatimg()">Add More</button>
                            </div>
                            <div class="box-body" formArrayName="org_catelog_images">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div *ngFor="let itemss of org_catelog_images.controls; let k = index;">
                                    <div [formGroupName]="k">
                                      <table id="tbl-upload" class="table table-bordered">
                                        <tbody>
                                          <tr *ngIf="k==0" class="active">

                                            <th class="img-org-th">Catalog Image </th>
                                            <th class="img-blank-th">Remove</th>
                                            <!--<td class="remove addmore-div" *ngIf=" k==0 ">
                                              </td>-->
                                          </tr>
                                          <tr
                                            *ngIf="(itemss.controls.editcheck.value !='editcall')&&(org_id!=0);else elseBlock">
                                            <td class="img-org-td">
                                              <div class="form-group  required upload-btn-wrapper">
                                                <input type="hidden" name="org_image_id" formControlName="org_image_id">
                                                <input type="hidden" name="image_name" formControlName="image_name">

                                                <button _ngcontent-c2="" class="btn-upload">Upload Image</button>
                                                <input class="file" type="file" title="Browse Document"
                                                  (change)="catlogimgSelectionEvent($event,k)">
                                                <span class="image-name org-img-name" style="display:block;margin:3px 0;"></span> 
                                                <div class="help-block"></div>
                                              </div>

                                              <div *ngIf="itemss.controls.imagecatFile.value" class="org-uploaded-img">
                                                <img src="{{itemss.controls.imagecatFile.value}}" alt="banner" title=""
                                                  class="img-responsive">
                                              </div>
                                            </td>

                                            <td class="remove blank-td" align="center">
                                              <!--<a title="Remove" (click)="removeorgcatimgdata(k,itemss.controls.org_image_id.value,itemss.controls.image_name.value)" class="fa fa-minus-square fa-lg text-red"></a>-->
                                              <a title="Remove"
                                                (click)="deletecatimage(k,itemss.controls.org_image_id.value,itemss.controls.image_name.value)">
                                                <span class="label-icn material-icon">
                                                  <i class="material-icons">delete</i>
                                                </span>
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="clearfix"></div>


                        </div>
                      </div>
                      <!--ravi new code 2-26-2019-->

                      <div class="box box-solid box-primary org-upload-document">
                        <div class="box-body" formArrayName="items">
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="box-footer" style="align-content: center">
                    <button type="button" (click)="tabGroup.selectedIndex = 1" class="btn pull-right">
                      Next
                    </button>
                    <button type="submit" class="btn btn-primary ">Save</button>

                  </div>
                  <div *ngIf="responsedata != null">
                    {{ responsedata }}
                  </div>

                </form>
              </mat-tab>









              <mat-tab label="">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">place</i>
                  </span>
                  <span class="label-text">Location</span>
                </ng-template>

                <form class="location-form-main" [formGroup]="locationgroup"
                  (ngSubmit)="LocationSubmit(locationgroup.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>
                  <h1>Location Details</h1>
                  <div class="location-form">
                    <div class="form-group ">
                      <label> Address Line 1* </label>
                      <input type="text" class="form-control" name="address1" formControlName="address1"
                        placeholder="Enter address1" required="">
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Address Line 2 </label>
                      <input type="text" class="form-control" name="address2" formControlName="address2"
                        placeholder="Enter address2">
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Street* </label>
                      <input type="text" class="form-control" name="street" formControlName="street"
                        placeholder="Enter street">
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Landmark </label>
                      <input type="text" class="form-control" name="landmark" formControlName="landmark"
                        placeholder="Enter landmark">
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Area / Locality* </label>
                      <input type="text" class="form-control" name="area" formControlName="area"
                        placeholder="Enter area">
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group">
                      <label for="plancountryid">Select Country*</label>
                      <select formControlName="countryid" (change)="onconChange($event.target.value)" name="countryid"
                        class="form-control">
                        <option [value]="getCountrie.country_id" *ngFor="let getCountrie of getCountries">
                          {{ getCountrie.country_name }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="state_id">Select State*</label>
                      <select formControlName="state_id" (change)="onstateChange($event.target.value)" name="state_id"
                        class="form-control">
                        <option [value]="statelists.state_id" *ngFor="let statelists of statelist">
                          {{ statelists.state_name }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="city_id">Select City*</label>
                      <select formControlName="city_id" name="city_id" class="form-control">
                        <option [value]="citylists.city_id" *ngFor="let citylists of citylist">
                          {{ citylists.city_name }}</option>
                      </select>
                    </div>
                    <div class="form-group ">
                      <label> Pincode* </label>
                      <input type="text" class="form-control" name="pincode" formControlName="pincode"
                        placeholder="Enter pincode">
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Map link </label>
                      <input type="text" class="form-control map-link-input" name="gpscords" formControlName="gpscords"
                        placeholder="Enter Map link">
                      <div *ngIf="locationgroup.controls.gpscords.value ; else othercat">
                        <a href="{{locationgroup.controls.gpscords.value}}" target="_blank" class="map-link">
                          <span>Select</span> <i class="material-icons">location_on</i>
                        </a>
                      </div>
                      <ng-template #othercat>
                        <a href="https://www.google.com/maps" target="_blank" class="map-link">
                          <span>Select</span> <i class="material-icons">location_on</i>
                        </a>
                      </ng-template>
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group full">
                      <div class="" style="align-content: center">
                        <button type="button" (click)="tabGroup.selectedIndex = 2" class="btn pull-right">
                          Next
                        </button>
                        <button type="submit" class="btn btn-primary ">Save</button>
                      </div>
                    </div>
                    <label>
                      {{responsedata}}
                    </label>
                  </div>
                  <!--<div class="box-footer" style="align-content: center">
              <button type="submit" class="btn btn-primary pull-right">Save</button>
            </div>-->

                </form>

              </mat-tab>


              <!-- thr tab -->
              <mat-tab label="">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">local_phone</i>
                  </span>
                  <span class="label-text">Contact</span>
                </ng-template>
                <form class="location-form-main contact-form-detail" [formGroup]="contactgroup"
                  (ngSubmit)="ContactSubmit(contactgroup.value)" #uploadDocumentsForm="ngForm">
                  <h1>Contact Details</h1>
                  <div class="location-form">
                    <div class="form-group ">
                      <label> Mobile No. 1 </label>
                      <div class="two-input">

                    
                        <div class="two-input-left">
                          <input type="text" numbersOnly class="form-control" 
                          formControlName="mobile1" [required] ='mobile1validate'
                            placeholder="Enter Mobile Number">
                          <div class="clearfix"></div>
                          <div class="text-danger" *ngIf="contactsubmitdata && 
                                        contactgroup.controls.mobile1.errors">
                            <span *ngIf="contactgroup.controls.mobile1.errors.required">
                              Enter mobile number</span>
                            <div *ngIf="contactgroup.controls.mobile1.errors.pattern">
                              mobile number not valid.
                            </div>
                          </div>
                        </div>
                     


                        <div class="two-input-right com-checkbox">
                          <label *ngIf="contactgroup.controls.mobile1public.value==true ; else otherpub"
                            class="text_pink"> Public </label>
                          <ng-template #otherpub>
                            <label class="text_grey">Public </label>
                          </ng-template>
                          <input type="checkbox" formControlName="mobile1public" 
                          (change)="mobile1change($event)"
                          name="mobile1public" />
                        </div>
                      </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Mobile No. 2 </label>
                      <div class="two-input">
                        <!--
                      <div class="two-input-left">
                        <input type="text" class="form-control" name="mobile2" 
                        formControlName="mobile2" placeholder="Enter mobile2"  
                        required="">
                      </div>
                    -->
                        <div class="two-input-left">
                          <input type="text" numbersOnly class="form-control" 
                          formControlName="mobile2"  [required] ='mobile2validate'
                            placeholder="Enter Mobile Number">
                          <div class="clearfix"></div>
                          <div class="text-danger" *ngIf="contactsubmitdata && 
                                        contactgroup.controls.mobile2.errors">
                            <span *ngIf="contactgroup.controls.mobile2.errors.required">
                              Enter mobile number</span>
                            <div *ngIf="contactgroup.controls.mobile2.errors.pattern">
                              mobile number not valid.
                            </div>
                          </div>
                        </div>




                        <div class="two-input-right com-checkbox">
                          <label *ngIf="contactgroup.controls.mobile2public.value==true ; else otherpub"
                            class="text_pink"> Public </label>
                          <ng-template #otherpub>
                            <label class="text_grey">Public </label>
                          </ng-template>
                          <input type="checkbox" formControlName="mobile2public" 
                          (change)="mobile2change($event)"
                          name="mobile2public" />
                        </div>





                      </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Phone No. 1<sup>*</sup> </label>
                      <div class="two-input">
                      <div class="two-input-left">
                      <input type="text" numbersOnly class="form-control" formControlName="phone1"
                      placeholder="Enter Landline number" required="">
                      <div class="clearfix"></div>
                      <div class="text-danger" *ngIf="contactsubmitdata && 
                      contactgroup.controls.phone1.errors">
                       <span *ngIf="contactgroup.controls.phone1.errors.required">
                      Enter Landline number</span>
                      <div *ngIf="contactgroup.controls.phone1.errors.pattern">
                          Landline number not valid.
                      </div>
                      </div>
                      </div>
                        <div class="two-input-right com-checkbox">
                          <label *ngIf="contactgroup.controls.phone1public.value==true ; else otherpub"
                            class="text_pink"> Public </label>
                          <ng-template #otherpub>
                            <label class="text_grey">Public </label>
                          </ng-template>
                          <input type="checkbox" formControlName="phone1public" name="phone1public" />
                        </div>
                      </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Phone No. 2 </label>
                      <div class="two-input">

                        <div class="two-input-left">
                          <input type="text" numbersOnly class="form-control" formControlName="phone2"
                            placeholder="Enter Landline number"
                            [required] ='phone2validate'
                            >
                          <div class="clearfix"></div>
                          <div class="text-danger" *ngIf="contactsubmitdata && 
                                            contactgroup.controls.phone2.errors">
                            <span *ngIf="contactgroup.controls.phone2.errors.required">
                              Enter Landline number</span>
                            <div *ngIf="contactgroup.controls.phone2.errors.pattern">
                                Landline number not valid.
                            </div>
                          </div>
                        </div>

                        <!-- <div class="two-input-right com-checkbox">
                        <label> Public </label>
                        <input type="checkbox" formControlName="phone2public" name="phone2public" />
                      </div> -->
                        <div class="two-input-right com-checkbox">
                          <label *ngIf="contactgroup.controls.phone2public.value==true ; else otherpub"
                            class="text_pink"> Public </label>
                          <ng-template #otherpub>
                            <label class="text_grey">Public </label>
                          </ng-template>
                          <input type="checkbox" formControlName="phone2public" 
                          (change)="phone2change($event)"
                          name="phone2public" />
                        </div>

                      </div>
                      <div class="help-block"></div>
                    </div>

                    <div class="form-group ">
                      <label> Email ID 1 </label>
                      <div class="two-input">
                        <div class="two-input-left">
                          <input type="text" class="form-control"  [required] ='emailid1validate' 
                          name="emailid1" formControlName="emailid1"
                            placeholder="Enter emailid1">

                        </div>
                        <div class="two-input-right com-checkbox">
                          <label *ngIf="contactgroup.controls.emailid1public.value==true ; else otherpub"
                            class="text_pink"> Public </label>
                          <ng-template #otherpub>
                            <label class="text_grey">Public </label>
                          </ng-template>
                          <input type="checkbox" formControlName="emailid1public"
                          (change)="emailid1change($event)"
                          name="emailid1public" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-danger" *ngIf="contactsubmitdata && 
                                          contactgroup.controls.emailid1.errors">
                          <span *ngIf="contactgroup.controls.emailid1.errors.required">
                            Please Enter Email1</span>
                           </div>
                      </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Email ID 2 </label>
                      <div class="two-input">
                        <div class="two-input-left">
                          <input type="text" class="form-control" name="emailid2" 
                          [required] ='emailid2validate'
                          formControlName="emailid2"
                            placeholder="Enter emailid2">
                        </div>
                        <!-- <div class="two-input-right com-checkbox">
                        <label> Public </label>
                        <input type="checkbox" formControlName="emailid2public" name="emailid2public" />
                      </div> -->
                        <div class="two-input-right com-checkbox">
                          <label *ngIf="contactgroup.controls.emailid2public.value==true ; else otherpub"
                            class="text_pink"> Public </label>
                          <ng-template #otherpub>
                            <label class="text_grey">Public </label>
                          </ng-template>
                          <input type="checkbox" formControlName="emailid2public" 
                          (change)="emailid2check($event)"
                          name="emailid2public" />
                           </div>
                           <div class="clearfix"></div>
                           <div class="text-danger" *ngIf="contactsubmitdata && 
                                             contactgroup.controls.emailid2.errors">
                             <span *ngIf="contactgroup.controls.emailid2.errors.required">
                               Please Enter Email2</span>
                              </div>
                      
                          </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group ">
                      <label> Website </label>
                      <input type="text" class="form-control" name="website" formControlName="website"
                        placeholder="Enter website">
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group full">
                      <div class="" style="align-content: center">

                        <button type="button" (click)="tabGroup.selectedIndex = 3" class="btn pull-right">
                          Next
                        </button>




                        <button type="submit" class="btn btn-primary ">Save</button>
                      </div>


                    </div>


                    <label>
                      {{responsedata}}
                    </label>
                  </div>
                  <!--<div class="box-footer" style="align-content: center">
              <button type="submit" class="btn btn-primary pull-right">Save</button>
            </div>-->

                </form>
              </mat-tab>


              <mat-tab>
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">access_time</i>
                  </span>
                  <span class="label-text">Working Hours</span>
                </ng-template>
                <div class="wrapper-70">
                  <form [formGroup]="documentGrp" (ngSubmit)="OnSubmitWorking(documentGrp.value)"
                    #uploadDocumentsForm="ngForm" ngNativeValidate class="org-form all-com-form">
                    <div class="qtraq-subtitle-wrapper pl0 pr0 mb10">
                      <h1>Set Working Days</h1>
                      <button type="button" class="btn btn-sm btn-success" title="Add More"
                        (click)="adddocDatetime()">Add More
                      </button>
                    </div>
                    <div class="organization-form full">
                      <div class="box box-solid box-primary org-upload-document">
                        <!--<div class="box-body" formArrayName="items">
                    <h2 class="page-header  text-blue ">
                      <i class="fa fa-files-o"></i> Upload  Images
                    </h2>
                  </div>-->




                        <!--add more new code-->
                        <div class="box-body" formArrayName="doctorshadule">
                          <div class="row">
                            <div class="col-sm-12">
                              <div *ngFor="let itemnew of doctorshadule.controls  ; let j = index;">
                                <div [formGroupName]="j">
                                  <table id="tbl-upload" class="table table-bordered org-time-tabble">
                                    <tbody>
                                      <tr *ngIf="j==0" class="active">
                                        <th class="img-org-th">Day*</th>
                                        <th class="img-pos-th">Start Time*</th>
                                        <th class="img-type-th">End Time*</th>
                                        <th class="img-blank-th">Action*</th>

                                      </tr>
                                      <tr
                                        *ngIf="(itemnew.controls.editcheck.value !='editcall')&&(org_id!=0);else elseBlockorg">
                                        <td class="img-org-td">
                                          <div class="form-group ">
                                            <!--
                                          <select name="timeday" formControlName="timeday" class="form-control">
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thu</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                            <option>Sun</option>
                                          </select>
                                        -->
                                            <select name="timeday" formControlName="timeday" class="form-control">
                                              <option>Monday</option>
                                              <option>Tuesday</option>
                                              <option>Wednesday</option>
                                              <option>Thursday</option>
                                              <option>Friday</option>
                                              <option>Saturday</option>
                                              <option>Sunday</option>
                                            </select>


                                            <div class="help-block"></div>
                                          </div>
                                        </td>
                                        <td class="img-pos-td">
                                          <div class="form-group">
                                            <input type="time" class="form-control" name="timestart"
                                              formControlName="timestart" placeholder="Enter Start time">
                                            <div class="help-block"></div>
                                          </div>
                                        </td>
                                        <td class="img-type-td">
                                          <div class="form-group ">
                                            <input type="time" class="form-control" name="timeend"
                                              formControlName="timeend" placeholder="Enter End Time">
                                            <div class="help-block"></div>
                                          </div>
                                        </td>


                                        <td class="remove blank-td" align="center">
                                          <!--<a title="Remove" (click)="removedocDatetime(j)" class="fa fa-minus-square fa-lg text-red"></a>-->
                                          <a title="Remove"
                                            (click)="deleteworking(j,itemnew.controls.timestart.value,itemnew.controls.timeend.value,itemnew.controls.timeday.value)">
                                            <span class="label-icn material-icon">
                                              <i class="material-icons">delete</i>
                                            </span>
                                          </a>
                                        </td>

                                        <!--
   <td *ngIf="org_id!=0" class="img-action-td"> 
   <select class="form-control" (change)="statuschangedatetime(itemnew.controls.org_working_hour_id.value,$event.target.value)"
   name="datetime_status" formControlName="datetime_status">
   <option value="Active">Active</option>
   <option value="In-active">In-active</option>
   </select>
   </td>
  -->

                                        <!--     <td class="remove blank-td" *ngIf=" j!=0 ">
                                      &nbsp;
                                      </td>
                                    -->

                                        <!--<td class="remove addmore-div" *ngIf=" j==0 ">
                                       
      <button type="button" class="btn btn-sm btn-success" title="Add More" (click)="adddocDatetime()">Add
     More</button>
      
                                      </td>-->
                                      </tr>

                                      <ng-template #elseBlockorg>
                                        <tr *ngIf="org_id==0">
                                          <td class="img-org-td">
                                            <div class="form-group ">

                                              <!--
          <select name="timeday" formControlName="timeday" class="form-control">
          <option>Mon</option>
                                              <option>Tue</option>
                                              <option>Wed</option>
                                              <option>Thu</option>
                                              <option>Fri</option>
                                              <option>Sat</option>
                                              <option>Sun</option>
                                            </select>
                                          -->
                                              <select name="timeday" formControlName="timeday" class="form-control">
                                                <option>Monday</option>
                                                <option>Tuesday</option>
                                                <option>Wednesday</option>
                                                <option>Thursday</option>
                                                <option>Friday</option>
                                                <option>Saturday</option>
                                                <option>Sunday</option>
                                              </select>

                                              <div class="help-block"></div>
                                            </div>
                                          </td>
                                          <td class="img-pos-td">
                                            <div class="form-group required">
                                              <input type="time" class="form-control" name="timestart"
                                                formControlName="timestart" placeholder="Enter Start time" required>
                                              <div class="help-block"></div>
                                            </div>
                                          </td>
                                          <td class="img-type-td">
                                            <div class="form-group ">
                                              <input type="time" class="form-control" name="timeend"
                                                formControlName="timeend" placeholder="Enter End Time">
                                              <div class="help-block"></div>
                                            </div>
                                          </td>

                                          <!--
                                      <td class="remove" *ngIf=" j!=0 ">
                                        <a title="Remove" (click)="removedocDatetime(j)" 
                                          class="fa fa-minus-square fa-lg text-red"></a>
                                      </td>
                                    -->
                                          <td *ngIf="org_id!=0" class="blank-td">

                                            <select class="form-control" name="datetime_status"
                                              formControlName="datetime_status">
                                              <option value="Active">Active</option>
                                              <option value="In-active">In-active</option>
                                            </select>
                                          </td>


                                          <td class="remove addmore-div" *ngIf=" j==0 ">
                                            <button type="button" class="btn btn-sm btn-success" title="Add More"
                                              (click)="adddocDatetime()">Add More
                                            </button>
                                          </td>
                                        </tr>
                                      </ng-template>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--location form field-->
                      </div>

                    </div>
                    <div class="box-footer" style="align-content: center">

                      <button type="submit" class="btn btn-primary ">Save</button>
                    </div>
                    <div *ngIf="responsedata != null">
                      {{ responsedata }}
                    </div>

                  </form>
                </div>
              </mat-tab>
            </mat-tab-group>
            <div class="overlay qtraq-overlay" *ngIf="modelFlag">
              <div class="confirmation-popup">
                <div class="form-group">
                  <label class="text_green"> Do you want to delete <br />Organisation Image {{showorgindex}}?</label>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" (click)="confirm()" type="button">Confirm</button>
                  <button class="btn btn-primary" (click)="cancel()" type="button">Cancel</button>
                </div>
              </div>

              <div class="clearfix"></div>
            </div>

            <div class="overlay qtraq-overlay" *ngIf="modelcatToggle">
              <div class="confirmation-popup">
                <div class="form-group">
                  <label class="text_green"> Do you want to delete <br />Catlog Image {{showorgindexcat}}?</label>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" (click)="carconfirm()" type="button">Confirm</button>
                  <button class="btn btn-primary" (click)="catcancel()" type="button">Cancel</button>
                </div>
              </div>

              <div class="clearfix"></div>
            </div>



          </div>
        </section>
      </div>
    </div>
  </div>
</div>




<div class="overlay qtraq-overlay" *ngIf="modelcatlogo">
  <div class="confirmation-popup">
    <div class="form-group">
      <label class="text_green"> Do you want to delete Logo? </label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="logoconfirm()" type="button">Confirm</button>
      <button class="btn btn-primary" (click)="logocancel()" type="button">Cancel</button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>



<div class="overlay qtraq-overlay" *ngIf="workinghouresdelete">
  <div class="confirmation-popup">
    <div class="form-group">
      <label class="text_green">
        Do you wish to Delete entry<br>
        {{deleteday}} - {{deletestart}} {{starttype}} to {{deleteend}} {{endtype}} ?
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="deleteworkingconform()" type="button">Confirm</button>
      <button class="btn btn-primary" (click)="deleteworkingcancel()" type="button">Cancel</button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>