<!-- <a  class="btn btn-sm " (click)="toggleHideShow('show')">
  <i class="fa fa-bars" aria-hidden="true"></i>
</a> -->
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a routerLink="/">
        <img src="assets/QtraqLogo.png" />
      </a>
      <!-- <div>
        <i class="fa fa-times" aria-hidden="true" (click)="toggleHideShow('hide')"></i>
      </div> -->
    </div>


   <div class="sidebar-menu" *ngIf="activerole=='admin'">
      <ul>
         <li class="active">
          <a routerLink="/">
            <img src="assets/home-icon.png" alt="Home" title="Home" />
            <span>Home</span>
          </a>
        </li>
        <li>
          <a routerLink="/addeditorganisation/{{organisationid}}">
            <img src="assets/org-menu.png" alt="Organisation" title="Organisation" />
            <span>Organisation Profile</span>
            </a>
         </li>
         <li>
            <a routerLink="/systemroles">
              <img src="assets/system-menu.png" alt="System Roles" title="System Roles" />
              <span>System Roles</span>
            </a>
          </li>
        <li>
          <a routerLink="/providersList">
            <img src="assets/doc-list-menu.png" alt="Doctors List" title="Doctors List" />
            <span>Doctors List</span>
          </a>
        </li>
         <li>
          <a routerLink="/quesetup">
             <img src="assets/queue-setup-menu.png" alt="Queue Setup" title="Queue Setup" />
            <span>Queue Setup</span>
          </a>
        </li>

        <li>
          <a routerLink="/queueaccessprolist">
            <img src="assets/queue-access-menu.png" alt="Queue Access" title="Queue Access" />
            <span>Queue Access</span>
          </a>
        </li>
        <li>
          <a routerLink="/">
            <img src="assets/notification-menu.png" alt="App Notifications" title="App Notifications" />
            <span>App Notifications</span>
          </a>
        </li>
        <!-- <li>
          <a routerLink="/changepassword">
            <img src="assets/admincred-menu.png" alt="Admin Credentials" title="Admin Credentials" />
            <span>Admin Credentials</span>
          </a>
        </li> -->
        <li>
          <a routerLink="/queuerenewal">
            <img src="assets/qtrack-renewal-menu.png" alt="Qtraq Renewals" title="Qtraq Renewals" />
            <span>Qtraq Renewals</span>
          </a>
        </li>
      </ul>
    </div>
<!--front desk start-->
<div class="sidebar-menu" *ngIf="activerole=='l1' || activerole=='l2'">
  <ul>
      <li class="active">
          <a routerLink="/">
            <img src="assets/home-icon.png" alt="Home" title="Home" />
            <span>Home</span>
          </a>
        </li>

     <li>
      <a routerLink="/requestsreceived">
        <img src="assets/token_requests_received-menu.png" alt="Requests Received" title="Requests Received" />
        <span>Requests Received</span>
      </a>
    </li>
    <li>
      <a routerLink="/assignnewtoken">
        <img src="assets/assign_new_token-menu.png" alt="Assign New Token" title="Assign New Token" />
        <span>Assign New Token</span>
        </a>
     </li>
     <li *ngIf="isDoctor">
      <a routerLink="/diagnosisandprescription">
        <img src="assets/ic_user_medical_history-menu.png" alt="Patient History" title="Patient History" />
        <span>Patient History</span>
        </a>
     </li>
    <li>
      <a routerLink="/searchtokens">
        <img src="assets/search_issued_token-menu.png" alt="Search Tokens" title="Search Tokens" />
        <span>Search Tokens </span>
      </a>
    </li>
     <li>
      <a routerLink="/ongoingqueues">
         <img src="assets/ongoing_queues-menu.png" alt="Ongoing Queues" title="Ongoing Queues" />
        <span>Ongoing Queues</span>
      </a>
    </li>
    <li>
      <a routerLink="/todaysqueue">
        <img src="assets/todays_queues-menu.png" alt="Today's Queue" title="Today's Queue" />
        <span>Today's Queue</span>
      </a>
    </li>
    <li>
      <a routerLink="/futurepastqueues">
        <img src="assets/past_future_queues-menu.png" alt="Past / Future Queues " title="Past / Future Queues " />
        <span>Past / Future Queues </span>
      </a>
    </li>
    <li>
      <a routerLink="/doctoravailability">
      <!-- <a href="javascript:void(0)"> -->
        <img src="assets/set_availability_1-menu.png" alt="Doctor's Availability" title="Doctor's Availability" />
        <span>Doctor's Availability</span>
      </a>
    </li>
    <li>
      <a routerLink="/overridemasterqueues">
        <img src="assets/overide_queue_timings-menu.png" alt="Override Queue Timings" title="Override Queue Timings" />
        <span>Override Queue Timings</span>
      </a>
    </li>
    <li *ngIf="isDoctor">
      <a routerLink="/weeklydashboard">
        <img src="assets/ic_weekly_calendar-menu.png" alt="Weekly Dashboard" title="Weekly Dashboard" />
        <span>Work Calendar</span>
      </a>
    </li>
  </ul>
</div>
<!--front desk end-->
<!--dr start-->
<!-- <div class="sidebar-menu" *ngIf="activerole=='l2'">
  <ul>
      <li class="active">
          <a routerLink="/">
            <img src="assets/home-icon.png" alt="Home" title="Home" />
            <span>Home</span>
          </a>
        </li>

     <li>
      <a routerLink="/weeklydashboard">
        <img src="assets/ic_weekly_calendar-menu.png" alt="Weekly Dashboard" title="Weekly Dashboard" />
        <span>Weekly Dashboard </span>
      </a>
    </li>
    <li>
      <a routerLink="/providerongoing">
        <img src="assets/ongoing_queues_doctor-menu.png" alt="Ongoing Queues" title="Ongoing Queues" />
        <span>Ongoing Queues</span>
      </a>
    </li>
    <li>
      <a routerLink="/patienthistory">
        <img src="assets/ic_user_medical_history-menu.png" alt="Patient History" title="Patient History" />
        <span>Patient History</span>
        </a>
     </li>

     <li>
      <a routerLink="/providerunavailability">
         <img src="assets/set_availability_1-menu.png" alt="Set Unavailability" title="Set Unavailability" />
        <span>Set Unavailability</span>
      </a>
    </li>
    <li>
      <a routerLink="/provideroverride">
        <img src="assets/set_arrival_time-menu.png" alt="Set Arrival Time" title="Set Arrival Time" />
        <span>Set Arrival Time</span>
      </a>
    </li>
    <li>
      <a routerLink="/providerquesetup">
        <img src="assets/queue-setup-menu.png" alt="Queue Setup" title="Queue Setup" />
        <span>Queue Master Setup</span>
      </a>
    </li>
    <li>
        <a routerLink="/availabilty">
          <img src="assets/setup_working_days-menu.png" alt="Setup Org. Working Days" title="Setup Org. Working Days" />
          <span>Setup Org. Working Days</span>
        </a>
      </li>

  </ul>
</div> -->

<!--dr end-->

    <!-- sidebar-menu  -->
  </div>
  <!-- sidebar-content  -->
  <!-- <div class="sidebar-footer">
    <a href="#">
      <i class="fa fa-bell"></i>
      <span class="badge badge-pill badge-warning notification">3</span>
    </a>
    <a href="#">
      <i class="fa fa-envelope"></i>
      <span class="badge badge-pill badge-success notification">7</span>
    </a>
    <a href="#">
      <i class="fa fa-cog"></i>
      <span class="badge-sonar"></span>
    </a>
  </div> -->
</nav>