<div>
   <h3 class="text_green text-left">
      Login to QRM system is by invitation only.
   </h3>
   <p>
      If you wish to avail QRM services for your organisation contact us for a Demo. Visit www.qtraq.in.
   </p>
   <p>
      OR
   </p>
   <p>
      If QRM services are already in use at  your organisation then please contact your QRM-Admin for your login credentials.
   </p>
   <div class="col-sm-12 text_green" style="font-size:16px;">
      <a href="javascript:void(0)" (click)="close()" class="text-left text_green">Close</a>
      <a href="https://www.qtraq.in" target="_blank" class="pull-right text_green">Visit QTRAQ.in</a>
   </div>
</div>

