<div>
  <form (ngSubmit)="assignsubmit(qtraqid.value,fname.value,lname.value,mobilenumber.value)" [formGroup]="searchform" ngNativeValidate>
    <div class="form-group selecttoken-popup">
        <div (click)="close()" class="stpopup-close">
          <span _ngcontent-c5="" class="label-icn material-icon">
            <i _ngcontent-c5="" class="material-icons">clear</i>
          </span>
        </div>
      <div class="stpopup-orgname">
        <p class="text_green" style="font-size:20px;"><strong>Dr. {{firstname}} {{middle_name}} {{lastname}}  </strong></p>
        <p class="orange_text"><strong>Select Patient</strong></p>
      </div>
      <div style="padding:15px 0px 10px 0px;background:#b9efbb;border-top: 2px solid #1b592a;border-bottom: 2px solid #1b592a;">
        <!-- Search  -->
        <div class="col-sm-12">
          <input type="text" class="text_pink" name="fname" placeholder="First Name" formControlName="fname" #fname autofocus="true">
          <input type="text" class="text_pink" name="lname" placeholder="Last Name" formControlName="lname" #lname>
          <input type="text" class="text_pink" name="mobilenumber" numbersOnly placeholder="Mobile no." formControlName="mobilenumber" #mobilenumber>
          <input type="text" class="text_pink" name="qtraqid" placeholder="QTRAQ ID" formControlName="qtraqid" #qtraqid >
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12 mt10">
          <mat-radio-group name="unavailabilitydaytype" required aria-label="Select an option"
            (change)="searchtextchange($event.value)">
            <div class="inline-block mr10">
              <mat-radio-button value="name" checked>Name</mat-radio-button>
            </div>&nbsp;
            <div class="inline-block">
              <mat-radio-button value="phoneno">Phone No.</mat-radio-button>
            </div>&nbsp;&nbsp;&nbsp;
            <div class="inline-block">
              <mat-radio-button value="both" >Both</mat-radio-button>
            </div>&nbsp;&nbsp;
            <div class="inline-block mr10">
              <mat-radio-button value="id" >ID</mat-radio-button>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="inline-block">
              <input type="submit" class="btn btn-primary" value="Search" name="Search" />
            </div>
          </mat-radio-group>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
      <div class="clearfix">&nbsp;</div>
  </form>
  <div *ngIf="showlist" class="stpopup-result">
    <div *ngFor="let assigndatalists of assigndatalist">
      <div *ngIf="assigndatalists.member_type=='self';else familyMemberWithQtraqid" (click)="assignnownew('self',assigndatalists.reg_no,assigndatalists.age,assigndatalists.full_name,assigndatalists.profile_pic_path,assigndatalists.user_master_id,assigndatalists.user_name,assigndatalists.user_master_id,assigndatalists.gender,assigndatalists.fm_user_master_id,assigndatalists.last_visited)" class="stpopup-result-single">
        <div class="col-sm-offset-1 col-sm-2">
          <img src="{{assigndatalists.profile_pic_path}}" onerror="this.src='assets/user-default.jpg'" class="userimg">
        </div>
        <div class="col-sm-9">
          <p class="text-green font-15">
            <img src="assets/logosmall.png" class="qtraq-verified"> <strong>{{assigndatalists.full_name}}</strong>&nbsp;-&nbsp;<span class="font12">{{assigndatalists.gender}} , {{assigndatalists.age}} yrs (ID : M{{assigndatalists.member_id}})</span>
          </p>
          <p class="text-green">
            Ph. {{assigndatalists.user_name}}
          </p>
          <p class="text-red" *ngIf="assigndatalists.last_visited==null; else otherblock">
            <strong>Last visited: </strong>
          </p>
          <ng-template #otherblock>
            <p class="text-green">
              <strong>Last visited: {{assigndatalists.last_visited}}</strong>
            </p>
          </ng-template>
        </div>
        <div class="clearfix"></div>
      </div>
      <ng-template #familyMemberWithQtraqid>
        <div *ngIf="assigndatalists.member_type=='family_member_with_qtraqid';else familyMemberWithoutQtraqid" (click)="assignnownew('family_member_with_qtraqid',assigndatalists.reg_no,assigndatalists.age,assigndatalists.fm_full_name,assigndatalists.fm_pic_path,assigndatalists.family_member_id,assigndatalists.user_name,assigndatalists.user_master_id,assigndatalists.gender,assigndatalists.fm_user_master_id,assigndatalists.last_visited)" class="stpopup-result-single">
          <div class="col-sm-offset-1 col-sm-2">
              <img src="{{assigndatalists.fm_pic_path}}" onerror="this.src='assets/user-default.jpg'" class="userimg">
          </div>
          <div class="col-sm-9">
            <p class="text-green font-15">
              <img src="assets/logosmall.png" class="qtraq-verified"><strong>{{assigndatalists.fm_full_name}}</strong>&nbsp;-&nbsp;{{assigndatalists.gender}} , {{assigndatalists.age}} yrs (ID : M{{assigndatalists.member_id}})
            </p>
            <p class="text-green">
              <img src="assets/logosmall.png" class="qtraq-verified">
              Ph. {{assigndatalists.user_name}} ({{assigndatalists.full_name}})<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ph. {{assigndatalists.fm_user_master_phone}}{{assigndatalists.fm_user_master_name}} ({{assigndatalists.fm_full_name}})
            </p>
            <p class="text-red" *ngIf="assigndatalists.last_visited==null; else otherblock">
              <strong>Last visited:</strong>
            </p>
            <ng-template #otherblock>
              <p class="text-green">
                <strong>Last visited: {{assigndatalists.last_visited}}</strong>
              </p>
            </ng-template>
          </div>
          <div class="clearfix"></div>
        </div>
        <ng-template #familyMemberWithoutQtraqid>
          <div *ngIf="assigndatalists.member_type=='family_member_without_qtraqid';else nonMember" (click)="assignnownew('family_member_without_qtraqid',assigndatalists.reg_no,assigndatalists.age,assigndatalists.fm_full_name,assigndatalists.fm_pic_path,assigndatalists.family_member_id,assigndatalists.user_name,assigndatalists.user_master_id,assigndatalists.gender,assigndatalists.fm_user_master_id,assigndatalists.last_visited)" class="stpopup-result-single">
            <div class="col-sm-offset-1 col-sm-2">
                <img src="{{assigndatalists.fm_pic_path}}" onerror="this.src='assets/user-default.jpg'" class="userimg">
            </div>
            <div class="col-sm-9">
              <p class="text-green font-15">
                <strong>{{assigndatalists.fm_full_name}}</strong>&nbsp;-&nbsp;<span class="font12">{{assigndatalists.gender}} , {{assigndatalists.age}} yrs (ID : F{{assigndatalists.member_id}})</span>
              </p>
              <p class="text-green">
                <img src="assets/logosmall.png" class="qtraq-verified">
                Ph. {{assigndatalists.user_name}} ({{assigndatalists.full_name}})
              </p>
              <p class="text-red" *ngIf="assigndatalists.last_visited==null; else otherblock">
                <strong>Last visited:</strong>
              </p>
              <ng-template #otherblock>
                <p class="text-green">
                  <strong>Last visited: {{assigndatalists.last_visited}}</strong>
                </p>
              </ng-template>
            </div>
            <div class="clearfix"></div>
          </div>
          <ng-template #nonMember>
            <div *ngIf="assigndatalists.member_type=='non_member'" (click)="assignnownew('non_member',assigndatalists.reg_no,assigndatalists.non_mem_age,assigndatalists.non_mem_name,assigndatalists.fm_pic_path,assigndatalists.non_mem_id,assigndatalists.non_mem_phone,assigndatalists.user_master_id,assigndatalists.non_mem_gender,assigndatalists.fm_user_master_id,assigndatalists.last_visited)" class="stpopup-result-single">
              <div class="col-sm-offset-1 col-sm-2">
                <img src="assets/user-default.jpg"  class="userimg">
              </div>
              <div class="col-sm-9">
                <p class="text-green font-15">
                  <strong>{{assigndatalists.non_mem_name}}</strong>&nbsp;-&nbsp;<span class="font12">{{assigndatalists.non_mem_gender}} , {{assigndatalists.non_mem_age}} yrs (ID : N{{assigndatalists.member_id}})</span>
                </p>
                <p class="text-green">
                  Ph. {{assigndatalists.non_mem_phone}} {{assigndatalists.full_name}}
                </p>
                <p class="text-red" *ngIf="assigndatalists.last_visited==null; else otherblock">
                  <strong>Last visited:</strong>
                </p>
                <ng-template #otherblock>
                  <p class="text-green">
                    <strong>Last visited: {{assigndatalists.last_visited}}</strong>
                  </p>
                </ng-template>
              </div>
              <div class="clearfix"></div>
            </div>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div align="center">
    <input type="button" name="Patient not found ~ ASSIGN NEW" value="Patient not found ~ ASSIGN NEW" (click)="patientnotfound(qtraqid.value,fname.value,lname.value,mobilenumber.value)" class="btn btn-md btn-success mt20">
  </div>
  <div class="clearfix">&nbsp;</div>
</div>
