<div class="tokenimpact-popup-container">
<a class="close-popup" (click)="close()">
  <span  class="label-icn material-icon">	 
    <i  class="material-icons">close</i>	  
  </span>
</a>
<h4> <span class="text_green">Impacted Tokens:</span> <span class="text_pink" style="font-size:24px;">{{responsecount}}</span></h4>
<mat-tab-group>
  <mat-tab *ngFor="let getdatas of getdata; let index = index"
    [label]="getdatas.org_name + sp1 + getdatas.org_token_count + sp2">
    <div class="tokenimpact-popup">
      <div *ngFor="let queues of getdatas.queue_info;">        
        <h4 class="text_pink impactedtoken-date"> {{queues.queue_date}} </h4>
        <div *ngFor="let queuesdata of queues.queues;">
          <p class="impactedtoken-list">
            <span class="text_green impactedtoken-name">{{queuesdata.queue_name}}</span> 
            <span class="text_red impactedtoken-count">{{queuesdata.queue_token_count}}</span>
          </p>
        </div>
      </div>
    </div>
  </mat-tab>  
</mat-tab-group>
</div>
