<div class="page-wrapper chiller-theme " [class.toggled]="toggleVal">
    <app-sidebar></app-sidebar>
    <div class="page-content">
      <div class="page-content-all-hd">
        <h2>BHUMKAR'S CLINIC</h2>
      </div>
      <div class="main-content-wrapper">
        <div class="container-fluid">
            <div class="com-breadcrum full">
                <ul class="com-breadcrum-list">
                  <li><a routerLink="/" >Home</a></li>
                  <li>System Roles and Access</li>
                </ul>
              </div>
              
              <div class="system-role-maintb full below-breadcrum">
                  <form [formGroup]="documentGrp" (ngSubmit)="onsystemrolesubmit(documentGrp.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>
                      <div class="box box-solid box-primary systemrole-body">
                      <div class=" " formArrayName="items">
                    
                   <div class="row">
                      <h1 class="page-title-primary">System Roles and Access</h1> 
                    <div class="">
                             <div class="col-sm-12">
                               <div class="full addsystm-btn">
                                  <button  class="btn pull-right" routerLink="addsystemroles ">Add System User</button>
                
                               </div>
                   <div *ngFor="let item of items.controls; let i = index;">
                                 <div [formGroupName]="i">
                                   <table id="tbl-upload" class="table table-bordered system-role-table" >
                                     <tbody>
                                       <tr *ngIf="i==0" class="active">
                                         <!--<th>User Id</th>-->
                                         <th>profile image</th>
                                         <th>Name</th>
                                         <th>Phone Number</th>
                                         <th>Front Desk</th>
                                         <th>Doctor Desk</th>
                                         <th>System Admin</th>
                                       </tr>
                                       <tr *ngIf="(item.controls.editcall.value !='editcall')">
                                          <td>      <img src="{{item.controls.profileimage_path.value}}" alt="" title=""></td>
                                        <td>{{item.controls.first_name.value}}</td>
                                        <td>{{item.controls.user_name.value}} <input type="hidden" formControlName="user_id" /></td>
                
                                       <td *ngIf="(item.controls.is_frontdesk.value =='Yes') else elseBlock " class="com-checkbox">  
                                       <input type="checkbox" formControlName="is_frontdesk" [checked]="true" *ngIf="item.controls.is_frontdesk.value=='Yes'"  />
                                      </td>
                                          <ng-template #elseBlock>
                                            <td class="com-checkbox">
                              <input type="checkbox" [checked]="false" formControlName="is_frontdesk" />
                                             </td>
                                            </ng-template>
                                       
                                       
                                            
                                            <td *ngIf="(item.controls.is_doctordesk.value =='Yes') else elseBlock1" class="com-checkbox">  
                                                <input type="checkbox" formControlName="is_doctordesk" [checked]="true" *ngIf="item.controls.is_doctordesk.value=='Yes'"  />
                                               </td>
                                          <ng-template #elseBlock1>
                                          <td class="com-checkbox">
                                       <input type="checkbox" [checked]="false" formControlName="is_doctordesk" />
                                          </td>
                                          </ng-template>
                                            
                                      <td *ngIf="(item.controls.is_admindesk.value =='Yes') else elseBlock2" class="com-checkbox">  
                                      <input type="checkbox" formControlName="is_admindesk" [checked]="true" *ngIf="item.controls.is_admindesk.value=='Yes'"  />
                                       </td>
                                       <ng-template #elseBlock2>
                                       <td class="com-checkbox">
                                      <input type="checkbox" [checked]="false" formControlName="is_admindesk" />
                                       </td>
                                      </ng-template>
                                                        
                                          </tr>
                                     </tbody>
                                   </table>
                                 </div>
                               </div>
                               <div class="pull-right">
                               </div>
                             </div>
                             </div>
                           </div>
                           <div  *ngIf="queue_assigned != null">
                              {{ queue_assigned }}
                            </div>
                         </div>
                         <div class="box-footer systm-btn-div" style="align-content: center">
                           <button type="submit" class="btn btn-primary" >Save</button>
                         </div>
                       </div>
                     </form>
              </div>
            

        </div>
          
        
        
        
        
        
        
      </div>
     </div>
</div>






