<div class="page-wrapper chiller-theme " [class.toggled]="toggleVal">
	<div class="page-content">
		<!-- Breadcrumb-->
		<div class="page-breadcrumb">
			<div class="container">
				<a (click)="backtohome()">Home</a> > <span>System Roles and Access</span> 
			</div>
		</div>
		<!-- Breadcrumb--> 
		<div class="main-content-wrapper">
			<div class="container">
				<div class="qtraq-subtitle-wrapper">
					<h1>System Roles and Access</h1>
					<button routerLink="addsystemroles" class="btn btn-danger" >Add System User</button>
				</div>
				<div class="system-role-maintb full below-breadcrum">
					<form [formGroup]="documentGrp" (ngSubmit)="onsystemrolesubmit(documentGrp.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>
					<div class="box box-solid box-primary systemrole-body">
						<div class=" " formArrayName="items">
							<div class="row">
								<div class="box-footer systm-btn-div" style="align-content: center">
									<button type="submit" class="btn btn-primary" >Save</button>
									<button type="submit" class="btn btn-primary" (click)="backtohome()">Cancel</button>
								</div>
								<div class="">
									<div class="col-sm-12">
										<div *ngFor="let item of items.controls; let i = index;">
											<div [formGroupName]="i">
												<table id="tbl-upload" class="table table-bordered system-role-table" >
													<thead>
														<tr *ngIf="i==0" class="active header">
															<th>Profile Image</th>
															<th>Name</th>
															<th>Phone Number</th>
															<th>Front Desk</th>
															<th>Doctor</th>
															<th>System Admin</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngIf="(item.controls.editcall.value !='editcall')">
															<td>      
																<img style="cursor: pointer;" (click)="clickonusername(item.controls.user_id.value,item.controls.is_doctordesk.value)" src="{{item.controls.profileimage_path.value}}" 
																	alt="" title="" class="img-responsive" onerror="this.src='assets/user-avatar.jpg'">
															</td>
															<td style="cursor: pointer;" (click)="clickonusername(item.controls.user_id.value,item.controls.is_doctordesk.value)">{{item.controls.name.value}} </td>
															<td style="cursor: pointer;" (click)="clickonusername(item.controls.user_id.value,item.controls.is_doctordesk.value)">{{item.controls.user_name.value}} <input type="hidden" formControlName="user_id" /></td>
															<td *ngIf="(item.controls.is_frontdesk.value ==true) else elseBlock " class="com-checkbox">  
																<input type="checkbox" formControlName="is_frontdesk" [checked]="true" *ngIf="item.controls.is_frontdesk.value==true"  />
															</td>
															<ng-template #elseBlock>
																<td class="com-checkbox">
																	<input type="checkbox" [checked]="false"  formControlName="is_frontdesk" />
																</td>
															</ng-template>
															<td *ngIf="(item.controls.is_doctordesk.value ==true) else elseBlock1" class="com-checkbox">  
																<input type="checkbox" formControlName="is_doctordesk" [checked]="true" *ngIf="item.controls.is_doctordesk.value==true"  />
															</td>
															<ng-template #elseBlock1>
																<td class="com-checkbox">
																	<input type="checkbox" [checked]="false" formControlName="is_doctordesk" />
																</td>
															</ng-template>
															<td *ngIf="(item.controls.is_admindesk.value ==true) else elseBlock2" class="com-checkbox">  
																<input type="checkbox" formControlName="is_admindesk" [checked]="true" *ngIf="item.controls.is_admindesk.value==true"  />
															</td>
															<ng-template #elseBlock2>
																<td class="com-checkbox">
																	<input type="checkbox" [checked]="false" formControlName="is_admindesk" />
																</td>
															</ng-template>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div class="pull-right">
										</div>
									</div>
								</div>
							</div>               
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>