<div class="ng-loading non-printable" align="center" *ngIf="loading" id=""> 
  <img src="assets/Logo-circle-ani-gif.gif" class="logo" alt="Qtraq" style="width:60px;">
</div>
<div class="col-sm-12">
  <div (click)="close('false')" style="float: right;cursor: pointer;margin-right: -25px;margin-top: 2px;"> 
    <span _ngcontent-c5="" class="label-icn material-icon">	 
       <i _ngcontent-c5="" class="material-icons">clear</i>	  
    </span>
  </div>
  <h3 style="width: 250px;margin-top: 0px;margin: 0px auto 20px auto;text-align: center;">{{uploadHeading}}</h3>
  <div class="col-sm-12" *ngIf="fileFor == 'report'" >
    <div class="row" >
      <table class="table report-table" >
          <tr>
            <td width="50%" style="padding: 10px;">
              <label for="">Select Test Type</label>
              <select [(ngModel)]="testtype" name="testtype" class="form-control" >
                <option value="" *ngFor="let testOption of testTypesDetails;" [value]="testOption.test_master_id">{{testOption.test_name}}</option>
              </select>
            </td>
            <td width="50%" style="padding: 10px;">
              <label for="">Enter Test Name</label>
              <!-- <input type="text"  [(ngModel)]="testnameModel" name="testname" class="form-control" >   -->
              <input type="text" [formControl]="testname" [(ngModel)]="testnameModel" [matAutocomplete]="auto" class="normal-autocomplete-input">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let testName of filteredTestname | async" [value]="testName">
                  {{testName}}
                </mat-option>
              </mat-autocomplete>
            </td>
          </tr>
      </table>
    </div>
  </div>
  <table class="table files-addmore-table">
    <thead class="bg-thead-green">
      <th>Files</th>
      <th *ngIf="fileFor != 'report'" >Title</th>
      <th  width="120px">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let fields of filesArray; let i = index">
        <td>
          <input type="file"  [(ngModel)]="fields.files" name="{{fields.files}}" class="form-control" [formControl]="fields.filesControl" (change)="handleFileInput($event.target.files,i)">  
        </td>
        <td *ngIf="fileFor != 'report'" >
          <input type="text"  [(ngModel)]="fields.titles" name="{{fields.titles}}" class="form-control" [formControl]="fields.titlesControl">  
        </td>
        <td class="text-center">
          <a href="javascript:void(0)" class="icon-with-text" (click)="removeFiles(i)">
            <i class="material-icons">close</i> Remove
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <a href="javascript:void(0)" class="btn pull-right" (click)="addMoreFiles()">ADD</a>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="col-sm-12 text-center">
    <button class="btn" type="button" (click)="uploadFiles()">Upload</button>
  </div>
</div>
