.bg-thead-green{
    background:#b9efbb !important;
}

.files-addmore-table input[type=file]{
    padding: 3px;
}
.files-addmore-table{
    border: 1px solid #048a09;
    margin-bottom: 10px !important;
}
.files-addmore-table thead th{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.files-addmore-table thead th,.files-addmore-table td{
    border: 2px solid #048a09;
    padding:10px;
    vertical-align: middle;
}
.icon-with-text{
    padding-left: 27px;
    color:red;
}
.icon-with-text i{
    margin-top: -4px;
    position: absolute;
    margin-left: -30px;
}
.report-table{
    background:#e7f14d75;
    margin-bottom:0px;
    border: 2px solid #048a09;
    border-bottom:none;
}
.normal-autocomplete-input,.normal-autocomplete-input:focus{
    width: 100%;
    height: 30px;
    border-radius: 0px;
    border: 1px solid #048a09;
    padding: 0px 10px;
    color: #ea3087;       
    outline: none !important;  
}