<div (click)="close()" style="position: fixed;z-index: 99999999;right: -3px;top: 0px;background: #cdcdcd;"> 
    <span class="label-icn material-icon">	 
        <i class="material-icons" style="font-size:45px;">clear</i>	  
    </span>
</div>
<div class="custom-slider-container">
    <span class="material-icons" (click)="changeFile('prev')" style="position: absolute;top: 40%;left: 0;font-size: 50px;background: #cdcdcdcc;padding: 45px 0px;" *ngIf="btnPrev">keyboard_arrow_left</span>
    <span class="material-icons" (click)="changeFile('next')" style="position: absolute;top: 40%;right: 0;font-size: 50px;background: #cdcdcdcc;padding: 45px 0px;" *ngIf="btnNext">keyboard_arrow_right</span>
    <div class="item-wrapper" *ngFor="let items of files">
        <div class="file-item" *ngIf= "items.status == 'active'">
            <div *ngIf= "items.extension != 'pdf' && items.extension != 'PDF';else pdftemplate" style="width: 100%;height: auto;text-align: center !important;float: left;">
                <div class="floating-icons">
                    <span class="material-icons" (click)="rotate()" >rotate_right</span>
                    <span class="material-icons" (click)="zoom('in')" >zoom_in</span>
                    <span class="material-icons" (click)="zoom('out')" >zoom_out</span>
                </div>
                <img src="{{items.file}}" class="image-item" alt=""  class="image-responsive" [@rotatedState]='state' [@zoom]='zoomState' style="margin:0px auto auto auto;width: 400px;height: auto;padding:20px;" > 
                <div class="clearfix"></div>
            </div>
            <ng-template #pdftemplate>
                <object [attr.data]= "items.file | safeHtml" type="application/pdf" width="100%" height="600px"></object>
            </ng-template>
        </div>
    </div>
</div>