#idOnHTML{
    height: 800px;
}

.image-item {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
}
.image-item.rotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}
.image-item.rotate180 {
    transform: rotate(180deg) translate(-100%,-100%);
    -webkit-transform: rotate(180deg) translate(-100%,-100%);
    -ms-transform: rotate(180deg) translateX(-100%,-100%);
}
.image-item.rotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}
.floating-icons {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 45px;
    z-index:99999;
    right:0px;   
    .material-icons{
        padding: 5px;
        background: #cdcdcd85;
        color: #000;
        margin: 5px 5px 5px 0px;
        font-size: 30px;
        float:left;
    }
}
// .galleryDialogWrapper {
//     mat-dialog-container {
//         border:5px solid red;
//     }
// }
