<!-- Content Header (Page header) -->
<!--
<section class="content-header">
  <h1>
    <span>Welcome</span>
    <small> - Angular Admin LTE</small>
  </h1>
</section>


<button class="btn btn-danger" routerLink="planaddedit"> Add Plan</button>
-->
<!--
<section class="content">

  <div class="row">
    <div class="col-md-12">
      <p>
        To get started you can change the <b>src/app/configuration.ts</b> to your project definitions.
      </p>
      <p>
         
        And, of course, you can see more of Admin LTE theme <a href="https://adminlte.io/themes/AdminLTE/index2.html" target="_blank">here</a>
      </p>
    </div>
  </div>

  <app-content-loader loadingMessage="You have a lot to do..."></app-content-loader>
-->
<!--
</section>
-->