<div class="page-wrapper chiller-theme ">
  <div class="page-content">
    <!-- Breadcrumb-->
    <div class="page-breadcrumb">
      <div class="container">
        <a routerLink="/">Home</a> <span class="arrow">></span> <span>Ongoing Queues</span>
      </div>
    </div>
    <!-- Breadcrumb-->
    <!--
      <div *ngIf="providerlist"> 
      <div *ngFor="let  ongoingqueuedatas of ongoingqueuedata| paginate: { itemsPerPage: this.size, 
      currentPage: this.page, totalItems: this.totalRecords }">
      <div (click)="getongoingqueue(ongoingqueuedatas.profileimage_path,
      ongoingqueuedatas.first_name,ongoingqueuedatas.user_master_id)">
      {{ongoingqueuedatas.org_location}}
      {{ongoingqueuedatas.gender}}
      {{ongoingqueuedatas.first_name}}
      {{ongoingqueuedatas.user_name}}
      <div>
      <img src="{{ongoingqueuedatas.profileimage_path}}"/>
      </div>
      </div>
      </div>
      <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
      -->
    <!--
      <div *ngIf="errorMessage">
      {{errorMessage}}
      </div>
    -->
    <div class="main-content-wrapper">
      <div class="container">
        <div class="qtraq-subtitle-wrapper">
          <h1>Ongoing Queues</h1>
        </div>
        <div class="col-sm-12">
        <div *ngIf="dignosispriscription">
            <!--
              <div *ngFor="let patienthistorydatas of patienthistorydata">
              -->
          <div>
          <p>DR. {{token_details.provider_name}}</p>
          <p>{{token_details.org_name}}</p>
          </div>
          <div>
              <p>{{token_details.booking_for_name}}</p>
              <p>{{token_details.user_gender}} {{token_details.user_age}}</p>
              
          </div>
          <input type="button" name="Back" value="Back" 
          (click)="backtodetail()"
          class="btn btn-sm btn-success" />
              <mat-tab-group disableRipple >
                  
                  <mat-tab label="Diagnosis">
                    
            
            
                      <p><strong>Diagnosis Note</strong></p>
                  <p class="pink_text" *ngIf="diagnosis_details">{{diagnosis_details[0].d_p_remarks}}</p>
                
              
              
      
      
      
                  <form [formGroup]="documentGrp" (ngSubmit)="OnSubmitprescription(documentGrp.value)" #uploadDocumentsForm="ngForm"
                  ngNativeValidate class="organisation-form org-form all-com-form">
      
                  <input type="text"  class="form-control" name="complaints_text" 
                  formControlName="complaints_text" placeholder="Diagnosis Note">
      
                  <button type="button" class="btn btn-sm btn-success" title="Add More"
                  (click)="addItem()">Add More</button>
      
        <div class="box-body org-upload-doc-form" formArrayName="items">
                  <div *ngFor="let item of items.controls; let i = index;">
                      <div [formGroupName]="i">
                        <table id="tbl-upload" class="table table-bordered">
                          <tbody>
                            <tr *ngIf="i==0" class="active">
                              <th class="img-org-th">complaints </th>
                              <th class="img-action-th">Remove</th>
                            </tr>
                          
                                               
                              <tr *ngIf="(item.controls.editcheck.value !='editcall')">
                                <td class="img-org-td">
                                    <div class="form-group required upload-btn-wrapper">
                                        <input type="text"  formControlName="complaints">
                                   </div>
                                </td>
                                <td class="remove blank-td"  align="center">
                                  <a title="Remove" (click)="removeItem(i)">
                                  <span class="label-icn material-icon">	 
                                  <i class="material-icons">delete</i> 	  
                                  </span>  
                                  </a>
                                </td>
                              </tr>
                           
                          </tbody>
                        </table>
                      </div>
                    </div>  
                    </div>
                    <button type="submit" class="btn btn-primary ">Save</button>
                </form>
                
                
                
                </mat-tab>
               
          
                  <!--
                  <div *ngIf="prescription_details">
                  -->
                  <mat-tab label="Prescription Details">
      
        <p class="pink_text" *ngIf="prescription_details">{{prescription_details[0].d_p_remarks}}</p>
                
        <form [formGroup]="priescriptiondocumentGrp" 
        (ngSubmit)="OnSubmitprescriptiondata(priescriptiondocumentGrp.value)" 
        #uploadDocumentsForm="ngForm"
        ngNativeValidate class="organisation-form org-form all-com-form">
      
        <input type="text"  class="form-control" name="complaints_text" 
        formControlName="complaints_text" placeholder="Diagnosis Note">
      
        <button type="button" class="btn btn-sm btn-success" title="Add More"
        (click)="addpresc()">Add More</button>
      
      <div class="box-body org-upload-doc-form" formArrayName="priesitems">
        <div *ngFor="let item of priesitems.controls; let j = index;">
            <div [formGroupName]="j">
              <table id="tbl-upload" class="table table-bordered">
                <tbody>
                  <tr *ngIf="j==0" class="active">
                    <th class="img-org-th">medicine </th>
                    <th class="img-org-th">qty </th>
                    <th class="img-org-th">duration</th>
                    <th class="img-org-th">frequency</th>
      
      
                    <th class="img-action-th">Remove</th>
                  </tr>
                
                                     
                    <tr *ngIf="(item.controls.editpries.value !='editpries')">
                      <td class="img-org-td">
                          <div class="form-group required upload-btn-wrapper">
                              <input type="text"  formControlName="medicine">
                         </div>
                      </td>
                      <td class="img-org-td">
                          <div class="form-group required upload-btn-wrapper">
                              <input type="text"  formControlName="qty">
                         </div>
                      </td>
                      <td class="img-org-td">
                          <div class="form-group required upload-btn-wrapper">
                              <input type="text"  formControlName="duration">
                         </div>
                      </td>
                      <td class="img-org-td">
                          <div class="form-group required upload-btn-wrapper">
                              <input type="text"  formControlName="frequencs">
                         </div>
                      </td>
      
      
                      <td class="remove blank-td"  align="center">
                        <a title="Remove" (click)="removepresc(i)">
                        <span class="label-icn material-icon">	 
                        <i class="material-icons">delete</i> 	  
                        </span>  
                        </a>
                      </td>
                    </tr>
                 
                </tbody>
              </table>
            </div>
          </div>  
      </div>
      
      
      <button type="button" class="btn btn-sm btn-success" title="Add More"
      (click)="addtest()">Add More</button>
      
      <div class="box-body org-upload-doc-form" formArrayName="testitems">
      
          <div *ngFor="let item of testitems.controls; let j = index;">
              <div [formGroupName]="j">
                <table id="tbl-upload" class="table table-bordered">
                  <tbody>
                    <tr *ngIf="j==0" class="active">
                     
                      <th class="img-org-th">Test name </th>
      
                      <th class="img-org-th">Test Type </th>
                      <th class="img-action-th">Remove</th>
                    </tr>
                  
                                       
                      <tr *ngIf="(item.controls.testdocument.value !='testdocument')">
                        <td class="img-org-td">
                            <div class="form-group required upload-btn-wrapper">
                               <input type="text"  formControlName="testtype">
                               
                           </div>
                        </td>
                        <td class="img-org-td">
                            <div class="form-group required upload-btn-wrapper">
      
                           <!--     <input type="text"  formControlName="testname">
                           -->
                           <select class="form-control"  
                           formControlName="testname" >
                               <option [value]="testlist.test_master_id" *ngFor="let testlist of testtypelist">
                                   {{testlist.test_name}} </option>
                               
                             </select>
                           
                              </div>
                        </td>
      
                        <!--
                        <td class="img-org-td">
                            <div class="form-group required upload-btn-wrapper">
                                <input type="text"  formControlName="duration">
                           </div>
                        </td>
                        <td class="img-org-td">
                            <div class="form-group required upload-btn-wrapper">
                                <input type="text"  formControlName="frequencs">
                           </div>
                        </td>
                      -->
        
                        <td class="remove blank-td"  align="center">
                          <a title="Remove" (click)="removetest(i)">
                          <span class="label-icn material-icon">	 
                          <i class="material-icons">delete</i> 	  
                          </span>  
                          </a>
                        </td>
                      </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>  
      
      
      
          </div>
          <button type="submit" class="btn btn-primary ">Save</button>
          

      </form>
      
      
      
      
      
      
      
      
      
      
      
      
      <!--
      
                  <div *ngFor="let prescriptiondata of prescription_details">
                   <div class="table-responsive">
                     <table class="table table-bordered">
                      <tr>
                        <th>Medicine Name</th>
                        <th>Medicine Qty</th>
                        <th>Duration</th>
                        <th>Frequency</th>
                      </tr>
                      <tr>
                        <td>{{prescriptiondata.medicine_name}}</td>
                        <td>{{prescriptiondata.medicine_qty}}</td>
                        <td>{{prescriptiondata.medicine_duration}}</td>
                        <td>{{prescriptiondata.medicine_frequency}}</td>
                      </tr>
                     </table>
                   </div>
                  </div>  
                  <div *ngIf="test_details">
                  <div *ngFor="let test_details of test_details">
                      <p><strong>Test Name</strong></p>
                      <p>{{test_details.test_name}}</p>
                      <p><strong>Test Type</strong></p>
                      <p>{{test_details.test_type_name}}</p>
                      Remarks
                      <p>{{test_details.d_p_remarks}}</p>
                    </div>
                    </div>
                  <div *ngIf="prescription_images">
                  <div *ngFor="let prescription_image of prescription_images">
                  <div *ngIf="prescription_image.precription_report_image">
                  <img src="{{prescription_image.precription_report_image}}" 
                  alt="" title="">
                  </div>
                  </div>
                  </div>
                -->
      
      
      
      
      
      
      
                  </mat-tab>  
                  
                  
                  <!--
                  </div>
                -->
          
                  <div *ngIf="report_images">
                  <mat-tab label="Report Images">
                  {{patienthistorydata.report_images.test_names}}
                  <div *ngFor="let report_image of report_images">             
                      <p><strong>Test Name</strong>: {{report_images.test_names}}</p>  
                    
          
          
                      <div *ngFor="let report_images_data of report_images.report_images_data">
                        <p><strong>Image Name</strong>: {{report_images_data.image_title}}</p>             
                        <div *ngIf="report_images_data.precription_report_image">
                        <img src="{{report_images_data.precription_report_image_path}}" 
                        alt="" title="" class="img-responsive">
                        </div>
                      </div>              
                  </div>
                  </mat-tab>
                  </div>
                
          
                  </mat-tab-group>
          <!--
                </div>
              -->
              </div>
          
          <!--dignosis description end 4-22-2019--> 










          <!--dignosis description end 4-22-2019-->
          <!--assign new token start-->
          <!--assign new token start-->
          <div *ngIf="assignsearchdiv">


            <form #userlogin="ngForm" (ngSubmit)="onSubmit(userlogin.value)" ngNativeValidate>
              <div *ngIf="searchfield">
                <div class="wrapper-70">
                  <div class="token_details_wrapper">
                    <div class="token_details_bottom">
                      <div class="token_details_top">
                        <div class="td_doctor_name">
                          <span class="label-icn material-icon">
                            <i class="material-icons">person</i>
                          </span>
                          <div>
                            <p class="drname_orange">Dr. {{ongoingprovider_name}}
                              {{providerlastname}}</p>
                            <p class="clinicname_green">{{publicorgname}}</p>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                      <div class="tdb_new_token_wrapper">
                        <div class="tdb_ntw_left">
                          <p class="green-text wrap-40"><strong>Token Details</strong></p>
  
                          <div class="wrap-60">
                            <select (change)="onqueselect($event.target.value)"
                              class="form-control border-pink tdb_select_queue" name="queueselected">
                              <option>Select Queue</option>
                              <option *ngFor="let quelistdatas of quelistdata" 
                              [value]="quelistdatas.queue_id"
                                [ngValue]="quelistdatas" [selected]="quelistdatas.queue_id === queue_reqque">
                                {{quelistdatas.queue_name}}
                              </option>
                            </select>
                          </div>
                    <div class="clearfix">&nbsp;</div>
                          <div class="col-sm-3 mb10 mt10">
                            <span class="green-text">Date: </span>
                            <span class="pink-text">
                              <input class="form-control" placeholder="Select a date" name="dob"
                                value="{{myFormattedDate}}" ngx-mydatepicker (dateChanged)="onAssignDateChanged($event)"
                                [options]="myOptions" #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" />
                            </span>
                          </div>
                          <div class="col-sm-3 mb10">
                            <span class="green-text">Time: </span>
                          </div>
                          <div class="col-sm-9 mb10">
                            <span class="pink-text">{{token_time}}
                            </span>
                          </div>
                        </div>
                        <div class="tdb_ntw_right">
                          <div class="circle-green">
                            <div (click)="onqueclick()">{{token_no}}</div>
                          </div>
                          <span class="label-icn material-icon edit-icon">
                            <i class="material-icons">edit</i>
                          </span>
                          <p class="tdb_ntw_status">Token no.</p>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="green-bg mb10">&nbsp;</div>
                        <div class="tdb_ntw_left">
                          <p class="green-text wrap-40"><strong>Patient Details</strong></p>
                        
                          <div *ngIf="bookedother;else other_content">
                          <div class="wrap-60">
                <select name="bookingtype" #bookingtype (change)="onbookingchangedata($event.target.value)">
                  <option value="New" >New</option>
                  <option value="Followup">Followup</option>
                  </select>
  <!--
                          <div class="com-checkbox display-ib">
                              <label class="green-text"> Self </label>
                              <input type="checkbox" [checked]="bookedforself">
                            </div>
                          -->            
                          </div>
                   
                        <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-3 mb10 mt10">
                              <span class="green-text ">Reg no: </span>
                            </div>
                            <div class="col-sm-9 mb10 mt10">
                              <span class="pink-text">
                                {{regno}}
                                <input type="text" name="regno" ngModel>
                              </span>
                            </div>
                            <div class="col-sm-3 mb10 ">
                              <span class="green-text">Name: </span>
                            </div>
                            <div class="col-sm-9 mb10">
                              <input type="text" name="firstname" ngModel>
                            </div>
                            <div class="col-sm-3 mb10 ">
                              <span class="green-text">Gender: </span>
                            </div>
                            <div class="col-sm-9 mb10">
                              <select ngModel name="gender">
                                <option> Select Gender </option>
                                <option value="Male">Male </option>
                                <option value="Female">Female </option>
                                <option value="Other"> Other</option>
                              </select>
                            </div>
                            <div class="col-sm-3 mb10 ">
                              <span class="green-text">Age: </span>
                            </div>
                            <div class="col-sm-9 mb10">
                              <span class="pink-text">
                                <input type="text" name="age" ngModel> Years</span>
                            </div>
                            <div class="col-sm-3 mb10 ">
                              <span class="green-text">Phone: </span>
                            </div>
                            <div class="col-sm-9 mb10">
                              <span class="pink-text">{{bookingusername}}</span>
                            </div>
                            <input type="hidden" name="dataself" value="{{valueee}}" ngModel>
                          </div>
                      <ng-template #other_content>
  
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-3 mb10 mt10">
                              <span class="green-text ">Reg no: </span>
                            </div>
                            <div class="col-sm-9 mb10 mt10">
                              <span class="pink-text">
                              <input type="text" name="regno" required value="{{regno}}" 
                              [(ngModel)]="regno" ngModel >
                               </span>
                            </div>
                            <div class="col-sm-3 mb10 ">
                              <span class="green-text">Name: </span>
                            </div>
                            <div class="col-sm-9 mb10">
                              <span class="pink-text">{{searchfirst_name}}</span>
                            </div>
                            <div class="col-sm-3 mb10 ">
                              <span class="green-text">Gender: </span>
                            </div>
                            <div class="col-sm-9 mb10">
                              <span class="pink-text">{{usergendermale}}</span>
                            </div>
                            <div class="col-sm-3 mb10 ">
                              <span class="green-text">Age: </span>
                            </div>
  <!--
                            <div class="col-sm-9 mb10">
                              <span class="pink-text">{{searchmobileage}} Years</span>
                            </div>
                          -->
                          
                          
                          <div class="col-sm-9 mb10">
                          <input type="text" name="age"  class="form-control border-green"
                           value="{{searchmobileage}}" [(ngModel)]="searchmobileage" required>  
                          
                          <!-- searchmobileage    <span class="pink-text">{{searchmobileage}} Years</span>
                          -->
                          <span class="pink-text">Years</span>
                          </div>
  
  
                            
                            <div class="col-sm-3 mb10 ">
                              <span class="green-text">Phone: </span>
                            </div>
                            <div class="col-sm-9 mb10">
                              <span class="pink-text">{{bookingusername}}</span>
                            </div>
                          </ng-template>
                          <div class="col-sm-3 mb10 msg-assign-token">
                            <span class="label-icn material-icon green-icon">
                              <i class="material-icons">message</i>
                            </span>
                          </div>
                          <div class="col-sm-9 msg-assign-token">
                            <input type="text" class="form-control border-green" name="tokenmsg" ngModel
                              placeholder="Enter message here">
                          </div>
                        </div>
                        <div class="tdb_ntw_right">
                          <img src="{{userprofileimg}}" class="img-responsive" onerror="this.src='assets/user-default.jpg'">
                        </div>
                        <div class="clearfix mb10">&nbsp;</div>
                        <div *ngIf="assignnewtokenform">
  
                          <div *ngFor="let  customfields of customfield">
                                <div *ngIf="customfields.custom_field_type=='Amount'">
                                  <div class="tbd_form_label">
                                    <label class="green-text"> {{customfields.custom_label}}</label>
                                  </div>
                                  <div class="tbd_form_field">
                                    <div class="required">
                                      <div *ngIf="customfields.is_mandatory==true;else other_content">
                                        <input type="text" ngModel required name="{{customfields.custom_field_id}}"
                                          class="form-control border-green">
                                      </div>
                                      <ng-template #other_content><input type="text" ngModel
                                          name="{{customfields.custom_field_id}}" class="form-control border-green">
                                      </ng-template>
                                    </div>
                                  </div>
                                  <div class="clearfix">&nbsp;</div>
                                </div>
  
  
                                <div *ngIf="customfields.custom_field_type=='Number'">
                                  <div class="tbd_form_label">
                                    <label class="green-text"> {{customfields.custom_label}}</label>
                                  </div>
                                  <div class="tbd_form_field">
                                    <div *ngIf="customfields.is_mandatory==true;else other_content">
                                      <input type="number" required ngModel name="{{customfields.custom_field_id}}"
                                        class="form-control border-green">
                                    </div>
                                    <ng-template #other_content><input type="number" ngModel
                                        name="{{customfields.custom_field_id}}" class="form-control border-green">
                                    </ng-template>
                                  </div>
                                  <div class="clearfix">&nbsp;</div>
                                </div>
  
  
  
                                <div *ngIf="customfields.custom_field_type=='Text Multi Line'">
                                  <div class="tbd_form_label">
                                    <label class="green-text"> {{customfields.custom_label}}</label>
                                  </div>
                                  <div class="tbd_form_field">
                                    <div *ngIf="customfields.is_mandatory==true;else other_contentmul">
  <textarea ngModel required name="{{customfields.custom_field_id}}"
   rows="5" cols="120" class="form-control border-green">                             
  </textarea>
                                   </div>
                                    <ng-template #other_contentmul>
                <textarea ngModel required name="{{customfields.custom_field_id}}"
                rows="5" cols="120" class="form-control border-green">                             
               </textarea>
                </ng-template>
                                  </div>
                                  <div class="clearfix">&nbsp;</div>
                                </div>
  
  
  
                                <div *ngIf="customfields.custom_field_type=='Text Single Line'">
                                  <div class="tbd_form_label">
                                    <label class="green-text"> {{customfields.custom_label}}</label>
                                  </div>
                                  <div class="tbd_form_field">
                                    <div *ngIf="customfields.is_mandatory==true;else other_contentsingle">
                                      <input type="text" ngModel required name="{{customfields.custom_field_id}}"
                                        class="form-control border-green" />
                                    </div>
                                    <ng-template #other_contentsingle><input type="text" ngModel
                                        name="{{customfields.custom_field_id}}" class="form-control border-green">
                                    </ng-template>
                                  </div>
                                  <div class="clearfix">&nbsp;</div>
                                </div>
                                <div *ngIf="customfields.custom_field_type=='Date'">
                                  <div class="tbd_form_label">
                                    <label class="green-text"> {{customfields.custom_label}}</label>
                                  </div>
                                  <div class="tbd_form_field">
                                    <div *ngIf="customfields.is_mandatory==true;else other_contentdate">
                                      <input class="form-control border-green" placeholder="Select a date" required ngModel
                                        name="{{customfields.custom_field_id}}" ngx-mydatepicker [options]="myOptions"
                                        #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" />
                                    </div>
                                    <ng-template #other_contentdate>
                                      <input class="form-control" placeholder="Select a date" ngModel
                                        name="{{customfields.custom_field_id}}" ngx-mydatepicker [options]="myOptions"
                                        #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" />
                                    </ng-template>
                                  </div>
                                  <div class="clearfix">&nbsp;</div>
                                </div>
                                <div *ngIf="customfields.custom_field_type=='List Single Select'">
                                  <div class="tbd_form_label">
                                    <label class="green-text"> {{customfields.custom_label}}</label>
                                  </div>
                                  <div class="tbd_form_field">
                                    <div *ngIf="customfields.is_mandatory==true;else other_contentlistsingle">
                                      <select ngModel required name="{{customfields.custom_field_id}}"
                                        class="form-control border-green">
                                        <option [value]="getCountrie.custom_field_value_id"
                                          *ngFor="let getCountrie of customfields.custom_field_options">
                                          {{getCountrie.custom_list_text}}
                                        </option>
                                      </select>
                                    </div>
                                    <ng-template #other_contentlistsingle>
                                      <select ngModel name="{{customfields.custom_field_id}}" class="form-control border-green">
                                        <option [value]="getCountrie.custom_field_value_id"
                                          *ngFor="let getCountrie of customfields.custom_field_options">
                                          {{getCountrie.custom_list_text}}
                                        </option>
                                      </select>
                                    </ng-template>
                                  </div>
                                  <div class="clearfix">&nbsp;</div>
                                </div>
                                <div *ngIf="customfields.custom_field_type=='List Multi Select'">
                                  <div class="tbd_form_label">
                                    <label class="green-text"> {{customfields.custom_label}}</label>
                                  </div>
                                  <div class="tbd_form_field">
                                    <div *ngIf="customfields.is_mandatory==true;else other_contentlistmulti">
                                    
                                      <ng-multiselect-dropdown [placeholder]="'select specialities'" 
                                        [data]="customfields.custom_field_options" [settings]="dropdownSettings"
                                        name="{{customfields.custom_field_id}}" ngModel>
                                      </ng-multiselect-dropdown>
                                    </div>
                                    <ng-template #other_contentlistmulti>
                                      <ng-multiselect-dropdown [placeholder]="'select specialities'"
                                        [data]="customfields.custom_field_options" [settings]="dropdownSettings"
                                        name="{{customfields.custom_field_id}}" ngModel>
                                      </ng-multiselect-dropdown>
                                    </ng-template>
                                  </div>
                                </div>
  
                                
  
                              </div>
  
  
  
  
  
                        </div>
  
  
                        <div *ngIf="todaystoken;else othercontentblock">
                        <div class="tbd_actions">
                          <input type="submit" name="Confirm Token" value="Assign Token" class="btn-green-large">
                          <input type="button" name="Back" (click)="backbuttontapped()" value="Back"
                            class="btn-green-large">
                        </div>
                        </div>
  
  <ng-template #othercontentblock>
  <div class="tbd_actions">
  <input type="submit" name="Confirm Token" value="Assign Token" class="btn-green-large">
  <input type="button" name="Back" (click)="backbuttontappedtoday()" value="Back"
  class="btn-green-large">
  </div>
  </ng-template>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix">&nbsp;</div>
                </div>
              </div>
            </form>
          </div>

<!--new code start-->
<div *ngIf="requestreceived">
    <div class="ongoing_wrapper">

      <div class="wrapper-70">
        <div class="token_details_wrapper">
          <div class="token_details_top">
            <div class="td_doctor_name">
              <span class="label-icn material-icon">
                <i class="material-icons">person</i>
              </span>
              <div>
                <p class="drname_orange">Dr. {{getTokenDetailsreshadule[0].provider_name}}</p>
                <p class="clinicname_green">{{getTokenDetailsreshadule[0].org_name}}</p>
              </div>
            </div>
            <div class="clearfix">&nbsp;</div>
          </div>
          <div class="token_details_middle">
            <p class="td_patient_details green-text">
              <strong>Patient Details</strong>: {{getTokenDetailsreshadule[0].booking_type}}
            </p>
            <p class="td_reg_no green-text">
              <strong>Reg no.</strong>: {{getTokenDetailsreshadule[0].reg_no}}
            </p>
            <div class="clearfix">&nbsp;</div>
            <div class="td_patient_info">
              <div class="td_patient_info_left">
                <img src="{{getTokenDetailsreshadule[0].consumer_profile_pic_path}}" class="img-responsive" onerror="this.src='assets/user-default.jpg'"/>
              </div>
              <div class="td_patient_info_right">
                <p class="tdpir_name green-text">{{getTokenDetailsreshadule[0].booking_for_name}}</p>
                <p class="tdpir_gender">{{getTokenDetailsreshadule[0].user_gender}} ~ Age
                  {{getTokenDetailsreshadule[0].user_age}} years</p>
                <p class="tdpir_phone green-text">
                  Phone: {{getTokenDetailsreshadule[0].token_requestor_no}}
                  <span class="label-icn material-icon">
                    <i class="material-icons">phone</i>
                  </span>
                </p>
                <p class="tdpir_verified">
                  <img src="assets/verified-icon.jpg" alt="Verified Number" title="Verfied Number" />
                  {{getTokenDetailsreshadule[0].token_requestor_name}}
                </p>
              </div>
            </div>
          </div>
          <div class="token_details_bottom">
            <div class="tdb_new_token_wrapper">
              <div class="tdb_ntw_left">
                <p class="green-text"><strong>Existing Token Detail</strong></p>
                <span class="tdb_ntw_date green-text">
                  {{token_datereq}}
                </span>
                <span class="tdb_ntw_time green-text">
                  {{token_timereq}}
                </span>
                <div class="clearfix">&nbsp;</div>
                <span class="tdb_ntw_date green-text">
                  {{queue_namereqexisting}}
                </span>
              </div>
              <div class="tdb_ntw_right">
                <div class="circle-green">
                  <div> {{getTokenDetailsreshadule[0].token_no}}</div>
                </div>
                <p class="tdb_ntw_status">Token no.</p>
              </div>
            </div>
            <div class="tdb_new_token_wrapper">
              <div class="tdb_ntw_left">
                <p class="pink-text"><strong>Select New Token Details</strong></p>
                <span class="tdb_ntw_date pink-text">
                  <input class="form-control border-pink" placeholder="Select a date" name="dob"
                    ngx-mydatepicker (dateChanged)="onAssignresDateChanged($event)" [options]="myOptions"
                    #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" value="{{reshaduledate}}" />
                </span>
                <span class="tdb_ntw_time pink-text">{{token_timeres}}</span>
                <div class="clearfix">&nbsp;</div>
                <select (change)="onqueselectreshadule($event.target.value)"
                  class="form-control border-pink tdb_select_queue">
                  <option>Select Queue</option>
                  <option *ngFor="let quelistdatareshadules of quelistdatareshadule"
                    [value]="quelistdatareshadules.queue_id" [ngValue]="quelistdatareshadules"
                    >
                    {{quelistdatareshadules.queue_name}}
                  </option>
                </select>
              </div>
              <div class="tdb_ntw_right">
                <div class="circle-pink">
                  <div (click)="reshaduleonqueclick()">{{token_nores}}</div>
                </div>
                <span class="label-icn material-icon edit-icon">
                  <i class="material-icons">edit</i>
                </span>
                <span class="label-icn material-icon people-icon">
                  <i class="material-icons">people</i>
                </span>
                <p class="tdb_ntw_status">New Token</p>
              </div>
            </div>
              <div class="tdb_form_wrapper">
                <form #userloginnew="ngForm" (ngSubmit)="onreshaduleSubmit(userloginnew.value)" ngNativeValidate>






                <div *ngIf="customfield">
                  <div *ngFor="let  customfields of customfield">
                    <div *ngIf="customfields.custom_field_type=='Amount'">
                        <div *ngIf="customfields.status=='Active'">
                      <div *ngIf="concatarrayforresult ;else notlist_visible">
                        <div *ngFor="let  concatarrayforresultdata of concatarrayforresult">
                    <div *ngIf="customfields.custom_field_id==concatarrayforresultdata.custom_field_id">
                     
                   

            <div *ngIf="customfields.visible_on_complet==true;else other_visible_label">
                <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                             
                    <div class="tbd_form_label">
                        <label class="green-text"> {{customfields.custom_label}}</label>
                        </div>
                  </div>
            
            </div>
            <ng-template #other_visible_label>
                      <div class="tbd_form_label">
                     <label class="green-text"> {{customfields.custom_label}}</label>
                     </div>
                    </ng-template>    
                   



                    
                     <div class="tbd_form_field">
            
                              <div *ngIf="customfields.visible_on_complet==true;else other_visible">
                                
                               <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                                
                                <div class="required">
                                  <div *ngIf="customfields.is_mandatory==true;else other_content">
                                    
                                    <input type="text" 
                                      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}"
                                       required
                                      name="{{customfields.custom_field_id}}" 
                                      class="form-control border-green">
                                    </div>
                                  <ng-template #other_content>
                                    <input type="text"  ngModel  
                                      name="{{customfields.custom_field_id}}" 
                                      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}"
                                      class="form-control border-green">
                                  </ng-template>
                                </div>
                              </div>
            
                              </div>
            
            
                              <ng-template #other_visible>
                                  <div *ngIf="customfields.is_mandatory==true;else other_content">
                                <input type="text"  ngModel required 
                                  name="{{customfields.custom_field_id}}" 
                                  class="form-control border-green"
                                  ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}">
                              </div>
                              <ng-template #other_content>
                                <input type="text"  
                                 ngModel
                                name="{{customfields.custom_field_id}}" 
                                ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                value="{{concatarrayforresultdata.custom_field_value}}"
                                class="form-control border-green">
                            </ng-template>
                           
                            </ng-template>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                      <ng-template #notlist_visible>
                          <div *ngIf="customfields.status=='Active'">
                     <div class="tbd_form_label">
                     <label class="green-text"> {{customfields.custom_label}}</label>
                     </div>
                 
                        <div class="tbd_form_field">
                          <div class="required">
                            <div *ngIf="customfields.is_mandatory==true;else other_content123">
                              <input type="text" required ngModel 
                                name="{{customfields.custom_field_id}}" 
                                class="form-control border-green">
                            </div>
                            <ng-template #other_content123>
                              <input type="text"  ngModel
                               name="{{customfields.custom_field_id}}" 
                               class="form-control border-green">
                            </ng-template>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        </div>
                      </ng-template>
                    
                    </div>
            </div>
            
                    <div *ngIf="customfields.custom_field_type=='Number'">
                        <div *ngIf="customfields.status=='Active'">
                <div *ngIf="concatarrayforresult ;else notlist_visible">
                        <div *ngFor="let  concatarrayforresultdata of concatarrayforresult">
                          <div *ngIf="customfields.custom_field_id==concatarrayforresultdata.custom_field_id">
                          
            
                
                              <div *ngIf="customfields.visible_on_complet==true;else other_visible_label">
                                  <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                                               
                                      <div class="tbd_form_label">
                                          <label class="green-text"> {{customfields.custom_label}}</label>
                                          </div>
                                    </div>
                              
                              </div>
                              <ng-template #other_visible_label>
                              <div class="tbd_form_label">
                                  <label class="green-text"> {{customfields.custom_label}}</label>
                                </div>
                              </ng-template>
            
            
                            <div class="tbd_form_field">
                          <div *ngIf="customfields.visible_on_complet==true;else other_visible">
            
                              <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                                <div class="required">
                                  <div *ngIf="customfields.is_mandatory==true;else other_content">
                                    <input type="text" 
                                      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}" 
                                      required 
                                      name="{{customfields.custom_field_id}}" 
                                      class="form-control border-green">
                                  </div>
                                  <ng-template #other_content><input type="text" ngModel
                                      name="{{customfields.custom_field_id}}" 
                                      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}"
                                      class="form-control border-green"></ng-template>
                                </div>
            </div>
            
            
                              </div>
                              <ng-template #other_visible>
                              
                              <div *ngIf="customfields.is_mandatory==true;else other_content">
                                <input type="text" ngModel required 
                                  name="{{customfields.custom_field_id}}" class="form-control border-green"
                                  ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                  value="concatarrayforresultdata.custom_field_value">
                              </div>
                              <ng-template #other_content>
                                  <input type="text"  ngModel 
                                  name="{{customfields.custom_field_id}}" class="form-control border-green"
                                  ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                  value="concatarrayforresultdata.custom_field_value">
                              </ng-template>
                                </ng-template>
                            </div>
                          </div>
                      </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                      <ng-template #notlist_visible>
            
                          <div *ngIf="customfields.status=='Active'">
                          <div class="tbd_form_label">
                              <label class="green-text"> {{customfields.custom_label}}</label>
                            </div>
                        <div class="tbd_form_field">
                          <div class="required">
                            <div *ngIf="customfields.is_mandatory==true;else other_content">
                              <input type="text" ngModel required  
                                name="{{customfields.custom_field_id}}" 
                                class="form-control border-green">
                            </div>
                            <ng-template #other_content><input type="text" 
                              ngModel 
                              name="{{customfields.custom_field_id}}" 
                              class="form-control border-green">
                            </ng-template>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
            </div>
            
                      </ng-template>
                    </div>
                    </div>
            
                  <div *ngIf="customfields.custom_field_type=='Text Multi Line'">
                      <div *ngIf="customfields.status=='Active'">
                      
                       
                        <div *ngIf="concatarrayforresult ;else notlist_visiblesingle">
                        <div *ngFor="let  concatarrayforresultdata of concatarrayforresult">
                          <div *ngIf="customfields.custom_field_id==concatarrayforresultdata.custom_field_id">
                             
                            
            
                 
                              <div *ngIf="customfields.visible_on_complet==true;else other_visible_label">
                                  <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                                               
                                      <div class="tbd_form_label">
                                          <label class="green-text"> {{customfields.custom_label}}</label>
                                          </div>
                                    </div>
                              
                              </div>
            <ng-template #other_visible_label>
                            <div class="tbd_form_label">
                                  <label class="green-text"> {{customfields.custom_label}}</label>
                                </div>
                        </ng-template>      
                       
                            <div class="tbd_form_field">
            
            
                              <div *ngIf="customfields.visible_on_complet==true;else single1_visible">
                               
                                  <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                                <div class="required">
                                  <div *ngIf="customfields.is_mandatory==true;else other_contentsingle">
                                      <!--
                                    <input type="text" readonly
                                      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}" required
                         name="{{customfields.custom_field_id}}" class="form-control border-green">
                                    -->
            <textarea   ngModel="{{concatarrayforresultdata.custom_field_value}}"
            value="{{concatarrayforresultdata.custom_field_value}}" 
            required name="{{customfields.custom_field_id}}"
             rows="5" cols="120" class="form-control border-green">                             
            </textarea>
                  </div>
                    <ng-template #other_contentsingle>
                                    
                                    <!--
                                    <input type="text" readonly ngModel
                                      name="{{customfields.custom_field_id}}"
                                      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}"
                                      class="form-control border-green">
                                    -->
                                  -->
                       <textarea    ngModel="{{concatarrayforresultdata.custom_field_value}}"
                        value="{{concatarrayforresultdata.custom_field_value}}" 
                        name="{{customfields.custom_field_id}}"
                        rows="5" cols="120" class="form-control border-green">                             
                        </textarea>
                        </ng-template>
                                </div>
            </div>
            
                              </div>
            
            
                              <ng-template #single1_visible>
                                
                                  <div *ngIf="customfields.is_mandatory==true;else other_content">
                             
                                  <textarea required 
                                   ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                  value="{{concatarrayforresultdata.custom_field_value}}" 
                                  name="{{customfields.custom_field_id}}"
                                   rows="5" cols="120" class="form-control border-green">                             
                                  </textarea>
            </div>
            <ng-template #other_content>
                <textarea  
                ngModel="{{concatarrayforresultdata.custom_field_value}}"
               value="{{concatarrayforresultdata.custom_field_value}}" 
               name="{{customfields.custom_field_id}}"
                rows="5" cols="120" class="form-control border-green">                             
               </textarea>
            
            </ng-template>
            
                                <!--
                                <input type="text" readonly ngModel
                                  name="{{customfields.custom_field_id}}" 
                                  class="form-control border-green"
                                  ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                  value="concatarrayforresultdata.custom_field_value">
                                -->
                              
                                </ng-template>
                            </div>
                          </div>
                         </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                      <ng-template #notlist_visiblesingle>
                          <div class="tbd_form_label">
                              <label class="green-text"> {{customfields.custom_label}}</label>
                            </div>
                          
                        <div class="tbd_form_field">
                          <div class="required">
                            <div *ngIf="customfields.is_mandatory==true;else other_content">
                            
            
                                <textarea  required
                                ngModel 
                                name="{{customfields.custom_field_id}}"
                                rows="5" cols="120" class="form-control border-green">                             
                               </textarea>
                            <!--
                              <input type="text" ngModel required readonly
                                ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                name="{{customfields.custom_field_id}}" 
                                class="form-control border-green">
                            -->
                           
                              </div>
                            <ng-template #other_content>
                              <!--
                              <input type="text" readonly ngModel
                                name="{{customfields.custom_field_id}}" 
                                class="form-control border-green">
                              -->
                              <textarea  
                              ngModel 
                              name="{{customfields.custom_field_id}}"
                              rows="5" cols="120" class="form-control border-green">                             
                             </textarea>
                            
                              </ng-template>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </ng-template>
                    </div>
                    </div>
            
            
            
                    <div *ngIf="customfields.custom_field_type=='Text Single Line'">
                        <div *ngIf="customfields.status=='Active'">
            
                      
                      <div *ngIf="concatarrayforresult ;else notlist_visiblesingle">
                        <div *ngFor="let  concatarrayforresultdata of concatarrayforresult">
                          <div *ngIf="customfields.custom_field_id==concatarrayforresultdata.custom_field_id">
                            
                            
                                
            <div *ngIf="customfields.visible_on_complet==true;else other_visible_label">
                <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                             
                    <div class="tbd_form_label">
                        <label class="green-text"> {{customfields.custom_label}}</label>
                        </div>
                  </div>
            
            </div>
                           <ng-template #other_visible_label>
                            <div class="tbd_form_label">
                                  <label class="green-text"> {{customfields.custom_label}}</label>
                                   </div>
                                  </ng-template>
            
                            <div class="tbd_form_field">
            
                              <div *ngIf="customfields.visible_on_complet==true;else single1_visible">
                             
                                  <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                                <div class="required">
                                  <div *ngIf="customfields.is_mandatory==true;else other_contentsingle">
                                    <input type="text" 
                                      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}" required
                                      name="{{customfields.custom_field_id}}" class="form-control border-green">
                                  </div>
                                  <ng-template #other_contentsingle><input type="text" ngModel 
                                      name="{{customfields.custom_field_id}}"
                                      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}"
                                      class="form-control border-green"></ng-template>
                                </div>
            </div>
            
            
                              </div>
                              <ng-template #single1_visible>
                                  <div *ngIf="customfields.is_mandatory==true;else other_content">
                                <input type="text" ngModel required 
                                  name="{{customfields.custom_field_id}}" class="form-control border-green"
                                  ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                  value="concatarrayforresultdata.custom_field_value">
                              </div>
                              <ng-template>
                                  <input type="text"  ngModel 
                                  name="{{customfields.custom_field_id}}" class="form-control border-green"
                                  ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                  value="concatarrayforresultdata.custom_field_value">
                       
                                </ng-template>
                              
                                </ng-template>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                      <ng-template #notlist_visiblesingle>
                        <div class="tbd_form_field">
                          <div class="required">
                              <div class="tbd_form_label">
                                  <label class="green-text"> {{customfields.custom_label}}</label>
                                   </div>
                            <div *ngIf="customfields.is_mandatory==true;else other_content">
                              <input type="text" ngModel required 
                                name="{{customfields.custom_field_id}}" 
                                class="form-control border-green">
                            </div>
                            <ng-template #other_content><input type="text"  ngModel
                                name="{{customfields.custom_field_id}}" 
                                class="form-control border-green">
                            </ng-template>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </ng-template>
                    </div>
            </div>
            
                    
                    <div *ngIf="customfields.custom_field_type=='Date'">
            <div *ngIf="customfields.status=='Active'">                      
                      <div *ngIf="concatarrayforresult ;else notlist_visible">
                        <div *ngFor="let  concatarrayforresultdata of concatarrayforresult">
                          <div *ngIf="customfields.custom_field_id==concatarrayforresultdata.custom_field_id">
                             
                            
                                 
            <div *ngIf="customfields.visible_on_complet==true;else other_visible_label">
                <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                             
                    <div class="tbd_form_label">
                        <label class="green-text"> {{customfields.custom_label}}</label>
                        </div>
                  </div>
            
            </div>
                            
            <ng-template #other_visible_label>   
              <div class="tbd_form_label">
                              <label class="green-text"> 
                                  {{customfields.custom_label}}
                                </label>
                </div>
              </ng-template>
                         
            
            
                            <div class="tbd_form_field">
                              <div *ngIf="customfields.visible_on_complet==true;else other_visible">
                             
                                  <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                                <div class="required">
                                  <div *ngIf="customfields.is_mandatory==true;else other_content">
                                   <input class="form-control border-green" 
                                    placeholder="{{concatarrayforresultdata.custom_field_value}}"
                                    ngModel
                                    ngx-mydatepicker
                                    [options]="myOptions" #dp45="ngx-mydatepicker"
                                    (click)="dp45.toggleCalendar()" 
                                    [(ngModel)]="concatarrayforresultdata.custom_field_value"
                                      value="{{concatarrayforresultdata.custom_field_value}}"
                                      name="{{customfields.custom_field_id}}" />
                                  </div>
                                  <ng-template #other_content>
                                    <input class="form-control border-green" placeholder="Select a date"
                                      required readonly desa ngModel 
                                      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                      value="{{concatarrayforresultdata.custom_field_value}}"
                                      name="{{customfields.custom_field_id}}" ngx-mydatepicker
                                      [options]="myOptions" #dp="ngx-mydatepicker"
                                      (click)="dp.toggleCalendar()" />
                                  </ng-template>
                                </div>
            
            </div>
                              </div>
                              <ng-template #other_visible>
                                
                 <div *ngIf="customfields.is_mandatory==true;else other_visible_text">
                                <input class="form-control  border-green" required placeholder="Select a date"
                                  [(ngModel)]='concatarrayforresultdata.custom_field_date_value'
                                   name="{{customfields.custom_field_id}}" ngx-mydatepicker 
                                  [options]="myOptions" 
                                  #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" />
                </div>
                                  
            <ng-template #other_visible_text>
                <input class="form-control required border-green" placeholder="Select a date"
                [(ngModel)]='concatarrayforresultdata.custom_field_date_value'
                 name="{{customfields.custom_field_id}}" ngx-mydatepicker 
                [options]="myOptions" 
                #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" />
              </ng-template>
            
                              </ng-template>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                      <ng-template #notlist_visible>
                        <div class="tbd_form_field">
                            <div class="tbd_form_label">
                            <label class="green-text"> 
                                {{customfields.custom_label}}
                              </label>
                            </div>
                          <div class="required">
                            <div *ngIf="customfields.is_mandatory==true;else other_content">
                              
                              <!--required [attr.disabled]="true"-->
                              <input class="form-control border-green" 
                              placeholder="Select a date" 
                               
                                ngModel name="{{customfields.custom_field_id}}" 
                                ngx-mydatepicker
                                [options]="myOptions" #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" />
                            </div>
                            <ng-template #other_content>
                              <input class="form-control border-green" 
                              placeholder="Select a date"
                               ngModel 
                                name="{{customfields.custom_field_id}}" ngx-mydatepicker 
                                [options]="myOptions"
                                #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" />
                            </ng-template>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </ng-template>
            
            </div>
            </div>
                  
            
            
            
                    <div *ngIf="customfields.custom_field_type=='List Single Select'">
                        <div *ngIf="customfields.status=='Active'">
                      
                      <div *ngIf="concatarrayforresult ;else notlist_visible">
            
                        <div *ngFor="let  concatarrayforresultdata of concatarrayforresult">
                          <div *ngIf="customfields.custom_field_id==concatarrayforresultdata.custom_field_id">
                           
                           
                           
                                
            <div *ngIf="customfields.visible_on_complet==true;else other_visible_label">
                <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                             
                    <div class="tbd_form_label">
                        <label class="green-text"> {{customfields.custom_label}}</label>
                        </div>
                  </div>
            
            </div>
                     <ng-template #other_visible_label>      
                            <div class="tbd_form_label">
                              <label class="green-text"> 
                                 

                                {{customfields.custom_label}}
                              </label>
                               </div>
                              </ng-template>
                          
                            <div class="tbd_form_field">
                              <div *ngIf="customfields.visible_on_complet==true;else other_visible">
                                   <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                                <div class="required">
                                  <div class="tbd_form_field">
            
                                    
                                    <div *ngIf="customfields.is_mandatory==true;else other_contentlistsingle">
                      
                                    <select  required   name="{{customfields.custom_field_id}}" 
                                    ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                    class="form-control border-green">
                                        <option>   </option>
                                        <option 
                                        [value]="getCountrie.custom_field_value_id"
                                        *ngFor="let getCountrie of customfields.custom_field_options"
                                        [selected]="getCountrie.custom_field_value_id === concatarrayforresultdata.custom_field_value">
                                        {{getCountrie.custom_list_text}}
                                        </option>
                                      </select>
                                    </div>
                                    <ng-template #other_contentlistsingle>


                                        <select   name="{{customfields.custom_field_id}}" 
                                        ngModel="{{concatarrayforresultdata.custom_field_value}}"
                                        class="form-control border-green">
                                           <option>   </option>
                                           <option 
                                           [value]="getCountrie.custom_field_value_id"
                                           *ngFor="let getCountrie of customfields.custom_field_options"
                                           [selected]="getCountrie.custom_field_value_id === concatarrayforresultdata.custom_field_value">
                                           {{getCountrie.custom_list_text}}
                                           </option>
                                         </select>
                                 </ng-template>
                                  </div>
                                </div>
                                </div>
                              </div>
                              <ng-template #other_visible>
            
          
            
            
              <div *ngIf="customfields.is_mandatory==true;else other_content">
              <select required      ngModel="{{concatarrayforresultdata.custom_field_value}}"
                name="{{customfields.custom_field_id}}" class="form-control border-green">
              <option>   </option>
                                    <option [value]="getCountrie.custom_field_value_id"
                                      *ngFor="let getCountrie of customfields.custom_field_options"
                                      [selected]="getCountrie.custom_field_value_id === concatarrayforresultdata.custom_field_value">
                                      {{getCountrie.custom_list_text}}
                                    </option>
                                  </select>
              </div>
            <ng-template #other_content>

            <select     name="{{customfields.custom_field_id}}"      
            ngModel="{{concatarrayforresultdata.custom_field_value}}" class="form-control border-green">
                <option>   </option>
                <option [value]="getCountrie.custom_field_value_id"
                  *ngFor="let getCountrie of customfields.custom_field_options"
                  [selected]="getCountrie.custom_field_value_id === concatarrayforresultdata.custom_field_value">
                  {{getCountrie.custom_list_text}}
                </option>
              </select>
            </ng-template>
            </ng-template>
              </div>
              </div>
              </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                      <ng-template #notlist_visible>


                        <div class="tbd_form_field">
                            <div class="tbd_form_label">
                            <label class="green-text"> 
                                {{customfields.custom_label}}
                              </label>
                              </div>
                          <div class="required">
                            <div *ngIf="customfields.is_mandatory==true;else other_content123">
                              <select ngModel 
                                 name="{{customfields.custom_field_id}}"
                                 class="form-control border-green">
                                <option [value]="getCountrie.custom_field_value_id"
                                  *ngFor="let getCountrie of customfields.custom_field_options">
                                  {{getCountrie.custom_list_text}}
                                </option>
                              </select>
                            </div>
                            <ng-template #other_content123>
            
            
                              <select ngModel 
                               name="{{customfields.custom_field_id}}"
                               class="form-control border-green">
                                <option [value]="getCountrie.custom_field_value_id"
                                  *ngFor="let getCountrie of customfields.custom_field_options">
                                  {{getCountrie.custom_list_text}}
                                </option>
                              </select>
                      
                            </ng-template>
                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </ng-template>
                    </div>
                    </div>
            <!--new multi select-->
            
            <div *ngIf="customfields.custom_field_type=='List Multi Select'">
                <div *ngIf="customfields.status=='Active'">
             
              <div *ngIf="concatarrayforresult ;else notlist_visible">
               <div *ngFor="let  concatarrayforresultdata of concatarrayforresult">
                  <div *ngIf="customfields.custom_field_id==concatarrayforresultdata.custom_field_id">
                   
                   
                        
            <div *ngIf="customfields.visible_on_complet==true;else other_visible_label">
                <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">
                      
                    <div class="tbd_form_label">
                        <label class="green-text"> {{customfields.custom_label}}</label>
                        </div>
                  </div>
            
            </div>
            <ng-template #other_visible_label>
               
              <div class="tbd_form_label">
                      <label class="green-text"> 
                        {{customfields.custom_label}}
                      </label>
                       </div>
                   </ng-template>
                   
                       <div class="tbd_form_field">
                        <div *ngIf="customfields.visible_on_complet==true;else other_visible_multipal">
                            <div *ngIf="searchtokendatadetail[0].token_status_label=='Completed'">  
                       <div class="required">
                          <div class="tbd_form_field">
                            <div *ngIf="customfields.is_mandatory==true;else other_contentlistsingle">
                                 <ng-multiselect-dropdown [placeholder]="'select option'" 
                                    required
                                       [data]="customfields.custom_field_options"
                                       [settings]="dropdownSettingsnewdata" 
                                       [(ngModel)]="concatarrayforresultdata.custom_field_options"
                                       name="{{customfields.custom_field_id}}"
                                       >
                                    </ng-multiselect-dropdown>
                            </div>
                            <ng-template #other_contentlistsingle>
                            <ng-multiselect-dropdown [placeholder]="'select option'" 
                               [data]="customfields.custom_field_options" 
                               [settings]="dropdownSettingsnewdata" 
                               [(ngModel)]="concatarrayforresultdata.custom_field_options"
                               name="{{customfields.custom_field_id}}"
                               >
                            </ng-multiselect-dropdown>
               
                            </ng-template>
                          </div>
                        </div>
            </div>
            
                        </div>
            <ng-template #other_visible_multipal>
                <div *ngIf="customfields.is_mandatory==true;else other_contentlistsingle">
                    <ng-multiselect-dropdown [placeholder]="'select option'" 
                       required 
                          [data]="customfields.custom_field_options"
                          [settings]="dropdownSettingsnewdata" 
                          [(ngModel)]="concatarrayforresultdata.custom_field_options"
                          name="{{customfields.custom_field_id}}"
                          >
                       </ng-multiselect-dropdown>
               </div>
            <ng-template #other_contentlistsingle>
                <ng-multiselect-dropdown [placeholder]="'select option'" 
                  [data]="customfields.custom_field_options"
                   [settings]="dropdownSettingsnewdata" 
                   [(ngModel)]="concatarrayforresultdata.custom_field_options"
                   name="{{customfields.custom_field_id}}"
                   >
                </ng-multiselect-dropdown>
            
            </ng-template>
            </ng-template>
                     </div>
                  </div>
                </div>
                <div class="clearfix">&nbsp;</div>
              </div>
              <ng-template #notlist_visible>
                <div class="tbd_form_field">
                    <div class="tbd_form_label">
                    <label class="green-text"> 
                        {{customfields.custom_label}}
                      </label>
                      </div>
                  <div class="required">
                    <div *ngIf="customfields.is_mandatory==true;else other_content123">
                    
                        <ng-multiselect-dropdown 
                        [placeholder]="'select option'"  
                        [data]="customfields.custom_field_options"
                        required
                        [settings]="dropdownSettingsnewdata"
                       name="{{customfields.custom_field_id}}" ngModel>
                     </ng-multiselect-dropdown>
                     </div>
                    <ng-template #other_content123>
                    <ng-multiselect-dropdown  
                    [data]="customfields.custom_field_options"
                     [placeholder]="'select option'" 
                    [settings]="dropdownSettingsnewdata"
                    name="{{customfields.custom_field_id}}" ngModel>
                  </ng-multiselect-dropdown>
                    </ng-template>
                  </div>
                </div>
                <div class="clearfix">&nbsp;</div>
              </ng-template>
            </div>
            </div>
            </div>
</div>



                  <div>
                    <div class="tbd_form_label">
                      <label class="green-text"> Message From Requestor</label>
                    </div>
                    <div class="tbd_form_field">
                      {{getTokenDetailsreshadule[0].token_msg}}
                      <button (click)="reshadulemessageclick()" class="more-btn-modal">more</button>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                  </div>
                  <div>
                    <div class="tbd_form_label">
                      <label class="green-text" > Enter Your message here</label>
                    </div>
                    <div class="tbd_form_field">
                      <input type="text" name="tokenmessageres" required #tokenmessageres ngModel
                        class="form-control border-green" />
                    </div>
                  </div>
                  <div class="tbd_actions">
                    <input type="submit" name="Confirm Token" value="Reschedule" class="btn-green-large">
                  </div>
                  <input type="button" name="back" value="back" (click)="backbuttontappedreshadule()">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




<!--new code end-->

        <div class="overlay" *ngIf="cancelmodelforassigndat">
          <div class="main-div modal-qtraq" id="loading-img">
            <form (ngSubmit)="cancelsubmitdata(mobilenumber.value)" ngNativeValidate>
              <div class="form-group">
                <label> Search User</label>
                <input type="text" class="form-control border-green" name="mobilenumber" #mobilenumber required>
              </div>
              <div *ngIf="bookingfordropdownvis">
                <div class="form-group">
                  <label>Booking for</label>
                  <select class="form-control border-green" name="bookingtype" #bookingtype
                    (change)="onbookingchange($event.target.value)">
                    <option value="Self" [selected]='bookingtypeselected'>Self</option>
                    <option value="Family">Family Members</option>
                  </select>
                </div>
              </div>
              <div *ngIf="familymemberselfshow">
                <div class="col-sm-4">
                  <div *ngIf="selfimage">
                    <div class="fp_queue_img">
                      <img src="{{selfimage}}" class="img-responsive" alt="" title="">
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <p class="green_text m0 font-18"><strong>{{selfname}}</strong></p>
                  <p class="green_text m0 font-16">{{selfnumber}}</p>
                </div>
                <div class="clearfix mb10">&nbsp;</div>
              </div>
              <input type="submit" class="btn btn-primary" value="Search" name="Search" />
              <input type="button" name="close" value="Close" class="btn btn-primary"
                (click)="cancelmodelToggle('close')" />
              <div *ngIf="assignbuttonshow" class="display-ib">
                <input type="button" class="btn btn-primary" (click)="assignnow(mobilenumber.value)" name="Assign Now"
                  value="Assign Now" />
              </div>
            </form>
            <div *ngIf="familymembershow">
              <div *ngFor="let  familymemberdata of familymember" class="provider-familymember">
                <div class="clearfix mb10">&nbsp;</div>
                <div class="fp_queue_content">
                  <div class="col-sm-2">
                    <div class="com-checkbox">
                      <input type="checkbox" name="familymember"
                        (change)="familymemberchackboxcheck(familymemberdata.family_member_id)" />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="fp_queue_img">
                      <img src="{{familymemberdata.member_pic_path}}" class="img-responsive"
                        onerror="this.src='assets/user-avatar.jpg'">
                    </div>
                  </div>
                  <div class="clearfix mb10">&nbsp;</div>
                </div>
                <div class="clearfix">&nbsp;</div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--assign new token end-->
        <!--reschedule calling end-->
        <!--dialog-->
        <!--<button class="btn btn-primary" (click)="modelToggle('open')">Model open</button>-->
        <div class="overlay" *ngIf="modelFlag">
          <div class="main-div" id="loading-img">
            <form (ngSubmit)="changesequencesubmit(reasonforchanging.value,
    searchtokendatadetail[0].token_id,
    searchtokendatadetail[0].queue_transaction_id)" ngNativeValidate>
              <div class="form-group">
                <label> reason for changing sequence</label>
                <input type="text" class="form-control:text" name="reasonforchanging" #reasonforchanging required>
              </div>

              <div class="form-group">
                <label> Move After Token No</label>
                <select (change)="ontokenChange($event.target.value)" class="form-control">
                  <option> select token </option>
                  <option [value]="getTransactionTokenList.token_sequence"
                    *ngFor="let getTransactionTokenList of getTransactionTokenList" required>
                    {{ getTransactionTokenList.token_no }}</option>
                </select>

              </div>

              <input type="submit" class="btn btn-primary" name="submit" />

              <input type="button" name="close" value="close" class="btn btn-primary" (click)="modelToggle('close')" />



            </form>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--cancel div start-->
        <div class="overlay" *ngIf="cancelmodel">
          <div class="main-div" id="loading-img">
            <form (ngSubmit)="cancelsubmit(reasonforcancel.value,
    searchtokendatadetail[0].token_id,
    searchtokendatadetail[0].queue_transaction_id)" ngNativeValidate>
              <div class="form-group">
                <label> reason for changing sequence</label>
                <input type="text" class="form-control:text" name="reasonforcancel" #reasonforcancel required>
              </div>
              <input type="submit" class="btn btn-primary" name="submit" />
              <input type="button" name="close" value="close" class="btn btn-primary"
                (click)="cancelmodelToggle('close')" />
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--cancel div end-->
        <!--dialogend-->
        <!--new code end-->
        <!--broad cast message end-->
     
    </div>
  </div>
</div>