

<button  routerLink="addsystemroles">Add SystemRole</button>
  <form [formGroup]="documentGrp" (ngSubmit)="onsystemrolesubmit(documentGrp.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>
      <div class="box box-solid box-primary">
      <div class="box-body" formArrayName="items">
    
   <div class="row">
             <div class="col-sm-12">
   <div *ngFor="let item of items.controls; let i = index;">
                 <div [formGroupName]="i">
                   <table id="tbl-upload" class="table table-bordered ">
                     <tbody>
                       <tr *ngIf="i==0" class="active">
                         <!--<th>User Id</th>-->
                         <th>First name</th>
                         <th>Username</th>
                         <th>profile image</th>
                         <th>is_frontdesk</th>
                         <th>is_doctordesk</th>
                         <th>is queue assigned</th>


                       </tr>
                       <tr *ngIf="(item.controls.editcall.value !='editcall')">
                        <td>{{item.controls.first_name.value}}</td>
                        <td>{{item.controls.user_name.value}}</td>

<input type="hidden" formControlName="user_id" />

     <td>      <img src="{{item.controls.profileimage_path.value}}" alt="" title=""></td>

                       <td *ngIf="(item.controls.is_frontdesk.value =='Yes') else elseBlock">  
                       <input type="checkbox" formControlName="is_frontdesk" [checked]="true" *ngIf="item.controls.is_frontdesk.value=='Yes'"  />
                      </td>
                          <ng-template #elseBlock>
                            <td>
              <input type="checkbox" [checked]="false" formControlName="is_frontdesk" />
                             </td>
                            </ng-template>
                       
                       
                            
                            <td *ngIf="(item.controls.is_doctordesk.value =='Yes') else elseBlock1">  
                                <input type="checkbox" formControlName="is_doctordesk" [checked]="true" *ngIf="item.controls.is_doctordesk.value=='Yes'"  />
                               </td>
                          <ng-template #elseBlock1>
                          <td>
                       <input type="checkbox" [checked]="false" formControlName="is_doctordesk" />
                          </td>
                          </ng-template>
                            
                      <td *ngIf="(item.controls.is_admindesk.value =='Yes') else elseBlock2">  
                      <input type="checkbox" formControlName="is_admindesk" [checked]="true" *ngIf="item.controls.is_admindesk.value=='Yes'"  />
                       </td>
                       <ng-template #elseBlock2>
                       <td>
                      <input type="checkbox" [checked]="false" formControlName="is_admindesk" />
                       </td>
                      </ng-template>
                                        
                          </tr>
                     </tbody>
                   </table>
                 </div>
               </div>
               <div class="pull-right">
               </div>
             </div>
           </div>
<!--
           <div  *ngIf="queue_assigned != null">
              {{ queue_assigned }}
            </div>
          -->     
          </div>
         <div class="box-footer" style="align-content: center">
           <button type="submit" class="btn btn-primary pull-right">Save</button>
         </div>
       </div>
     </form>








