.selecbox-wrapper{

    height:300px;
    overflow-y: scroll;
}
.selecbox-wrapper .com-checkbox{
    top:0 !important;
    font-size:14px;
}
.selecbox-wrapper  input[type=checkbox]:before{
    // border:none !important;
}
.mat-dialog-container{
    width: 300px !important; 
    margin: 0px auto !important;
}

mat-dialog-container{
    width: 300px !important; 
    margin: 0px auto !important;
}
.mb10{
    margin-bottom:10px;
}