<div class="col-sm-12">
  <div (click)="close()" style="float: right;cursor: pointer;margin-right: -25px;margin-top: 2px;"> 
    <span _ngcontent-c5="" class="label-icn material-icon">	 
        <i _ngcontent-c5="" class="material-icons">clear</i>	  
    </span>
  </div>
  <h3 style="width: 300px;margin-top: 0px;">{{selecLabel}}</h3>
  <div class="selecbox-wrapper">
    <div *ngFor="let suggestion of suggestions;let i = index;" >
      <div class="com-checkbox mb10" *ngIf="suggestion.name != ''" style="border-bottom: 1px solid #048a09;padding-bottom: 6px;">
        <label >
          <input type="checkbox"  [(ngModel)]="suggestion.checked"  [(ngModel)]="isChecked" (change)="selectSuggestions(suggestion.name,isChecked?true:false)"/> <span>{{suggestion.name}}</span>
        </label>
      </div>
    </div>
  </div>
  <div style="padding:20px;">
    <div class="col-sm-8">
      <input type="text" class="form-control" [(ngModel)]="customSuggestion" placeholder="Enter other value">  
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" type="button" (click)="addNewSuggestions(customSuggestion)">OK</button>
    </div>
  </div>
</div>

