<div class="page-wrapper chiller-theme " [class.toggled]="toggleVal">
  
    <div class="page-content">
      <!--<div class="page-content-all-hd">
        <h2>{{publicorgname}}</h2>
      </div>-->
      <!-- Breadcrumb-->
      
      <div class="page-breadcrumb">
          <div class="container">
            <a (click)="backtohome()">Home  </a> > <a>Change Password</a> 
          </div>
      </div>
    
       <!-- Breadcrumb-->
      <div class="main-content-wrapper">
        <div class="container">
        <div class="row">
            <div class="col-sm-12 mt25">
              
        <!--
          <div class="main-content-wrapper">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="box-body">
                    <form
                      name="form"
                      (ngSubmit)="f.form.valid && onSubmit()"
                      #f="ngForm"
                      novalidate
                      class="form-horizontal" >


                      <div class="form-group">
                        <label for="currentpassword">Currentpassword</label>
                        <input
                          type="text"
                          placeholder="Notification Title"
                          class="form-control"
                          name="Notification Title"
                          [(ngModel)]="notification.notificationtitle"
                          #notificationtitle="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && notificationtitle.invalid }"
                          required
                        />
                      <div
                          *ngIf="f.submitted && notificationtitle.invalid"
                          class="invalid-feedback"
                        >
                          <div *ngIf="notificationtitle.errors.required">
                            Notification Title is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="notificationcontent">Notification Content*</label>
                        <input
                          type="text"
                          placeholder="Notification Content"
                          class="form-control"
                          name="NotificationTitle"
                          [(ngModel)]="notification.content"
                          #content="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && content.invalid }"
                          required
                        />
                      <div
                          *ngIf="f.submitted && notification.invalid"
                          class="invalid-feedback"
                        >
                          <div *ngIf="notification.errors.required">
                            Notification Content is required
                          </div>
                        </div>
                      </div>

                  
                      <div class="form-group">
                        <label for="status">Status</label>
                        <select
                          name="status"
                          [(ngModel)]="notification.status"
                          class="form-control">
                          <option value="Active"> Active </option>
                          <option value="In-active">In-active </option>
                        </select>
                      </div>

                      <div class="form-group">
                        <button class="btn btn-primary">Create Notification</button>
                      </div>
                    </form>
                    <div class="alert alert-danger" *ngIf="errorMessage != null">
                      {{ errorMessage }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->
          <form class="location-form-main change-pass-form" [formGroup]="addeditque" (ngSubmit)="onSubmit(addeditque.value)" 
  #uploadDocumentsForm="ngForm" ngNativeValidate>
  <h1>Change Password</h1>
  <div class="location-form">
  <div class="form-group required full password-field-container" style="padding:1px 2px !important">
      <label>Current Password  </label>
      <input type="password"  class="form-control" name="currentpassword" 
        formControlName="currentpassword" placeholder="Enter Current Password" passwordToggle
        required="">
      <div class="help-block"></div>
    </div>
  
  
  
    <div class="form-group required full password-field-container" style="padding:1px 2px !important">
      <label>New Password  </label>
      <input type="password" class="form-control" name="newpassword" 
        formControlName="newpassword" placeholder="Enter Current Password" passwordToggle
        required="">
      <div class="help-block"></div>
    </div>
  
  
  
    <div class="form-group required full">
      <label>Re-enter New Password  </label>
      <input type="password" class="form-control" name="confirmPassword" 
        formControlName="confirmPassword" placeholder="Please Confirm Password"
        required="">
      <div class="help-block"></div>
    </div>
    <div class="form-group required full">
        <label style="width:100%;">&nbsp;</label>
        <button type="submit" value="submit" class="btn">Submit</button>
      </div>
    
  
  <p>
  {{passwordvalidatio}}
  </p>
  
  <p>
  {{errorMessage}}
  </p>
  
  </div>
          </form>
        </div>
      </div>
        </div>
      </div>
    </div>
</div>
