<div class="page-wrapper chiller-theme " [class.toggled]="toggleVal">
 <!--   <app-sidebar></app-sidebar>
 -->  
  <div class="page-content">
      <!--<div class="page-content-all-hd">
        <h2>{{publicorgname}}</h2>
      </div>-->
      <!-- Breadcrumb-->
      
      <div class="page-breadcrumb">
        <div class="container">
         <a (click)="backtohome()"> Home (Queue Renewal) </a> <span class="arrow">>

          </span> <span>Select a Plan</span>
        </div>
      </div>
    
      <!-- Breadcrumb-->
      <div class="main-content-wrapper">
        <div class="container">
          <div class="querwnewal-main">
          <div *ngIf="sublistshow">
          <div *ngFor="let sublistdata of sublist">
          <div>
             <div class="subscription-plan-list que-renewal-list">
                  <div class="sub-plan">
                   <span>{{sublistdata.plan_name}}</span> 
                  </div>  
                  <div class="sub-price">
                    <span>&#8377; {{sublistdata.plan_amount}}</span> 
                    <ul class="date-status">
                      <li class="date date-status-col">{{sublistdata.subscription_end_date}}</li>
                      <li class="status date-status-col">{{sublistdata.status}}</li>
                    </ul>
                  </div>
                </div>
          </div>
          </div>
          <button (click)="addrenewplan()" class="btn btn-success"> Add/Renew Plan</button>
          </div>
          <div *ngIf="planlistshow">
            <div *ngFor="let totalplans of totalplan">
              <div (click)="plansubcall(totalplans.plan_id,
              totalplans.org_id,totalplans.plan_name,totalplans.plan_amount)">
              <div class="subscription-plan-list que-renewal-list">
                <div class="sub-plan">
                 <span>{{totalplans.plan_name}}</span> 
                </div>  
                <div class="sub-price">
                  <span>&#8377; {{totalplans.plan_amount}}</span>
                  <ul class="date-status">
                    <li class="date date-status-col">{{totalplans.subscription_end_date}}</li>
                    <li class="status date-status-col">{{totalplans.status}}</li>
                  </ul>
                </div>
              </div>
              </div>
              </div>
              <button (click)="backtodashbord()" class="btn btn-success"> Back To List </button>
          </div>
          <!--
            <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" class="form-inline"> 
                <div class="col-sm-4 col-lg-3">
                  <div class="form-group">
                    <input [(ngModel)]="notificationfilter.notificationtitle" 
                    placeholder="Notification Name" name="notificationtitle"   
                    #notificationtitle="ngModel" class="form-control w100">
                  </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                <div class="form-group">
                  <select [(ngModel)]="notificationfilter.notificationstatus" 
                  name="notificationstatus" #notificationstatus="ngModel"
                  class="form-control w100">
                      <option value="Active">Active
                    </option>
                    <option value="In-active">In-active
                    </option>
                  </select>
                </div>
              </div>
                <div class="col-sm-12 col-lg-3">
                  <button class="btn btn-info">Search</button>
                  <button (click)="clearfilter()" class="btn btn-info">Clear</button>
                </div>
            </form>
          
            <div class="clearfix"></div>
            <div class="col-md-12">
                  <h2> Speciality Details</h2> 
                  <button class="btn btn-danger" 
                  routerLink="addeditnotification">Add Notification</button>
                    <table class="table table-striped">
                    <thead>
                    <tr>
                      <th class="hidden">Id</th>
                      <th>Notification Title</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let notifications of notification| paginate: { itemsPerPage: this.size, 
                      currentPage: this.page, totalItems: this.totalRecords }">
                      <td class="hidden"></td>
                      <td>{{notifications.notification_title}}</td>
                      <td>
                      <select  *ngIf="notifications.status=='Active'"
                      name="notificationstatus"  (change)="statuschange(notifications.nid,$event.target.value)"
                      class="form-control">
                     <option selected   value="Active" selected >Active </option>
                      <option value="In-active">In-active </option>
                    </select>
                <select  *ngIf="notifications.status=='In-active'"
                (change)="statuschange(notifications.nid,$event.target.value)"
                name="specialitystatus"
                 class="form-control">
                     <option    value="Active"  >Active </option>
                      <option  value="In-active" selected>In-active </option>
                    </select>
                    </td>
                      <td>
                 <button class="btn btn-danger" 
                 routerLink="addeditnotification/{{notifications.nid}}" 
                 style="margin-left: 20px;"> Edit</button></td>
                    </tr>
                    </tbody>
                  </table>
                  <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
              -->
          </div>
        </div>
      </div>
    </div>
</div>

   














