<div class="page-wrapper chiller-theme " [class.toggled]="toggleVal">
  <app-sidebar></app-sidebar>
  <div class="page-content">
    <!-- Breadcrumb-->
    <div class="page-breadcrumb">
      <div class="container">
        <a (click)="backtohome()"> Home </a> > <a (click)="backtosystemrole()">System Roles and Access </a> >
        <span>Add System User</span>
      </div>
    </div>
    <!-- Breadcrumb-->
    <div class="main-content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 ">
            <div class="box-body">
              <form class="location-form-main addsystem-form wrapper-70" [formGroup]="systemroleform"
              (ngSubmit)="OnsystemroleSubmit(systemroleform.value)" #uploadDocumentsForm="ngForm">
              <h1>Add System User</h1>
              <div class="location-form">
                <input type="hidden" name="user_master_id" formControlName="user_master_id" />
                <div class="">
                  <div class="form-group required">
                    <label>Mobile Number </label>
                    <input type="text" [readonly]="mobilenumberread" class="form-control" #mobilenumber
                    name="mobilenumber" formControlName="mobilenumber" placeholder="Enter Mobile Number"
                    required="">
                    <div class="" *ngIf="errorMessage != null">
                      {{ errorMessage }}
                    </div>
                    <div class="help-block"></div>
                  </div>
                  <div class="getnum-div form-group">
                    <div class="form-group">
                      <label for="plancountryid">Select Country</label>
                      <select (change)="onconChangegetotp($event.target.value)" name="countryid" class="form-control">
                      <option [value]="getCountrie.country_id" *ngFor="let getCountrie of getCountries"
                      [ngValue]="getCountries" [selected]="getCountrie.country_id === countryiddata">
                      {{ getCountrie.country_name }}</option>
                      </select>
                    </div>
                    <button class="btn mt22" type="button" (click)="getmobilenumber(mobilenumber.value)">
                    <i class="fa fa-search" aria-hidden="true">
                    </i>
                    </button>
                    <span *ngIf="fieldshow">
                    <button (click)="resatdata()" type="button" class="btn btn-success mt22"> Reset</button>
                    <button type="button" (click)="backtosystemrole()" class="btn btn-success mt22"> Cancel</button>
                    </span>
                  </div>
                  <div *ngIf="fieldshow">
                    <div class="form-group required w33pc">
                      <label>First Name </label>
                      <input type="text" class="form-control" [readonly]="firstname" name="firstname"
                        formControlName="firstname" placeholder="Enter First Name" required="">
                      <div class="text-danger " *ngIf="userdataSubmitted &&
                        systemroleform.controls.firstname.errors">
                        <span *ngIf="systemroleform.controls.firstname.errors.required">Please Enter First Name</span>
                      </div>
                    </div>
                    <div class="form-group required w33pc">
                      <label>Middle Name  </label>
                      <input type="text" class="form-control" [readonly]="middlename" name="middlenamer"
                        formControlName="middlename" placeholder="Enter Middle Name"
                        >
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group required w33pc">
                      <label>Last Name </label>
                      <input type="text" class="form-control" [readonly]="lastname" name="lastname"
                        formControlName="lastname" placeholder="Enter Last Name" required="">
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group required w33pc">
                      <label [class.text-red] = "systemroleform.controls.autodob.value == 'Yes'">Date Of Birth </label>
                      <input [readonly]="datedesable" class="form-control" placeholder="Select a date" name="dob"
                      formControlName="dob" ngx-mydatepicker (dateChanged)="onStartDateChanged($event)"
                      [options]="myOptions" #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" />
                      <div class="text-danger " *ngIf="userdataSubmitted &&
                        systemroleform.controls.dob.errors">
                        <span *ngIf="systemroleform.controls.dob.errors.required">Please Select Date of Birth</span>
                      </div>
                    </div>
                    <div class="form-group required w33pc">
                      <label>Age</label>
                      <input [readonly]="datedesable" class="form-control" placeholder="Age" name="age"
                      formControlName="age" (keyup)="converAgeToDate($event)" readonly/>
                      <input type="hidden" name="autodob" formControlName="autodob">
                      <div class="text-danger " *ngIf="userdataSubmitted &&
                        systemroleform.controls.age.errors">
                        <span *ngIf="systemroleform.controls.age.errors.required">Please Enter Age</span>
                      </div>
                    </div>
                    <div class="form-group w33pc">
                      <label> Gender </label>
                      <select class="form-control" name="gender" formControlName="gender">
                        <option value=""> Select Gender </option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                      <div class="text-danger " *ngIf="userdataSubmitted &&
                        systemroleform.controls.gender.errors">
                        <span *ngIf="systemroleform.controls.gender.errors.required">Please Select Gender</span>
                      </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group required w33pc">
                      <label>Email ID </label>
                      <input type="text" [readonly]="emailid" class="form-control" name="emailid"
                        formControlName="emailid" placeholder="Enter emailid" >
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group w33pc">
                      <label for="plancountryid">Select Country</label>
                      <select formControlName="countryid" (change)="onconChange($event.target.value)" name="countryid"
                        class="form-control">
                      <option [value]="getCountrie.country_id" *ngFor="let getCountrie of getCountries">
                      {{ getCountrie.country_name }}</option>
                      </select>
                      <div class="text-danger " *ngIf="userdataSubmitted &&
                        systemroleform.controls.countryid.errors">
                        <span *ngIf="systemroleform.controls.countryid.errors.required">Please Select Country</span>
                      </div>
                    </div>
                    <div class="form-group w33pc">
                      <label for="state_id">Select State</label>
                      <select formControlName="state_id" (change)="onstateChange($event.target.value)" name="state_id"
                        class="form-control">
                        <option value=""> Select State </option>
                        <option [value]="statelists.state_id" *ngFor="let statelists of statelist">
                        {{ statelists.state_name }}</option>
                      </select>
                      <div class="text-danger " *ngIf="userdataSubmitted &&
                        systemroleform.controls.state_id.errors">
                        <span *ngIf="systemroleform.controls.state_id.errors.required">Please Select State</span>
                      </div>
                    </div>
                    <div class="form-group w33pc">
                      <label for="city_id">Select City</label>
                      <select formControlName="city_id" name="city_id" class="form-control">
                        <option value=""> Select City </option>
                        <option [value]="citylists.city_id" *ngFor="let citylists of citylist">
                        {{ citylists.city_name }}</option>
                      </select>
                      <div class="text-danger " *ngIf="userdataSubmitted &&
                        systemroleform.controls.city_id.errors">
                        <span *ngIf="systemroleform.controls.city_id.errors.required">Please Select City</span>
                      </div>
                    </div>
                    <div class="form-group com-checkbox full" style="min-height: 35px !important;">
                      <label class="text_green display-block"><strong>Access</strong></label>
                      <div class="system-edit-three-check checkbox-theme">
                        <input type="checkbox" formControlName="isorgadmin" name="isorgadmin" />
                        <label class="text_grey">Admin</label>
                      </div>
                      <div class="system-edit-three-check checkbox-theme">
                        <input type="checkbox" formControlName="isl1" name="isl1" />
                        <label class="text_grey">Front Desk</label>
                      </div>
                      <div class="system-edit-three-check checkbox-theme">
                        <input type="checkbox" formControlName="isl2" name="isl2" />
                        <label class="text_grey">Doctor</label>
                      </div>
                    </div>
                    <div class="form-group required w33pc" style="width:100% !important;float:left;">
                      <label>OTP </label>
                      <div class="clearfix"></div>
                      <div style="float:left;width:230px;margin-left: 15px;">
                        <div class="row">
                          <input type="text" class="form-control" name="otp" formControlName="otp" placeholder="Enter OTP" value={{generatedotp}} required="">
                        </div>
                      </div>
                      <div style="margin-top: -23px;float: left;width: 100px;margin-left: 30px;">
                        <div class="row">
                          <input type="button" (click)="generatotp()"value="Generate OTP" value="Get OTP" class="btn btn-danger mt22 text_white" />
                        </div>
                      </div>
                      <div class="text-danger " *ngIf="userdataSubmitted &&
                        systemroleform.controls.otp.errors">
                        <span *ngIf="systemroleform.controls.otp.errors.required">Please Enter OTP</span>
                      </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Add New User</button>
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="cancelmodel">
  <div class="main-div modal-qtraq" id="loading-img" style="height:auto;">
    <p class="text_green">{{publicorgname}}</p>
    <p class="text_green">New user added in system </p>
    <p class="text_green">Username:{{newusewnamw}}</p>
    <p class="text_green">Password:{{newpassword}}</p>
    <input type="button" name="close" value="close" class="btn btn-primary" (click)="cancelmodelToggle('close')" />
  </div>
</div>