<div *ngIf="searchtokenallshow">

  <!-- <div> <button> listSharedHistories  </button> </div> -->
  <div class="page-wrapper chiller-theme ">
    <div class="page-content">
      <div class="main-content-wrapper">
        <div *ngIf="searchtokendatadetailshow">
          <!-- Breadcrumb-->
          <div class="page-breadcrumb">
            <div class="container">
              <a (click)="backtohome()">Home</a> <span class="arrow">></span> <span>Search Tokens</span>
            </div>
          </div>
          <!-- Breadcrumb-->
          <div class="container">
            <div class="qtraq-subtitle-wrapper">
              <h1>Search Tokens</h1>
            </div>
            <div id="main-form-content">
              <!-- Search Token Detail-->
              <form [formGroup]="systemroleform" (ngSubmit)="OnsystemroleSubmit(systemroleform.value)"
                #uploadDocumentsForm="ngForm" ngNativeValidate>
                <div class="col-sm-12">
                  <div class="required col-sm-3">
                    <!-- <label class="green-text">Patient</label> -->
                    <input type="text" class="form-control border-green" #patient name="patient"
                      formControlName="patient" placeholder="Enter Name / Phone no." required="">
                    <div class="help-block"></div>
                  </div>
                  <div class="col-sm-8">
                    <div class="col-sm-3 mt5 pl0 radio-theme">
                      <label class="container_radio text_pink" style="font-size:15px;">
                        Upcoming Tokens
                        <input type="radio" formControlName="tokentype" (click)="checkbox('upcoming',patient.value)"
                          name="tokentype" value="upcoming" checked="false">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-sm-3 mt5 radio-theme">
                      <label class="container_radio" style="font-size:15px;">
                        Past Tokens
                        <input type="radio" formControlName="tokentype" (click)="checkbox('past',patient.value)"
                          name="tokentype" value="past">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" class="btn btn-sm btn-success"
                        style="font-size:15px"><strong>Search</strong></button>
                    </div>
                  </div>
                </div>
              </form>
              <div *ngIf="error">
                {{error}}
              </div>
              <div class="clearfix"></div>

              <div class="col-sm-12">
                <div *ngFor="let searchtokendatas of searchtokendata| paginate: { itemsPerPage: this.size, 
              currentPage: this.page, totalItems: this.totalRecords }" class="col-sm-6">


                  <div class="full">
                    <div (click)="tokendetail(searchtokendatas.token_type,searchtokendatas.token_id)">
                      <div class="searchtoken_result_wrapper ">
                        <div class="searchtoken_img">
                          <img src="{{searchtokendatas.profile_pic_url}}" class="img-responsive"
                            onerror="this.src='assets/user-default.jpg'">
                        </div>
                        <div class="searchtoken_info">
                          <p class="searchtoken_name green-text">{{searchtokendatas.booking_for_name}} </p>
                          <p class="searchtoken_gender_age">{{searchtokendatas.user_gender}} ~ Age
                            {{searchtokendatas.user_age}} Years</p>
                          <p class="searchtoken_regno">Reg no. {{searchtokendatas.patien_id}} </p>
                          <p class="searchtoken_phone">Phone no. {{searchtokendatas.token_requestor_no}} </p>
                          <p class="searchtoken_dr"><b>Dr. {{searchtokendatas.provider_name}} </b></p>
                          <p class="searchtoken_queuetime"><strong>{{searchtokendatas.token_date}}</strong></p>
                          <p class="searchtoken_queuetime"><strong>{{searchtokendatas.queue_name}}</strong></p>
                        </div>
                        <div class="searchtoken_past">
                          <div class="pasttokens">
                            {{searchtokendatas.token_no}}
                          </div>
                          <p class="pink_text">{{searchtokendatas.token_status}}</p>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div *ngIf="searchtokendata">
                  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<!--cancel div end-->
<!--reshadule end-->