<div class="page-wrapper chiller-theme ">
  <div class="page-content">
    <!--<div class="page-content-all-hd">
      <h2>{{publicorgname}}</h2>
    </div>-->
    <!-- Breadcrumb-->
    <div class="page-breadcrumb">
      <div class="container">

        <a (click)="backtohome()">Home (Queue Setup) </a> <span class="arrow">></span>
        <a (click)="backbutton()"> Select a Doctor </a> <span class="arrow">></span>
        <a (click)="backtoqueue()">Add / Select Queue</a>
        <span class="arrow">></span>
        <span> <a>Add / Edit Queue </a></span>

      </div>
    </div>
    <!-- Breadcrumb-->
    <div class="main-content-wrapper">
      <div class="container">
        <section class="content">
          <div id="main-form-content">
            <div class="full">
              <div class="col-sm-12  subtitle-top-orange ">
                <h3 class="mb20"> {{providername}}'s {{quename}}</h3>
                <p> {{providerorgname}} </p>
              </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <button type="button" class="btn btn-primary cancel-queue-btn-top" (click)="backbutton()">
              Cancel
            </button>

            <mat-tab-group #tabGroup disableRipple (selectedTabChange)="onoganisationclick($event)"
              [selectedIndex]="selectedindex">
              <!-- First tab -->
              <mat-tab label="">



                <ng-template mat-tab-label>
                  <!--
<span *ngIf="questatus=='Active'" (click)="deactiviatequeue('In-active')">
Deactive Queue
</span>
<span *ngIf="questatus=='In-active'" (click)="deactiviatequeue('Active')">
Active Queue
</span>
-->



                  <span class="label-icn material-icon">
                    <i class="material-icons">queue</i>
                  </span>
                  <span class="label-text">Add / Edit Queue</span>
                </ng-template>
                <form class="queset-addque-form-main location-form-main " [formGroup]="addeditque"
                  (ngSubmit)="OnqueSubmit(addeditque.value)" #uploadDocumentsForm="ngForm"
                  style="width:100%;padding:0 10px;">
                  <div class="status-form ">
                    <!-- <h1>Queue Details</h1> -->
                    <!-- <div class="status-com qd-status"> -->
                    <div class="row">
                      <div class="col-md-3">
                        <!-- <div class="form-group required qd-status-top">
                          <label> Status</label>
                          <select class="form-control" name="status" formControlName="status">
                            <option value="Active">Active</option>
                            <option value="In-active">In-active</option>
                          </select>
                          <div class="help-block"></div>
                        </div> -->
                        <!-- <div class="form-group com-checkbox qd-check-top mt22" style="left:20px;"> 
                          <input type="checkbox" formControlName="ispublic" name="ispublic" />
                          <label *ngIf="addeditque.controls.ispublic.value==true ;else otherpub"  class="text_pink">Public</label>
                          <ng-template #otherpub>
                              <label class="text_grey">Public </label>
                            </ng-template>
                        </div> -->
                      </div>
                    </div>

                  </div>
                  <div class="clearfix">&nbsp;</div>
                  <div class="location-form">
                    <div class="form-group required addeditque-name-pic mb0" style="width:33%;">
                      <label>Queue Name* </label>
                      <div class="two-input">
                        <div class="two-input-left">
                          <input type="text" class="form-control" name="quename" formControlName="quename"
                            placeholder="Enter Queue Name" required="">
                          <div class="help-block"></div>
                          <div class="text-danger " *ngIf="queueSubmitted && 
                            addeditque.controls.quename.errors">
                            <span *ngIf="addeditque.controls.quename.errors.required">Enter Queue Name</span>
                          </div>
                          <a (click)="opentamplate()" class="text_green mt5 pull-right"> Select std. templates</a>
                        </div>
                        <div class="two-input-right com-checkbox" style="position:absolute;top:-2px;right:9px;">
                          <label *ngIf="addeditque.controls.ispublic.value==true ;else otherpub" for="ispublic_addqueue"
                            class="text_pink">Public</label>
                          <ng-template #otherpub>
                            <label class="text_grey" for="ispublic_addqueue"><strong>Public</strong></label>
                          </ng-template>
                          <input type="checkbox" formControlName="ispublic" name="ispublic" id="ispublic_addqueue" />
                        </div>
                        <div class="help-block"></div>
                      </div>
                      <!-- <input type="text" class="form-control" name="quename" formControlName="quename"
                        placeholder="Enter Queue Name" required="">
                      <div class="help-block"></div>
                      <div class="text-danger " *ngIf="queueSubmitted && 
                      addeditque.controls.quename.errors">
                          <span *ngIf="addeditque.controls.quename.errors.required">Enter Queue Name</span>
                        </div>
                        <a (click)="opentamplate()" class="text_green mt5 pull-right"> Select std. templates</a> -->
                    </div>
                    <div class="form-group required addedit-form-group addeditque-name-pic mb0" style="width:33%;">
                      <label> Queue Pic </label>
                      <div class="que-pic-main full">
                        <div class="upload-btn-wrapper" style="width:100px;">
                          <button class="btn-upload">Upload Image</button>
                          <input type="file" (change)="onFileChanged($event)" class="form-control" name="queue_pic"
                            formControlName="queue_pic">
                          <span class="image-name org-img-name"></span>
                        </div>
                        <!--
                        <a title="Remove" class="remove-logo" style="position: static;">
                          <span  class="label-icn material-icon">	 
                            <i class="material-icons">delete</i>	  
                          </span>
                        </a>
                      -->
                        <div *ngIf="queueimage_path" class="uploaded-img" style="vertical-align:top">

                          <img src="{{queueimage_path}}" title="" onerror="this.src='assets/placeholder.png'">

                        </div>
                      </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group required qd-status-top mb0" style="width:25%;">
                      <label> Status</label>
                      <select class="form-control" name="status" formControlName="status">
                        <option value="Active">Active</option>
                        <option value="In-active">In-active</option>
                      </select>
                      <div class="help-block"></div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <!-- <div class="form-group com-checkbox qd-check-top" style="margin-top:-15px;"> 
                      <input type="checkbox" formControlName="ispublic" name="ispublic" id="ispublic_addqueue"/>
                      <label *ngIf="addeditque.controls.ispublic.value==true ;else otherpub" for="ispublic_addqueue"  class="text_pink">Public</label>
                      <ng-template #otherpub>
                          <label class="text_grey" for="ispublic_addqueue"><strong>Public</strong></label>
                        </ng-template>
                    </div>
                    <div class="clearfix">&nbsp;</div> -->
                    <div class="form-group required" style="width:33%">
                      <label> Token Assignment Mode</label>
                      <select class="form-control" name="booking_mode" formControlName="booking_mode" required="">
                        <option value="1">Patients cannot book online.</option>
                        <option value="2">App assigns token automatically.</option>
                        <option value="3">App requests Front Desk to assign token.</option>
                        <option value="4">App auto-assigns token for Ongoing queues and for rest it sends a request to
                          Front Desk.</option>
                      </select>
                      <div class="text-danger " *ngIf="queueSubmitted && 
                      addeditque.controls.booking_mode.errors">
                        <span *ngIf="addeditque.controls.booking_mode.errors.required">Please Select Booking Mode
                        </span>
                      </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="form-group required" style="width:33%">
                      <label>Max Tokens per day* <span></span></label>
                      <input type="text" class="form-control" name="maxtoken" numbersOnly formControlName="maxtoken"
                        placeholder="Enter Max Tokens" required="">
                      <span style="color: #666;text-transform: lowercase;font-size: 11px;line-height: 18px;">(Excluding
                        cancelled tokens)</span>

                      <div class="text-danger " *ngIf="queueSubmitted && 
                        addeditque.controls.maxtoken.errors">
                        <span *ngIf="addeditque.controls.maxtoken.errors.required">Enter Max Tokens
                        </span>
                      </div>

                      <div class="help-block"></div>
                    </div>
                    <div class="form-group required" style="width:25%">
                      <label>Max Buffer Tokens* </label>
                      <input type="text" class="form-control" name="buffertokens" numbersOnly
                        formControlName="buffertokens" placeholder="Enter Max Buffer Tokens" required="">
                      <span style="color: #666;font-size: 11px;line-height: 18px;">(over and above max tokens) Allotment
                        only by Frontdesk. No auto assignment.</span>
                      <div class="text-danger " *ngIf="queueSubmitted && 
                        addeditque.controls.buffertokens.errors">
                        <span *ngIf="addeditque.controls.buffertokens.errors.required">Enter Max Buffer Tokens
                        </span>
                      </div>

                      <div class="help-block"></div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-group" style="width:33%">
                      <label>Advanced Booking Allowed for <span style="text-transform: lowercase;">(in
                          days)</span></label>
                      <div class="">
                        <input type="text" class="form-control" name="no_days_allowed" numbersOnly
                          formControlName="no_days_allowed" placeholder="Enter number of days allowed" required="">
                        <div class="text-danger " *ngIf="queueSubmitted && 
                          addeditque.controls.no_days_allowed.errors">
                          <span *ngIf="addeditque.controls.no_days_allowed.errors.required">Enter number of days allowed
                          </span>
                        </div>
                        <div class="help-block"></div>
                      </div>
                    </div>


                    <div class="form-group required" style="width:33%">
                      <label>Average Consulting Time (in minutes)* </label>
                      <input type="text" class="form-control" name="avgconsultingtime" numbersOnly
                        formControlName="avgconsultingtime" placeholder="Enter Average Consulting Time" required="">
                      <div class="text-danger " *ngIf="queueSubmitted && 
                        addeditque.controls.avgconsultingtime.errors">
                        <span *ngIf="addeditque.controls.avgconsultingtime.errors.required">Enter Average Consulting
                          Time
                        </span>
                      </div>
                      <div class="help-block"></div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-group checkbox-form-group queset-addque-form-days" style="width:33%;">
                      <div class="working-day-hd full">
                        <label> Working Days </label>
                      </div>

                      <div class="working-day-content full">
                        <div class="working-day-content-col checkbox-theme">
                          <input type="checkbox" formControlName="monworking" name="monworking" id="monworking"
                            value="Mon" />
                          <label for="monworking" class="text_grey">Mon</label>
                        </div>
                        <div class="working-day-content-col checkbox-theme">
                          <input type="checkbox" formControlName="tueworking" name="tueworking" id="tueworking"
                            value="Tue" />
                          <label for="tueworking" class="text_grey">Tue</label>
                        </div>
                        <div class="working-day-content-col checkbox-theme">
                          <input type="checkbox" formControlName="wedworking" name="wedworking" id="wedworking"
                            value="Wed" />
                          <label for="wedworking" class="text_grey">Wed</label>
                        </div>
                        <div class="working-day-content-col checkbox-theme">
                          <input type="checkbox" formControlName="thuworking" name="thuworking" id="thuworking"
                            value="Thu" />
                          <label for="thuworking" class="text_grey">Thu</label>
                        </div>
                        <div class="working-day-content-col checkbox-theme">
                          <input type="checkbox" formControlName="friworking" name="friworking" id="friworking"
                            value="Fri" />
                          <label for="friworking" class="text_grey">Fri</label>
                        </div>
                        <div class="working-day-content-col checkbox-theme">
                          <input type="checkbox" formControlName="satworking" name="satworking" id="satworking"
                            value="Sat" />
                          <label for="satworking" class="text_grey">Sat</label>
                        </div>
                        <div class="working-day-content-col checkbox-theme">
                          <input type="checkbox" formControlName="sunworking" name="sunworking" id="sunworking"
                            value="Sun" />
                          <label for="sunworking" class="text_grey">Sun</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group queset-addque-form-time" style="width:33%;">
                      <div class="col-sm-6 pl0">
                        <div class="form-group-inner required">
                          <label>Start Time* </label>
                          <input type="time" class="form-control" name="starttime" formControlName="starttime"
                            required="">
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="col-sm-6 pl0 pr0">
                        <div class="form-group-inner required">
                          <label>End Time* </label>
                          <input type="time" class="form-control" name="endtime" formControlName="endtime" required="">
                          <div class="help-block"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box-footer full" style="align-content: center">


                    <button *ngIf="queueid!= 0 " type="button" (click)="tabGroup.selectedIndex = 1"
                      class="btn pull-right">
                      Next
                    </button>



                    <button type="submit" class="btn btn-primary ">Save</button>

                    <!-- <button type="button" class="btn btn-primary" (click)="backbutton()">
                        Cancel
                      </button> -->

                  </div>
                </form>
                <div *ngIf="errorqueMessage != null">
                  {{ errorqueMessage }}
                </div>


              </mat-tab>
              <mat-tab label="" disabled="{{noticeboard}}">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <!--<i class="fa fa-flag" aria-hidden="true"></i>-->
                    <i class="material-icons">notifications_active</i>
                    <!--<mat-icon>home</mat-icon>-->
                  </span>
                  <span class="label-text">Notice Board</span>
                </ng-template>
                <div class="full">

                  <div class="col-sm-12 bg-light-green subtitle-top-orange">
                    <!--
                    <h3>Dr. Akshay Kumar's Morning</h3>
                    <p>Atto Dadar Clinic</p>
                  -->



                  </div>

                </div>

                <div *ngIf="noticebordlist">

                  <table *ngIf="noticetodatedata" class="table table-striped addqueue-notice">
                    <tbody>
                      <tr *ngFor="let noticetodatedates of noticetodatedata| paginate: { itemsPerPage: this.size, 
                  currentPage: this.page, totalItems: this.totalRecords }">
                        <td class="hidden"></td>

                        <td>
                          <div class="notice-block full">
                            <div class="notice-block-col">
                              <div class="notice-block-img full">
                                <img src="assets/warning-thumb.png">
                                <p> {{noticetodatedates.created_on}} </p>
                              </div>
                            </div>
                            <div class="notice-block-col">
                              <b>{{noticetodatedates.notice_title}} </b><br>
                              {{noticetodatedates.notice_msg}}
                            </div>
                          </div>
                        </td>
                        <td>
                          <a title="Remove" class="remove-logo">
                            <span class="label-icn material-icon"
                              (click)="deleteorgnotices(noticetodatedates.queue_notice_id)">
                              <i class="material-icons">clear</i>
                            </span>
                          </a>
                        </td>

                        <td></td>
                        <td>
                      </tr>
                    </tbody>
                  </table>
                  <button (click)="addquenotice()" class="btn">
                    Add Queue Notice
                  </button>

                  <button (click)="nexttonotice()" class="btn pull-right" *ngIf="queueid!=0">
                    Next
                  </button>




                </div>

                <div *ngIf="noticebordadd">
                  <form class="location-form-main addque-noiceboard-form" [formGroup]="noticeque"
                    (ngSubmit)="OnnoticeSubmit(noticeque.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>

                    <div class="status-form ">
                      <h1>Add Notice</h1>
                      <div class="status-com">
                        <div class="form-group required">
                          <label> Status</label>
                          <!-- <select class="form-control" name="status" formControlName="status">
                             <option value="Active">Active</option>
                            <option value="In-active">In-active</option>
                          </select>
                        -->
                          <select class="form-control" name="status" formControlName="status">
                            <option value="Active" [selected]='true'>Active</option>
                            <option value="In-active">In-active</option>
                          </select>

                          <div class="help-block"></div>
                        </div>
                      </div>
                    </div>
                    <div class="full">
                      <div class="full">
                        <div class="form-group notice-form-group mt10">
                          <label>Notice message </label>
                          <!--<input type="text" class="form-control" name="noticemsg" 
                        formControlName="noticemsg" placeholder="Enter notice msg"
                        required="">-->
                          <textarea class="form-control" name="noticemsg" formControlName="noticemsg"
                            placeholder="Enter notice msg" required="" id="" style="height:120px;"></textarea>
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="full">
                        <div class="form-group required com-checkbox checkbox-theme notice-form-group mb0">
                          <input type="checkbox" (change)="addprop1($event)" name="allQueue" />
                          <label class="text_grey">Show this message for specified period </label>
                          <div class="help-block">
                          </div>
                        </div>
                      </div>
                      <div class="full">
                        <div *ngIf="showdatefield">
                          <div class="form-group notice-form-group mb10">
                            <div class="col-sm-4">
                              <div class="from-date">
                                <input class="form-control" placeholder="From date" name="fromdate"
                                  formControlName="fromdate" ngx-mydatepicker (dateChanged)="noticefromdate($event)"
                                  [options]="myOptions" #dp="ngx-mydatepicker" (click)="dp.toggleCalendar()" />
                              </div>
                            </div>
                            <div class="col-sm-1 mt10">
                              <div class="from-date">
                                <span class="text_green">to</span>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="from-date">
                                <input class="form-control" placeholder="To date" name="todate" formControlName="todate"
                                  ngx-mydatepicker (dateChanged)="noticetodate($event)" [options]="myOptions"
                                  #dp1="ngx-mydatepicker" (click)="dp1.toggleCalendar()" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--<div class="form-group notice-form-group">
                      <label for="dob">From Date</label>
                      <label for="dob">To Date</label>                                                 
                      </div>-->
                      <div class="full">
                        <div class="form-group required com-checkbox checkbox-theme notice-form-group mt20">
                          <input type="checkbox" formControlName="allQueue" name="allQueue" />
                          <label class="text_grey">Apply to all queue of {{providername}}</label>
                          <div class="help-block"></div>
                        </div>
                      </div>
                      <div class="full">
                        <div class="form-group required">
                          <button type="button" (click)="cancelqueue()"
                            class="btn btn-primary pull-right">Cancel</button>
                          <button type="submit" class="btn btn-primary pull-right mr10">Save</button>
                        </div>
                      </div>
                      <div *ngIf="errornoticeadd != null">
                        {{ errornoticeadd }}
                      </div>
                      <!--<div class="form-group required act-btn-div">
                                <button type="submit" class="btn btn-primary pull-right">Save</button>
                                    </div>-->

                    </div>

                  </form>
                  <!--</div>
          -->
                </div>
              </mat-tab>


              <mat-tab label="" disabled="{{access}}">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">vpn_key</i>
                  </span>
                  <span class="label-text">Access</span>
                </ng-template>
                <form [formGroup]="documentGrp" (ngSubmit)="OnqueueaccesSubmit(documentGrp.value)"
                  #uploadDocumentsForm="ngForm" ngNativeValidate>
                  <div class="box box-solid box-primary quesetup-box-body">
                    <div class="box-body " formArrayName="items">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="quesetup-access-div full">
                            <div class="quesetup-access-div-left">
                              <div class="quesetup-access-div-left-img">
                                <img src="{{queimage}}">
                              </div>
                              <div class="quesetup-access-div-left-text">
                                <span>{{quenamedataname}}</span>
                              </div>
                            </div>
                            <div class="quesetup-access-div-right">
                              <div class="" *ngFor="let item of items.controls; let i = index;">
                                <div [formGroupName]="i">
                                  <table id="tbl-upload" class="table table-bordered quesetup-access-table">
                                    <tbody>
                                      <tr *ngIf="(item.controls.editcall.value !='editcall')">
                                        <!--<td>{{item.controls.user_name.value}}</td>-->
                                        <td class="com-checkbox">
                                          <input type="checkbox" formControlName="is_queue_assigned"
                                            [checked]="item.controls.is_queue_assigned.value" />
                                        </td>
                                        <!--
                                         <ng-template #elseBlock>
                                           <td class="com-checkbox">
                             <input type="checkbox" [checked]="false" formControlName="is_queue_assigned" />
                                                    </td>
                                           </ng-template>
                                          -->
                                        <td>
                                          <div class="quesetup-access-userinfo">
                                            <div class="quesetup-access-userinfo-img">
                                              <img src="{{item.controls.profileimage_path.value}}"
                                                onerror="this.src='assets/doctor-placeholder.jpg'">
                                            </div>
                                            <div class="quesetup-access-userinfo-text">
                                              <span *ngIf="item.controls.first_name.value">
                                                {{item.controls.first_name.value}}</span> <span
                                                *ngIf="item.controls.middle_name.value">
                                                {{item.controls.middle_name.value}} </span> <span
                                                *ngIf="item.controls.last_name.value"> {{item.controls.last_name.value}}
                                              </span>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div *ngFor="let item of items.controls; let i = index;">
                            <div [formGroupName]="i">

                              <div class="">

                              </div>
                              <!--<table id="tbl-upload" class="table table-bordered quesetup-access-table">
                               <tbody>
                                 <tr *ngIf="i==0" class="active">
                                   <--<th>User Id</th>--
                                   <th>First name</th>
                                   <th>Username</th>
                                   <th>is queue assigned</th>
                                 </tr>
                                 <tr *ngIf="(item.controls.editcall.value !='editcall')">
                                  <td>{{item.controls.first_name.value}}</td>
                                   <td>{{item.controls.user_name.value}}</td>
                               <td *ngIf="(item.controls.is_queue_assigned.value =='Yes') else elseBlock">  
                                 <input type="checkbox" formControlName="is_queue_assigned" [checked]="true" *ngIf="item.controls.is_queue_assigned.value=='Yes'"  />
                                </td>
                                    <ng-template #elseBlock>
                                      <td>
                        <input type="checkbox" [checked]="false" formControlName="is_queue_assigned" />
                                               </td>
                                      </ng-template>
                                   </tr>
                               </tbody>
                             </table>-->

                            </div>
                          </div>
                          <div class="pull-right">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="queue_assigned != null">
                        {{ queue_assigned }}
                      </div>
                    </div>
                    <!--<div class="box-footer" style="align-content: center">
                     <button type="submit" class="btn btn-primary pull-right">Save</button>
                   </div>-->
                  </div>
                  <div class="box-footer" style="align-content: center">
                    <button type="button" (click)="tabGroup.selectedIndex = 3" *ngIf="queueid!=0"
                      class="btn pull-right">
                      Next
                    </button>
                    <button type="submit" class="btn btn-primary ">Save</button>

                  </div>
                </form>

              </mat-tab>

              <mat-tab label="" disabled="{{customformshow}}">
                <ng-template mat-tab-label>
                  <span class="label-icn material-icon">
                    <i class="material-icons">view_headline</i>
                  </span>
                  <span class="label-text">Custom Form</span>
                </ng-template>
                <div *ngIf="customlist">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4 class="text_green">Manage List Items</h4>
                    </div>
                    <div class="col-sm-6">
                      <button (click)="importProviderQueuePopup()" class="btn pull-right">Copy Custom Fields</button>&nbsp;&nbsp;
                      <button (click)="addqueuecustom()" class="btn pull-right" style="margin-right: 10px;">Add Custom Field</button>
                    </div>
                  </div>
                  <!--
                  <button (click)="addqueuecustomfinish()" class="btn">Finish</button>
                  -->
                  <table class="table table-striped table-bordered addque-cust-feild">
                    <thead>
                      <tr>
                        <th>Label</th>
                        <th>Data Type</th>       
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let quecustoms of quecustom">
                        <td>{{quecustoms.custom_label}}</td>
                        <td>{{quecustoms.custom_field_type}}</td>
                        <!-- <td class="com-checkbox">  
                    <input type="checkbox" *ngIf="quecustoms.visible_on_assign=='Yes'" checked />
                    <input type="checkbox" *ngIf="quecustoms.visible_on_assign=='No'" />
                  </td>
                 <td class="com-checkbox">
                      <input type="checkbox" *ngIf="quecustoms.visible_on_complet=='Yes'" checked />
                      <input type="checkbox" *ngIf="quecustoms.visible_on_complet=='No'" />
                   </td> -->
                        <td>
                          <select *ngIf="quecustoms.status=='Active'" name="notificationstatus"
                            (change)="questatuschange(quecustoms.custom_field_id,$event.target.value)"
                            class="form-control">
                            <option selected value="Active" selected>Active </option>
                            <option value="In-active">In-active </option>
                          </select>
                          <select *ngIf="quecustoms.status=='In-active'"
                            (change)="questatuschange(quecustoms.custom_field_id,$event.target.value)"
                            name="specialitystatus" class="form-control">
                            <option value="Active">Active </option>
                            <option value="In-active" selected>In-active </option>
                          </select>
                        </td>
                        <td>
                          <button (click)="editqueuecustom(quecustoms.custom_label,quecustoms.custom_field_id)"
                            class="btn btn-success">Edit
                            Status</button>
                        </td>

                      </tr>
                    </tbody>
                  </table>



                </div>




                <div *ngIf="customform">

                  <form class="location-form-main" [formGroup]="customfield"
                    (ngSubmit)="Oncustomsubmit(customfield.value)" #uploadDocumentsForm="ngForm" ngNativeValidate>

                    <h1>Custom Field </h1>
                    <div class="location-form">
                      <div class="form-group required">
                        <label>Field Label</label>
                        <input type="text" class="form-control" name="fieldlabel" formControlName="fieldlabel"
                          placeholder="Enter Field Label" required="">
                        <div class="help-block"></div>
                      </div>


                      <div class="form-group required">
                        <label> Field Type</label>
                        <select class="form-control" (change)="onChangefiletype($event.target.value)" name="fieldtype"
                          formControlName="fieldtype">
                          <option value="Number">Number</option>
                          <option value="Amount">Amount</option>
                          <option value="Date">Date</option>
                          <option value="Text Single Line">Text Single Line</option>
                          <option value="Text Multi Line">Text Multiline</option>
                          <option value="List Single Select">List Single Select</option>
                          <option value="List Multi Select">List Multi Select</option>
                        </select>
                        <div class="help-block"></div>
                      </div>
                      <div class="clearfix">&nbsp;</div>
                      <div class="col-sm-6 mt10 pl10 radio-theme">
                        <label class="container_radio text_grey">Show during Token Request
                          <input type="radio" name="onassign" value="onassign" (click)="setrequest('onassign')"
                            formControlName="onassign">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-sm-6 mt10 radio-theme">
                        <label class="container_radio text_grey">Show during Token completion
                          <input type="radio" name="onassign" value="oncomplet" (click)="setrequest('oncomplet')"
                            formControlName="onassign">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="clearfix">&nbsp;</div>
                      <div class="col-sm-6 pl10 com-checkbox addcustomfield_wrapper checkbox-theme">
                        <input type="checkbox" name="ismandatory" formControlName="ismandatory" id="ismandatory" />
                        <label for="ismandatory" class="text_grey">Mandatory Input</label>
                      </div>
                      <div class="col-sm-6 pl10 com-checkbox addcustomfield_wrapper checkbox-theme">
                        <input type="checkbox" name="visibletopatient" formControlName="visibletopatient"
                          id="visiblepatient2" class="ml10" style="margin-left:0 !important;" />
                        <label for="visiblepatient2" class="text_grey">Visible to Patient</label>
                      </div>

                      <div *ngIf="customoption" class="com-checkbox addcustomfield_wrapper checkbox-theme">
                        <input type="checkbox" name="notifytokenonchange" formControlName="notifytokenonchange" />
                        <label class="text_grey" for="notifytokenonchange">Notify Token user on value change</label>
                       
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-12" style="padding:0 10px;">
                          <p class="text_green"><strong>Manage List Items:</strong></p>
                        </div>
                        <div class="col-sm-2 mt5">
                          <label class="text_green">List Item:</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" [value]="optiondefault" #name placeholder="List item" class="form-control listItemInput">
                          <button type="button" (click)="addNewOption(name.value)" (click)="name.value=''"
                            class="btn btn-success listItemButton">
                            Add
                          </button>
                        </div>
                        <div class="col-sm-3">
                          
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div *ngIf="customlists">
                          <div *ngFor="let customlist of customlists;let i = index; " class="pl10 pr10">

                            <div class="custom-field-list">
                              <div *ngIf="i!=0" class="remove">
                                <a title="Remove" (click)="removecustomoption(i)">
                                  <span class="label-icn material-icon">
                                    <i class="material-icons">clear</i>
                                  </span>
                                </a>
                              </div>
                              <label class="text_pink ml5">{{ customlist }}</label>
                            </div>
                          </div>
                        </div>
                      </div> 
                      
                      <div class="full pt10" style="border-top:1px solid #105f10">
                         <button type="button" (click)="backtoleast()" class="btn btn-primary pull-right ml10">Back to
                          Fields List</button>
                        <button type="submit" class="btn btn-primary ml10">Save</button>
                      </div>
                    </div>
                  </form>
                </div>


                <div *ngIf="customlistedit">
                  <form [formGroup]="customfieldeditform" (ngSubmit)="Oncustomeditsubmit(customfieldeditform.value)"
                    #uploadDocumentsForm="ngForm" class="location-form-main addque-cust-form">
                    <h1>Edit Custom Field </h1>
                    <div class="location-form">

                      <input type="hidden" name="custom_field_id" formControlName="custom_field_id" />
                      <div class="form-group">
                        <label>Custom Label</label>
                        <input type="text" formControlName="custom_label" value="custom_label" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label>Custom Field Type</label>
                        <input type="text" formControlName="custom_field_type" readonly class="form-control" />
                      </div>
                      <div class="clearfix">&nbsp;</div>
                      <div class="addcustomfield_wrapper">

                        <div class="col-sm-6 mt10 pl0 radio-theme ">
                          <label class="container_radio {{classnameshowtokenreq}}">
                            Show during Token Request
                            <input type="radio" name="visible_on_assign"  value="onassign" [checked]="visible_on_assign"
                              (click)="setrequest('onassign')" 
                              formControlName="visible_on_assign"/>
                           <span class="checkmark"></span> 
                          </label>
                        </div>
                        <div class="col-sm-6 mt10 radio-theme  ">
                          <label class="container_radio {{classnameshowtokencompletion}}">
                            Show during Token Completion
                            <input type="radio" name="visible_on_assign" value="oncomplet" [checked]="visible_on_complet"
                            (click)="setrequest('oncomplet')" formControlName="visible_on_assign"/>
                          <span class="checkmark"></span>
                          </label>
                        </div>     
        
                        <div class="clearfix">&nbsp;</div>
                        <div class="mt10">
                          <div *ngIf="customfieldeditform.controls.is_mandatory.value==true ; 
          else otherpubmandatory" class="col-sm-6 pl0 com-checkbox checkbox-theme text_pink">
                            <input type="checkbox" name="is_mandatory" formControlName="is_mandatory"
                              id="ismandatory2" />
                            <label for="ismandatory2" class="text_pink">Mandatory Input</label>
                          </div>
                          <ng-template #otherpubmandatory>
                            <div class="col-sm-6 pl0 com-checkbox checkbox-theme">
                              <input type="checkbox" name="is_mandatory" formControlName="is_mandatory"
                                id="ismandatory2" />
                              <label for="ismandatory2">Mandatory Input</label>
                            </div>
                          </ng-template>
                          <div class="col-sm-6 pl10 com-checkbox checkbox-theme text_pink" *ngIf="customfieldeditform.controls.visibletopatient.value==true;else othervisibletopatient" >
                            <input type="checkbox" id="visibletopatient" name="visibletopatient"
                              formControlName="visibletopatient"/>
                            <label class="text_pink" for="visibletopatient" >Visible to Patient</label>
                          </div>
                          <ng-template #othervisibletopatient>
                            <div class="col-sm-6 pl10 com-checkbox checkbox-theme">
                              <input type="checkbox" id="visibletopatient" name="visibletopatient"
                                formControlName="visibletopatient"/>
                              <label class="text_grey" for="visibletopatient">Visible to Patient</label>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="clearfix">&nbsp;</div>
                      <div *ngIf="custom_field_options">
                        <div class="com-checkbox checkbox-theme mt10 pl10 mb20" *ngIf="customfieldeditform.controls.notifytokenonchange.value==true ; 
                      else othernotifpatient">
                          <input type="checkbox" name="notifytokenonchange" formControlName="notifytokenonchange"
                            id="notifytokenonchange" />
                          <label class="text_pink" for="notifytokenonchange">
                            Notify Token user on value change
                          </label>
                        </div>
                        <ng-template #othernotifpatient>
                          <div class="com-checkbox checkbox-theme mt10 pl10 mb20">
                            <input type="checkbox" name="notifytokenonchange" formControlName="notifytokenonchange"
                              id="notifytokenonchange" />
                            <label class="text_grey" for="notifytokenonchange">
                              Notify Token user on value change
                            </label>
                          </div>
                        </ng-template>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-12" style="padding:0 10px;">
                          <p class="text_green"><strong>Manage List Items:</strong></p>
                        </div>
                        <div class="col-sm-2 mt5">
                          <label class="text_green">List Item:</label>
                        </div>
                        <div class="col-sm-8">
                          <input type="text" [value]="optiondefault" #name placeholder="List item" class="form-control listItemInput">
                          <button type="button" (click)="addNewOption(name.value)" (click)="name.value=''"
                            class="btn btn-success listItemButton">
                            Add
                          </button>
                        </div>
                        <div class="col-sm-3">
                        </div>
                      </div>
                       <div class="clearfix">&nbsp;</div>

                      <div class="mt10 pl15 pr10">
                        <div *ngFor="let custom_field_optionss of custom_field_options;let i = index;">
                          <div *ngIf="custom_field_optionss.status=='Active'">
                            <div class="custom-field-list">
                              <div class="remove">
                                <a title="Remove"
                                  (click)="showconformation(i,custom_field_optionss.custom_field_value_id)">
                                  <span class="label-icn material-icon">
                                    <i class="material-icons" style="font-size:18px;">clear</i>
                                  </span>
                                </a>
                              </div>
                              <label class="text_pink ml5">{{custom_field_optionss.custom_list_text}}</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngFor="let customlist of customlists;let i = index;" class="mt10 pl15 pr10">


                        <div class="custom-field-list">
                          <div *ngIf="i!=0" class="remove">
                            <a title="Remove" (click)="removecustomoption(i)">
                              <span class="label-icn material-icon">
                                <i class="material-icons">clear</i>
                              </span>
                            </a>
                          </div>
                          <label class="text_pink ml5">{{ customlist }}</label>
                        </div>


                      </div>

                      <div class="full pt10 ml10 mr10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" (click)="backtoleastedit()" class="btn btn-primary pull-right">Back to
                          Fields List</button>
                      </div>
                    </div>
                  </form>
                </div>
              </mat-tab>



            </mat-tab-group>
            <div class="overlay qtraq-overlay" *ngIf="modelcatlogo">
              <div class="confirmation-popup">
                <div class="form-group">
                  <label class="text_green"> Do you want to delete notice? </label>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" (click)="logoconfirm()" type="button">Confirm</button>
                  <button class="btn btn-primary" (click)="logocancel()" type="button">Cancel</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="overlay qtraq-overlay" *ngIf="modedeactivatqueue">
              <div class="confirmation-popup">
                <div class="form-group">
                  <label *ngIf="dielogstatus=='In-active'">
                    <p class="text_green"> Are you sure you want to Deactive this custom Field?
                    </p>

                  </label>
                  <label *ngIf="dielogstatus=='Active'">
                    <p class="text_green"> Are you sure you want to Activate this custom Field?
                    </p>
                  </label>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" (click)="deactive(questatus)" type="button">Confirm</button>
                  <button class="btn btn-primary" (click)="deactiviatequeuecancel()" type="button">Cancel</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>


            <div class="overlay qtraq-overlay" *ngIf="customfieldonefielddeactive">
                <div class="confirmation-popup">
                  <div class="form-group">
                  
                    <label>
                      <p class="text_green"> Are you sure you want to Remove this List Option?
                      </p>
                    </label>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" (click)="deactivethisfield()" type="button">Confirm</button>
                    <button class="btn btn-primary" (click)="deactiviatequeuecancelfield()" type="button">Cancel</button>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
  



          </div>
        </section>
      </div>
    </div>
  </div>
</div>