<div mat-dialog-content [innerHTML] ="htmlContent | safeHtml"  style="width:100%;margin-top:-50%;overflow: scroll;" #contents>
</div>
<div style="margin-top: 0px;float: right;width: 100%;background: #fff;padding: 20px;text-align: center;">
    <button class="btn btn-success" (click)="onNoClick()">Cancel</button>
    <button class="btn btn-success" type="button" (click)="printBill(htmlContent)">Print</button>
</div>