/* You can add global styles to this file, and also import other style files */
/* @import 'node_modules/angular2-toaster/toaster'; */
@import '/loading-page';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/*@import url('https://fonts.googleapis.com/css?family=Muli|Roboto');*/
/**{
  font-family: 'Roboto', sans-serif;
}*/
body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Roboto', sans-serif !important;
}
body{
  font-size:13px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight:700;
}
.section {
    margin-bottom: 10px;
    padding-bottom: 5px;
}
a{
  cursor: pointer;
}

.date-placeholder {
    &:before{
        content: attr(placeholder) !important;
        color: #aaa;
        margin-right: 0.5em;
    }
    &:focus:before, &:valid:before {
        content: "";
    }
}

@media (max-width: 990px) {
  .margin-top-md {
    margin-top: 6px;
  }
}

@media (min-width: 768px) {
  .scrollable {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: darken(#e5e5e5, 20%);
}

.purple-button,
.purple-button:hover,
.purple-button:active,
.purple-button:visited,
.purple-button:focus {
    background-color: #9933ff !important;
    border-color: #9933ff !important;
}

.sidebar-menu li>a>.pull-right-container>.fa-angle-left {
  transition: transform .5s ease;
}

.ql-container {
    min-height: 250px;
    margin-bottom: 20px;
}

.login-logo img{
  width: 100%;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #eae3e3;
}

.form-inline{
  display:inline;
}
.btn.btn-info{
  margin:10px 5px;
  text-transform:uppercase;
}
input.w100,select.w100,.form-inline .form-group{width:100% !important;}
.form-inline .form-group{
  margin:10px 0;
}
.main-content-wrapper{
  float:left;width:100%;background:#fff;padding:10px;
}
.mat-tab-list{
  border-bottom: 1px solid #3c8dbc !important;
}
.mat-tab-label-active{
  background:#3c8dbc;
  color:#fff;
}
.main-sidebar {
  padding-top: 70px;
}
/** index page **/

.full{
  float:left;width:100%;
}
.half{
  float:left;width:50%;
}

.qtraq-dash-main{
  text-align: center;
}
.qtraq-dash-main-col{
  display:inline-block;width: 19%;padding: 0px 15px;margin-bottom: 30px;
}
.qtraq-dash-main-col a{
  display: inline-block;
  width: 100%;
  padding:15px;
}
.qtraq-dash-main-col a:hover{
  // background:#ecffd6;
  // transition:all 0.5s ease-in;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.qtraq-dash-main-inner img{
  width: 100px;
}
.qtraq-dash-main-inner:hover img{
  transform: scale(1.1);
  transition-duration: 0.5s;
}


.qprovider-nav{
  background: #1b592a;
  position: fixed;
  top: 0;
  left: 0;

  right: 0;
  width: 100%;
  z-index: 1000;
}
.qprovider-nav-inner{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items:flex-start;
  padding: 0;
}
.qprovider-nav-left{
    order: 1;
    align-self:flex-start;
    width: 15%;
    display: flex;
    padding-left: 15px;
    margin-left: 45px;
    align-self: center;
}
.qprovider-nav-middle{
    order: 2;
    align-self:center;
    width: 60%;
    justify-content:center;
    display: flex;
    align-self: center;
    text-align:center;
}
.qprovider-nav-middle h3{
  width:100%;
  text-align:center;
  color:#fff;
  margin:5px 0;
  text-transform:uppercase;
  font-size:22px;
}
  .qprovider-nav-right{
    order: 3;
    align-self:center;
    width: 20%;
    justify-content:flex-end;
    padding-right: 15px;
    display: flex;
    align-self: center;
  }
  .qprovider-btn{
    display: inline-block;align-self: center;
  }
  .qprovider-btn span{
    display: block;
  }
  .qprovider-btn .nav-info-icn img{
    width: 25px;
  }
  .qprovider-btn .btn-flat{
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }
  .qprovider-btn .btn-flat:hover{
    background: transparent !important;
    color: #fff !important;
    border: none !important;
  }
  .qtraq-dash-main-hd-img{
    width: 25%;
    float: left;
  }
  .qtraq-dash-main-hd-img img{
    width: 80px;
    height:80px;
    float:right;
  }
  .qtraq-dash-main-hd-img.right img{
    float:left;
  }
  .qtraq-dash-main-title{
    /* float: left;
    width: 50%; */
    margin: 3px 0px 40px 0px;
    text-align: center;
  }
  .qtraq-dash-main-title img{
    width:80px;
    height:80px;
    display:inline-block;
    margin:0 30px;
  }
  .qtraq-dash-main-title span{
    color: #E9237F;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .qtraq-dash-main-title h3{
    display: inline-block;
    font-size: 30px;
    color: #048a09;
    text-transform: capitalize;
    margin-top: 5px;
  }
  .admin-panel-content{
    padding-top: 75px;
    background-repeat: no-repeat;background-size: cover;
    background-position: center center;
    /*background-image: url("localhost/qtraq_provider/src/assets/admin-panel-bg.jpg");*/
  }
  .qprovider-nav-left img{
        width: 135px;
  }
  .qtraq-dash-main-inner{
    position:relative;
    text-align:center;
  }
  .qtraq-dash-main-inner img{
    display: block;
    margin: auto;
  }
  .qtraq-dash-main-inner span{
    display:block;
    padding-top: 5px;
    font-size: 14px;
    color: #048a09;
  }
  .mat-tab-label{
    padding:0px !important;
  }
  .mat-tab-labels .mat-tab-label{
    background: #b9efbb;
    color: #048a09;
    /*border-radius: 6px 6px 0px 0px;*/
    border-radius:0;
    margin-right: 3px;
  }
  .mat-tab-labels .mat-tab-label.mat-tab-label-active{
    background: #048a09 !important;
    color: #fff;
    /*border-radius: 6px 6px 0px 0px;*/
    border-radius:0;
  }
  .mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):active, .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
     background-color: #048a09 !important;
     color: #fff;
}
.mat-tab-label-container .mat-tab-list {
  border-bottom: 1px solid #048a09 !important;
}
.mat-tab-label{
  opacity:1 !important;
  height:40px !important;
}
.mat-tab-label-content span.label-icn.material-icon i{
  position:relative;
  top:2px;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #048a09;
}
.mat-tab-body{
   border: 1px solid #048a09;
   border-top:0px none;
   padding: 20px;
}
.all-com-form h1{
color: #048a09;
text-transform: capitalize;
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #048a09;
margin-left: 0px;
margin-top: 0px;
font-size:20px;
font-weight:700;
}
h1.page-title-primary{
  margin: 10px 0;
  padding: 10px 20px;
  border-bottom: 1px solid #048a09;
  color: #048a09;
  text-transform: capitalize;
  font-size:20px;
  font-weight:700;
  text-align:left !important;
}
.org-form-group-up{
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.org-form-group-up label{
  /* float: left;
  width: 25%;
  color: #048a0 */
  margin-top: 4px;
  text-transform: capitalize;
}
.org-form-group-up input{
  /* float: left;
  width: auto; */
  /*border: none;
  border-bottom: 2px solid #048a09;*/
  border: 1px solid #048a09;
  color: #E9237F;
  min-width: 230px;
}
.checkbox-with.checkbox-form-group label{
  width: 100%;
}
.org-form-group-up .checkbox-with-label{
  width: 25%;       min-width: 252px;
  float: left;
}
.org-form-group-up .checkbox-with-label input{
  width: 8%;
  min-width: 20px;
  display: inline-block;
  float: left;    margin-top: 8px;
}
.org-form-group-up .checkbox-with-label label{
  width: 88%;
  display: inline-block;
}
.org-form-group-up .checkbox-with-select{
  width: auto;
}
.org-form-group-up select{
  /* float: left;
  width: auto; */
 /* border: none;
  border-bottom: 2px solid #048a09;*/
  border: 1px solid #048a09;
  color: #E9237F;
  min-width: 230px;
}
/* .org-logo-form-group input{
border-bottom: none;
} */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-bottom: 0px;
  width:140px;
}

.btn-upload {
  border: 2px solid #E9237F;
  color: #fff;
  background-color: #E9237F;
  padding: 3px 12px;
  border-radius: 8px;
  font-size: 12px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width:auto !important;
}
.uploaded-logo{
  float: left;

}
.uploaded-logo img{
  height: 60px;
}
.org-form  .form-group{
  float: left;
  width: 100%;
}
.org-time-tabble .form-group{
  margin-bottom: 0;
}
.org-form  .box.box-solid.box-primary{
  float: left;
  width: 100%;
}
.checkbox-form-group label{
  color: #048a09;
}
.multiselect-org{
  /* float: left;
  width: auto; */
  min-width: 230px;
}
.multiselect-org .multiselect-dropdown[_ngcontent-c4] .dropdown-btn[_ngcontent-c4]{
  border: 1px solid #048a09;
  border-radius: 0px;
  min-width: 230px;
}
.multiselect-org .multiselect-dropdown[_ngcontent-c4] .dropdown-btn[_ngcontent-c4] .selected-item[_ngcontent-c4] {
  border: 1px solid #E9237F;
  margin-right: 4px;
  background: #E9237F;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;
  float: left;
}
.org-logo-label{
  float:left;
  margin-top: 20px !important;
}
.working-day-content{
  max-width: 300px;
}
.working-day-content .working-day-content-col{
  float: left;
  width: 33%;
}

.working-day-content .working-day-content-col label{
  color: #E9237F;    margin-left: 5px;
}
.button, .btn, button,.btn-upload{
  background: #E9237F;
  border: 1px solid #E9237F;
  color: #fff;
  border-radius: 0px !important;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  background: #1b592a;
  border: 1px solid #1b592a;
}
.button:hover, .btn:hover, button:hover, .btn-upload:hover, .button:focus, .btn:focus, button:focus,.button:active, .btn:active, button:active,.btn-upload:hover,.btn-upload:focus,.btn-upload:active{
 /* background: #fff !important;*/
  background: #E9237F !important;
  color: #fff !important;
  border: 1px solid #E9237F !important;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
}
.org-upload-document h2{
  color: #048a09 !important;
  border-bottom: 1px solid #048a09;
}
.box.box-solid.box-primary.org-upload-document{
  border: 0px;
}
.box.box-solid.box-primary.org-upload-document .box-body{
  padding: 0px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: #ccc;color: #048a09;background: #efefef;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th{
  color: #fff;text-transform: uppercase;background:#048a09 !important;    font-size: 14px;
  text-transform: capitalize;
}
.system-role-table.table-bordered > tbody > tr > th,.system-role-table th{
  text-align: center;
}
 .table-bordered > thead > tr > td input, .table-bordered > tbody > tr > td input,
 .table-bordered > tfoot > tr > td input, .table-bordered > tfoot > tr > td select,
  .table-bordered > tbody > tr > td select{
  border-color: #048a09;
  color: #E9237F;
  width: auto;
 }
 .table-bordered > thead > tr > td input, .table-bordered > tbody > tr > td input,
 .table-bordered > tfoot > tr > td input{
   width:60px;
 }
 /*.org-time-tabble.table-bordered{
   width: 60%;
 }*/
 .org-time-tabble.table-bordered > thead > tr > td input, .org-time-tabble.table-bordered > tbody > tr > td input,
 .org-time-tabble.table-bordered > tfoot > tr > td input{
   width: 140px;
 }
 .table-bordered > tbody > tr > td img{
  /* width: 130px;*/
   height: 260px;
 }
 .addmore-div , .blank-td{
  width: 15%;
  border: none;
 }
 .img-pos-td{
  width: 25%;
 }
 .img-type-td{
   width:20%;
}
.img-action-td{
   width: 20%;
}
.img-pos-th{
  width: 25%;
 }
 .img-type-th{
   width:20%;
}
.img-action-th{
   width: 20%;
}
.img-blank-th{
  width: 10%;
}
.location-form-main h1{
  color: #fff;
  padding: 15px 20px;
    /*text-align: center;
    background: #048a09;*/
    margin: 0;
    color: #048a09;
    background: transparent;
    border-bottom: 1px solid #048a09;
    padding-left: 0;
    text-align: left;
    padding-top: 0px;
    font-size:20px;
    font-weight:700;
}
.location-form-main label{
  color: #048a09;
}
.location-form-main input, .location-form-main select, .location-form-main textarea{
  border : 1px solid #048a09;
  color: #E9237F;
}
.location-form-main textarea{
 /* max-height: 35px;*/
}
.location-form-main{
  /*margin: auto;
  width: 630px;
  border: 1px solid green;*/
  width: 63%;

    float: left;
}
.location-form-main .location-form{
  /*padding: 20px;*/
  padding: 20px 0px;
  margin: 0px -10px;
}
.location-form-main .location-form .form-group{
  float: left;
  width: 50%;
  padding: 0px 10px;    /* min-height: 72px; */position: relative;
}
.location-form-main .location-form .form-group.form-group-three{
  width:33.33%;
}
.subscription-plan-list{
  border: 1px solid #048a09;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 20px;
  display: table;
  float: left;
  width: 100%;
  background: #b9efbb;
}
.subscription-plan-list:hover, .subscription-plan-list:focus, .subscription-plan-list:active,
.subscription-plan-list:visited{
  background: #f9ffa4;
}
.subscription-plan-list:first-child{
  margin-top: 30px;
}
.subscription-plan-list .sub-plan{
  display: table-cell;
  vertical-align: middle;

}
.subscription-plan-list .sub-plan span{
  color: #048a09;
  font-size: 20px;
  font-weight: 800;
}
.subscription-plan-list .sub-price{
  display: table-cell;
  width: 100px;
  vertical-align: middle;

}
.subscription-plan-list .sub-price span{
  color: #048a09;
  font-size: 20px;
  font-weight: 800;
}
.subscription-plan-list .sub-price span span{
  font-weight: 100; font-size: 25px;
}
.useradd-form-main input{
  border: 1px solid #048a09;
  color: #E9237F;
}
.useradd-form-main2{
  /*border: 1px solid #048a09;*/
  padding: 20px;
  margin: auto;/*width: 650px;*/
}
.provider-detail-main{
  text-align: center;
}
.provider-detail-main h2{
color: #048a09;
text-align: center;
}
.provider-detail-main-add{
  margin: 10px 0px 25px 0px;
  text-align: center;
}
.provider-detail-table{
  margin-top: 20px;
  border: 1px solid #048a09;
}
.provider-detail-table th{
  background: #048a09;
  color: #fff;
}
.provider-detail-table th, .provider-detail-table td{
  border: 1px solid #048a09;
}
.queuesetup-col {
  display: inline-block;
  width: 23%;
  padding: 0px 20px;
    margin-bottom: 50px;
}
.queuesetup-single{
  background: #e6fd88;
  border: 1px solid #048a09;
  text-align: center;
  padding: 25px 15px;
  border-radius: 8px;
}
.queuesetup-single-img img,.queuesetup-single-img img{
  width:100px;
  height:100px;
  margin:0 auto;
  border: 1px solid #048a09;
  border-radius: 75px;
  min-width:100px;
  min-height:100px;
  background:url('assets/user-avatar.jpg') no-repeat center center ;
}
.queueoverride_img img{
  width:65px !important;
  height:65px !important;
  margin:0 auto;
}
.quesetup-hd h3{
  text-align: center;
  color:#048a09;
  margin: 15px 25px;
}
.quesetup-nav-hd{
  display:none;
}
.queuesetup-single-info h4{
  margin:5px 0;
  color:#048a09;
  font-weight: 800;
  min-height:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.queuesetup-single-info span{
  color: #666;
  display: block;
  min-height:25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.queuesetup-single-info .name-doc{
  color:#048a09;
  font-weight: 600;
}
.providerdetail-outer{
  float: left;
  width: 100%;
}
.providerdetail-inner{
  margin: auto;
  width: 650px;

}
.providerdetail-inner-full{
  /* background: #e6fd88;
  border: 1px solid #048a09; */
}
.profileinfo{
  padding: 10px 15px;
  display: table;
  float: left;
  width: 100%;
}

.profileinfo-col {
  display: table-cell;vertical-align: middle;
}
.profileinfo-col  span{
  font-size: 20px;
  display: inline-block;
}
.profileinfo-col .label{
  color: #048a09;
  font-size: 20px;
}
.profileinfo-col .info-text.info-text1{
  color: #048a09;
  font-weight: 800;    margin-bottom: 10px;

}
.profileinfo-col .info-text.info-text2{
font-size: 16px;    margin-bottom: 10px;
}
.profileinfo-col .info-text.info-text3{
  color: #048a09;
}
.profileinfo-col .label img{
  width: 25px;
  height:25px;
  min-width:25px;
  min-height:25px;
}
.profileinfo-col:nth-child(1){
  width: 150px;
}
.queset-addque-form-main{

  padding: 20px;

  margin: auto;


}
.que-list-block{
  float: left;width: 100%;
  /* display: table; */
  background: #f9ffa4;
  border: 1px solid #048a09;
  border-radius: 8px;
  margin-top: 10px;
  padding: 20px 15px;
  position: relative;
}
.que-list-block.inactive{
  min-height:221px !important;
  background: #ccc;
}
.que-list-block.inactive p.inactive-block-label{
  position:absolute;
  top:20px;
  left:30px;
  font-weight:700;
  color:#333;
}
.que-list-block.que-list-block-half{
  width: 32%;
  margin: 10px 5px;
  min-height:210px;
}
/* .que-list-block-col{
  display: table-cell;vertical-align: middle;
}*/
/* .que-list-block-col:nth-child(1){
  float:left;
  width: 100px;
} */
.que-list-block-col{
  line-height:20px;
}
.que-list-block-col-left{
  float:left;
  width: 100px;
}
.que-list-block-col-right{
  float:left;
  width:65%;
}
.que-list-block-col-3 p{
  min-height:60px;
}
/* .que-list-block-col:nth-child(2){
  vertical-align: top;
}
.que-list-block-col:nth-child(3){
  width: 200px;
  vertical-align: top;
}  */
.que-list-block-col img{
  width: 80px;
  height:80px;
}
.que-list-blockanchor{
  padding: 0px 15px;
  display: block;

}
.que-list-block-col h4{
color: #E9237F;
margin-top: 0;
text-transform: capitalize;
font-weight: 800;
min-height:20px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.que-list-block.inactive .que-list-block-col h4{
  color:#333 !important;
}
.que-list-block-col .time{
  color: #000;
  font-weight: 800;
  display: block;
}
.que-list-block-col .days{
  text-transform: capitalize;
  color: #000;
  display: block;

}
.que-list-block-col .status{
  color: #000;
  font-weight: 800;
  display: block;
}
.que-list-block-col p{
  color: #000;
}
.action-btns-div{
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.action-btns-div button{
  display: inline-block;
}
.act-btn-div{
  text-align: center;

}
.act-btn-div button{
  float: none !important;
}
.addque-cust-feild{
  margin-top: 20px;
}
.addque-noiceboard-form{
  padding: 20px;
}
.addque-cust-form{
  padding: 20px;
}
.system-role-table th:nth-child(1){
width: 20%;
}
.system-role-table th:nth-child(2){
  width: 17%;
}
.system-role-table th:nth-child(3){
    width: 15%;
}
.system-role-table th:nth-child(4){
    width: 15%;
}
.system-role-table th:nth-child(5){
        width: 14%;
 }
.system-role-table th:nth-child(6){
          width: 14%;
 }
.system-role-table td:nth-child(1){
     width: 20%;
}
.system-role-table td:nth-child(2){
      width: 17%;
}
.system-role-table td:nth-child(3){
      width: 15%;
}
.system-role-table td:nth-child(4){
      width: 15%;
}
.system-role-table td:nth-child(5){
       width: 14%;
}
.system-role-table td:nth-child(6){
      width: 14%;
}
.systemrole-body{
  border: none !important;
}
.addsystm-btn{
  text-align:center;
  margin: 20px 0px;
}
.addsystem-form{
  padding: 20px;
}
.quepro-list-table.table > thead > tr > th, .quepro-list-table.table > tbody > tr > th, .quepro-list-table.table > tfoot > tr > th, .quepro-list-table.table > thead > tr > td, .quepro-list-table.table > tbody > tr > td, .quepro-list-table.table > tfoot > tr > td {
 /* border-top: 1px solid #f4f4f4;*/
  border: 1px solid green;
  border-bottom: none;
}
.que-mor-single-row{
  text-align: center;border-top: 3px solid #048a09;border-bottom: 3px solid #048a09;
}
.que-mor-single-row img{
  width: 30px;
    margin: auto;
}
.que-mor-single-row .que-img-hd{
  display: block;
  text-align: center;
}
.que-mor-single-row .que-name-hd{
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #048a09;
  font-weight: 800;
}
table.quepro-list-table {
  table-layout: fixed;
  width: 100%;
}
.quepro-list-table td, .quepro-list-table th {
  vertical-align: top;
  border-top: 1px solid #ccc;
  padding:10px;
  width:110px;
  min-height: 110px;
      height: 110px;
}
.quepro-list-table td{
  min-height: 85px;
  height: 85px;
}
.quepro-list-table th {
  position:absolute;
  *position: relative; /*ie7*/
/*  left:0; */
  width:160px;
  min-height: 110px;
}
.fixed-side {
  position:absolute;
  *position: relative; /*ie7*/
  left:0;
  width:160px !important;
  min-height: 110px;
}
.next_left {
  position:absolute;
  *position: relative; /*ie7*/
  left:100px;
  width:100px;
}
/*.table-scroll {position:relative;cursor:move;border: 1px solid #048a09;margin-right: -3px;}*/
/*.table-wrap {
  overflow-x:scroll;
  overflow-y:visible;
  width: auto;
  margin-left:160px;
  cursor:move;mouse-wheel:horizontal;
}*/
.table-wrap::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.table-wrap::-webkit-scrollbar
{
  width: 6px;
  height: 7px;
	background-color: #F5F5F5;
}

.table-wrap::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
                     color-stop(.6,#54DE5D))
}
.que-mor-all-row .que-mor-all-row-img{
  /* display:table-cell;text-align: center;width: 50px;  vertical-align: middle; */
  display: inline-block;
  width: 50px;
  height:50px;
  vertical-align:initial;
}
.que-mor-all-row .que-mor-all-row-info{
  /* display:table-cell;padding-left: 5px;    vertical-align: middle; */
  display: inline-block;
  width: 50%;
}
.que-mor-all-row .que-mor-all-row-img img{
  width:50px;
  height:50px;
}

.que-mor-all-row .que-mor-all-row-name{
  display:block;text-align: center;color: #048a09;font-weight: 800;


}
.que-mor-all-row .que-mor-all-row-num{
  display:block;text-align: center;color: #048a09;
}
.checkbox-text{
  text-align: center;
  color: #048a09;
  margin-bottom: 3px;
}
.checkbox-input{
  text-align: center;
}
.date-status{
  padding:0;
  margin:0;
}
.date-status .date-status-col{
  display:inline-block;
  padding:0px 5px;
  color: #048a09;font-weight: 600;
}
.que-renewal-list.subscription-plan-list .sub-price{
  width: 165px;
  text-align: center;
}
.queue-acsses-body{
  padding:0px 20px;
}
.queue-acsses-body-submit-btn {
  margin: 20px 0px;text-align: center;
}
.change-pass-form{
  padding: 20px;
}
.change-pass-hd h3{
  color: #048a09;
  margin: 20px 0px;
  text-align: center;
}
.change-org-col{
  width:150px;padding: 10px;text-align: center;
  display: inline-block;
}
.change-org-col img{
  width: 100%;
}
.material-icons{
  cursor: pointer;
}
.change-org-main{
  float:left;
  width:100%;
  position:relative;
}
.close-orgmodal{
  position: absolute;
  right: -15px;
  top: -20px;
}
.change-org-text{
  color: #048a09;
  font-weight: 600;
  min-height:35px;
  height: 35px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.change-org-block{
  border: 1px solid #048a09;padding: 10px;cursor:pointer;

}

.change-org-block:hover{
  background:#048a0914;
}

// .cdk-global-overlay-wrapper .cdk-overlay-pane {
//   min-width: 600px !important;
// }
.qprovider-btn .btn-flat.btn-default:active, .qprovider-btn .btn-flat.btn-default.active, .open > .qprovider-btn .btn-flat.dropdown-toggle.btn-default,
.qprovider-btn .btn-flat.btn-default:active:hover, .qprovider-btn .btn-flat.btn-default.active:hover, .open > .qprovider-btn .btn-flat.dropdown-toggle.btn-default:hover, .qprovider-btn .btn-flat.btn-default:active:focus, .qprovider-btn .btn-flat.btn-default.active:focus, .open > .qprovider-btn .btn-flat.dropdown-toggle.btn-default:focus, .qprovider-btn .btn-flat.btn-default:active.focus, .qprovider-btn .btn-flat.btn-default.active.focus, .open > .qprovider-btn .btn-flat.dropdown-toggle.btn-default.focus {

  background: #048a09;
  color: #fff;
}
.qprovider-btn .btn-flat:active, .qprovider-btn .btn-flat:hover, .qprovider-btn .btn-flat:focus,
.open .qprovider-btn .btn-flat{
  background: #048a09 !important;
  color: #fff;
}
.qprovider-btn  .dropdown-menu{
  background: #1b592a;
  border-radius: 0px;
  color: #fff;    top: 61px;
}
.qprovider-btn  .dropdown-menu a{
  color: #fff;
  padding: 5px 10px;
  display: block;
}
.quesetup-access-table th:nth-child(1){
width: 33.33%;
}
.quesetup-access-table th:nth-child(2){
  width: 33.33%;
}
.quesetup-access-table th:nth-child(3){
  width: 33.33%;
}
.quesetup-access-table td:nth-child(1){
  width: 33.33%;
}
.quesetup-access-table td:nth-child(2){
  width: 33.33%;
}
.quesetup-access-table td:nth-child(3){
  width: 33.33%;
}
.system-role-table.table-bordered > tbody > tr > td img{
  width: 65px ;height: 65px;min-width:65px;min-height:65px;margin:0 auto;
}
.system-role-table.table-bordered > tbody > tr > td {
  font-size: 16px;
}
.system-role-table.table-bordered > tbody > tr > td{
  text-align: center;vertical-align: middle;    border-top: none;
}
.system-role-table.table-bordered{
  margin-bottom: 0px;
  border-top: none;
}
.systm-btn-div{
  text-align: center;
}
.systm-btn-div .btn{
  float:none;
}
.quepro-list-table.table > thead > tr:nth-child(1) > td:nth-child(1).fixed-side{
  border-top: 3px solid green;
  top: 0px;
  border-bottom: 3px solid green;
  height: 99px;
}
.quepro-list-table.table > tbody > tr > td:nth-child(1).fixed-side{
  border-top: none;
}
.quepro-list-table.table > thead > tr > th, .quepro-list-table.table > tbody > tr > th, .quepro-list-table.table > tfoot > tr > th, .quepro-list-table.table > thead > tr > td, .quepro-list-table.table > tbody > tr > td, .quepro-list-table.table > tfoot > tr > td {
  /* border-top: 1px solid #f4f4f4;*/
   border: 1px solid green;
   /*border-bottom: none;*/
   vertical-align: middle;
 }
 .quepro-list-table.table > thead > tr:last-child > td{
  border-bottom: 1px solid green;
}
.que-mor-all-row-info-main{
  /* display: table;
  float: left; */
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  text-align:center;
}
.quepro-list-table.table > thead > tr:nth-child(2n) > td{
  background: #c5fdc5;
}

/**sideebar menu8 **/
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 90vh;
  margin-top:30px;
}
.page-wrapper.page-wrapper-hd{
  height: auto;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
  z-index:1001;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    // padding-left: 260px;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 18px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
  z-index: 10;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {

  padding: 10px 20px 20px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  /* border-bottom:2px solid #1b592a; */
  /*background: #dcfbb9;*/
}
.sidebar-wrapper .sidebar-brand .fa{
  width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 12px;
}
.chiller-theme .sidebar-wrapper {
  background: #fff;
  /* border-right: 3px solid #1b592a; */
  box-shadow: 1px 10px 10px 1px #009200
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;


}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
.sidebar-menu ul li:hover,.sidebar-menu ul li.active{
  background:#ecffd6;
}


.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}
.sidebar-wrapper .sidebar-menu ul li a img{
  margin-right:10px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
 /* content: "\f105";*/
  content: "\f054";

  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;

}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 0px 0;
}

.page-wrapper .page-content {
  /*overflow-x: hidden;*/
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #fff;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #1b592a;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #1b592a;
}
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a span{
  color: #1b592a;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after{
  color: #1b592a;
}
.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #E9237F;
    text-shadow:0px 0px 10px rgba(233, 35, 127, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: transparent;
    color: #105f10;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #fff;
}

.chiller-theme .sidebar-footer {
    background: #105f10;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #105f10;
    background: #1b592a;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}

/**sidebar pri**/
.sidebar-wrapper .sidebar-brand img{
  width:113px;
}
.orgmodal-popup .modal-header .modal-title{
  text-align: center;
}
.orgmodal-popup .modal-header{
  position: relative;
}
.orgmodal-popup .modal-header .close{
  position: absolute;
  right: 10px;
  top: 10px;
}

.org-form .form-group.upload-btn-wrapper{
  width: auto;
}
.generate-otp-div{
  position: relative;
}
.generate-otp-btn{
  position: absolute;
  top: 25px;
  right: 9px;
}
.views{
  width:300px;
  height: 300px;
}
.label-icn{
  margin-right:7px;
}
.contact-form-detail .two-input{
  position: relative;
  padding-right: 10px;
}
.contact-form-detail  .two-input-right{
  position: absolute;
  right: 9px;
  top: -25px;
}

.page-wrapper .page-content {
    padding-top: 30px;
}
.page-wrapper .page-content > div.page-content-all-hd{
  padding: 5px 20px;
  text-align: center;
  background: #dcfbb9;
}
.page-wrapper .page-content > .page-content-all-hd h2{
  color: #1b592a;
  font-weight: 600;
  margin: 15px 0;
}
.pro-personal-form-group .upload-btn-wrapper{
  display: block;
  width: 100%;
}
.pro-personal-form-group .upload-btn-wrapper .btn-upload{
  padding: 7px 12px;
  width: 100%;
}
.location-form-main  select {
  border: 1px solid #048a09;
  color: #E9237F;
}
.location-form-main .multiselect-org {
  width: 100%;
}
.location-form-main .multiselect-org .dropdown-list[_ngcontent-c4] {
  bottom: 63px;
}
.que-pic-main .uploaded-img img{
  width: 60px;
  height:60px;
}
.que-pic-main  .upload-btn-wrapper{
  display: inline-block;
}
.que-pic-main  .uploaded-img{
  display: inline-block;
  border: 1px solid #1b592a;
}
.status-form{
  position: relative;
}
.status-form h1{
  padding-right: 195px;
}
.status-form .status-com{
position: absolute;
right: 0;
bottom: -2px;
width: 195px;
}
.status-form .status-com.qd-status{
width:280px;
}
.status-form .status-com .form-group label{
  display: inline-block;
  width: 29%;
}
.status-form .status-com .form-group .form-control{
  display: inline-block;
  width: 68%;
}
.queset-addque-form-days, .queset-addque-form-time{
 /*  min-height: 180px !important; */
}
.all-notices{
  margin-bottom: 15px;
}
.notice-block{
  display:block;
  background: #b9efbb;
    padding: 20px;
    margin-bottom: 20px;
}
.notice-block-col{
display: table-cell;vertical-align: top;
}
.notice-block-col:nth-child(1){
  width: 100px;
}
.notice-block-col:nth-child(2){
  padding-left: 20px;
}
.notice-block-col .notice-block-img img{width: 100%;}
.notice-block-date{
  text-align: center;
}
.notice-block-col .notice-block-img{
  margin-bottom: 15px;
  text-align:center;
}
.notice-block-date span{
  color: #1b592a;
  font-weight: 600;
}
.notice-block-col h4{
  font-weight: 700;
}
.quesetup-access-div{
  display:table;    width:50%;
}
.quesetup-access-div-left{
  display: table-cell;
  vertical-align: top;
  width: 200px;
}
.quesetup-access-div-left-img{
  text-align: center;
}
.quesetup-access-div-left-img img{
  width:100px;margin: auto;
}
.quesetup-access-div-left-text{
  text-align: center;

}
.quesetup-access-div-left-text span{
  font-weight: 600;
  color: #105f10;
}
.quesetup-access-div-right{
  display: table-cell;
  vertical-align: top;
}
.quesetup-access-table td{
  background: transparent !important;
  vertical-align: middle !important;

}
.quesetup-access-table{
  margin-bottom: 10px ;
  background: #ecebeb;
}
.quesetup-access-table, .quesetup-access-table td{

}
.quesetup-box-body{
  border: none !important;
}
.quesetup-access-table td:nth-child(1){
  width: 20%;    text-align: center;
}
.quesetup-access-table td:nth-child(2){
  width: 80%;
}
.quesetup-access-userinfo{

}
.quesetup-access-userinfo-img{
  display: inline-block;
  width:85px;
  padding: 0px 10px;
}
.quesetup-access-userinfo-img img{
  width: 65px !important;
  height:65px;
  min-width:65px;
  min-height:65px;
  background:url('assets/user-avatar.jpg') no-repeat center center ;
}
.quesetup-access-userinfo-text{
  display: inline-block;
  width:120px;
  padding: 0px 10px;
  font-weight: 600;
}
.cust-field-btn{
  margin-top: 15px;
  text-align: right;
}
div.qtraq-subtitle-wrapper{
  position: relative;
  padding:10px 20px;
}
div.qtraq-subtitle-wrapper button{
  position: absolute;
  right:0;
  top:7px;
  padding:5px;
  font-size:13px;
}
.qtraq-subtitle-wrapper h3{
  border-bottom: 1px solid green;
    padding-bottom: 15px;
    margin: 10px 0;
    font-size:16px;
    font-weight:700;
    color:#048a09;
}
.qtraq-subtitle-wrapper h1{
  padding: 15px 20px;
  margin: 0;
  color: #048a09;
  background: transparent;
  border-bottom: 1px solid #048a09;
  padding-left: 0;
  text-align: left;
  padding-top: 0px;
  font-size: 20px;
  font-weight: 700;
}
.m0{margin:0 !important;}
.mt30{margin-top:30px !important;}
.mb30{margin-bottom:30px !important;}
.mt25{margin-top:25px !important;}
.mb25{margin-bottom:25px !important;}
.mt20{margin-top:20px !important;}
.mb20{margin-bottom:20px !important;}
.mt15{margin-top:15px !important;}
.mb15{margin-bottom:15px !important;}
.mt5{margin-top:5px !important;}
.mb5{margin-bottom:5px !important;}
.mt10{margin-top:10px !important;}
.mb10{margin-bottom:10px !important;}
.ml5{margin-left:5px !important;}
.mr5{margin-right:5px !important;}
.ml10{margin-left:10px !important;}
.mr10{margin-right:10px !important;}
.ml15{margin-left:15px !important;}
.mr15{margin-right:15px !important;}
.text-center{text-align:center !important}
.text-right{text-align:right !important}

.multiselect-dropdown .dropdown-btn{
  border: 1px solid #048a09 !important;
  border-radius:0 !important;
  padding:4px 12px !important;
}


.wrapper-70{
  width:70% !important;
  margin: 0px auto;
}
.wrapper-60{
  width:60%;
}
.wrapper-50{
  width:50%;
}
.location-form-main .location-form .form-group.full {
  float: left;
  width: 100%;
}
.location-form-main .location-form .form-group.pro-personal-form-group label{
  width: 100%;
}
.pro-personal-form-group .upload-btn-wrapper {
  display: block;
  width: auto;
}
.location-form-main .location-form .form-group.pro-personal-form-group .uploaded-img{
  display: inline-block;
  border: 1px solid #1b592a;
  padding:5px;
}
.location-form-main .location-form .form-group.pro-personal-form-group .uploaded-img img{
  width: 60px;
}
.page-wrapper .page-content .main-content-wrapper {
  padding-top: 30px;
}
.location-form-main.addsystem-form{
  border: 1px solid #048a09;
  padding: 20px;
}
.location-form-main .getnum-div.form-group label{
  width: 100%;
}
.location-form-main.change-pass-form{
  border: 1px solid #048a09;
  padding: 20px;    margin-left: 20px;
}
.querwnewal-main{
  padding: 30px;
}
/* .location-form-main.addsystem-form  .location-form .form-group {
  min-height: 90px;
} */

//** check box styling **/
.working-day-content-col input[type=checkbox] , .com-checkbox input[type=checkbox]{
  position: relative;
  top: -0.375rem;
  top:0;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.com-checkbox input[type=checkbox]{
  position: relative;
  top: 1px;
  margin: 0 1rem 0 0;
  cursor: pointer;
  width: auto;
}
.organization-form  .com-checkbox input[type=checkbox]{
  top: 5px;
}
.working-day-content-col input[type=checkbox]:before, .com-checkbox input[type=checkbox]:before{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  top: -1px;
}
.working-day-content-col input[type=checkbox]:checked:before, .com-checkbox input[type=checkbox]:checked:before{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 8px;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
 /* border-color: #E9237F;
  border-left: 3px solid #E9237F;
  border-bottom: 3px solid #E9237F;*/
  width: 15px;
  top: 2px;
  left: 2px;

  border-color: #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.working-day-content-col input[type=checkbox]:after, .com-checkbox input[type=checkbox]:after{
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #048a09;

}
.working-day-content-col input[type=checkbox]:checked:after, .com-checkbox input[type=checkbox]:checked:after{
  background: #048a09;
}
.working-day-content-col{
  position: relative;
  margin: 0px 0px 15px 0px;
  line-height: 135%;
  cursor: pointer;
}
.com-checkbox{
  position: relative;
  cursor: pointer;
}
.working-day-content-col label, .com-checkbox label{
  display: inline-block;
  cursor: pointer;
}

.home-bar-btn{
  position: absolute;
  left:0;
  background: transparent;
  border: none;
}
.btn.home-bar-btn:hover{
  background: transparent !important;
  border: none !important;
  color: #fff !important;
}
.home-bar-btn .fa{
  font-size: 25px;
}
.org-form-group-up.org-logo-form-group .upload-btn-wrapper {
  padding-left: 15px;
  margin-top: 15px;
}
.multiselect-dropdown[_ngcontent-c6] .dropdown-btn[_ngcontent-c6] .selected-item[_ngcontent-c6] {
  border: 1px solid #E9237F !important;
  background: #E9237F !important;
}
.multiselect-org .multiselect-dropdown[_ngcontent-c6] .dropdown-btn[_ngcontent-c6]{
  border: 1px solid #048a09 !important;
  border-radius: 0px;
}
.multiselect-dropdown[_ngcontent-c6] .dropdown-btn[_ngcontent-c6] .dropdown-down[_ngcontent-c6]{
  border-top: 10px solid #E9237F !important;
}
.multiselect-dropdown[_ngcontent-c6] .dropdown-btn[_ngcontent-c6] .dropdown-up[_ngcontent-c6] {
  border-bottom: 10px solid #E9237F !important;
}
.multiselect-item-checkbox[_ngcontent-c6] input[type=checkbox][_ngcontent-c6]:checked + div[_ngcontent-c6]:before {
  background: #E9237F !important;
}
.multiselect-item-checkbox[_ngcontent-c6] input[type=checkbox][_ngcontent-c6] + div[_ngcontent-c6]:before {
  color: #E9237F !important;border: 2px solid #E9237F !important;
}
.upload-left-table{
  float: left;
  width: 50%;
  padding-right: 10px;
}
.upload-right-table{
  float: left;
  width: 50%;
  padding-left: 10px;
}
.quesetup-access-table.table-bordered > tbody > tr > td img{
  height: auto;
}
.com-breadcrum-list{
padding: 0;
margin: 0;
float: left;
padding-left: 25px;
}
.com-breadcrum-list li{
  display: inline-block;
  padding: 0px 10px;
  color: #048a09;
  color: #E9237F;
  font-size: 20px;
  font-weight: 600;
  position: relative;

}
.com-breadcrum-list li:first-child{
  padding-left: 0;
}
.com-breadcrum-list li:after{
  position: absolute;
  content: ">";
  right: -7px;
    top: 1px;
    font-size: 20px;
}
.com-breadcrum-list li:last-child:after{
  display: none;
}
.com-breadcrum-list li a{
  color: #afaeae;
}
.com-breadcrum-list li  a:hover{

}
.below-breadcrum{
  padding: 0px 25px;
}
.personal-info .pro-personal-form-group{
  width: auto !important;
  display: table;
}
.personal-info .pro-personal-form-group .uploaded-img{
  height: 100%;
  display: table-cell;
  /*width: 100px;*/
  vertical-align: middle;
  float: none;
  border:1px solid #1b592a;
}
.personal-info .pro-personal-form-group .uploaded-img img{
  width: 100px !important;
  height:100px;
}
.personal-info .pro-personal-form-group .upload-btn-wrapper{
  padding-left: 20px;
  margin-top: 10px;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  float: none;
  width: 150px;
}
.status-form .status-com .form-group.com-checkbox{
  margin-bottom: 5px;
}
.location-form-main .location-form .form-group.advance-book-sec{
  margin-top: 22px;
}
.advance-book-sec .num-days-allow input{
width: 45px;
display: inline-block;
border: none;
border-bottom: 1px solid #ccc;
padding: 5px;
}
.advance-book-sec .num-days-allow span, .advance-book-sec .num-days-allow{
  display: inline-block;
}
.location-form-main .location-form .form-group.notice-form-group{
  width: 70%;
  min-height: 35px;
}
.location-form-main .location-form .form-group.notice-form-group .from-date{
  display: inline-block;
  padding: 0px 7px;
  position: relative;
}
.location-form-main .location-form .form-group.notice-form-group .from-date:first-child{
  padding-left: 0;
}
.location-form-main .location-form .form-group.notice-form-group .from-date input{
  border: none;
  border-bottom: 1px solid #048a09;
}
.system-edit-three-check{
  display: inline-block !important;
  padding: 0px 7px;
}
.system-edit-three-check:first-child{
  padding-left: 0px !important;
}
.addeditque-name-pic{
  min-height: 105px !important;
}
.location-form-main.change-pass-form .location-form .form-group.full{
  width: 33.33%;
}
.table-bordered {
  margin-bottom: 10px;
}
.box.box-solid.box-primary.org-upload-document {margin-bottom: 10px;
}
.label-text{
  position: relative;
  top:-5px;
}
div.qd-check-top{
  display:inline-block;
  width:48%;
}
div.qd-status-top{
  display:inline-block;
  width:50%;
}
div.addqueue-btn-container{
  padding:12px;
}
.section-title-top{
  font-weight:700 !important;
}
.orange-text,.orange_text{
  color:#e45a16
}
.qprovider-btn.dropdown div.dropdown-menu{
  top:46px;
  left:-90px;
}
img.profile-img-menu{
  width:35px;
  height:35px;
  border-radius:35px;
}
span.nav-info-text{
  font-size:12px;
}
div.page-breadcrumb{
  color:#333;
}
div.page-breadcrumb a, div.page-breadcrumb span
{
  display:inline-block;
  /* margin:0 5px; */
  margin:0;
}
div.page-breadcrumb a,div.page-breadcrumb a:hover,div.page-breadcrumb a:focus,div.page-breadcrumb a:active{
  color:#1b592a
}
div.page-breadcrumb a:hover{
  text-decoration: underline;
}
div.page-breadcrumb{
  background: #fff;
  /* border-bottom: 1px solid #ccc; */
  padding: 10px 0 !important;
  text-align:left;
  position:fixed;
  top:52px;
  width:100%;
  z-index:998;
  box-shadow:1px 0px 5px 0px #034a14
}
div.page-breadcrumb .container{
  padding-left:35px;
}
div.page-breadcrumb span.arrow{
  display:inline-block;
  margin:0 5px;
  color:#1b592a;
  font-weight:normal;
}
.remove.blank-td a,.remove.blank-td a:hover,.remove.blank-td a:active,.remove.blank-td a:focus{
  color:#771216
}
.remove.blank-td a .material-icons{
  font-size:20px;
}
ul.ngx-pagination{
  margin:0;
  padding:10px;
  text-align:center;
}
.ngx-pagination li{
  color:#333 !important;
  text-align:center;
}
.ngx-pagination .current{
  width: 30px !important;
  padding: 5px !important;
  background:#1b592a !important;
  color:#fff !important;
  border-radius: 20px !important;
  cursor:pointer;
}
.queuesetup-main,.queuesetup-single,.subscription-plan-list {
  margin-bottom: 20px;
  cursor:pointer
}
.mt25{
  margin-top:25px;
}
.mb25{
  margin-bottom:25px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a{
  background:#efefef;
}
.pl0{
  padding-left:0 !important;
}
.org-form-group-up.org-form-group-up-wd label{
  width: 100%;
}
.ph-top-info{
  width:100%;
  float:left;
  position:relative;
  margin:10px 0 0 0;
  padding:10px;
  background:#ecffd6;
  border:1px solid #034a14;
  border-bottom:0px none;
}
.ph-top-info p{
  margin:0
}
.purple-text{
  color:#7762d5 !important;
}
.ph-title-small{
  display:block;
  font-size:14px;
  color:#048a09;
  font-weight:700;
}
.ph_tokenid{
  display:inline-block;
  width:200px;
}
.ph_bookedon{
  display:inline-block;
  width:300px;
}
.ph_providername{
  display:inline-block;
  min-width:300px;
}
.ph_tokenimgbtn{
  display:inline-block;
  min-width:300px;
}
.token_upload_btn{
  /*position:absolute;
  top:15px;
  right:10px*/
}
.pink_text,.pink-text{
  color:#E9237F !important;
}
.diagnosis-single{
  width:100%;
  float:left;
  padding-bottom:10px;
  margin-bottom:10px;
  /*border-bottom:1px solid #333;*/
}
.lh0 {
  line-height:0;
}
.req_received_wrapper{
  /* width:100%;
  float:left;
  padding:10px;
  margin:10px 0; */
  float: left;
  width: 48%;
  min-height: 190px;
  margin: 10px;
  background: #ecffd6;
  border-radius: 5px;
  border: 1px solid #034a14;
  cursor: pointer;
  padding: 10px 10px 0 15px;

}
.req_info{
  float:left;
  width:65%;
}
.req_img{
  float:left;
  width:150px;
  text-align:center;
  // background: #fff;
}
.req_img p{
  padding:0;
  margin:0;
  line-height:15px;
}
.req_info_icon{
  width: 40px;
  float: left;
  text-align: center;
  color: #034a14;
  text-align:left;
  padding-top:5px;
}
.req_info p{
  line-height:15px;
}
.req_info_text_wrapper{
  width: 85%;
  float: left;
  padding: 7px 0px;
  min-height:50px;
}
.req_info_text{
  font-size: 18px;
  font-weight: bold;
  color:#034a14
}
.req_info_subtext{
  font-size: 14px;
  color: #898989;
}
.label_with_icon span.icon_label{
  display:inline-block;
  width:40px;
  margin:0 auto;
  text-align:center;
  vertical-align:middle;
  color:#034a14
}
.label_with_icon .text_label{
  display:inline-block;
  font-size: 15px;
  font-weight:bold;
  color:#034a14;
}
.req_received_wrapper .req_info .material-icons{
  font-size:30px;
}
.req_img .req_by{
  color:#898989;
  font-size:12px;
  margin-top:10px;
}
button.headerlabelbtn.monthlabel,button.headerlabelbtn.yearlabel{
  padding:5px;
  background:#E9237F;
}
.searchtoken_filter{
  width:100px;
  float:left;
  margin:5px 0 10px 0;
}
select option[value=""] {
  color: #999999 !important;
}
/*Added for browser compatibility*/
[hidden] {
  display: none;
}
.border-green{
  border:1px solid #048a09 !important;
  color:#E9237F !important;
}
.border-pink{
  border:1px solid #E9237F !important;
  color:#E9237F !important;
}
.searchtoken_result_wrapper{
  padding:20px;
  margin:10px 0;
  min-height:195px;
  background:#ecffd6;
  border-radius:5px;
  border:1px solid #034a14;
  cursor:pointer;
}
.searchtoken_img{
  float:left;
  width:25%;
  text-align:center;
  margin-top:20px
}
.searchtoken_info{
  float:left;
  width:50%;
}
.searchtoken_past{
  float:left;
  width:25%;
  margin:15px 0 auto;
  text-align:center;
}
.searchtoken_img img,.fp_queue_img img,.fpq_result_img img,.doctoravb_list_img img, .ongoing_bottom_info img,.ongoing_detail_profile img,.req_img img{
  margin:0 auto;
  border-radius:100px;
  border:1px solid #034a14;
  width:100px;
  height:100px;
  min-width:100px;
  min-height:100px;
  background:#fff;
 /*  background:url('assets/user-avatar.jpg') no-repeat center center; */
}
.token-details-icon{
  display: inline-block;
  margin-top: 22px;
}
.green-icon span.material-icon{
  color:#034a14;
}

.fp_queue_info p,.fpq_result_info p,.doctoravb_list_wrapper p,.ongoing_single_wrapper p,.req_info p{
  padding:0;
  margin:0 0 5px 0;
}
.searchtoken_info p{
  margin:0 0 2px 0;
}
.searchtoken_info p.searchtoken_name,.fp_queue_info .fp_queue_name,.fpq_result_info .fpq_result_name{
  margin:5px 0;
  font-size:18px;
  font-weight:bold;
  min-height:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchtoken_info .searchtoken_gender_age,.searchtoken_info .searchtoken_regno,.searchtoken_info  .searchtoken_phone, .searchtoken_info .searchtoken_dr,.searchtoken_info .searchtoken_queuetime,.fp_queue_info p,.fpq_result_info p,.doctoravb_list_info p,.ongoing_bottom_info p{
  font-size:13px;
  color:#666;
}
.pasttokens,.circle-green {
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #608b67;
  //border:2px solid #034a14;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  border-radius: 75px;
  line-height:70px;
  margin:10px;
  text-align:center;
}
.searchtoken_detail .circle-green{
  width:100px;
  height:100px;
  line-height:100px;
}
.circle-pink{
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #E9237F;
  //border:2px solid #b10756;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  border-radius: 75px;
  line-height:70px;
  margin:10px;
  text-align:center;
}


.circle-red{
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #FF0000;
  //border:2px solid #b10756;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  border-radius: 75px;
  line-height:70px;
  margin:10px;
  text-align:center;
}
.bg-red{
  background-color: #ff0000 !important;
}


.circle-orange{
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #cdcdcd;
  //border:2px solid #E86100;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  border-radius: 75px;
  line-height:70px;
  margin:10px;
  text-align:center;
}

.circle-gray{
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #cdcdcd;
  //border:2px solid #E86100;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  border-radius: 75px;
  line-height:70px;
  margin:10px;
  text-align:center;
}


.searchtoken_past p{
  font-size:16px;
  margin:0;
}
.clearfix{
  line-height:0 !important;
}
.fp_queue_content{
  cursor:pointer;
}
.fp_queue_wrapper{
  padding:25px 0 0 0;
  /* width:24%;
  float:left;
  padding:10px 0 0 0;
  margin:5px;*/
  text-align:center;
  background:#ecffd6;
  border-radius:5px;
  border:1px solid #034a14;
}
.fp_queue_wrapper.fullwidth{
  width:100%;
  margin:5px 0;
}
.fp_queue_wrapper.fullwidth .fp_queue_img img{
  width:50px;
  height:50px;
  min-width:50px;
  min-height:50px;
  border:0px none;
}
.fp_queue_check_queue{
  padding:8px 0;
  background:#35a04e;
  color:#fff;
  font-size:20px;
  font-weight:bold;
}
.fp_queue_check_queue span.label-icn.material-icon{
  vertical-align: sub;
}
.fpq_result_wrapper{
  padding:20px;
  margin:10px 0;
  background:#ecffd6;
  border-radius:5px;
  border:1px solid #034a14;
}
.fpq_result_img{
  width:25%;
  float:left;
}
.fpq_result_info{
  width:75%;
  float:left;
}
.percentage-completed{
  background:#009200;
}
.m-auto{
  margin:0 auto;
}
.mb0{
  margin-bottom:0 !important;
}
.da_logo{
  display:inline-block;
  width:30px;
  height:30px;
  margin-right:10px;
}
.da_clinic_info{
  float: right;
  position: absolute;
  top: 10px;
  color: #048a09;
  font-size: 15px;
  font-weight: 700;
  right: 20px;
}
.mt10{
  margin-top:10px;
}
.form-control{
  position:relative;
}
.doctoravb_list_wrapper {
  width:48%;
  float:left;
  padding: 20px;
  margin: 10px;
  background: #ecffd6;
  border-radius: 5px;
  border: 1px solid #034a14;
}
.doctoravb_list_img{
  float:left;
  width:150px;
  text-align:center;
}
.doctoravb_list_info{
  float:left;
  width:65%;
}
.ongoing_wrapper{
  width:100%;
  float:left;
}
.ongoing_single_wrapper{
  text-align:center;
}
.ongoing_single_wrapper{
  width:23%;
  float:left;
  padding: 0;
  margin: 10px;
  background: #ecffd6;
  border-radius: 5px;
  border: 1px solid #034a14;
  cursor:pointer
}
.ongoing_top_info,.ongoing_bottom_info{
  padding:10px;
}
.ongoing_top_info{
  background:#E9237F;
  color:#fff;
  text-align: left;
  border-radius:5px;
}
/* .ongoing_top_info.ongoing_top_info_1{
  background:#fdecf4;
  color:#E9237F;
} */
.ongoing_top_info.ongoing_top_info_2{
  background: #048a09;
  color: #fff;
}
.queue_icon_top{
  display: flex;
  width:50px;
  height:50px;
  justify-content:center;
  align-items: center;
  background:#fff;
  border-radius:50px
}
.ongoing_detail_top{
  width:100%;
  float:left;
}
.ongoing_detail_time,.ongoing_detail_info,.ongoing_detail_profile{
  width:33%;
  float:left;
  padding:10px;
}
.ongoing_detail_time{
  text-align:center;
}
.material-icon.oqd_icon{
  display:block;
}
.material-icon.oqd_icon .material-icons{
  font-size:50px;
  color:#333;
}
@media  screen and (min-width:1200px){
  .mat-tab-body-content {
    overflow: hidden !important;
}
}
.ongoing_detail_time p{
  padding: 0;
  margin: 0 0 5px 0;
  line-height:12px;
}
.red-text{
  color:#f00!important;
}
.endtime{
  font-size:20px;
  font-weight:bold;
}
.ongoing_detail_info{
  text-align:center;
}
.ongoing_detail_info p{
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #898989;
}
.ongoing_detail_info p.queue_time{
  font-size:20px;
  font-weight:bold;
}
.ongoing_detail_profile{
  text-align:center;
}
.queue_list_wrapper{
  width:100%;
  padding:10px;
  float:left;
}
.queue_list_single{
  width:14%;
  min-height:175px;
  float:left;
  padding: 5px 5px 0 5px;
  margin: 10px;
  background: #ecffd6;
  color:#898989;
  border-radius: 5px;
  border: 1px solid #898989;
  cursor:pointer
}

.queue_list_single_inactive{
  width:14%;
  min-height:175px;
  float:left;
  padding: 5px 5px 0 5px;
  margin: 10px;
  background: #D3D3D3;
  color:#898989;
  border-radius: 5px;
  border: 1px solid #898989;
  cursor:pointer
}

.queue_list_single_yellow{
  width:14%;
  min-height:175px;
  float:left;
  padding: 5px 5px 0 5px;
  margin: 10px;
  background: #FFFF99;
  color:#898989;
  border-radius: 5px;
  border: 1px solid #898989;
  cursor:pointer
}



//FFFF99



.queue_list_single.current{
  background: #faffa5;
}
.queue_list_single.completed{
  background:#efefef;
}
.queue_list_top,.queue_list_bottom{
  width:100%;
  float:left;
}
.queue_list_sr_no{
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
.queue_list_profile_img{
  width:60%;
  float:left;
  text-align:center;
}
.queue_list_profile_img img{
  margin: 0 auto;
  border-radius: 60px;
  border: 1px solid #034a14;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}
.queue_list_user_status{
  width:20%;
  float:left;
  text-align:center;
  padding-top:5px;
}
.queue_list_user_status .label-icn{
  margin:0;
}
.queue_list_user_status .material-icon .material-icons{
  font-size:30px;
  color:#f00;
}
.queue_list_single.current .queue_list_user_status .material-icon .material-icons{
  color:#E9237F;
}
.queue_list_single.completed .queue_list_user_status .material-icon .material-icons{
  color:#717171;
}
.queue_list_bottom{
  text-align:center;
  padding:0;
}
.queue_list_bottom p{
  padding:0;
  margin:0 0 5px 0;
  line-height:15px;
  color:#898989;
}
.queue_list_bottom p.qlb_name{
  font-size:16px;
  font-weight:bold;
  min-height:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#3c3c3c
}
.token_details_wrapper{
  width:100%;
  float:left;
  border:1px solid #034a14;
}
.token_details_top{
  background:#ecffd6;
  padding:10px 0;
}
.td_doctor_name{
    text-align:center;
}
.td_doctor_name span{
  display:inline-block;
  text-align:center;
  vertical-align:bottom;
  line-height:10px;
}
.td_doctor_name span i{
  font-size:70px;
  color:#034a14;
}
.td_doctor_name div{
  display:inline-block;
  text-align:center;
}
.td_doctor_name div p.drname_orange{
  font-size:20px;
  color:#fe7a4a;
  padding:0;
  margin:0;
  font-weight:bold;
}
.td_doctor_name div p.clinicname_green{
  font-size:16px;
  color:#034a14;
  font-weight:bold;
}
.td_patient_info{
  width:100%;
  float:left;
  padding:0 0 10px 0;
  border-bottom:10px solid #f2f9f4;
}
.td_patient_details{
  font-size:18px;
  display:inline-block;
  width:48%;
  margin:5px 0;
  padding:10px 30px;
}
.td_reg_no{
  margin:0;
  font-size:14px;

}
.td_patient_info_left {
  float: left;
  width: 150px;
}
.td_patient_info_right {
  float: left;
  width: 75%;
}
.td_patient_info_left img{
  width:100px;
  margin:0 auto;
  border-radius:100px;
  border:1px solid #034a14;
  min-width:100px;
  min-height:100px;
  width:100px;
  height:100px;
}
.tdpir_name,.tdpir_phone{
  font-size:17px;
  font-weight:normal;
  margin:5px 0;
  padding:0;
  line-height:15px;
}
.tdpir_gender,.tdpir_verified{
  font-size: 14px;
  color: #898989;
  margin:10px 0;
  padding:0;
  line-height:15px;
}
.tdpir_verified img{
  width:15px;
}
.tdpir_phone span{
  vertical-align:text-bottom;
}
.token_details_bottom{
  width: 100%;
  float:left;
  padding:15px 0 0 30px;
}
.tdb_req_date p,.tdb_ntw_left p{
  font-size: 18px;
  margin: 10px 0;
  padding: 0 10px;
  line-height: 15px;
}
.tdb_new_token_wrapper{
  width:100%;
  float:left;
  padding:0;
}
.tdb_ntw_left{
  width:75%;
  float:left;
}
.tdb_ntw_right{
  width:25%;
  float:left;
  position:relative;
  text-align:center;
}
.tdb_ntw_date,.tdb_ntw_time{
  position:relative;
  display: inline-block;
  width:150px;
  margin: 0;
  padding: 0 10px;
  font-size: 18px;
  line-height: 15px;
}
.tdb_ntw_date input,.tdb_select_queue{
  font-size:16px;
}
.tdb_ntw_time{
  margin:0 0 0 20px;
}
.tdb_select_queue{
  display:inline-block;
  margin: 10px;
  width: 150px;
}
.tdb_ntw_right .circle-pink{
  cursor:pointer;
}
.tdb_ntw_right span.edit-icon{
  position:absolute;
  top: 70px;
  right: 35px;
  color: #034a14;
}
.tdb_ntw_right span.people-icon{
  position:absolute;
  top:40px;
  left:-10px;
  color:#034a14;
}
.tdb_ntw_right span.people-icon i{
  font-size:35px;
}
.tdb_ntw_status{
  font-size:12px;
  color: #898989;
  margin:0;
}
.tdb_form_wrapper{
  width:100%;
  float:left;
  margin:0;
  padding:10px 0;
}
.tbd_form_label{
  width:160px;
  float:left;
  margin:10px 0;
  padding:0 15px;
}
.tbd_form_field{
  width:52%;
  float:left;
  position:relative;
  margin:10px 0;
}
.more-btn-modal{
  float:right;
}
.tbd_actions{
  margin:15px;
}
.btn-green-large{
  display: inline-block;
  background: #034a14;
  color: #fff;
  font-size: 20px;
  border: 0px none;
  padding: 5px 10px;
  font-weight: bold;
}

.btn-gray-large{
  display: inline-block;
  background: #A9A9A9;
  color: #fff;
  font-size: 20px;
  border: 0px none;
  padding: 5px 10px;
  font-weight: bold;
}


.btn-red-large{
  display: inline-block;
  background: #ff5f5f;
  color: #fff;
  font-size: 20px;
  border: 0px none;
  padding: 5px 10px;
  font-weight: bold;
}
.wrap-50{
  width:48%;
  float:left;
  margin:0 15px 0 0;
}
.wrap-40{
  width:38%;
  float:left;
  margin:0 15px 0 0;
}
.wrap-60{
  width:58%;
  float:left;
  margin:0 15px 0 0;
}
.display-ib{
  display:inline-block;
}
.select-assign-queue{
  width:225px;
  margin:0 15px;
}
.green-bg{
  height:30px;
  background:#f2f9f4;
}
.mb10{
  margin-bottom:10px;
}
.mt10{
  margin-top:10px;
}
.material-icon.green-icon{
  color:#034a14;
}
.msg-assign-token .material-icon.green-icon i{
  font-size:35px;
}
.msg-assign-token input[type="text"]{
  height:50px;
}
.table-bordered.tbl-provider > tbody > tr > td input{
  width:auto;
  border:1px solid #034a14
}
.btn-table{
  padding:5px;
  background:#034a14;
  color:#fff !important;
  border:0px none;
  margin:0 5px 0 0;
  width:auto !important;
  font-size:12px;
}
.btn-table:hover,.btn-table:focus,.btn-table:active{
  background:#E9237F;
  color:#fff !important;
  transition: 0.2s all ease-in
}
.page-breadcrumb span{
  color:#E9237F;
  font-weight:bold;
}
.w32{
  width:32px;
}
.popup_token_main{
  text-align:center;
}
 .popup_token_main div.ng-star-inserted{
  display:inline-block;
  cursor:pointer;
}


.popup_token_no_wrapper{
  display:inline-block;
  width:60px;
  height:50px;
  margin:10px;
}
.popup_req_token_no{
  display:inline-block;
  width:50px;
  height:50px;
  margin:5px 0;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  background:#009200;
  border:1px solid #034a14;
  border-radius:50px;
  color:#fff;
  line-height:50px;

}

.popup_req_token_no_proposed_assign{
  display:inline-block;
  width:50px;
  height:50px;
  margin:5px 0;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  background:#E9237F;
  border:1px solid #E9237F;
  border-radius:50px;
  color:#fff;
  line-height:50px;
}

.popup_req_token_no_proposed{
  background:#E9237F;
  border:1px solid #E9237F;
}


.popup_req_dashboardtext{
  color:#E9237F
}

.dashboardtextbackground{
  background:#034a14 !important;
  color:#ffffff !important;
  font-size: 15px;
}


.popup_req_token_no_cancelled{
  background:#ff5f5f;
  border:1px solid #ff5f5f;
}

.allocated_req_token_no{
  display:inline-block;
  width:50px;
  height:50px;
  margin:5px 0;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  background:#D3D3D3;
  border:1px solid #D3D3D3;
  border-radius:50px;
  color:#fff;
  pointer-events:none;
  line-height:50px;
}

.cancelled_req_token_no{
  display:inline-block;
  width:50px;
  height:50px;
  margin:5px 0;
  font-size:30px;
  font-weight:bold;
  text-align:center;
  background:#ff5f5f;
  border:1px solid #ff5f5f;
  border-radius:50px;
  color:#fff;
  pointer-events:none;
  line-height:50px;
}

div.popup_req_token_no_text span{
  display:block;
  margin:0;
  padding:0;
  line-height:15px;
  color:#898989;
  font-size:13px;
  text-align:center;
}
.m10{
  margin:10px;
}
.qsetup_profileimg{
  width:150px;
  height:150px;
  min-width:150px;
  min-height:150px;
}
.addcustomfield_wrapper{
  padding:10px;
}
.addcustomfield_wrapper label{
  color: #a5a5a5;
  text-transform: capitalize;
  margin: 0 0 10px 0;
  font-weight: normal;
}
.searchtoken_detail p{
  margin:0;
  line-height:18px;
}
.std_top_left,.std_top_right{
  width:50%;
  float:left;
  min-height:225px;
  padding:10px;
  text-align:center;
  border:5px solid #f2f9f4;
}
.std_top_left img{
  margin: 10px auto;
  border-radius: 100px;
  border: 1px solid #034a14;
  width: 100px;
  min-width: 100px;
  min-height: 100px;
}
.std_bottom{
  padding:10px;
  text-align:center;
}
.m0{margin:0px !important;}
.mt10{margin-top:10px !important;}
.mb10{margin-bottom:10px !important;}
.mt15{margin-top:15px !important;}
.mb15{margin-bottom:15px !important;}
.mt20{margin-top:20px !important;}
.mb20{margin-bottom:20px !important;}
.p10{padding:10px !important;}
.p15{padding:15px !important;}
.p20{padding:20px !important;}
.pt10{padding-top:10px !important;}
.pb10{padding-bottom:10px !important}
.pt15{padding-top:15px !important;}
.pb15{padding-bottom:15px !important}
.pt20{padding-top:20px !important;}
.pb20{padding-bottom:20px !important}
.pl10{padding-left:10px !important}
.pr10{padding-right:10px !important}
.pl0{padding-left:0 !important}
.pr0{padding-right:0 !important}
.pl15{padding-left:15px !important}
.pr15{padding-right:15px !important}
.searchtoken_detail .form-actions button{
  width:120px;
}
.searchtoken_detail .form-actions button.grey-btn{
  background:#898989!important;
  border:1px solid #898989 !important;
}
.searchtoken_detail .form-actions button.pink-btn, .pink-btn{
  background:#E9237F!important;
  border:1px solid #E9237F;
}
.fp_queue_info p{
  min-height:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding:0 10px;
}
.overrride_wrapper{
  width:100%;
  float:left;
  padding:20px 0;
  border-top:1px solid #034a14;
  text-align:center
}
.overrride_wrapper input[type="time"]{
  width:120px;
  padding:5px;
  text-align:center;
  font-size:15px;
}
.profile_thumbnail_img{
  display:inline-block;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid #034a14;
  width: 100px;
  height:100px;
  min-width: 100px;
  min-height: 100px;
  //background: url(assets/user-avatar.jpg) no-repeat center center;
}
.circle-img-thumb{
  display: inline-block;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid #034a14;
  width: 100px;
  min-width: 100px;
  min-height: 100px;
}
.font-12{
  font-size:12px !important;
}
.font-15{
  font-size:15px !important;
}
.font-16{
  font-size:16px !important;
}
.font-18{
  font-size:18px !important;
}
.font-20{
  font-size:20px !important;
}
.token_details_top.fut-past-queue img{
  vertical-align:bottom;
}
.fullwidth-wrapper{
  width:100%;
  float:left;
}
.background-light-green{
  background:#ecffd6;
}
.dark-border{
  border:1px solid #034a14;
}
.location-form-main .location-form .form-group.notice-form-group .from-date:first-child span{
  display:block;
}
.personal-info .upload-btn-wrapper{
  margin-top: 35px;
}
.provider-mat-tab .mat-tab-body-content {
  overflow: visible !important;
}
.tab-style-2 .mat-tab-labels .mat-tab-label{
  font-weight:bold;
}
#main-form-content.tab-style-2 .mat-tab-list{
  border-left:1px solid #034a14;
  border-right:1px solid #034a14
}
.tab-style-2 .mat-tab-labels .mat-tab-label{
  background: transparent!important;
  color:#898989;
  border-bottom: 2px solid transparent;
}
.tab-style-2 .mat-tab-group.mat-primary .mat-tab-label:focus,.tab-style-2 .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):active{
  background:transparent !important;
  color:#034a14;
}
.tab-style-2 .mat-tab-labels .mat-tab-label.mat-tab-label-active{
  background: transparent!important;
  color: #048a09;
  border-radius: 0;
}
.tab-style-2 .mat-tab-group.mat-primary .mat-ink-bar{
  background-color:#E9237F;
  height:3px;
}
button.img-button,button.img-button:hover,button.img-button:focus,button.img-button:active{
  background:transparent !important;
  border:0px none !important;
  padding:0px !important;
}
.grey_text{
  color:#898989;
}
.w150{
  width:150px !important;
}
.broadcast-message{
  float:right;
}
.broadcast-message-wrapper{
  width:70%;
  float:left;
  padding:10px;
  background:#fff;
  border:1px solid #034a14;
  margin:5px 0;
}
.addbroadcastmsg{
  width:100%;
  height:100px;
}
/*.overlay[_ngcontent-c5]{
  position: absolute !important;
  height:100vh !important;
}*/
.overlay{
  background:rgba(255,255,255,0.6) !important;
  opacity:1 !important;
}
.main-div{
  margin: 100px auto !important;
}
.main-div.modal-qtraq{
  overflow:scroll !important;
}
.overlay[_ngcontent-c5] .main-div[_ngcontent-c5],.modal-qtraq{
  background:#fff !important;
  border:2px solid #1b592a;
}
.display-ib{
  display:inline-block;
}
.viewport-height{
  height:100vh !important;
}
.overflow-scroll{
  overflow:scroll !important;
}
.provider-familymember{
  width:33%;
  float:left;
}
.red-text,.red_text,.red_text:hover,.red_text:focus,.red_text:active,.text_red{
 color: #f00;
}
.remove-icon i.material-icons{
  color:#771216
}
.w100pc{
  width:100% !important;
}
.admin-name{
  font-weight: bold;
  font-style: italic;
  border-bottom:1px solid #fff;
  min-height:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.change-org-col img.modal-orglogo{
  width:60px !important;
  height:60px;
}


#loading-img {
  // background: url("https://www.jfklibrary.org/themes/custom/jfkl/images/spinner.gif") center center no-repeat;
  // background: url("https://www.jfklibrary.org/themes/custom/jfkl/images/spinner.gif") center center no-repeat;
  height: 100%;
  z-index: 20;
}
.overlay {
  background: #cdcdcd;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.remove-logo i, .remove-logo-plan i {
  color: #771216;
}
.remove-logo {
  position: relative;
  top: 15px;
}
span.image-name {
  display:inline-block;
  margin: 5px 0;
  width: 110px;
  text-align: center;
  min-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.table.table-bordered, table.table.table-bordered .form-group{
  margin:0 !important
}
.table-bordered > thead > tr > td input, .table-bordered > tbody > tr > td input, .table-bordered > tfoot > tr > td input, .table-bordered > tfoot > tr > td select, .table-bordered > tbody > tr > td select {
  border-color: #048a09;
  color: #E9237F;
  width: auto;
}
.table-bordered > thead > tr > td input, .table-bordered > tbody > tr > td input, .table-bordered > tfoot > tr > td input {
height: 27px;
}
.table-bordered > tbody > tr > td .com-checkbox label{
  position:relative;
  top:-10px;
}
.form-control{
  border-color: #048a09;
  color: #E9237F;
  height:30px;
  padding:5px 12px;
}
.map-link-input {
  padding-right: 85px;
}
.map-link, .map-link:hover, .map-link:active, .map-link:focus {
  background: #1b592a !important;
}
.map-link {
  position: absolute;
  top: 25px;
  right: 12px;
  height: 26px;
  padding: 0 3px;
}
.map-link span {
  display: inline-block;
  position: relative;
  top: -7px;
  left: 3px;
  color: #fff;
}
.map-link i {
  color: #fff;
}
.working-day-content-col label, .com-checkbox label{
  display: inline-block;
  cursor: pointer;
  font-weight:700;
}
.com-checkbox label.text_grey, .radio-theme label.text_grey,.container-radio-qtraq label.text_grey,.radio-theme label{
  color:#a5a5a5
}
.dash-section-title{
  margin:0 0 15px 0;
}
.green-text,.green_text,.text_green{
  color: #048a09 !important;
}
.text_pink{
  color: #E9237F !important;
}
.text_grey{
  color:#898989 !important
}
.text_red{
  color:#f00 !important;
}
.text_white{
  color:#fff !important;
}
.p0{padding:0 !important;}
.pl0{padding-left:0 !important;}
.pr0{padding-right:0 !important;}
.pt0{padding-top:0 !important;}
.pb0{padding-bottom:0 !important;}
.overlay.qtraq-overlay{
  background-color:rgba(255,255,255,0.4) !important;
  opacity:1 !important;
}
.confirmation-popup{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 40%;
  width:300px;
  padding:20px;
  text-align:center;
  border:2px solid #055d08;
  background:#fff;
}
.availability-content-wrapper{
  padding:0 5px;
}
.mt22{margin-top:22px !important;}
.org-uploaded-img img {
  width: 100%;
  height: 230px !important;
}
input[type="time"].form-control{
  line-height:inherit !important;
  font-size:16px;
}
.form-group{
  position:relative;
}
.clearfix{
  line-height:0;
}
.help-block{
  margin:0;
}
.btn{
  padding:5px 12px;
}
.display-block{
  display:block !important;
}
.table.addqueue-notice td{
  padding:0 !important;
  margin:0 !important
}
.table.addqueue-notice td .all-notices,.table.addqueue-notice td .notice-block,.table.addqueue-notice td .notice-block-col .notice-block-img{
  margin-bottom:0
}
.table.addqueue-notice td, .table.addqueue-notice td .notice-block{
  padding:20px 20px 5px 20px;
  background:#f9f9f9;
}
.table.addqueue-notice td{
  border-bottom:3px solid #b9efbb;
}
.table.addqueue-notice .notice-block-col .notice-block-img img{
  width:auto !important
}
.bg-light-green{
  background:#b9efbb
}
.subtitle-top-orange{
  text-align:center;
  /* border-bottom:3px solid #1b592a; */
}
.subtitle-top-orange h3{
  font-size:16px;
  color:#FE7A4A;
}
.subtitle-top-orange p{
  color:#1b592a;
}
.login-logo .logo-mini .main-logo img {
  width: 175px;
}
.login-tagline{
  font-size: 15px;margin: 15px 15px 45px 15px;color:#048a09;font-weight:bold
}
.login-tagline span{
  color:#E9237F;
}
.login-page, .register-page {
  background: #fff;
}
.login-box-border, .register-box-body{
  // border:1px solid #1b592a;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.24);
  padding-top:40px;
  padding-bottom:20px;
}
.login-box, .register-box {
  margin: 30px auto;
}
.login-box input[type="text"],.login-box input[type="password"]{
  background:#fff !important;
}
.error_msg_login{
  position: absolute;
  bottom:-25px;
  left:0;
  right:0;
  margin:0 auto;
}
.login-box-msg{
  padding:5px 0;
}
.forgot-password{
  margin: -20px 0 30px 0;
}
.text-danger{
  position:absolute;
  color:#f00 !important;
  font-style: italic;
}
.login-logo {
  margin-bottom: 10px;
}
input:read-only::-webkit-input-placeholder { /* WebKit browsers */
  color:transparent !important;
}
input:read-only:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:transparent !important;
}
input:read-only::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:transparent !important;
}
input:read-only:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:transparent !important;
}
table.table-availability input[type="time"]{
  width:100px !important;
  margin-bottom:3px;
}
table.table-availability .timeslot{
  width: 140px;
  float: left;
}
table.table-availability input[type="button"].btn-table{
  font-size:11px;
  padding:5px;
}
table.table-availability th.general-avb{
  width:150px;
}
.multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #E9237F !important;
  background: #E9237F !important;
}
.multiselect-dropdown .dropdown-btn,.multiselect-dropdown .dropdown-btn .selected-item{
  width: 150px;
  margin:1px;
  min-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.multiselect-dropdown .dropdown-btn .dropdown-down{
  border-top: 6px solid #E9237F !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
}
.multiselect-dropdown .dropdown-btn .dropdown-up{
  border-bottom: 6px solid #E9237F !important;
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important
}
/* .sidebar-menu li.active{
  background:#e9e9e9
} */
.cancel-queue-btn-top{
  float:right;
  margin-top:5px;
  position:relative;
  right:70px;
  z-index:999;
}
.ep-toggle div{
  right:20px !important;
}

/*Scrolling Table start*/
/* table.queueacess-table {
  position: relative;
  overflow: hidden;
  border-collapse: collapse;
  width:100%;
}
table.queueacess-table thead {
  position: relative;
  display: block;
  overflow: visible;
}
table.queueacess-table thead th {

}
table.queueacess-table thead th:nth-child(1) {
  position: relative;
  display: block;

}
table.queueacess-table tbody {
  position: relative;
  display: block;
  height: 400px;
  overflow: scroll;
}
table.queueacess-table tbody td,table.queueacess-table thead tr td {
  width:10vw !important;
}
table.queueacess-table tbody tr td:nth-child(1) {
  display: block;
} */
table.queueacess-table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
 .tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
table.queueacess-table th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
table.queueacess-table td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
/*Scrolling Table end*/
.location-form-main .location-form .form-group.w33pc{
  width:33% !important
}

/*Custom Radio Button Start*/
/* The container */
.container_radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight:700 !important;
}


/* Hide the browser's default radio button */
.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
  border:1px solid #ccc
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark {
  background-color: #f9f9f9;
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark {
  background-color: #048a09;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}
/*Custom Radio Button End*/
.addqueue_radio{
  width:48%;
  float:left;
}
.custom-field-list{
  width:100%;
  float:left;
  margin:5px 0;

}
.custom-field-list label{
  width:80%;
  float:left;
}
.custom-field-list div.remove{
  width:20px;
  float:left;
  margin-top:0px;
}
div.remove .material-icon{
  color:#771216;
}
.multiselect-reverse div.dropdown-list{
  top:-200px;
}
.multiselect-reverse-2 div.dropdown-list{
  top:-65px;
}
.multiselect-reverse div.dropdown-list ul.item2{
  height:100px !important;
  overflow: scroll;
}
/* .mat-tab-body.mat-tab-body-active{
  min-height:100vh;
} */
section.tabs-container .mat-tab-body.mat-tab-body-active{
  min-height:100vh;
}

 //arul
 #loading-img {
  text-align:center;
  float:left;
  width:100%;
  // background: url("https://www.jfklibrary.org/themes/custom/jfkl/images/spinner.gif") center center no-repeat;
  height: 100%;
  z-index: 20;
}
#loading-img img{
  margin-top:10%;
}
.overlay {
  background: #cdcdcd;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.applytosel-popup{
  text-align:left !important;
}
.applytosel-popup .com-checkbox{
  margin:3px 0;
}
.applytosel-popup .applytosel-options{
  padding-left:50px;
}
.verified-number{
  position:relative;
  top:-2px;
  left:5px;
  font-size:12px;
  color:#a5a5a5;
}
.verified-number img{
  width:15px;
}
.cursor-pointer{
  cursor:pointer
}
.msg_list_container{
  margin:0 0 5px 0;
  padding:3px 0px;
  border-bottom:1px solid #105f10;
}
.msg_list_content{
  color:#048a09;
  font-size:14px;
  margin:0 0 2px 0;
}
.msg_list_name,.msg_list_date{
  font-size:12px;
  font-weight:bold;
  margin: 0 0 2px 0;
}
.inline-block{
  display:inline-block;
}
span.req_count{
  display:inline-block;
  position: absolute;
  top:0;
  padding:4px;
  background:#E9237F;
  color:#fff;
  border-radius: 25px;
  font-size: 12px;
  width: 27px;
  font-weight:bold;
}
input[type="text"].listItemInput{
  display:inline-block;
  width:300px;
}
button.listItemButton{
  display:inline-block;
  padding:4px 10px;
  margin-left:-5px;
  margin-top:-2px;
}
.hover-breadcrumb:hover{
  cursor: pointer;
  text-decoration:underline;
}
#proceedbtn[disabled],#proceedbtn[disabled]:hover,#proceedbtn[disabled]:focus,#proceedbtn[disabled]:active,.btn-success[disabled],.btn-success[disabled]:hover,.btn-success[disabled]:focus,.btn-success[disabled]:active{
  background:#c5c5c5 !important;
  color:#000 !important;
  border:1px solid #898989 !important;
}
.fade{
  opacity: 1;
}
.modal.fade .modal-dialog{
  transform: translate(0, 50%);
}
.search_token_detail_left,.search_token_detail_right{
  position:relative;
  width:50%;
  float:left;
  padding:0;
}
.searctokendetails_actions{
  position:absolute;
  top:-68px;
  left:185px;
}
.search_token_actions button{
  width:120px;
  margin:3px;
}
.search_token_actions .label-icn{
  margin:0;
}
.token_processing{
  font-weight:bold;
}
.past_queues{
  background:#dedede
}
.calendar_icon{
  position: absolute;
  top: 9px;
  right: 19px;
}
.modal-header h4.modal-title{
  display:inline-block;
}
.customform_qtraq label.green-text{
  display:block;
  margin-top:7px;
  text-align:right;
}
input.datepicker:read-only{
  background:#fff;
}
.customfield-select{
  width:100%;
  padding:5px 12px;
  height:30px;
  border:1px solid #048a09;
  /* color:#E9237F; */
}
.customselect-selected{
  color:#E9237F
}
/* .customselect-default{
  color:#333
} */

div.doc-unavailability-wrapper .mat-radio-button{
  min-width:100px;
}
.estimated_time_msg{
  display:flex;
  align-items: center;
  height:50px;
  font-size:15px;
  color: #f00;
}
.form-control.override-time{
  color:#048a09;
}
.form-control.override-time.override-time-change{
  color:#E9237F;
  font-weight:bold;
}
.btn-bold{
  font-size:15px;
  font-weight:bold;
}
.broadcast-sec-wrapper{
  margin: 0 5px 0 20px;
}
.sec-header-container{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.sec-doc-details{
  display:flex;
  flex-direction:column;
  text-align:center;
}
.sec-doc-details p{
  padding:0;
  margin:5px 0;
  line-height:15px;
}
.sec-doc-details p.provider_name{
  font-size:15px;
  color:#333;
}
.sec-doc-details p.queue_details{
  font-size:22px;
}
.sec-doc-details p.queue_date{
  font-size:16px;
}
.broadcast-sec-wrapper pre{
  background:#fff;
  border:0px none;
  font-family: inherit;
  line-height: 15px;
}
.selecttoken-popup{
  text-align:center;margin:10px auto;position:relative
}
.selecttoken-popup .stpopup-close{
  float:right;cursor:pointer;position: absolute;right:-5px;top:-30px;
}
.selecttoken-popup .stpopup-orgname{
  padding:10px;background:#f6fcaa;
}
.selecttoken-popup .stpopup-orgname p{
  font-size:15px;margin:0;
}
.selecttoken-popup .stpopup-search{
  padding:10px 0 0 0;background:#d6fce0;border-top:2px solid #bee4bc;border-bottom:2px solid #bee4bc
}
.selecttoken-popup .stpopup-search label{
  font-size:15px;display:inline-block
}
.selecttoken-popup .stpopup-search input[type="text"]{
  width:300px;margin:0 auto;display:inline-block;position:relative;top:1px;
}
.selecttoken-popup .stpopup-search input[type="submit"]{
  height:30px;
}
.selecttoken-popup .stpopup-search .mat-radio-label-content{
  position:relative;top:-5px;padding-left:5px;
}
.stpopup-result{
  height:295px;overflow-y:scroll;
}
.stpopup-result-single{
  padding:5px;background:#f6fcaa;border-bottom:2px solid #1b592a
}
.stpopup-result-single .userimg{
  margin-top:5px;width:75px;height:75px;min-width: 75px;min-height: 75px;border-radius:75px;border:1px solid #1b592a
}
.stpopup-result-single .qtraq-verified{
  width: 16px;height:16px;display:inline-block;margin: -5px 0 0 2px;position: absolute;
  left: -25px;
  top: 5px;
}
.stpopup-result-single p{
  margin: 2px 0 2px 25px;
  position: relative;
}
.queuesection-header{
  width:100%;
  float:left;
  padding:10px;
  /* margin:0 0 10px 0;
  border-bottom: 1px solid #048a09;*/
}
.queuesection-header-doctor-details, queuesection-header-queue-details,.queuesection-header-time-details{
  width:100%;
  float:left;
}
.queuesection-header .queuesection-header-doctor-details{
  display:flex;
  justify-content: left;
  align-items: center;
}
.queuesection-header .queuesection-header-queue-details, .queuesection-header-time-details{
  display:flex;
  justify-content: center;
  align-items: center;
  height:35px;
}

.queuesection-header .queuesection-header-doctor-details .docimg, .queuesection-header .queuesection-header-queue-details .queuepic{
  width:35px;height:35px;border-radius:35px;display:inline-block
}
.queuesection-header .queuesection-header-doctor-details .docname{
  display:inline-block;font-size:16px;margin:0 10px;width:150px;min-height:20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}
.queuesection-header .queuesection-header-doctor-details .docstatus{
  display:inline-block;
  position:relative;
  margin:0;
}
.queuesection-header .queuesection-header-queue-details .queuename{
  font-size: 20px;font-weight: bold;margin: 0 10px;
}
.queuesection-header .queuesection-header-time-details p.red-text{
  margin:0 5px;
}
.queuesection-header .queuesection-header-time-details input[type="button"]{
  margin-left:auto;
}
.queuesection-buttons-wrapper{
  position:relative;
}
.queuesection-buttons{
  float:right;
  position: absolute;
  top: 10px;
  right: 25px;
  text-align:right;
  z-index:99;
}
.queuesection-buttons a{
  display:inline-block;
  height: 35px;
  margin:0 2px;
  color: #fff;
  background:#186c2c;
  border: 3px solid #E9237F;
  border-radius: 32px;
  text-align: center;
}
.queuesection-buttons a.block-queue{
  background:#186c2c;
}
.queuesection-buttons a .material-icons{
  font-size:28px;
  margin-left:1px
}
.queuesection-buttons span{
  display:inline;
}
.circle-red.circle-red-future-past-queue,.circle-orange.circle-orange-future-past-queue,.circle-orange.circle-gr-future-past-queue{
  width:50px ;
  height:50px;
  font-size: 25px;
  border-radius: 75px;
  line-height: 50px;
  margin:10px 0 auto
}
.text-restrict{
  min-height:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.userdetail-future-past-queue p{
  margin:0;
}
.userprofile-future-past-queue{
  display: inline-block;
    margin: 20px auto;
    border-radius: 50px;
    border: 1px solid #034a14;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}
.queuesection-buttons.future-past-queue-queuesection-buttons{
  position:static;
}
.broadcast-msg-count{
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #E9237F;
  border-radius: 20px;
  line-height: 20px;
  text-align: center;
  top: -5px;
  right: 0px;
  font-size: 10px;
}
.tokenimpact-popup-container{
  position:relative;
}
.tokenimpact-popup{
  height:300px;
  overflow-y:scroll
}
.impactedtoken-date{
  margin: 20px 0 10px 0;
}
.impactedtoken-list{
  margin: 15px 35px 15px 10px;
  padding: 5px 10px;
  border-bottom: 1px solid #333;
  font-size: 15px;
}
.impactedtoken-count{
  float:right;
}
.close-popup{
  position: absolute;
  right: -10px;
  top: -20px;
}
.close-popup,.close-popup:hover,.close-popup:focus,.close-popup:active{
  color:#000;
}
.override-queue-select-options label{
  margin:30px 0 5px 0;
}
.password-field-container div:last-child{
  right:5px
}
.switch.disabled{
  cursor:pointer !important;
}
.switch.checked.disabled{
  cursor:not-allowed !important;
}
.pl21{
  padding-left:21px;
}
.cursor-pointer{
  cursor: pointer;
}
select:valid { color: #E9237F; }


button[disabled]{
  cursor: no-drop;
  background: #cdcdcd;
}
button[disabled]:hover{
  cursor: no-drop;
  background: #cdcdcd;
}
.amt-cls{
  width: 100px !important;
  position: absolute;
  left: -20px;
}
.font12{
  font-size:12px !important;
}
@media print
{
  app-root{ display: none; }
  .mat-dialog-content{ display: none; }
}
.mat-dialog-content{
    height: 100% !important;
 }
.clearbtn-date{
  margin-top: -30px;
  float:right;
  background: none;
  color: #000;
  border-right:none;
  border-left:none;
}
input[readonly]::placeholder {
  color: #858080 !important;
}
.galleryDialogWrapper {
    mat-dialog-container {
    }
}
mat-dialog-container::-webkit-scrollbar:horizontal {
  width: 13px;
  height: 13px;
}